[Desktop Entry]
Encoding=UTF-8
Name=Change Password
Name[ar]=تغيير كلمة السر
Name[be]=Змяніць пароль
Name[bg]=Променя парола ви
Name[bs]=Promijenite svoju šifru
Name[cs]=Změna hesla
Name[da]=Ændring af kodeord
Name[de]=Passwort ändern
Name[el]=Αλλάξτε το Password σας
Name[eo]=Ŝanĝas vian pasvorton
Name[es]=Cambia su contraseña
Name[et]=parooli muutmine
Name[eu]=Aldatu zure pasahitza
Name[fi]=Vaihda salasanasi
Name[fo]=Broyt atlát
Name[fr]=Pour changer votre mot de passe
Name[he]=שינוי סיסמה
Name[hu]=jelszóváltoztató
Name[it]=Per cambiare la password
Name[ja]=パスワードを変更
Name[lt]=Pakeiskite slaptažodį
Name[lv]=Nomaina Paroli
Name[nl]=Wijzig uw wachtwoord
Name[nn]=Endra passord
Name[pt]=Mudar a Senha
Name[pt_BR]=Mude sua senha
Name[ro]=Modifică parola
Name[ru]=Изменяет ваш пароль
Name[sk]=Zmena hesla
Name[sl]=Spremeni geslo
Name[sv]=Byt lösenord
Name[ta]=¸¼×î¦º¡ø¨Ä Á¡üÈø
Name[th]=เปลี่ยนรหัสผ่าน
Name[tr]=Parolanızı Değiştirir
Name[uk]=Змінити пароль
Name[ven]=Shandukisa phasiwede
Name[vi]=Thay đổi mật khẩu
Name[xh]=Tshintsha Igama Eligqithisiweyo Lakho
Name[xx]=xx
Name[zh_CN]=更改口令
Name[zu]=Shintsha igama elifihliweyo
Exec=kdepasswd
TerminalOptions=
Icon=password
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
