[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/x-perl
Actions=Print

[Desktop Action Print]
Name=Print Perl Source...
Exec=kprinter -t %n --caption %n --icon %i --miniicon %m %U
Icon=filequickprint
