[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/x-makefile
Actions=Print

[Desktop Action Print]
Name=Print Makefile...
Exec=kprinter -t %n --caption %n --icon %i --miniicon %m %U
Icon=filequickprint
