[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/x-java
Actions=Print;

[Desktop Action Print]
Name=Print...
Name[x-test]=xxPrint...xx
Exec=kprinter -t %n --caption %n %i %U
Icon=filequickprint
