[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/plain
Actions=Print

[Desktop Action Print]
Name=Print...
Exec=kprinter -t %n --caption %n --icon %i --miniicon %m %U
Icon=filequickprint
