[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/x-xml
Actions=Print;

[Desktop Action Print]
Name=Print...
Name[az]=Çap et...
Name[bg]=Печат...
Name[bn]=ছাপাও...
Name[br]=Moulañ ...
Name[ca]=Imprimeix...
Name[cs]=Tisknout...
Name[cy]=Argraffu...
Name[da]=Udskriv...
Name[eo]=Presu...
Name[es]=Imprimir...
Name[et]=Trüki...
Name[fr]=Imprimer...
Name[fy]=Ofdrukken...
Name[ga]=Priontáil...
Name[he]=הדפס...
Name[hu]=Nyomtatás...
Name[is]=Prenta...
Name[mk]=Печати...
Name[mt]=Ipprintja...
Name[nb]=Skriv ut...
Name[nl]=Afdrukken...
Name[pt]=Imprimir...
Name[pt_BR]=Imprimir...
Name[ru]=Печать...
Name[sv]=Skriv ut...
Name[ta]=அச்சடி...
Name[tr]=Yazdır...
Name[uk]=Друк...
Name[xx]=xxPrint...xx
Name[zh_CN]=打印...
Exec=kprinter -t %n --caption %n --icon %i --miniicon %m %U
Icon=filequickprint
