[Desktop Entry]
Type=Link
URL=smb:/
Icon=samba
Name=Windows Shares
Name[ca]=Directoris windows
Name[cs]=Sdílené disky systému Microsoft Windows
Name[da]=Vinduesdele
Name[de]=Windows-Ressourcen
Name[eo]=Vindozaj retdosierujoj
Name[et]=Windows'i jagatud ressursid
Name[fi]=Windows jaot
Name[fr]=Voisinage Windows
Name[he]=תונולח יפותיש
Name[hu]=Megosztott windows erőforrások
Name[is]=SMB netdrif
Name[it]=Condivisioni Windows
Name[ja]=ウィンドウズ共有
Name[no]=Windows-kataloger
Name[pt]=Partilhas do Windows
Name[ro]=Partajări Windows
Name[ru]=Разделяемые ресурсы Windows
Name[sl]=Deljeni diski iz Windows
Name[sv]=Delade med Windows
Name[ta]=சாளரமஂ பகிரஂைவகளஂ
Name[tr]=Windows Paylarý
Open=false
