[Desktop Entry]
Type=Link
URL=smb:/
Icon=samba
Name=Windows Shares
Name[ca]=Directoris windows
Name[cs]=Sdílené disky systému Microsoft Windows
Name[da]=Vinduesdele
Name[de]=Windows-Ressourcen
Name[eo]=Vindozaj retdosierujoj
Name[es]=Compartir con Windows
Name[et]=Windows ressursid
Name[fi]=Windows jaot
Name[fr]=Partages Windows
Name[gl]=Comparticións do Windows
Name[he]=Windows יפותיש
Name[hu]=Megosztott Windows-erőforrások
Name[is]=SMB netdrif
Name[it]=Condivisioni Windows
Name[ja]=ウィンドウズ共有
Name[lt]=Langų Padalinimai
Name[no]=Windows-kataloger
Name[pl]=Udostępniane zasoby Windows
Name[pt_BR]=Volumes Windows
Name[pt]=Partilhas do Windows
Name[ro]=Partajări Windows
Name[ru]=Разделяемые ресурсы Windows
Name[sk]=Zdieľanie v sieti Windows
Name[sl]=Deljeni diski iz Windows
Name[sr]=Windows deljeni
Name[sv]=Delade Windowskataloger
Name[ta]=º¡ÇÃõ À¸¢÷×¸û
Name[tr]=Windows Payları
Name[uk]=Розділені ресурси Windows
Name[zh_CN.GB2312]=Windows 共享
Name[zh_TW.Big5]=視窗分享
Open=false
X-KDE-TreeModule=Directory
