Name=Dolphin View Modes
Name[ca]=Modes de vista del Dolphin
Name[ca@valencia]=Modes de vista del Dolphin
Name[cs]=Pohledy Dolphinu
Name[el]=Λειτουργίες προβολής Dolphin
Name[et]=Dolphini vaaterežiimid
Name[eu]=Dolphin-en ikuspegi moduak
Name[ga]=Móid Amhairc Dolphin
Name[gl]=Modos de vista de Dolphin
Name[ja]=Dolphin 表示モード
Name[ko]=Dolphin 보기 모드
Name[nb]=Dolphin visningsmåter
Name[nds]=Dolphin-Ansichten
Name[nl]=Dolphin-weergave
Name[pt]=Modos de Visualização do Dolphin
Name[pt_BR]=Modos de visualização do Dolphin
Name[ro]=Regimuri de vizualizare Dolphin
Name[sv]=Dolphins visningslägen
Name[tr]=Dolphin Görünüm Kipleri
Name[uk]=Режими перегляду Dolphin
Name[x-test]=xxDolphin View Modesxx
Name[zh_TW]=Dolphin 檢視模式
Comment=This service allows configuration of the Dolphin view modes.
Comment[ca]=Aquest servei permet la configuració dels modes de vista del Dolphin.
Comment[ca@valencia]=Aquest servei permet la configuració dels modes de vista del Dolphin.
Comment[cs]=Tato služba umožňuje nastavení pohledů Dolphinu.
Comment[el]=Αυτή η υπηρεσία επιτρέπει τη ρύθμιση των λειτουργιών προβολής του Dolphin.
Comment[et]=See teenus võimaldab seadistada Dolphini vaaterežiime.
Comment[eu]=Zerbitzu honen bitartez Dolphin-en ikuspegi moduak aldatu daitezke.
Comment[ga]=Leis an tseirbhís seo is féidir na hamhairc Dolphin a chumrú.
Comment[gl]=Este servizo permite modificar a configuración das vistas de Dolphin.
Comment[ja]=Dolphin の表示モードを設定します
Comment[ko]=이 서비스는 Dolphin 보기 모드를 설정합니다.
Comment[nb]=Denne tjenesten tilbyr oppsett av Dolphin visningsmåter.
Comment[nds]=Mit dissen Deenst laat sik de Dolphin-Ansichten instellen.
Comment[nl]=Met deze dienst kunt u Dolphin-weergave instellen.
Comment[pt]=Este serviço permite-lhe configurar os modos de visualização do Dolphin.
Comment[pt_BR]=Este serviço permite configurar os modos de visualização do Dolphin.
Comment[ro]=Acest serviciu permite configurarea regimurilor de vizualizare Dolphin.
Comment[sv]=Den här tjänsten låter dig anpassa visningslägen i Dolphin.
Comment[tr]=Bu servis Dolphin görünüm kiplerini yapılandırmanızı sağlar.
Comment[uk]=Ця служба надасть змогу налаштувати режими перегляду Dolphin.
Comment[x-test]=xxThis service allows configuration of the Dolphin view modes.xx
Comment[zh_TW]=此服務允許設定 Dolphin 的檢視模式。

[Desktop Entry]
Icon=view-choose
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmdolphinviewmodes

X-KDE-Library=kcm_dolphinviewmodes
X-KDE-PluginKeyword=dolphinviewmodes
X-KDE-ParentApp=kcontrol

Name=View Modes
Name[ca]=Modes de vista
Name[ca@valencia]=Modes de vista
Name[cs]=Pohledy
Name[el]=Λειτουργίες προβολής
Name[et]=Vaaterežiimid
Name[eu]=Ikuspegi moduak
Name[ga]=Móid Amhairc
Name[gl]=Modos da vista
Name[gu]=દેખાવ સ્થિતિઓ
Name[ja]=表示モード
Name[ko]=보기 모드
Name[nb]=Visningsmåter
Name[nds]=Ansichten
Name[nl]=Weergavemodi
Name[pt]=Modos de Visualização
Name[pt_BR]=Modos de visualização
Name[ro]=Regimuri de vizualizare
Name[si]=දසුන් ආකාර
Name[sv]=Visningslägen
Name[tr]=Görünüm Kipleri
Name[uk]=Режими перегляду
Name[x-test]=xxView Modesxx
Name[zh_TW]=檢視模式
Comment=Configure file manager view modes
Comment[ca]=Configura els modes de vista del gestor de fitxers
Comment[ca@valencia]=Configura els modes de vista del gestor de fitxers
Comment[cs]=Nastavení pohledů správce souborů
Comment[el]=Ρύθμιση λειτουργιών προβολής της διαχείρισης αρχείων
Comment[et]=Failihalduri vaaterežiimide seadistamine
Comment[eu]=Konfiguratu fitxategi kudeatzailearen ikuspegi moduak
Comment[ga]=Cumraigh amhairc bhainisteoir na gcomhad
Comment[gl]=Configura os modos de visualización do xestor de ficheiros
Comment[ja]=ファイルマネージャの表示モードを設定します
Comment[ko]=파일 관리자 보기 모드 설정
Comment[nb]=Tilpass filbehandlerens visningsmåter
Comment[nds]=Den Dateipleger sien Ansichten instellen
Comment[nl]=Weergavemodi van bestandsbeheerder instellen
Comment[pt]=Configurar os modos de visualização do gestor de ficheiros
Comment[pt_BR]=Configurar modos de visualização do gerenciador de arquivos
Comment[ro]=Configurează regimurile de vizualizare ale gestionarului de fișiere
Comment[si]=ගොනු කළමණාකරුගේ සැසුම් සකසන්න
Comment[sv]=Anpassa filhanterarens visninglägen
Comment[tr]=Dosya yöneticisi görünüm ayarlarını yapılandır
Comment[uk]=Налаштувати режими перегляду менеджера файлів
Comment[x-test]=xxConfigure file manager view modesxx
Comment[zh_TW]=設定檔案管理員檢視模式
X-KDE-Keywords=file manager
