Name=Dolphin General
Name[ar]=عام دولفين
Name[bg]=Общо за програмата
Name[ca]=General del Dolphin
Name[ca@valencia]=General del Dolphin
Name[cs]=Obecný Dolphin
Name[csb]=Spòldowi nastôw Dolphina
Name[da]=Dolphin generelt
Name[de]=Dolphin allgemein
Name[el]=Γενικά Dolphin
Name[en_GB]=Dolphin General
Name[eo]=Dolphin-Ĝeneralo
Name[es]=Dolphin general
Name[et]=Dolphini üldine
Name[eu]=Dolphin orokorra
Name[fi]=Dolphin: yleistä
Name[fr]=Dolphin général
Name[fy]=Dolfyn algemien
Name[ga]=Dolphin Ginearálta
Name[gl]=Configuración xeral de Dolphin
Name[gu]=ડોલ્ફિન સામાન્ય
Name[he]=Dolphin כללי
Name[hi]=डॉल्फ़िन सामान्य
Name[hr]=Općenito o Dolphinu
Name[hu]=Dolphin - Általános
Name[id]=Dolphin Umum
Name[is]=Almennar stillingar Dolphin
Name[it]=Impostazioni generali di Dolphin
Name[ja]=Dolphin 全般
Name[kk]=Dolphin жалпы
Name[km]=ភាព​ទូទៅ​របស់​ឌូហ្វីន
Name[kn]=ಡಾಲ್ಫಿನ್ ಸಾಮಾನ್ಯ
Name[ko]=Dolphin 일반
Name[lt]=Dolphin bendrieji
Name[lv]=Dolphin pamata
Name[mai]=सामान्य डाल्फिन
Name[mk]=Делфин - општо
Name[ml]=ഡോള്‍ഫിന്‍ പൊതുവെ
Name[ms]=Dolphin Umum
Name[nb]=Dolphin generelt
Name[nds]=Dolphin allmeen
Name[nl]=Dolphin algemeen
Name[nn]=Generelt for Dolphin
Name[pa]=ਡਾਲਫਿਨ ਆਮ
Name[pl]=Ustawienia Dolphina
Name[pt]=Geral do Dolphin
Name[pt_BR]=Geral do Dolphin
Name[ro]=Dolphin General
Name[ru]=Основные параметры Dolphin
Name[se]=Dolphinoppalaččat
Name[si]=Dolphin සාමාන්‍ය
Name[sk]=Všeobecný Dolphin
Name[sl]=Dolphin - splošno
Name[sr]=Делфиново опште
Name[sr@ijekavian]=Делфиново опште
Name[sr@ijekavianlatin]=Dolphinovo opšte
Name[sr@latin]=Dolphinovo opšte
Name[sv]=Dolphin allmänt
Name[tg]=Танзимоти Dolphin
Name[th]=ค่าทั่วไปของดอลฟิน
Name[tr]=Dolphin Genel
Name[uk]=«Загальне» Dolphin
Name[wa]=Dolphin djenerå
Name[x-test]=xxDolphin Generalxx
Name[zh_CN]=Dolphin 常规
Name[zh_TW]=Dolphin 一般
Comment=This service allows configuration of general Dolphin settings.
Comment[ar]=هذه الخدمة تتيح التحكم بإعدادات دولفين العامة.
Comment[bg]=Това ви позволява да зададете общите настройки на програмата.
Comment[ca]=Aquest servei permet la configuració de l'arranjament general del Dolphin.
Comment[ca@valencia]=Este servei permet la configuració de l'nfiguració general del Dolphin.
Comment[cs]=Tato služba umožňuje obecné nastavení Dolphinu.
Comment[csb]=Na ùsłëżnota pòzwôlô na spòdlową kònfigùracëjã nastôwów Dolphina.
Comment[da]=Denne tjeneste muliggør konfiguration af generelle Dolphin-indstillinger.
Comment[de]=Mit diesem Dienst können allgemeine Einstellungen von Dolphin eingerichtet werden.
Comment[el]=Αυτή η υπηρεσία επιτρέπει τη ρύθμιση των γενικών επιλογών του Dolphin.
Comment[en_GB]=This service allows configuration of general Dolphin settings.
Comment[eo]=Ĉi tiu servo permesas agordi la ĝeneralajn Dolphin-agordojn.
Comment[es]=Este servicio le permite hacer la configuración general de Dolphin.
Comment[et]=See teenus võimaldab seadistada Dolphini üldisi seadistusi.
Comment[eu]=Zerbitzu honen bitartez Dolphin-en ezarpen orokorrak konfiguratu daitezke.
Comment[fi]=Tämä palvelu sallii Dolphinin yleisasetusten muokkauksen.
Comment[fr]=Ce service permet de configurer les paramètres généraux de Dolphin
Comment[fy]=Mei dizze tsjinst kinne jo de algemiene dolfyn opsjes ynstelle.
Comment[ga]=Leis an tseirbhís seo is féidir na socruithe ginearálta Dolphin a chumrú.
Comment[gl]=Este servizo permite modificar a configuración xeral de Dolphin.
Comment[he]=שירות זה מאפשר תצורה של הגדרות כלליות Dolphin
Comment[hi]=यह सेवा आपको डॉल्फ़िन सेटिंग कॉन्फ़िगर करने देता है.
Comment[hr]=Ova usluga dozvoljava konfiguraciju općenitih postavki za Dolphin.
Comment[hu]=Ez a szolgáltatás a Dolphin általános beállításainak módosítását teszi lehetővé.
Comment[id]=Layanan ini memungkinkan konfigurasi pengaturan Dolphin umum.
Comment[is]=Þessi þjónusta leyfir breytingar á almennum stillingum á Dolphin.
Comment[it]=Questo servizio permette di configurare le impostazioni generali di Dolphin.
Comment[ja]=Dolphin の全般的な設定を行います
Comment[kk]=Бұл Dolphin жалпы параметрлерін баптауға мүмкіндік беретін қызмет.
Comment[km]=សេវា​នេះ​អនុញ្ញាត​ឲ្យ​កំណត់​រចនាសម្ព័ន្ធ​នៃ​ការ​កំណត់​របស់ Dolphin ទូទៅ ។
Comment[kn]=ಈ ಸೇವೆಯು ಡಾಲ್ಫಿನ್‌ನ ಸಾಮಾನ್ಯ ಸಂಯೋಜನೆಗಳ ಸಂರಚನೆಗೆ ಅನುವು ಮಾಡಿಕೊಡುತ್ತದೆ.
Comment[ko]=이 서비스는 일반 Dolphin 설정을 담당합니다.
Comment[lt]=Ši tarnyba leidžia konfigūruoti Dolphin bendruosius nustatymus.
Comment[lv]=Šis serviss ļauj konfigurēt Dolphin pamata iestatījumus.
Comment[mai]=ई सेवा अहाँकेँ सामान्य डॉल्फिन सेटिंग केँ विन्यस्त करै दैछ.
Comment[mk]=Овој сервис овозможува конфигурација на општите поставувања на Делфин.
Comment[ml]=പൊതുവായ ഡോള്‍ഫിന്‍ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കാന്‍ ഈ സേവനം അനുവദിയ്ക്കുന്നു.
Comment[ms]=Servis ini membenarkan tetapan bagi tetapan umum Dolphin.
Comment[nb]=Denne tjenesten tilbyr oppsett av generelle Dolphin-innstillinger.
Comment[nds]=Mit dissen Deenst laat sik allmeen Dolphin-Optschonen instellen.
Comment[nl]=Met deze dienst kunt u algemene Dolphin-instellingen configureren.
Comment[nn]=Denne tenesta lèt deg setja opp generelle innstillingar for Dolphin.
Comment[pa]=ਇਹ ਸਰਵਿਸ ਆਮ ਡਾਲਫਿਨ ਸੈਟਿੰਗ ਦੀ ਸੰਰਚਨਾ ਵਾਸਤੇ ਹੈ।
Comment[pl]=Ta usługa pozwala na konfigurację ogólnych ustawień Dolphina.
Comment[pt]=Este serviço permite-lhe configurar as opções gerais do Dolphin.
Comment[pt_BR]=Este serviço permite configurar as opções gerais do Dolphin.
Comment[ro]=Acest serviciu permite configurarea opțiunilor generale ale lui Dolphin.
Comment[ru]=Эта служба позволяет настраивать основные параметры Dolphin
Comment[si]=මෙම සේවාව Dolphin දසුන් සැකසීමට ඉඩ සලසයි.
Comment[sk]=Táto služba umožňuje všeobecné nastavenie Dolphinu.
Comment[sl]=Ta storitev omogoča spreminjanje Dolphinovih splošnih nastavitev.
Comment[sr]=Овај сервис омогућава подешавање општих Делфинових поставки.
Comment[sr@ijekavian]=Овај сервис омогућава подешавање општих Делфинових поставки.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava podešavanje opštih Dolphinovih postavki.
Comment[sr@latin]=Ovaj servis omogućava podešavanje opštih Dolphinovih postavki.
Comment[sv]=Den här tjänsten låter dig anpassa allmänna inställningar i Dolphin.
Comment[tg]=Ин хидмат танзимоти намоиши Dolphin-ро иҷозат медиҳад.
Comment[th]=บริการนี้อนุญาตให้ทำการปรับแต่งการตั้งค่าทั่วไปต่าง ๆ ของดอลฟิน
Comment[tr]=Bu servis genel Dolphin ayarlarını yapılandırmanızı sağlar.
Comment[uk]=Ця служба надасть змогу налаштувати загальні параметри Dolphin.
Comment[wa]=Ci siervice permet l' apontiaedje des tchuzes djeneråles di Dolhpin.
Comment[x-test]=xxThis service allows configuration of general Dolphin settings.xx
Comment[zh_CN]=此服务允许您配置常规 Dolphin 设置。
Comment[zh_TW]=此服務允許設定 Dolphin 的一般設定。

[Desktop Entry]
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmdolphingeneral

X-KDE-Library=kcm_dolphingeneral
X-KDE-PluginKeyword=dolphingeneral
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-general
# ctxt: Random file browsing settings.
Name=General
Name[ar]=عام
Name[bg]=Общи
Name[ca]=General
Name[ca@valencia]=General
Name[cs]=Obecné
Name[csb]=Spòdlowé
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[en_GB]=General
Name[eo]=Ĝenerale
Name[es]=General
Name[et]=Üldine
Name[eu]=Orokorra
Name[fi]=Yleiset
Name[fr]=Général
Name[fy]=Algemien
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[gu]=સામાન્ય
Name[he]=כללי
Name[hi]=सामान्य
Name[hr]=Općenito
Name[hu]=Általános
Name[id]=Umum
Name[is]=Almennt
Name[it]=Generale
Name[ja]=全般
Name[kk]=Жалпы
Name[km]=ទូទៅ
Name[kn]=ಸಾಮಾನ್ಯ
Name[ko]=일반
Name[lt]=Bendri
Name[lv]=Pamata
Name[mai]=सामान्य
Name[mk]=Општо
Name[ml]=പൊതുവായ
Name[ms]=Umum
Name[nb]=Generelt
Name[nds]=Allmeen
Name[nl]=Algemeen
Name[nn]=Generelt
Name[pa]=ਆਮ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ro]=General
Name[ru]=Основное
Name[si]=සාමාන්‍ය
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sr]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Opšte
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[tg]=Умумӣ
Name[th]=ทั่วไป
Name[tr]=Genel
Name[uk]=Загальне
Name[wa]=Djenerå
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般
Comment=Configure general file manager settings
Comment[ar]=اضبط إعدادات مدير الملفات العامة
Comment[bg]=Общи настройки на файловия мениджър
Comment[ca]=Configura les opcions generals del gestor de fitxers
Comment[ca@valencia]=Configura les opcions generals del gestor de fitxers
Comment[cs]=Obecné nastavení správce souborů
Comment[csb]=Kònfigùracëjô spòdlowégò nastôwù menadżera lopków
Comment[da]=Konfiguration af generelle indstillinger for filhåndtering
Comment[de]=Allgemeine Einstellungen am Dateimanager vornehmen
Comment[el]=Ρύθμιση γενικών επιλογών διαχείρισης αρχείων
Comment[en_GB]=Configure general file manager settings
Comment[eo]=Agordi la ĝeneralan dosieradministrilon
Comment[es]=Configurar las preferencias gestor de archivos
Comment[et]=Failihalduri üldiste seadistuste seadistamine
Comment[eu]=Konfiguratu fitxategi kudeatzailearen ezarpen orokorrak
Comment[fi]=Muokkaa tiedostonhallinnan yleisasetuksia
Comment[fr]=Configuration des paramètres généraux du gestionnaire de fichiers
Comment[fy]=Algemiene triembehearopsjes ynstelle
Comment[ga]=Cumraigh socruithe ginearálta bhainisteoir na gcomhad
Comment[gl]=Configura as opcións xerais do xestor de ficheiros
Comment[gu]=સામાન્ય ફાઇલ વ્યવસ્થાપક ગોઠવણીઓ રૂપરેખાંકિત કરો
Comment[he]=בחר הגדרות מנהל קבצים כלליות
Comment[hi]=सामान्य फ़ाइल प्रबंधक सेटिंग कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje općih postavki upravitelja datotekama
Comment[hu]=A fájlkezelő általános beállításainak módosítását teszi lehetővé
Comment[id]=Atur pengaturan manajer berkas umum
Comment[is]=Almennar stillingar skráastjóra
Comment[it]=Configura le impostazioni generali del gestore dei file
Comment[ja]=ファイルマネージャの全般的な設定を行います
Comment[kk]=Файл менеджер жалпы параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​នៃ​ការ​កំណត់​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[kn]=ಸಾಮಾನ್ಯ ಕಡತ ವ್ಯವಸ್ಥಾಪಕದ ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=일반 파일 관리자 설정
Comment[lt]=Bendrųjų failų tvarkyklės nustatymų konfigūravimas
Comment[lv]=Konfigurē failu pārvaldnieka pamata iestatījumus
Comment[mk]=Конфигурирајте ги општите поставувања за менаџерот на датотеки
Comment[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്റെ പൊതുവായ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[ms]=Selaraskan tetapan pengurus fail
Comment[nb]=Tilpass generelle filbehandler-innstillinger
Comment[nds]=Den Dateipleger allmeen instellen
Comment[nl]=Algemene bestandsbeheerderinstellingen configureren
Comment[nn]=Set opp generelle innstillingar for filhandsamaren
Comment[pa]=ਆਮ ਫਾਇਲ ਮੈਨੇਜਰ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień menadżera plików
Comment[pt]=Configurar as opções gerais do gestor de ficheiros
Comment[pt_BR]=Configurar opções gerais do gerenciador de arquivos
Comment[ro]=Configurează opțiunile generale ale gestionarul de fișiere
Comment[ru]=Настройка диспетчера файлов
Comment[se]=Heivet oppalaš fiilagieđahallanheivehusat
Comment[si]=සාමාන්‍ය ගොනු කළමාණාකරන සැකසුම් සකසන්න
Comment[sk]=Všeobecné nastavenie správcu súborov
Comment[sl]=Splošne nastavitve upravitelja datotek
Comment[sr]=Подешавање општих поставки менаџера фајлова
Comment[sr@ijekavian]=Подешавање општих поставки менаџера фајлова
Comment[sr@ijekavianlatin]=Podešavanje opštih postavki menadžera fajlova
Comment[sr@latin]=Podešavanje opštih postavki menadžera fajlova
Comment[sv]=Anpassa filhanterarens allmänna inställningar
Comment[tg]=Танзимоти умумии мудири файлҳо насб кунед
Comment[th]=ปรับแต่งการตั้งค่าทั่วไปของเครื่องมือจัดการแฟ้ม
Comment[tr]=Genel dosya yöneticisi ayarlarını yapılandır
Comment[uk]=Налаштування загальних параметрів керування файлами
Comment[wa]=Apontyî les tchuzes djeneråles do manaedjeu di fitchîs
Comment[x-test]=xxConfigure general file manager settingsxx
Comment[zh_CN]=配置常规文件管理器设置
Comment[zh_TW]=設定一般檔案管理員
X-KDE-Keywords=file manager
