Name=Dolphin Navigation
Name[ca]=Navegació del Dolphin
Name[ca@valencia]=Navegació del Dolphin
Name[cs]=Navigace Dolphinu
Name[el]=Πλοήγηση Dolphin
Name[et]=Dolphini liikumine
Name[eu]=Dolphin nabigazioa
Name[ga]=Nascleanúint Dolphin
Name[gl]=Configuración da navegación de Dolphin
Name[ja]=Dolphin ナビゲーション
Name[nb]=Dolphin navigasjon
Name[nds]=Dolphin-Navigeren
Name[pt]=Navegação do Dolphin
Name[pt_BR]=Navegação do Dolphin
Name[ro]=Dolphin Navigare
Name[sv]=Dolphin navigering
Name[tr]=Dolphin Gezintisi
Name[uk]=«Навігація» Dolphin
Name[x-test]=xxDolphin Navigationxx
Name[zh_TW]=Dolphin 導覽
Comment=This service allows configuration of the Dolphin navigation.
Comment[ca]=Aquest servei permet la configuració de la navegació del Dolphin.
Comment[ca@valencia]=Aquest servei permet la configuració de la navegació del Dolphin.
Comment[cs]=Tato služba umožňuje nastavení navigace Dolphinu.
Comment[el]=Αυτή η υπηρεσία επιτρέπει τη ρύθμιση της πλοήγησης του του Dolphin.
Comment[et]=See teenus võimaldab seadistada Dolphini liikumist.
Comment[eu]=Zerbitzu honen bitartez Dolphin-en nabigazioa konfiguratu daiteke.
Comment[ga]=Leis an tseirbhís seo is féidir nascleanúint Dolphin a chumrú.
Comment[gl]=Este servizo permite modificar a configuración da navegación de Dolphin.
Comment[nb]=Denne tjenesten tilbyr oppsett av Dolphin-navigasjon
Comment[nds]=Mit dissen Deenst lett sik de Dolphin-Navigeren instellen.
Comment[pt]=Este serviço permite-lhe configurar a navegação do Dolphin.
Comment[pt_BR]=Este serviço permite configurar a navegação do Dolphin.
Comment[ro]=Acest serviciu permite configurarea navigării Dolphin.
Comment[sv]=Den här tjänsten låter dig anpassa navigering i Dolphin.
Comment[tr]=Bu servis Dolphin gezintisini yapılandırmanızı sağlar.
Comment[uk]=Ця служба надасть змогу налаштувати навігацію у Dolphin.
Comment[x-test]=xxThis service allows configuration of the Dolphin navigation.xx
Comment[zh_TW]=此服務允許設定 Dolphin 的導覽。

[Desktop Entry]
Icon=input-mouse
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmdolphinnavigation

X-KDE-Library=kcm_dolphinnavigation
X-KDE-PluginKeyword=dolphinnavigation
X-KDE-ParentApp=kcontrol

Name=Navigation
Name[ca]=Navegació
Name[ca@valencia]=Navegació
Name[cs]=Navigace
Name[el]=Πλοήγηση
Name[et]=Liikumine
Name[eu]=Nabigazioa
Name[ga]=Nascleanúint
Name[gl]=Navegación
Name[ja]=ナビゲーション
Name[nb]=Navigasjon
Name[nds]=Navigeren
Name[pt]=Navegação
Name[pt_BR]=Navegação
Name[ro]=Navigare
Name[sv]=Navigering
Name[tr]=Gezginti
Name[uk]=Навігація
Name[x-test]=xxNavigationxx
Name[zh_TW]=導覽
Comment=Configure file manager navigation
Comment[ca]=Configura la navegació del gestor de fitxers
Comment[ca@valencia]=Configura la navegació del gestor de fitxers
Comment[cs]=Nastavit navigaci správce souborů
Comment[el]=Ρύθμιση πλοήγησης διαχείρισης αρχείων
Comment[et]=Failihalduri liikumise seadistamine
Comment[eu]=Konfiguratu fitxategi kudeatzailearen nabigazioa
Comment[ga]=Cumraigh nascleanúint bhainisteoir na gcomhad
Comment[gl]=Configura as navegación co xestor de ficheiros
Comment[nb]=Sett opp filbehandler-navigasjon
Comment[nds]=De Dateipleger-Navigeren instellen
Comment[pt]=Configurar a navegação do gestor de ficheiros
Comment[pt_BR]=Configurar navegação do gerenciador de arquivos
Comment[ro]=Configurează navigarea gestionarului de fișiere
Comment[sv]=Anpassa filhanterarens navigering
Comment[tr]=Dosya yöneticisi gezintisini yapılandır
Comment[uk]=Налаштувати навігацію у менеджері файлів
Comment[x-test]=xxConfigure file manager navigationxx
Comment[zh_TW]=設定檔案管理員導覽
X-KDE-Keywords=file manager
