[Desktop Entry]
MountPoint=
Dev=
ReadOnly=0
FSType=Default
Type=FSDevice
Icon=cdrom_mount
UnmountIcon=cdrom_unmount
Actions=Eject
[Desktop Action Eject]
Name=Eject
Name[ca]=Expulsa
Name[cs]=Vysunout
Name[da]=Skub ud
Name[de]=Auswerfen
Name[el]=Εξαγωγή
Name[eo]=Eligo
Name[et]=Väljastamine
Name[fi]=Poista
Name[fr]=Éjecter
Name[gl]=Expulsar
Name[he]=אצוה
Name[hr]=Izbaci
Name[hu]=Kidobás
Name[is]=Henda út
Name[it]=Espelli
Name[ja]=取り出し
Name[mk]=Исфрлање
Name[nl]=Uitwerpen
Name[no]=Kast ut
Name[no_NY]=Løys ut
Name[pl]=Wysuń
Name[pt]=Ejectar
Name[pt_BR]=Ejetar
Name[ru]=Выбросить
Name[sk]=Vysunúť
Name[sl]=Izvrzi
Name[sr]=Izbaci
Name[sv]=Mata ut
Name[ta]=ெவளிேயறஂறு
Name[tr]=Çıkart
Name[uk]=Викинути
Name[zh_CN.GB2312]=弹出
Exec=kdeeject %v
