[Desktop Entry]
Encoding=UTF-8
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=cdwriter_mount
UnmountIcon=cdwriter_unmount
Actions=Eject;
X-KDE-Priority=TopLevel
[Desktop Action Eject]
Name=Eject
Name[x-test]=xxEjectxx
Exec=kdeeject %v
