[Desktop Entry]
Encoding=UTF-8
Name=Folder...
Name[x-test]=xxFolder...xx
Comment=Enter folder name:
Comment[x-test]=xxEnter folder name:xx
Type=Link
URL=.source/emptydir
Icon=folder
