[Desktop Action Format]
Exec=kfloppy %v
Name=Format
Name[af]=Formaat
Name[ar]=تجهيز
Name[bg]=Формат
Name[bn]=ফরম্যাট
Name[br]=Furmadiñ
Name[cs]=Formát
Name[cy]=Fformat
Name[de]=Formatieren
Name[el]=Μορφοποίηση
Name[eo]=Formato
Name[es]=Formato
Name[et]=Vorming
Name[eu]=Formatoa
Name[fa]=قالب‌بندی
Name[fi]=Formatoi
Name[fy]=Formattearje
Name[ga]=Formáid
Name[gl]=Formato
Name[he]=אתחל
Name[hi]=फार्मेट
Name[hu]=Formázás
Name[is]=Snið
Name[it]=Formatta
Name[ja]=フォーマット
Name[lo]=ສູດຄະນິດສານ - K
Name[lt]=Formatas
Name[lv]=Formatēt
Name[mk]=Формат
Name[mn]=Хэлбэр
Name[nds]=Formateren
Name[nl]=Formatteren
Name[nso]=Thlolego
Name[pa]=ਫਾਰਮਿਟ
Name[pt]=Formatar
Name[pt_BR]=Formato
Name[ru]=Формат
Name[se]=Formáhtta
Name[sk]=Formát
Name[sl]=Oblika
Name[sr]=Формат
Name[ss]=Sakhiwo
Name[ta]=வடிவம்
Name[tg]=Андоза
Name[th]=รูปแบบ
Name[tr]=Biçim
Name[uk]=Формат
Name[uz]=Формат қилиш
Name[ven]=Tshivhumbeo
Name[vi]=Đinh dạng
Name[wa]=Abwesner
Name[xh]=Ifomati
Name[xx]=xxFormatxx
Name[zh_CN]=格式
Name[zh_TW]=格式化
Name[zu]=Isakhiwo

[Desktop Entry]
Actions=Format;
Encoding=UTF-8
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=3floppy_mount
UnmountIcon=3floppy_unmount
X-KDE-Priority=TopLevel
