[Desktop Action Format]
Exec=kfloppy %v
Name=Format
Name[x-test]=xxFormatxx

[Desktop Entry]
Actions=Format;
Encoding=UTF-8
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=3floppy_mount
UnmountIcon=3floppy_unmount
X-KDE-Priority=TopLevel
