[Desktop Entry]
Name=FTP URL
Name[eo]=FTP-adreso
Name[fi]=FTP-linkki
Name[no]=FTP-URL
Name[sl]=Vir FTP
URL=ftp://ftp.kde.org/pub/kde
Icon=filesystems/ftp
Type=Link

