[Desktop Entry]
Encoding=UTF-8
Name=HTML File
Name[af]=html lêer
Name[ar]=ملف HTML
Name[az]=HTML Faylı
Name[bg]=HTML файл
Name[br]=Restr HTML
Name[bs]=HTML datoteka
Name[ca]=Fitxer HTML
Name[cs]=HTML soubor
Name[da]=HTML-fil
Name[de]=HTML-Datei
Name[el]=Αρχείο HTML
Name[eo]=HTML-dosiero
Name[es]=Archivo HTML
Name[et]=HTML fail
Name[eu]=HTML Fitategia
Name[fi]=HTML-tiedosto
Name[fr]=Fichier HTML
Name[gl]=Ficheiro HTML
Name[he]=קובץ HTML
Name[hr]=HTML datoteka
Name[hu]=HTML fájl
Name[id]=File HTML
Name[is]=HTML skrá
Name[it]=File HTML
Name[ja]=HTML ファイル
Name[ko]=HTML 파일
Name[lt]=HTML Byla
Name[lv]=HTML Fails
Name[mk]=HTML датотека
Name[mt]=Fajl HTML
Name[nb]=HTML-fil
Name[nl]=HTML-bestand
Name[nn]=HTML-fil
Name[oc]=FiquièR HTML
Name[pl]=Strona HTML
Name[pt]=Ficheiro HTML
Name[pt_BR]=Arquivo HTML
Name[ru]=Файл HTML
Name[sk]=HTML súbor
Name[sl]=Datoteka HTML
Name[sr]=HTML fajl
Name[sv]=HTML-fil
Name[ta]=HTML §¸¡ôÒ
Name[th]=แฟ้ม HTML
Name[tr]=HTML Dosyası
Name[uk]=HTML файлів
Name[vi]=File HTML 
Name[xh]=Ifayile ye HTML
Name[xx]=xx
Name[zh_CN]=HTML 文件
Name[zh_TW]=HTML 文件
Name[zu]=Ifayela ye HTML
Comment=New HTML File
Comment[af]=nuwe html lêer
Comment[ar]=ملف HTML جديد
Comment[az]=Yeni HTML Faylı
Comment[bg]=Нов HTML файл
Comment[br]=Restr HTML nevez
Comment[bs]=Nova HTML stranica
Comment[ca]=Fitxer HTML nou
Comment[cs]=Nový HTML soubor
Comment[da]=Ny HTML-fil
Comment[de]=Neue HTML-Seite
Comment[el]=Νέο αρχείο HTML
Comment[eo]=Nova HTML-dosiero
Comment[es]=Nuevo archivo HTML
Comment[et]=Uus HTML lehekülg
Comment[eu]=HTML Orri Berria
Comment[fi]=Uusi HTML-tiedosto
Comment[fr]=Nouveau fichier HTML
Comment[gl]=Novo Ficheiro HTML
Comment[he]=קובץ HTML חדש
Comment[hr]=Nova HTML stranica
Comment[hu]=Új HTML fájl
Comment[id]=File HTML baru
Comment[is]=Ný HTML-síða
Comment[it]=Nuova pagina HTML
Comment[ja]=新規HTMLテキスト
Comment[ko]=새 HTML 파일
Comment[lt]=Nauja HTML byla
Comment[lv]=Jauns HTML Fails
Comment[mk]=Нова HTML датотека
Comment[mt]=Fajl HTML Ġdid
Comment[nb]=Ny HTML-fil
Comment[nl]=nieuwe html-pagina
Comment[nn]=Ny HTML-fil
Comment[oc]=FiquièR HTML nou
Comment[pl]=Nowa strona HTML
Comment[pt]=Novo ficheiro HTML
Comment[pt_BR]=Novo arquivo HTML
Comment[ru]=Новый файл HTML
Comment[sk]=Nový súbor HTML
Comment[sl]=Nova datoteka HTML
Comment[sr]=Novi HTML fajl
Comment[sv]=Ny HTML-fil
Comment[ta]=Ò¾¢Â HTML §¸¡ôÒ
Comment[th]=สร้างแฟ้ม HTML ใหม่
Comment[tr]=Yeni HTML Dosyası
Comment[uk]=Новий файл HTML
Comment[vi]=File HTML mới 
Comment[xh]=Ifayile entsha ye HTML
Comment[xx]=xx
Comment[zh_CN]=新建 HTML 文件
Comment[zh_TW]=新的 HTML 文件
Comment[zu]=Ifayela Entsha ye HTML
Type=Link
URL=.source/HTMLFile.html
Icon=html
