[Desktop Entry]
Encoding=UTF-8
Name=HTML File...
Name[ar]=ملف HTML...
Name[be]=HTML файл...
Name[bg]=Файл HTML...
Name[bn]=HTML ফাইল...
Name[br]=Restr HTML ...
Name[bs]=HTML datoteka...
Name[ca]=Fitxer HTML...
Name[cs]=HTML soubor...
Name[cy]=Ffeil HTML...
Name[da]=HTML-fil...
Name[de]=HTML-Datei...
Name[el]=Αρχείο HTML...
Name[eo]=HTML-dosiero...
Name[es]=Archivo HTML...
Name[et]=HTML fail...
Name[eu]=HTML Fitategia...
Name[fa]=پرونده‌ی HTML...
Name[fi]=HTML-tiedosto...
Name[fr]=Fichier HTML...
Name[gl]=Ficheiro HTML...
Name[he]=קובץ HTML...
Name[hi]=एचटीएमएल फ़ाइल...
Name[hr]=HTML datoteka...
Name[hu]=HTML-fájl...
Name[is]=HTML skrá...
Name[it]=File HTML...
Name[mn]=HTML-Файл...
Name[mt]=Fajl HTML...
Name[nb]=HTML-fil ...
Name[nds]=HTML Datei...
Name[nl]=HTML-bestand...
Name[nn]=HTML-fil ...
Name[pl]=Plik HTML...
Name[pt]=Ficheiro HTML...
Name[pt_BR]=Arquivo HTML...
Name[ro]=Fişier HTML...
Name[ru]=Файл HTML...
Name[se]=HTML-fiila ...
Name[sk]=Súbor HTML...
Name[sl]=Datoteka HTML ...
Name[sr]=HTML фајл...
Name[sr@Latn]=HTML fajl...
Name[sv]=HTML-fil...
Name[ta]=HTML கோப்பு...
Name[tg]=Файли HTML...
Name[th]=แฟ้ม HTML...
Name[tr]=HTML Dosyası...
Name[uk]=Файл HTML...
Name[uz]=HTML-файли...
Name[vi]=File HTML
Name[wa]=Fitchî HTML...
Name[xx]=xxHTML File...xx
Name[zh_CN]=HTML 文件...
Name[zh_TW]=HTML 檔案...
Comment=Enter HTML filename:
Type=Link
URL=.source/HTMLFile.html
Icon=html
