[Desktop Entry]
Encoding=UTF-8
Name=Camera Device...
Name[af]=Kamera Toestel...
Name[ar]=جهاز الكاميرا...
Name[bg]=Фотоапарат...
Name[bn]=ক্যমেরা ডিভাইস...
Name[br]=Trobarzhell ar kamera ...
Name[bs]=Kamera uređaj...
Name[ca]=Dispositiu de càmera...
Name[cs]=Kamera...
Name[cy]=Dyfais Camera...
Name[da]=Kamera-enhed...
Name[de]=Kamera...
Name[el]=Συσκευή κάμερας...
Name[eo]=kamero-aparato...
Name[es]=Cámara...
Name[et]=Kaameraseade
Name[eu]=Kamera...
Name[fa]=دوربین...
Name[fi]=Kamerat...
Name[fr]=Appareil photo
Name[fy]=Kamera...
Name[ga]=Gléas Ceamara...
Name[gl]=Dispositivo de Cámara...
Name[he]=התקן מצלמה...
Name[hi]=कैमरा उपकरण...
Name[hr]=Kamera uređaj...
Name[hu]=Digitális fényképezőgép...
Name[is]=Myndavél...
Name[it]=Dispositivo macchina fotografica...
Name[ja]=カメラデバイス...
Name[lt]=Kameros įrenginys...
Name[lv]=Kameras iekārta...
Name[mk]=Камера...
Name[mn]=Камерын Төхөөрөмж...
Name[mt]=Kamera...
Name[nb]=Kameraenhet ...
Name[nds]=Kamera...
Name[nl]=Camera...
Name[nn]=Kameraeining ...
Name[pa]=ਕੈਮਰਾ ਜੰਤਰ...
Name[pl]=Aparat fotograficzny...
Name[pt]=Máquina Fotográfica...
Name[pt_BR]=Dispositivo de Câmera...
Name[ro]=Dispozitiv foto...
Name[ru]=Камера...
Name[se]=Govvenapperáhttaovttadat ...
Name[sk]=Zariadenie digitálneho fotoaparátu...
Name[sl]=Naprava kamere ...
Name[sr]=Камера...
Name[sr@Latn]=Kamera...
Name[sv]=Kameraenhet...
Name[ta]=புகைப்பட கருவி சாதனங்கள்
Name[tg]=Камераи...
Name[th]=อุปกรณ์กล้อง...
Name[tr]=Kamera Aygıtı...
Name[uk]=Пристрій фотоапарату...
Name[uz]=Камера ускунаси...
Name[vi]=Thiế bị Camera
Name[wa]=Éndjin camera...
Name[xx]=xxCamera Device...xx
Name[zh_CN]=相机设备...
Name[zh_TW]=照相機設備...
Comment=New camera
Comment[ar]=كاميرا جديدة
Comment[bg]=Нов фотоапарат
Comment[bn]=নতুন ক্যামেরা
Comment[br]=Kamera nevez
Comment[bs]=Nova kamera
Comment[ca]=Càmera nova
Comment[cs]=Nová kamera
Comment[cy]=Camera Newydd
Comment[da]=Nyt kamera
Comment[de]=Neue Kamera
Comment[el]=Νέα κάμερα
Comment[eo]=Nova kamero
Comment[es]=Nueva cámara
Comment[et]=Uus kaamera
Comment[eu]=Kamera berria
Comment[fa]=دوربین جدید
Comment[fi]=Uusi kamera
Comment[fr]=Nouvel appareil photo
Comment[fy]=Nije kamera
Comment[ga]=Ceamara nua
Comment[gl]=Nova cámara
Comment[he]=מצלמה חדשה
Comment[hi]=नया कैमरा
Comment[hr]=Nova kamera
Comment[hu]=Új digitális fényképezőgép
Comment[is]=Ný myndavél
Comment[it]=Nuova macchina fotografica
Comment[ja]=新しいカメラ
Comment[lt]=Nauja kamera
Comment[lv]=Jauna kamera
Comment[mk]=Нова камера
Comment[mn]=Шинэ камер
Comment[mt]=Kamera ġdida
Comment[nb]=Nytt kamera
Comment[nds]=Niege Kamera
Comment[nl]=Nieuwe camera
Comment[nn]=Nytt kamera
Comment[pa]=ਨਵਾਂ ਕੈਮਰਾ
Comment[pl]=Nowy aparat fotograficzny
Comment[pt]=Nova máquina fotográfica
Comment[pt_BR]=Nova câmera
Comment[ro]=Aparat foto nou
Comment[ru]=Ссылка на устройство цифровой камеры
Comment[se]=Ođđa govvenapperáhtta
Comment[sk]=Nový digitálny fotoaparát
Comment[sl]=Nova kamera
Comment[sr]=Нова камера
Comment[sr@Latn]=Nova kamera
Comment[sv]=Ny kamera
Comment[ta]=புதிய புகைப்பட கருவி
Comment[tg]=Камераи нав
Comment[th]=กล้องใหม่
Comment[tr]=Yeni kamera
Comment[uk]=Новий фотоапарат
Comment[uz]=Янги камера
Comment[vi]=Camera mới
Comment[wa]=Novele camera
Comment[xx]=xxNew cameraxx
Comment[zh_CN]=新建相机
Comment[zh_TW]=新增照相機
Type=Link
URL=.source/CAMERA-Device.desktop
Icon=camera_unmount
