[Desktop Entry]
Encoding=UTF-8
Name=ZIP Device...
Name[be]=ZIP прылада...
Name[bg]=Устройство ZIP...
Name[bs]=ZIP uređaj...
Name[ca]=Dispositiu ZIP...
Name[cs]=ZIP jednotka...
Name[cy]=Dyfais ZIP...
Name[da]=ZIP-enhed...
Name[de]=ZIP-Laufwerk...
Name[el]=Συσκευή ZIP...
Name[eo]=ZIP-ingo...
Name[es]=Unidad ZIP...
Name[et]=ZIP seade
Name[eu]=ZIP gailua...
Name[fa]=دستگاه ZIP
Name[fi]=ZIP-laite...
Name[fr]=Lecteur ZIP...
Name[gl]=Dispositivo Zip...
Name[he]=התקן ZIP...
Name[hi]=जिप उपकरण...
Name[hu]=ZIP-meghajtó...
Name[it]=Dispositivo ZIP...
Name[mn]=ZIP Төхөөрөмж..
Name[nb]=ZIP-enhet ...
Name[nl]=ZIP-apparaat...
Name[nn]=ZIP-eining ...
Name[pl]=Napęd ZIP...
Name[pt]=Dispositivo ZIP...
Name[pt_BR]=Dispositivo ZIP...
Name[ro]=Dispozitiv ZIP...
Name[sk]=Mechanika ZIP...
Name[sl]=Naprava ZIP ...
Name[sr]=ZIP Уређај...
Name[sv]=Zip-enhet...
Name[ta]=ZIP  சாதனங்கள்
Name[tr]=ZIP Aygıtı...
Name[uk]=Пристрій ZIP...
Name[uz]=ZIP ускунаси...
Name[vi]=Ổ ZIP
Name[wa]=Éndjin léjheu di plaketes ZIP...
Name[xx]=xxZIP Device...xx
Name[zh_CN]=ZIP 设备...
Name[zh_TW]=ZIP 設備...
Comment=New ZIP Device
Comment[be]=Новая ZIP прылада
Comment[bg]=Ново устройство ZIP
Comment[bs]=Novi ZIP uređaj
Comment[ca]=Dispositiu ZIP nou
Comment[cs]=Nová ZIP jednotka
Comment[cy]=Dyfais ZIP Newydd
Comment[da]=Ny ZIP-enhed
Comment[de]=Neues ZIP-Laufwerk
Comment[el]=Νέα συσκευή ZIP
Comment[eo]=Nova ZIP-ingo
Comment[es]=Nueva unidad ZIP
Comment[et]=Uus ZIP seade
Comment[eu]=ZIP berria
Comment[fa]=دستگاه ZIP جدید
Comment[fi]=Uusi ZIP-laite
Comment[fr]=Nouveau lecteur ZIP
Comment[gl]=Novo Dispositivo Zip
Comment[he]=התקן ZIP חדש
Comment[hi]=नया जिप उपकरण
Comment[hu]=Új ZIP-lemezes meghajtó
Comment[it]=Nuovo dispositivo ZIP
Comment[mn]=Шинэ ZIP Төхөөрөмж..
Comment[nb]=Ny ZIP-enhet
Comment[nl]=Nieuw ZIP-apparaat
Comment[nn]=Ny ZIP-eining
Comment[pl]=Nowy napęd ZIP
Comment[pt]=Novo dispositivo ZIP...
Comment[pt_BR]=Novo Dispositivo ZIP
Comment[ro]=Dispozitiv ZIP nou
Comment[sk]=Nové zariadenie ZIP
Comment[sl]=Nova naprava ZIP
Comment[sr]=Нови ZIP уређај
Comment[sv]=Ny Zip-enhet
Comment[ta]=புதிய நெகிழ் சாதனம்
Comment[tr]=Yeni ZIP Aygıtı
Comment[uk]=Новий пристрій ZIP
Comment[uz]=Янги ZIP ускунаси
Comment[vi]=Ổ ZIP mới
Comment[wa]=Novea éndjin léjheu di plaketes ZIP
Comment[xx]=xxNew ZIP Devicexx
Comment[zh_CN]=新建 ZIP 设备
Comment[zh_TW]=新 ZIP 設備
Type=Link
URL=.source/ZIP-Device.desktop
Icon=zip_unmount
