[Desktop Entry]
Name=File System Device
Name[ca]=Dispositiu de sistema de fitxers
Name[cs]=Zařízení souborového systému
Name[de]=Dateisystem
Name[eo]=Aparatodosiero
Name[es]=Dispositivo de sistema de archivos
Name[et]=Failisüsteemi seade
Name[fi]=Tiedostojärjestelmä
Name[fr]=Périphérique système de fichiers
Name[he]=םיצבק תכרעמ ןקתה
Name[hu]=Fájlrendszer Eszköz
Name[it]=Dispositivo con filesystem
Name[ja]=ファイルシステムデバイス
Name[mk]=Уред на датотечниот систем
Name[nl]=Bestandssysteemapparaat
Name[no]=Filsystemenhet
Name[no_NY]=Filsystemeining
Name[pt]=Dispositivo com Sistema de Ficheiros
Name[ro]=Dispozitiv sistem de fişiere
Name[ru]=Файл Системного Устройства
Name[sl]=Datoteka za enoto
Name[sr]=Fajl sistem uređaj
Name[sv]=Filsystemsenhet
Name[ta]=ேகாபப அைமபப சாதனம
Name[tr]=Dosya Sistemi Aygýtý
Type=Link
URL=.source/Device.desktop
Icon=blockdevice
