[Desktop Entry]
Encoding=UTF-8
Name=CDWRITER Device...
Name[bg]=Устройство CDWRITER...
Name[bs]=CD pržilica...
Name[ca]=Dispositiu CDWRITER...
Name[cs]=Vypalovačka CD...
Name[cy]=Dyfais CDWRITER...
Name[da]=CD-skriver enhed...
Name[de]=CD-Brenner...
Name[el]=Συσκευή CDWRITER...
Name[eo]=Lumdiska skribilo...
Name[es]=Grabadora de CD...
Name[et]=CD-kirjutaja...
Name[eu]=CDWRITER gailua...
Name[fi]=CDWRITER-laite...
Name[fr]=Graveur de CD-ROM...
Name[gl]=Dispositivo CDWRITER...
Name[he]=התקן צורב...
Name[hi]=सीडी-राइटर उपकरण...
Name[hu]=CD-író...
Name[it]=Masterizzatore...
Name[mn]=КД бичигч төхөөрөмж
Name[nb]=CDskriver-enhet
Name[nl]=CD-writer...
Name[nn]=CD-brennareining ...
Name[pl]=Nagrywarka CD...
Name[pt]=Gravador de CDs...
Name[pt_BR]=Dispositivo de Gravação de CD...
Name[ro]=Dispozitiv CD-Writer...
Name[sk]=Zariadenie CDWRITER...
Name[sl]=Naprava CDWRITER ...
Name[sr]=CD/DVD резач...
Name[sv]=Cd-brännarenhet...
Name[ta]=சிடி/டிவிடி சாதனம்
Name[tr]=CD Yazıcı Aygıtı...
Name[uk]=Пристрій CDWRITER...
Name[uz]=Компакт-диск ёзувчи ускуна...
Name[vi]=CDWRITER
Name[wa]=Éndjin broûleu di plakes lazer...
Name[xx]=xxCDWRITER Device...xx
Name[zh_CN]=刻录机设备...
Name[zh_TW]=光碟燒錄機設備
Comment=New CDWRITER Device
Comment[bg]=Ново устройство CDWRITER
Comment[bs]=Nova CD pržilica
Comment[ca]=Dispositiu CDWRITER nou
Comment[cs]=Nová vypalovačka CD
Comment[cy]=Dyfais CDWRITER Newydd
Comment[da]=Ny CD-skriver enhed
Comment[de]=Neuer CD-Brenner
Comment[el]=Νέα συσκευή CDWRITER
Comment[eo]=Nova lumdisk-skribilo
Comment[es]=Nueva grabadora de CD
Comment[et]=Uus CD-kirjutaja
Comment[eu]=CDWRITER gailu berria
Comment[fi]=Uusi CDWRITER-laite
Comment[fr]=Nouveau graveur de CD-ROM
Comment[gl]=Novo Dispositivo de CDWRITER
Comment[he]=התקן צורב חדש
Comment[hi]=नया सीडी-राइटर उपकरण
Comment[hu]=Új CD-író
Comment[it]=Nuovo masterizzatore
Comment[mn]=Шинэ КД бичигч төхөөрөмж
Comment[nb]=Ny CDskriver-enhet
Comment[nl]=Nieuwe CD-Writer
Comment[nn]=Ny CD-brennareining
Comment[pl]=Nowa nagrywarka CD
Comment[pt]=Novo gravador de CDs
Comment[pt_BR]=Novo dispositivo de Gravação de CD
Comment[ro]=Dispozitiv CD-Writer nou
Comment[sk]=Nové zariadenie CDWRITER
Comment[sl]=Nova naprava CDWRITER
Comment[sr]=Нови CD/DVD резач
Comment[sv]=Ny cd-brännarenhet
Comment[ta]=புது CDWRITER சாதனம்
Comment[tr]=Yeni CD Yazıcı Aygıtı
Comment[uk]=Новий пристрій CDWRITER
Comment[uz]=Янги компакт-диск ёзувчи ускуна
Comment[vi]=CDWRITER mới
Comment[wa]=Novea éndjin broûleu di plakes lazer
Comment[xx]=xxNew CDWRITER Devicexx
Comment[zh_CN]=新建刻录机设备
Comment[zh_TW]=新光碟燒錄機設備
Type=Link
URL=.source/CDWRITER-Device.desktop
Icon=cdwriter_unmount
