[Desktop Entry]
Name=Application
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[da]=Anvendelse
Name[de]=Anwendung
Name[eo]=Aplikaĵo
Name[es]=Aplicaciones
Name[et]=Rakendus
Name[fi]=Sovellus
Name[he]=םושיי
Name[hr]=Program
Name[hu]=Alkalmazás
Name[is]=Forrit
Name[it]=Applicazione
Name[ja]=アプリケーション
Name[mk]=Апликација
Name[nl]=Applicatie
Name[no]=Applikasjon
Name[no_NY]=Program
Name[pl]=Aplikacja
Name[pt]=Aplicação
Name[pt_BR]=Aplicativo
Name[ro]=Aplicaţie
Name[ru]=Приложение
Name[sl]=Uporabniški program
Name[sr]=Aplikacija
Name[sv]=Program
Name[ta]=பயனஂபாடு
Name[tr]=Uygulama
Name[uk]=Програма
Name[zh_CN.GB2312]=应用程序
Comment=New Application
Icon=exec
Type=Link
URL=.source/Program.desktop
