[Desktop Entry]
Name=FTP URL
Name[ca]=URL d'FTP
Name[de]=FTP-URL
Name[eo]=FTP-adreso
Name[es]=URL de FTP
Name[et]=FTP aadress (URL)
Name[fi]=FTP-linkki
Name[fr]=Adresse FTP
Name[he]=FTP תבותכ
Name[it]=URL FTP
Name[nl]=FTP-URL
Name[no]=FTP-URL
Name[no_NY]=FTP-URL
Name[pt]=URL de FTP
Name[ro]=Adresă FTP
Name[sl]=Vir FTP
Name[sv]=FTP-URL
URL=.source/FtpURL.desktop
Icon=ftp
Type=Link

