[Desktop Entry]
Encoding=UTF-8
Name=Link to Application
Name[af]=skakel aan aansoek
Name[ar]=اختصار لبرنامج
Name[az]=Proqrama Bağla
Name[be]=Спасылка на дастасаваньне
Name[bg]=Указател на Приложение
Name[bs]=Veza do programa
Name[cs]=Odkaz na aplikaci
Name[da]=Link til program
Name[de]=Verknüpfung mit Programm
Name[el]=Δεσμός με Εφαρμογή
Name[eo]=Ligo al aplikaĵo
Name[es]=Enlace a aplicación
Name[et]=Viit rakendusele
Name[eu]=Aplikazioari Lotura
Name[fi]=Linkki sovellukseen
Name[fr]=Lien vers une application
Name[he]=קישור ליישום
Name[hr]=Veza s aplikacijom
Name[hu]=alkalmazásra mutató link
Name[it]=Collegamento ad un'applicazione
Name[ja]=アプリケーションへのリンク
Name[ko]=응용 프로그램으로 연결
Name[lt]=Programos nuoroda
Name[lv]=Saite uz Aplikāciju
Name[nl]=Koppeling naar applicatie
Name[nn]=Lenkje til program
Name[pt]=Atalho para Aplicação
Name[pt_BR]=Link para aplicativo
Name[ro]=Legătură către aplicaţie
Name[ru]=Ссылка на приложение
Name[sk]=Odkaz na aplikáciu
Name[sl]=Povezava do programa
Name[sv]=Länk till program
Name[ta]=¿¢Ãø ­¨½ôÒ
Name[th]=ลิงค์ไปยังแอพพลิเคชัน
Name[tr]=Uygulamaya Bağlantı
Name[uk]=Посилання на програму
Name[ven]=Thumanyo na apulifikhesheni
Name[vi]=Link tới một chương trình
Name[xh]=Yidibanise kwisicelo
Name[xx]=xx
Name[zh_CN]=应用程序链接
Name[zh_TW]=應用程式連結
Name[zu]=Yixhumanise Kwisicelo
Comment=New Link to Application
Comment[af]=nuwe skakel aan aansoek
Comment[ar]=اختصار جديد لبرنامج
Comment[az]=Proqrama Yeni Bağlantı
Comment[be]=Новая спасылка на дастасаваньне
Comment[bg]=Нов указател на приложение
Comment[bs]=Nova veza do programa
Comment[cs]=Nový odkaz na aplikaci
Comment[da]=Nyt link til program
Comment[de]=Neue Verknüpfung mit Programm
Comment[el]=Δημιουργία νέου δεσμού με εφαρμογή
Comment[eo]=Nova ligo al aplikaĵo
Comment[es]=Nuevo enlace a aplicación
Comment[et]=Uus viit rakendusele
Comment[eu]=Aplikazioari Lotura Berria
Comment[fi]=Uusi linkki sovellukseen
Comment[fr]=Nouveau lien vers une application
Comment[gl]=Nova Ligazón a unha Aplicación
Comment[he]=קישור חדש ליישום
Comment[hr]=Nova veza s aplikacijom
Comment[hu]=Alkalmazásra mutató új link
Comment[id]=Link baru ke aplikasi
Comment[is]=Ný tengi við forrit
Comment[it]=Nuovo collegamento ad un'applicazione
Comment[ja]=新規アプリケーションリンク
Comment[ko]=응용 프로그램으로 새로 연결
Comment[lt]=Nauja programos nuoroda
Comment[lv]=Jauna Saite uz Aplikāciju
Comment[mt]=Link Ġdid Għal Programm
Comment[nb]=Ny lenke til applikasjon
Comment[nl]=Nieuwe koppeling naar applicatie
Comment[nn]=Ny lenkje til program
Comment[pl]=Nowy skrót do aplikacji
Comment[pt]=Novo atalho para aplicação
Comment[pt_BR]=Novo link para aplicativo
Comment[ro]=Legătură nouă către aplicaţie
Comment[ru]=Новая ссылка на приложение
Comment[sk]=Nový odkaz na aplikáciu
Comment[sl]=Nova povezava do programa
Comment[sr]=Nova veza do aplikacije
Comment[sv]=Ny länk till program
Comment[ta]=Ò¾¢Â ¿¢Ãø ­¨½ôÒ
Comment[th]=สร้างลิงค์ไปยังแอพพลิเคชันใหม่
Comment[tr]=Uygulamaya Yeni Bağlantı
Comment[uk]=Нове посилання на програму
Comment[ven]=Thumanyo ntswa ya apulifikhesheni
Comment[vi]=Tạo link mới tới một chương trình 
Comment[xh]=Udibaniso olutsha kwisicelo
Comment[xx]=xx
Comment[zh_CN]=新建应用程序链接
Comment[zh_TW]=新建應用程式連結
Comment[zu]=Uxhumaniso Olutsha Kwisicelo
Icon=exec
Type=Link
URL=.source/Program.desktop
