[Desktop Entry]
Encoding=UTF-8
Name=DVD-ROM Device...
Name[x-test]=xxDVD-ROM Device...xx
Comment=New DVD-ROM Device
Comment[x-test]=xxNew DVD-ROM Devicexx
Type=Link
URL=.source/DVDROM-Device.desktop
Icon=dvd_unmount
