[Desktop Entry]
Encoding=UTF-8
Name=Link to Location (URL)...
Name[af]=Skakel na Ligging (URL)...
Name[ar]=رابط لموقع (URL)...
Name[bg]=Връзка към адрес...
Name[bn]=ইউ-আর-এল অবস্থানে লিঙ্ক...
Name[br]=Liamm ouzh ul lec'hiadur (URL) ...
Name[bs]=Veza do lokacije (URL)...
Name[ca]=Enllaç a la localització (URL)...
Name[cs]=Odkaz na umístění (URL)...
Name[cy]=Cyswllt i Leoliad (URL)...
Name[da]=Internetlink (URL)...
Name[de]=Verknüpfung zu Adresse (URL)...
Name[el]=Δεσμός με τοποθεσία (URL)...
Name[eo]=Ligo al situo (URL)...
Name[es]=Enlace a dirección (URL)...
Name[et]=Viit asukohale (URL)...
Name[eu]=Esteka kokapenari (URL)...
Name[fa]=پیوند به مکان (URL)...
Name[fi]=Linkki sijaintiin (URL)...
Name[fr]=Lien vers une URL...
Name[fy]=Keppeling nei lokaasje (URL-adres)...
Name[ga]=Nasc le Suíomh (URL)...
Name[gl]=Ligazón a un Sitio (URL)...
Name[he]=קישור למיקום (URL)...
Name[hi]=स्थान (यूआरएल) को लिंक...
Name[hr]=Veza s lokacijom (URL)...
Name[hu]=Internet-cím (URL)...
Name[is]=Staðsetningartengill...
Name[it]=Collegamento ad un indirizzo (URL)...
Name[ja]=場所へのリンク (URL)
Name[lt]=Adreso nuoroda (URL)...
Name[lv]=Saite uz Vietu (URL)...
Name[mk]=Врска до локација (URL)...
Name[mn]=Хаягтай (URL) холбох...
Name[mt]=Link għal lokazzjoni (URL)...
Name[nb]=Lenke til nettadresse (URL) ...
Name[nds]=Link to'n Oort (URL)...
Name[nl]=Koppeling naar locatie (URL-adres)...
Name[nn]=Lenkje til nettadresse (URL) ...
Name[pa]=ਸਥਿਤੀ (URL) ਨਾਲ ਸੰਬੰਧ...
Name[pl]=Skrót do adresu (URL)...
Name[pt]=Atalho para Localização (URL)...
Name[pt_BR]=Link para Localização (URL)...
Name[ro]=Legătură către locaţie (URL)...
Name[ru]=Адрес Интернет...
Name[se]=Leaŋka fierpmádatčujuhussii (URL) ...
Name[sk]=Odkaz na umiestnenie (URL)...
Name[sl]=Povezava do lokacije (URL) ...
Name[sr]=Веза ка локацији (URL)...
Name[sr@Latn]=Veza ka lokaciji (URL)...
Name[sv]=Länk till plats (URL)...
Name[ta]=இடத்திற்கு இணை (URL)...
Name[tg]=Пайванд ба макони (URL)...
Name[th]=เชื่อมโยงไปยังตำแหน่ง (URL)...
Name[tr]=Konuma (URL) Bağlantı...
Name[uk]=Посилання до адреси (URL)...
Name[uz]=Мавзу билан боғ (URL)...
Name[vi]=Liên kết tới một trang web (URL) 
Name[xx]=xxLink to Location (URL)...xx
Name[zh_CN]=到位置(URL)的链接...
Name[zh_TW]=到位置的連結(URL)
Comment=Enter link to location (URL):
Comment[af]=Invoer skakel na ligging (Url):
Comment[ar]=أدخل موقع الارتباط (URL):
Comment[bg]=Въведете връзка към адрес:
Comment[bn]=লিঙ্কের অবস্থান:
Comment[br]=Roit al liamm ouzh ul lec'hiadur (URL) :
Comment[bs]=Unesite vezu do lokacije (URL):
Comment[ca]=Entreu un enllaç a la localització (URL):
Comment[cs]=Zadejte odkaz na umístění (URL):
Comment[cy]=Mewnosodwch cyswllt i leoliad (URL):
Comment[da]=Indtast internetlink (URL):
Comment[de]=Verknüpfung mit Adresse (URL) eingeben:
Comment[el]=Δώστε δεσμό στην τοποθεσία (URL):
Comment[eo]=Enigu ligon al situo (URL):
Comment[es]=Introduzca enlace a dirección (URL):
Comment[et]=Sisesta viit asukohale (URL):
Comment[eu]=Sartu kokapenarekiko (URL) esteka:
Comment[fa]=پیوند به URL:
Comment[fi]=Anna linkki sijaintiin (URL):
Comment[fr]=Nouveau lien vers une URL :
Comment[fy]=Keppeling nei lokaasje ynfiere (URL-adres):
Comment[ga]=Iontráil nasc le suíomh (URL):
Comment[gl]=Introduza a ligazón á localización (URL):
Comment[he]=הזן את הקישור למיקום (URL):
Comment[hi]=स्थान (यूआरएल) को लिंक भरें:
Comment[hr]=Nova veza s lokacijom (URL)
Comment[hu]=Adja meg az internet-címet (URL-t):
Comment[is]=Gefðu upp slóð að staðsetningu:
Comment[it]=Immetti collegamento all'indirizzo (URL):
Comment[ja]=新規の場所へのリンク(URL):
Comment[lo]=ສ້າງລິໄປຍັງຕຳແຫນ່ງ  (URL) ໃຫ່ມ
Comment[lt]=Nauja adreso nuoroda (URL)
Comment[lv]=Jauna Saite uz Vietu (URL):
Comment[mk]=Внесете врска до локацијата (URL):
Comment[mn]=Холбох хаяг (URL) өгөх:
Comment[mt]=Link ġdid għal lokazzjoni (URL)
Comment[nb]=Ny lenke til en nettadresse:
Comment[nds]=Link to'n Oort ingeven (URL):
Comment[nl]=Koppeling naar locatie invoeren (URL-adres):
Comment[nn]=Ny lenkje til Internettadresse:
Comment[nso]=Tsenya sekgokaganyi go tulo (URL):
Comment[pa]=ਸਥਿਤੀ (URL) ਨਾਲ ਸੰਬੰਧ ਦਿਓ:
Comment[pl]=Nowy skrót do adresu internetowego (URL):
Comment[pt]=Indique o atalho para a localização (URL):
Comment[pt_BR]=Digite o link para a localização (URL):
Comment[ro]=Introduceţi legătura către locaţie (URL):
Comment[ru]=Адрес на ресурс Интернета
Comment[se]=Bija leaŋkka fierpmádatčujuhussii (URL):
Comment[sk]=Zadajte odkaz na umiestnenie (URL):
Comment[sl]=Vnesite povezavo do mesta (URL):
Comment[sr]=Унесите везу ка локацији (URL):
Comment[sr@Latn]=Unesite vezu ka lokaciji (URL):
Comment[sv]=Ange länk till plats (URL):
Comment[ta]=இடத்திற்கான இணைப்பை உள்ளிடு (URL):
Comment[tg]=Бадарғаро ба адреси (URL) ворид кунед:
Comment[th]=สร้างการเชื่อมโยงไปยังตำแหน่ง (URL) ใหม่
Comment[tr]=Konuma bağlantıyı girin:
Comment[uk]=Введіть посилання до адреси (URL):
Comment[uz]=Мавзуга боғни (URL) киритинг:
Comment[ven]=Dzhenisani vhukwamani kha fhethu (URL):
Comment[vi]=Tạo liên kết mới tới một trang web
Comment[xh]=Ngenisa ikhonkco kwindawo ekuyo (URL):
Comment[xx]=xxEnter link to location (URL):xx
Comment[zh_CN]=输入到位置(URL)的链接：
Comment[zh_TW]=輸入到位置的連結(URL)：
Comment[zu]=Ngenisa isixhumanisi esiya endaweni (URL):
URL=.source/URL.desktop
Type=Link
Icon=www
