[Desktop Entry]
Encoding=UTF-8
Name=Link to Location (URL)...
Name[x-test]=xxLink to Location (URL)...xx
Comment=Enter link to location (URL):
Comment[x-test]=xxEnter link to location (URL):xx
URL=.source/URL.desktop
Type=Link
Icon=www
