[Desktop Entry]
Encoding=UTF-8
Name=MO Device...
Name[ar]=جهاز MO...
Name[be]=MO прылада...
Name[bg]=MO...
Name[bn]=MO ডিভাইস...
Name[br]=Trobarzhell MO ...
Name[bs]=MO uređaj...
Name[ca]=Dispositiu MO...
Name[cs]=MO zařízení...
Name[cy]=Dyfais MO...
Name[da]=MO-enhed...
Name[de]=MO-Laufwerk...
Name[el]=Συσκευή MO...
Name[eo]=Magnetdiskingo...
Name[es]=Dispositivo de MO...
Name[et]=MO seade...
Name[eu]=MO gailua...
Name[fa]=دستگاه MO...
Name[fi]=MO-laite...
Name[fr]=Périphérique MO...
Name[fy]=Magnetyske skiif stasjon...
Name[ga]=Gléas MO...
Name[gl]=Dispositivo MO...
Name[he]=התקן MO...
Name[hi]=एमओ उपकरण...
Name[hr]=MO uređaj...
Name[hu]=Magnetooptikai eszköz...
Name[is]=MO tæki...
Name[it]=Dispositivo MO...
Name[ja]=MOデバイス...
Name[lt]=MO įrenginys...
Name[lv]=MO Iekārta...
Name[mk]=MO Уред...
Name[mn]=MO Төхөөрөмж...
Name[mt]=Apparat MO...
Name[nb]=MO-enhet ...
Name[nds]=MO-Reedschap...
Name[nl]=MO-apparaat...
Name[nn]=MO-eining ...
Name[pa]=MO ਜੰਤਰ...
Name[pl]=Napęd magnetooptyczny...
Name[pt]=Dispositivo M0...
Name[pt_BR]=Dispositivo MO...
Name[ro]=Dispozitiv MO...
Name[ru]=Магнитооптическое устройство...
Name[se]=MO-ovttadat ...
Name[sk]=Disk MO...
Name[sl]=MO naprava ...
Name[sr]=МО уређај...
Name[sr@Latn]=MO uređaj...
Name[sv]=Magneto-optisk enhet...
Name[ta]=MO சாதனம்...
Name[tg]=Дастгоҳи MO...
Name[tr]=MO Aygıtı...
Name[uk]=Пристрій MO...
Name[uz]=MO ускунаси
Name[vi]=Thiết bị MO
Name[xx]=xxMO Device...xx
Name[zh_CN]=MO 设备...
Name[zh_TW]=MO 設備...
Comment=New MO Device
Comment[ar]=جهاز MO جديد
Comment[be]=Новая MO прылада
Comment[bg]=Ново устройство MO
Comment[bn]=নতুন MO ডিভাইস
Comment[br]=Trobarzhell MO nevez
Comment[bs]=Novi MO uređaj
Comment[ca]=Dispositiu MO nou
Comment[cs]=Nová MO mechanika
Comment[cy]=Dyfais MO Newydd
Comment[da]=Ny MO-enhed
Comment[de]=Neues MO-Laufwerk
Comment[el]=Νέα συσκευή MO
Comment[eo]=Nova magnetdiskingo
Comment[es]=Nuevo dispositivo de MO
Comment[et]=Uus MO seade
Comment[eu]=MO gailu berria
Comment[fa]=دستگاه MO جدید
Comment[fi]=Uusi MO-laite
Comment[fr]=Nouveau périphérique MO
Comment[fy]=Nije magnetyske skiif stasjon
Comment[ga]=Gléas MO Nua
Comment[gl]=Novo Dispositivo MO
Comment[he]=התקן MO חדש
Comment[hi]=नया एमओ उपकरण
Comment[hr]=Novi MO uređaj
Comment[hu]=Új magnetooptikai eszköz
Comment[is]=Nýtt MO tæki
Comment[it]=Nuovo dispositivo MO
Comment[ja]=新規MOデバイス
Comment[lt]=Naujas MO įrenginys
Comment[lv]=Jauna MO iekārta
Comment[mk]=Нов MO уред
Comment[mn]=Шинэ MO төхөөрөмж
Comment[mt]=Apparat MO ġdid
Comment[nb]=Ny MO-enhet
Comment[nds]=Niege MO-Reedschap
Comment[nl]=Nieuw MO-aparaat
Comment[nn]=Ny MO-eining
Comment[pa]=ਨਵਾਂ MO ਜੰਤਰ
Comment[pl]=Nowy napęd magnetooptyczny
Comment[pt]=Novo dispositivo M0
Comment[pt_BR]=Novo dispositivo MO
Comment[ro]=Dispozitiv MO nou
Comment[ru]=Ссылка на магнитооптическое устройство
Comment[se]=Ođđa MO-ovttadat
Comment[sk]=Nové zariadenie MO
Comment[sl]=Nova MO naprava
Comment[sr]=Нови МО уређај
Comment[sr@Latn]=Novi MO uređaj
Comment[sv]=Ny magneto-optisk enhet
Comment[ta]=புது MO சாதனம்
Comment[tg]=Дастгоҳи нави MO
Comment[tr]=Yeni MO Aygıtı
Comment[uk]=Новий пристрій MO
Comment[uz]=Янги MO ускунаси
Comment[vi]=MO mới
Comment[xx]=xxNew MO Devicexx
Comment[zh_CN]=新建 MO 设备
Comment[zh_TW]=新 MO 設備
Type=Link
URL=.source/MO-Device.desktop
Icon=mo_unmount
