[Desktop Entry]
Encoding=UTF-8
Name=DVD-ROM Device...
Name[af]=DVD-ROM Toestel
Name[be]=DVD-ROM прылада
Name[bg]=DVD-ROM Устройство 
Name[bs]=DVD-ROM uređaj
Name[ca]=Dispositiu DVD-ROM
Name[cs]=Jednotka DVD
Name[da]=DVD-ROM-enhed
Name[de]=DVD-ROM
Name[el]=Συσκευή DVD-ROM
Name[es]=Unidad de DVD-ROM
Name[et]=DVD-ROM seade
Name[eu]=DVD-ROM Dispositiboa
Name[fa]=دستگاه DVD-ROM
Name[fi]=DVD-ROM -laite
Name[fr]=Lecteur DVD-ROM
Name[hr]=DVD-ROM uređaj
Name[hu]=DVD-ROM eszköz
Name[it]=Dispositivo DVD-ROM
Name[ja]=DVD-ROMデバイス
Name[lo]=ອຸປະກອນ DVD
Name[lt]=DVD-ROM įrenginys
Name[lv]=DVD-ROM Iekārta
Name[mn]=DVD-ROM төхөөрөмж
Name[mt]=Apparat DVD-ROM
Name[nb]=DVD-ROM-enhet
Name[nl]=DVD-romspeler
Name[nn]=DVD-ROM-eining
Name[nso]=Leano la DVD-ROM
Name[pl]=Urządzenie DVD-ROM
Name[pt]=Leitor de DVD-ROMs
Name[pt_BR]=Dispositivo de DVD-ROM
Name[ro]=Dispozitiv DVD-ROM
Name[ru]=Устройство DVD-ROM
Name[sk]=DVD-ROM zariadenie
Name[sl]=Naprava DVD-ROM
Name[sr]=DVD-ROM uređaj
Name[sv]=dvdrom-enhet
Name[tr]=DVD-ROM Aygıtı
Name[ven]=Maano a ROM-ROM
Name[wa]=Éndjin léjheu di plakes lazer (DVD)
Name[xh]=Icebo le DVD-ROM
Name[zh_CN]=DVD-ROM 设备
Name[zh_TW]=DVD-ROM 裝置
Name[zu]=Ithuluzi le-DVD-ROM
Comment=New DVD-ROM Device
Comment[af]=Nuwe DVD-ROM Toestel
Comment[be]=Новая DVD-ROM прылада
Comment[bg]=Ново DVD-ROM Устройство 
Comment[bs]=Novi DVD-ROM uređaj
Comment[ca]=Dispositiu DVD-ROM nou
Comment[cs]=Nová jednotka DVD
Comment[da]=Ny DVD-ROM-enhed
Comment[de]=Neues DVD-Gerät
Comment[el]=Νέα Συσκευή DVD-ROM
Comment[es]=Nueva unidad de DVD-ROM
Comment[et]=Uus viit DVD-ROM seadmele
Comment[eu]=DVD-ROM Dispositibo Berria
Comment[fi]=Uusi DVD-ROM -laite
Comment[hr]=Novi DVD-ROM uređaj
Comment[hu]=Új DVD-ROM eszköz
Comment[it]=Nuovo dispositivo DVD-ROM
Comment[ja]=新規DVD-ROMデバイス
Comment[lo]=ກຳນົດອຸປະກອນ DVD ROM ใหม่
Comment[lt]=Naujas DVD-ROM įrenginys
Comment[lv]=Jauna DVD-ROM Iekārta
Comment[mn]=Шинэ DVD-төхөөрөмж
Comment[mt]=Apparat DVD-ROM ġdid
Comment[nb]=Ny DVD-ROM-enhet
Comment[nl]=Nieuwe DVD-romspeler
Comment[nn]=Ny DVD-ROM-eining
Comment[nso]=Leano le leswa la DVD-ROM
Comment[pl]=Nowe urządzenie DVD-ROM
Comment[pt]=Novo leitor de DVD-ROMs
Comment[pt_BR]=Novo dispositivo de DVD-ROM
Comment[ro]=Dispozitiv DVD-ROM nou
Comment[ru]=Новое устройство DVD-ROM
Comment[sk]=Nové DVD-ROM zariadenie
Comment[sl]=Nova naprava DVD-ROM
Comment[sr]=Novi DVD-ROM uređaj
Comment[sv]=Ny dvdrom-enhet
Comment[tr]=Yeni DVD-ROM Aygıtı
Comment[ven]=Maano maswa a ROM-ROM
Comment[vi]=Thiết bị DVD-ROM mới
Comment[wa]=Novea éndjin léjheu di plakes lazer (DVD)
Comment[xh]=Icebo le DVD Elitsha
Comment[zh_CN]=新 DVD-ROM 设备
Comment[zh_TW]=新 DVD-ROM 裝置
Type=Link
URL=.source/DVDROM-Device.desktop
Icon=dvd_unmount
