[Desktop Entry]
Name=CDROM Device
Name[bg]=CDROM Óñòðîéñòâî
Name[ca]=Dispositiu CDROM
Name[cs]=Jednotka CDROM
Name[da]=Cdrom enhed
Name[de]=CDROM
Name[el]=Συσκευή CDROM
Name[eo]=Lumdiskingo
Name[es]=Unidad de CDROM
Name[et]=CDROM seade
Name[fi]=CDROM-laite
Name[fr]=CD-ROM
Name[gl]=Dispositivo de CDROM
Name[he]=רוטילקת ןקתה
Name[hr]=CDROM uređaj
Name[hu]=CD-ROM-eszköz
Name[is]=Geisladrif
Name[it]=Dispositivo CD-ROM
Name[ja]=CDROM デバイス
Name[mk]=CDROM уред
Name[nl]=Cd-romspeler
Name[no]=CDROM-enhet
Name[no_NY]=CD-ROM-eining
Name[pl]=CDROM
Name[pt]=Unidade de Leitura de CDROMs
Name[pt_BR]=Dispositivo de CDROM
Name[ro]=Dispozitiv CDROM
Name[ru]=Устройство CD-ROM
Name[sk]=CDROM Zariadenie
Name[sl]=Naprava CDROM
Name[sv]=CDROM-enhet
Name[ta]=CDROM º¡¾Éõ
Name[tr]=CDROM
Name[uk]=Пристрій компакт диску
Name[zh_CN.GB2312]=CDROM 设备
Comment=New CDROM Device
Comment[bg]=Íîâà Âðúçêà ñ CDROM Óñòðîéñòâî
Comment[ca]=Dispositiu CDROM nou
Comment[cs]=Nová jednotka CDROM
Comment[da]=Ny Cdrom enhed
Comment[de]=Neues CDROM-Gerät
Comment[el]=Νέα Συσκευή CDROM
Comment[eo]=Nova lumdiskingo
Comment[es]=Nueva unidad de CDROM
Comment[et]=Uus CDROM seade
Comment[fi]=Uusi CDROM-laite
Comment[fr]=Nouveau périphérique CD-ROM
Comment[gl]=Novo Dispositivo de CDROM
Comment[he]=שדח רוטילקת ןקתה
Comment[hr]=Novi CDROM uređaj
Comment[hu]=Új CD-ROM eszköz
Comment[is]=Nýtt geisladrifstæki
Comment[it]=Nuovo dispositivo CD-ROM
Comment[ja]=新規CDROMデバイス
Comment[mk]=Нов CDROM уред
Comment[nl]=Nieuwe cd-romspeler
Comment[no]=Ny CDROM-enhet
Comment[no_NY]=Ny CD-ROM-eining
Comment[pl]=Urządzenie CDROM
Comment[pt]=Nova Unidade de CDROMs
Comment[pt_BR]=Novo dispositivo de CDROM
Comment[ro]=Dispozitiv CDROM nou
Comment[ru]=Новое устройство CD-ROM
Comment[sk]=Nové CDROM zariadenie
Comment[sl]=Nova naprava CDROM
Comment[sv]=Ny CDROM-enhet
Comment[ta]=Ò¾¢Â CDROM º¡¾Éõ
Comment[tr]=Yeni CDROM Aygıtı
Comment[uk]=Новий пристрій компакт-диску
Comment[zh_CN.GB2312]=新建 CDROM 设备
Type=Link
URL=.source/CDROM-Device.desktop
Icon=cdrom_unmount
