[Desktop Entry]
Encoding=UTF-8
Name=CD-ROM Device...
Name[ar]=جهاز الأقراص المدمجة...
Name[be]=CD-ROM прылада...
Name[bg]=CD-ROM...
Name[bn]=সিডি-রম ডিভাইস...
Name[br]=Trobarzhell CD-ROM ...
Name[bs]=CD-ROM uređaj...
Name[ca]=Dispositiu CD-ROM...
Name[cs]=Jednotka CD-ROM...
Name[cy]=Dyfais CD-ROM...
Name[da]=Cd-rom-enhed...
Name[de]=CD-ROM-Laufwerk...
Name[el]=Συσκευή CD-ROM...
Name[eo]=Lumdiskingo...
Name[es]=CD-ROM
Name[et]=CD-ROM seade...
Name[eu]=CD-ROM gailua...
Name[fa]=دستگاه CD-ROM...
Name[fi]=CD-ROM-laitteet...
Name[fr]=Lecteur de CD-ROM...
Name[fy]=kompaktskiifstasjon ...
Name[ga]=Gléas CD-ROM...
Name[gl]=Dispositivo de CD-ROM...
Name[he]=התקן תקליטור...
Name[hi]=सीडी-रोम उपकरण...
Name[hr]=CD/DVD-ROM uređaj...
Name[hu]=CD-meghajtó...
Name[is]=Geisladrif...
Name[it]=Dispositivo CD-ROM...
Name[ja]=CD-ROMデバイス...
Name[lt]=CD-ROM įrenginys...
Name[lv]=CD-ROM Iekārta...
Name[mk]=CD-ROM Уред...
Name[mn]=КД-ROM төхөөрөмж...
Name[mt]=CDROM...
Name[nb]=CD-ROM-enhet ...
Name[nds]=CD-ROM-Reedschap...
Name[nl]=CD-romspeler...
Name[nn]=CD-ROM-eining ...
Name[pa]=CD-ROM ਜੰਤਰ...
Name[pl]=Urządzenie CD-ROM...
Name[pt]=Leitor de CD/DVD-ROMs...
Name[pt_BR]=Dispositivo de CD-ROM...
Name[ro]=Dispozitiv CD-ROM...
Name[ru]=CD-ROM...
Name[se]=CD-ROM-ovttadat ...
Name[sk]=Zariadenie CD-ROM...
Name[sl]=Naprava CD-ROM ...
Name[sr]=CD/DVD-ROM уређај...
Name[sr@Latn]=CD/DVD-ROM uređaj...
Name[sv]=Cdrom-enhet...
Name[ta]=CD-ROM சாதனம்...
Name[tg]=Дастгоҳи CD-ROM...
Name[th]=อุปกรณ์ซีดีรอม
Name[tr]=CD-ROM Aygıtı...
Name[uk]=Пристрій CD-ROM...
Name[uz]=Компакт-диск ускунаси...
Name[wa]=Éndjin léjheu di plakes lazer...
Name[xx]=xxCD-ROM Device...xx
Name[zh_CN]=CD-ROM 设备...
Name[zh_TW]=光碟機設備
Comment=New CD-ROM Device
Comment[ar]=جهاز أقراص مدمجة جديد
Comment[be]=Новая CD-ROM прылада
Comment[bg]=Ново устройство CD-ROM
Comment[bn]=নতুন সিডি-রম ডিভাইস
Comment[br]=Trobarzhell CD-ROM Nevez
Comment[bs]=Novi CD/DVD-ROM uređaj
Comment[ca]=Dispositiu CD-ROM nou
Comment[cs]=Nová jednotka CD-ROM
Comment[cy]=Dyfais CD-ROM Newydd
Comment[da]=Ny cd-rom-enhed
Comment[de]=Neues CD-ROM-Laufwerk
Comment[el]=Νέα συσκευή CD-ROM
Comment[eo]=Nova lumdiskingo...
Comment[es]=Nuevo CD-ROM
Comment[et]=Uus CD-ROM seade
Comment[eu]=CD-ROM gailu berria
Comment[fa]=دستگاه CD-Rom جدید
Comment[fi]=Uusi CD/DVD-ROM -laite
Comment[fr]=Nouveau lecteur de CD-ROM
Comment[fy]=Nije kompaktskiifstasjon 
Comment[ga]=Gléas nua CD-ROM
Comment[gl]=Novo Dispositivo de CD-ROM
Comment[he]=התקן תקליטור חדש
Comment[hi]=नया सीडी-रोम उपकरण
Comment[hr]=Novi CD/DVD-ROM uređaj
Comment[hu]=Új CD-meghajtó
Comment[is]=Nýtt geisladrif
Comment[it]=Nuovo dispositivo CD-ROM
Comment[ja]=新規CD-ROMデバイス
Comment[lt]=Naujas CD-ROM įrenginys
Comment[lv]=Jauna CD-ROM Iekārta
Comment[mk]=Нов CD-ROM уред
Comment[mn]=Шинэ КД-ROM төхөөрөмж
Comment[mt]=CD-ROM ġdid
Comment[nb]=Ny CD-ROM-enhet
Comment[nds]=Niege CD-ROM-Reedschap
Comment[nl]=Nieuwe cd-romspeler
Comment[nn]=Ny CD-ROM-eining
Comment[pa]=ਨਵਾਂ CD-ROM ਜੰਤਰ
Comment[pl]=Nowe urządzenie CD-ROM
Comment[pt]=Novo leitor de CD/DVD-ROMs...
Comment[pt_BR]=Novo dispositivo de CD-ROM
Comment[ro]=Dispozitiv CD-ROM nou
Comment[ru]=Ссылка на устройство CD-ROM
Comment[se]=Ođđa CD-ROM-ovttadat
Comment[sk]=Nové zariadenie CD-ROM
Comment[sl]=Nova naprava CD-ROM
Comment[sr]=Нови CD/DVD-ROM уређај
Comment[sr@Latn]=Novi CD/DVD-ROM uređaj
Comment[sv]=Ny cdrom-enhet
Comment[ta]=புதிய CD-ROM சாதனம்
Comment[tg]=Дастгоҳи нави CD-ROM 
Comment[th]=กำหนดอุปกรณ์ซีดีใหม่
Comment[tr]=Yeni CD-ROM Aygıtı
Comment[uk]=Новий пристрій CD-ROM
Comment[uz]=Янги компакт-диск ускунаси
Comment[vi]=CD/DVD-ROM mới
Comment[wa]=Novea éndjin léjheu di plakes lazer
Comment[xx]=xxNew CD-ROM Devicexx
Comment[zh_CN]=新建 CD-ROM 设备
Comment[zh_TW]=新光碟機設備
Type=Link
URL=.source/CDROM-Device.desktop
Icon=cdrom_unmount
