[Desktop Entry]
Name=Floppy Device
Name[ca]=Dispositius de disquet
Name[cs]=Disketová mechanika
Name[da]=Floppy enhed
Name[de]=Diskettenlaufwerk
Name[eo]=Disketingo
Name[et]=Flopiseade
Name[fi]=Levykeasema
Name[fr]=Périphérique Disquette
Name[he]=ןוטילקת ןקתה
Name[hr]=Disketni uređaji
Name[hu]=Floppy-meghajtó
Name[it]=Dispositivo dischetti
Name[ja]=フロッピーデバイス
Name[mk]=Дискетна единица
Name[nl]=Diskettestation
Name[no]=Diskett-enhet
Name[no_NY]=Disketteining
Name[pl]=Stacja dyskietek
Name[pt]=Unidade de Leitura de Disquetes
Name[pt_BR]=Dispositivo de disquete
Name[ro]=Dispozitiv floppy
Name[ru]=Дисковод
Name[sl]=Disketna enota
Name[sr]=Floppy uređaj
Name[sv]=Diskettenhet
Name[ta]=ெநகிழஂவடஂடு சாதனமஂ
Name[tr]=Flopi Aygıtı
Name[uk]=Пристрій флоппі-диску
Comment=New Floppy Device
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
