[Desktop Entry]
Encoding=UTF-8
Name=Floppy Device...
Name[ar]=جهاز أقراص مرنة...
Name[bg]=Флопи...
Name[bn]=ফ্লপি ডিভাইস...
Name[br]=Trobarzhell Pladennig ...
Name[bs]=Disketni uređaj...
Name[ca]=Dispositiu de disquet...
Name[cs]=Disketová jednotka...
Name[cy]=Dyfais Disg Meddal...
Name[da]=Floppy-enhed...
Name[de]=Diskettenlaufwerk...
Name[el]=Συσκευή δισκέτας...
Name[eo]=Disketingo...
Name[es]=Unidad de disquetes...
Name[et]=Flopiseade...
Name[eu]=Diskete gailua...
Name[fa]=دستگاه فلاپی...
Name[fi]=Levykeasema...
Name[fr]=Lecteur de disquettes...
Name[fy]=Slappe skiifstasjon...
Name[ga]=Gléas Diosca Flapach...
Name[gl]=Dispositivo de Disquete...
Name[he]=התקן תקליטון...
Name[hi]=फ़्लॉपी उपकरण...
Name[hr]=Disketni uređaji...
Name[hu]=Floppy-meghajtó...
Name[is]=Disklingadrif...
Name[it]=Dispositivo dischetti...
Name[ja]=フロッピーデバイス...
Name[lt]=Diskelių įrenginys...
Name[lv]=Diskešu Iekārta...
Name[mk]=Дискетна единица...
Name[mn]=Уян диск...
Name[mt]=Floppy...
Name[nb]=Diskettenhet ...
Name[nds]=Diskett-Reedschap...
Name[nl]=Diskettestation...
Name[nn]=Disketteining ...
Name[pa]=ਫਲਾਪੀ ਜੰਤਰ...
Name[pl]=Stacja dyskietek...
Name[pt]=Leitor de Disquetes...
Name[pt_BR]=Dispositivo de disquete...
Name[ro]=Dispozitiv Floppy...
Name[ru]=Дисковод...
Name[se]=Dibmaskearroovttadat ...
Name[sk]=Disketová mechanika...
Name[sl]=Disketna naprava ...
Name[sr]=Флопи уређај...
Name[sr@Latn]=Flopi uređaj...
Name[sv]=Diskettenhet...
Name[ta]=நெகிழ்வட்டு சாதனம்...
Name[tg]=Дастгоҳи Floppy...
Name[th]=อุปกรณ์ฟลอปปี้...
Name[tr]=Disket Aygıtı...
Name[uk]=Пристрій флопі-диску...
Name[uz]=Дискет ускунаси...
Name[vi]=Ổ mềm
Name[wa]=Éndjin léjheu di plaketes...
Name[xx]=xxFloppy Device...xx
Name[zh_CN]=软驱设备...
Name[zh_TW]=軟碟設備...
Comment=New Floppy Device
Comment[af]=Nuwe Sagteskyf Toestel
Comment[ar]=جهاز أقراص مرنة جديد
Comment[az]=Yeni Disket Avadanlığı
Comment[bg]=Ново флопи-дисково устройство
Comment[bn]=নতুন ফ্লপি ডিভাইস
Comment[br]=Trobarzhell Bladennig Nevez
Comment[bs]=Novi disketni uređaj
Comment[ca]=Dispositiu de disquet nou
Comment[cs]=Nová disketová jednotka
Comment[cy]=Dyfais Disg Meddal Newydd
Comment[da]=Ny floppy-enhed
Comment[de]=Neues Diskettenlaufwerk
Comment[el]=Νέα συσκευή δισκέτας
Comment[eo]=Nova magnetdiskingo
Comment[es]=Nueva unidad de disquetes
Comment[et]=Uus flopiseade
Comment[eu]=Diskete gailu berria
Comment[fa]=فلاپی جدید
Comment[fi]=Uusi levykeasema
Comment[fr]=Nouveau lecteur de disquettes
Comment[fy]=Nije slappe skiifstasjon
Comment[ga]=Gléas nua diosca flapach
Comment[gl]=Novo Dispositivo de Disqueteira
Comment[he]=התקן תקליטון חדש
Comment[hi]=नया फ़्लॉपी उपकरण
Comment[hr]=Novi disketni uređaj
Comment[hu]=Új floppy-meghajtó
Comment[id]=Divais Floppy baru
Comment[is]=Nýtt disklingadrif
Comment[it]=Nuovo dispositivo dischetti
Comment[ja]=新規フロッピーディスク
Comment[ko]=새 플로피 장치
Comment[lo]=ກຳນົດອັຸປະກອນຟອບປີ້ໃຫມ่
Comment[lt]=Naujas diskelių įrenginys
Comment[lv]=Jauna Diskešu iekārta
Comment[mk]=Нова дискетна единица
Comment[mn]=Шинэ уян диск хөтлөгч
Comment[mt]=Apparat floppy ġdid
Comment[nb]=Ny diskett-enhet
Comment[nds]=Niege Diskettreedschap
Comment[nl]=Nieuw diskettestation
Comment[nn]=Ny disketteining
Comment[nso]=Leano le Leswa la Floopy
Comment[oc]=Dispositiu de disquet nou
Comment[pa]=ਨਵਾਂ ਫਲਾਪੀ ਜੰਤਰ
Comment[pl]=Nowa stacja dyskietek
Comment[pt]=Novo leitor de disquetes
Comment[pt_BR]=Novo dispositivo de disquete
Comment[ro]=Dispozitiv Floppy nou
Comment[ru]=Ссылка на устройство дисковода
Comment[se]=Ođđa dibmaskearroovttadat
Comment[sk]=Nová disketová mechanika
Comment[sl]=Nova disketna naprava
Comment[sr]=Нови флопи уређај
Comment[sr@Latn]=Novi flopi uređaj
Comment[sv]=Ny diskettenhet
Comment[ta]=புது நெகிழ்வட்டு சாதனம்
Comment[tg]=Дастгоҳи нави Floppy
Comment[th]=กำหนดอุปกรณ์ฟล็อปปีใหม่
Comment[tr]=Yeni Disket Aygıtı
Comment[uk]=Новий пристрій флопі-диску
Comment[uz]=Янги дискет ускунаси
Comment[ven]=Maano maswa a Floppy
Comment[vi]=Ổ mềm mới
Comment[wa]=Novea éndjin léjheu di plaketes...
Comment[xh]=Icebo Elitsha le Floppy
Comment[xx]=xxNew Floppy Devicexx
Comment[zh_CN]=新建软驱设备
Comment[zh_TW]=新軟碟設備
Comment[zu]=Ithuluzi le-Floppy elisha
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
