[Desktop Entry]
Encoding=UTF-8
Name=Link to Application...
Name[af]=Skakel na Program...
Name[ar]=رابط لتطبيق...
Name[be]=Спасылка на дастасаваньне...
Name[bg]=Връзка към програма...
Name[bn]=অ্যাপলিকেশন-এ লিঙ্ক...
Name[br]=Liamm ouzh un arload ...
Name[bs]=Veza do programa...
Name[ca]=Enllaç a aplicació...
Name[cs]=Odkaz na aplikaci...
Name[cy]=Cyswllt i Gymhwysiad...
Name[da]=Link til program...
Name[de]=Verknüpfung zu Programm...
Name[el]=Δεσμός με εφαρμογή...
Name[eo]=Ligo al aplikaĵo...
Name[es]=Enlace a aplicación...
Name[et]=Viit rakendusele...
Name[eu]=Esteka aplikazioari...
Name[fa]=پیوند به برنامه...
Name[fi]=Linkki sovellukseen...
Name[fr]=Lien vers une application...
Name[fy]=Keppeling nei tappasing...
Name[ga]=Nasc go Feidhmchlár...
Name[gl]=Ligazón a unha Aplicación...
Name[he]=קישור ליישום...
Name[hi]=अनुप्रयोग को लिंक...
Name[hr]=Veza s aplikacijom...
Name[hu]=Alkalmazásra mutató link...
Name[is]=Tengja við forrit...
Name[it]=Collegamento ad un'applicazione...
Name[ja]=アプリケーションへのリンク...
Name[lt]=Programos nuoroda...
Name[lv]=Saite uz Aplikāciju...
Name[mk]=Врска до апликација...
Name[mn]=Програмтай холбох...
Name[mt]=Link għal programm...
Name[nb]=Lenke til program ...
Name[nds]=Link to'n Programm...
Name[nl]=Koppeling naar toepassing...
Name[nn]=Lenkje til program ...
Name[pa]=ਕਾਰਜ ਨਾਲ ਸੰਬੰਧ...
Name[pl]=Skrót do programu...
Name[pt]=Atalho para Aplicação...
Name[pt_BR]=Link para Aplicativo...
Name[ro]=Legătură către aplicaţie...
Name[ru]=Ссылку на приложение...
Name[se]=Leaŋka prográmmii ...
Name[sk]=Odkaz na aplikáciu...
Name[sl]=Povezava do programa ...
Name[sr]=Веза ка програму...
Name[sr@Latn]=Veza ka programu...
Name[sv]=Länk till program...
Name[ta]=விண்ணப்பத்துக்கு இணை...
Name[tg]=Пайванд ба барномаи...
Name[th]=เชื่อมโยงไปยังแอพพลิเคชัน...
Name[tr]=Uygulamaya Bağlantı...
Name[uk]=Посилання на програму...
Name[uz]=Дастур билан боғ...
Name[vi]=Liên kết tới một chương trình
Name[wa]=Loyén viè on programe...
Name[xx]=xxLink to Application...xx
Name[zh_CN]=应用程序链接...
Name[zh_TW]=應用程式連結...
Comment=New Link to Application
Comment[af]=Nuwe Skakel na Aansoek
Comment[ar]=ارتباط جديد بتطبيق
Comment[be]=Новая спасылка на дастасаваньне
Comment[bg]=Нова връзка към програма
Comment[bn]=অ্যাপলিকেশন-এ নতুন লিঙ্ক
Comment[br]=Liamm nevez ouzh un arload ...
Comment[bs]=Nova veza do programa
Comment[ca]=Nou enllaç a l'aplicació
Comment[cs]=Nový odkaz na aplikaci
Comment[cy]=Cyswllt Newydd i Gymhwysiad
Comment[da]=Nyt link til program
Comment[de]=Neue Verknüpfung mit Programm
Comment[el]=Νέος δεσμός με εφαρμογή
Comment[eo]=Nova ligo al aplikaĵo
Comment[es]=Nuevo enlace a aplicación
Comment[et]=Uus viit rakendusele
Comment[eu]=Aplikazioarekiko esteka berria
Comment[fa]=پیوندی جدید به برنامه
Comment[fi]=Uusi linkki sovellukseen
Comment[fr]=Nouveau lien vers une application
Comment[fy]=Nije keppeling naar toepassing
Comment[ga]=Nasc nua go feidhmchlár
Comment[gl]=Nova Ligazón a unha Aplicación
Comment[he]=קישור חדש ליישום
Comment[hi]=अनुप्रयोग को नई लिंक
Comment[hr]=Nova veza s aplikacijom
Comment[hu]=Alkalmazásra mutató új link
Comment[is]=Nýtt tengi við forrit
Comment[it]=Nuovo collegamento ad un'applicazione
Comment[ja]=新規アプリケーションリンク
Comment[lo]=ສ້າງລິ້ງໄປຍັງແອບພີເຄຊັ້ນໃຫມ່
Comment[lt]=Nauja programos nuoroda
Comment[lv]=Jauna Saite uz Aplikāciju
Comment[mk]=Нова врска до апликација
Comment[mn]=програмтай шинээр холбох
Comment[mt]=Link ġdid ġħal programm
Comment[nb]=Ny lenke til program
Comment[nds]=Niegen Link to'n Programm
Comment[nl]=Nieuwe koppeling naar toepassing
Comment[nn]=Ny lenkje til program
Comment[nso]=Kgokaganyo ye Ntshwa go Tshomiso
Comment[pa]=ਕਾਰਜ ਨਾਲ ਨਵਾਂ ਸੰਬੰਧ
Comment[pl]=Nowy skrót do programu
Comment[pt]=Novo Atalho para Aplicação
Comment[pt_BR]=Novo link para Aplicativo
Comment[ro]=Legătură nouă către aplicaţie
Comment[ru]=Новая ссылка на приложение
Comment[se]=Ođđa leaŋka prográmmii
Comment[sk]=Nový odkaz na aplikáciu
Comment[sl]=Nova povezava do programa
Comment[sr]=Нова веза ка програму
Comment[sr@Latn]=Nova veza ka programu
Comment[sv]=Ny länk till program
Comment[ta]=பயன்பாட்டுக்கான புதிய இணைப்பு
Comment[tg]=Пайванди нав ба барнома
Comment[th]=สร้างการเชื่อมโยงไปยังแอพพลิเคชันใหม่
Comment[tr]=Uygulamaya Yeni Bağlantı
Comment[uk]=Нове посилання на програму
Comment[uz]=Дастур билан янги боғ
Comment[ven]=Thumanyo ntswa kha apulifikhesheni
Comment[vi]=Tạo liên kết mới tới một chương trình
Comment[wa]=Novea loyén viè on programe
Comment[xh]=Ikhonkco Elitsha Lwesicelo
Comment[xx]=xxNew Link to Applicationxx
Comment[zh_CN]=新建应用程序链接
Comment[zh_TW]=新建應用程式連結
Comment[zu]=Isixhumanisi esisha esiya kumyaleli
Icon=exec
Type=Link
URL=.source/Program.desktop
