[Desktop Entry]
Encoding=UTF-8
Name=Floppy Device...
Name[x-test]=xxFloppy Device...xx
Comment=New Floppy Device
Comment[x-test]=xxNew Floppy Devicexx
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
