[Desktop Entry]
Name=Mime Type
Name[ca]=Tipus Mime
Name[cs]=Mime typ
Name[da]=Mimetype
Name[eo]=MIME-tipo
Name[es]=Tipo MIME
Name[fi]=Mimetyyppi
Name[fr]=Type MIME
Name[hr]=Mime tip
Name[hu]=Mime TÌpus
Name[is]=MIME-tag
Name[it]=Tipo MIME
Name[mi]=Mime TÌpus
Name[no]=Mimetype
Name[no_NY]=Mime-type
Name[pl]=Typ mime
Name[pt]=Tipo MIME
Name[pt_BR]=Tipo MIME
Name[ro]=Tip MIME
Name[ru]=Ù…– MIME
Name[sk]=MIME typ
Name[sl]=Tip MIME
Name[sr]=Mime Tip
Name[sv]=MIME-typ
MimeType=
DefaultApp=
Icon=unknown
Type=MimeType
Patterns=
