[Desktop Entry]
Name=Text File
Name[ca]=Fitxer de text
Name[cs]=Textový soubor
Name[da]=Tekst-fil
Name[de]=Textdatei
Name[eo]=Tekstdosiero
Name[et]=Tekstifail
Name[fi]=Tekstitiedosto
Name[fr]=Fichier texte
Name[he]=טסקט ץבוק
Name[hr]=Tekst datoteka
Name[hu]=Szöveges fájl
Name[it]=File di testo
Name[ja]=テキストファイル
Name[mk]=Текст-датотека
Name[nl]=Tekstbestand
Name[no]=Tekstfil
Name[no_NY]=Tekstfil
Name[pl]=Plik tekstowy
Name[pt]=Ficheiro de Texto
Name[pt_BR]=Arquivo-texto
Name[ro]=Fişier text
Name[ru]=Текстовый файл
Name[sl]=Besedilna datoteka
Name[sr]=Tekst fajl
Name[sv]=Textfil
Name[ta]=உைர பாரஂைவயாளரஂ
Name[tr]=Metin Dosyası
Name[uk]=Текстовий файл
Comment=New Text File
Type=Link
URL=.source/TextFile.txt
Icon=txt
