[Desktop Entry]
Name=Text File
Name[af]=TEKS LêER
Name[az]=Mətn Faylı
Name[bg]=Текстови файл
Name[br]=Restr skrid
Name[bs]=Tekst datoteka
Name[ca]=Fitxer de text
Name[cs]=Textový soubor
Name[da]=Tekst-fil
Name[de]=Textdatei
Name[el]=Αρχείο κειμένου
Name[eo]=Tekstdosiero
Name[es]=Archivo de texto
Name[et]=Tekstifail
Name[eu]=Textu Fitxategia
Name[fi]=Tekstitiedosto
Name[fr]=Fichier texte
Name[gl]=Ficheiro de Texto
Name[he]=טסקט ץבוק
Name[hr]=Tekst datoteka
Name[hu]=szöveges fájl
Name[is]=Textaskrá
Name[it]=File di testo
Name[ja]=テキストファイル
Name[ko]=글월 파일(txt)
Name[lt]=Teksto byla
Name[lv]=Teksta Fails
Name[mk]=Текст-датотека
Name[mt]=Fajl ta' text
Name[nl]=Tekstbestand
Name[no]=Tekstfil
Name[no_NY]=Tekstfil
Name[oc]=FiquièR de text
Name[pl]=Plik tekstowy
Name[pt_BR]=Arquivo-texto
Name[pt]=Ficheiro de Texto
Name[ru]=Текстовый файл
Name[sk]=Textový súbor
Name[sl]=Besedilna datoteka
Name[sr]=Tekst fajl
Name[sv]=Textfil
Name[ta]=¯¨Ãì §¸¡ôÒ
Name[tr]=Metin Dosyası
Name[uk]=Текстовий файл
Name[vi]=File text 
Name[zh_CN.GB2312]=文本文件
Name[zh_TW.Big5]=文字檔案
Comment=New Text File
Comment[af]=NUWE TEKS LêER
Comment[az]=Yeni Mətn Faylı
Comment[bg]=Нов текстови файл
Comment[br]=Restr skrid nevez
Comment[bs]=Nova tekstualna datoteka
Comment[ca]=Fitxer de text nou
Comment[cs]=Nový textový soubor
Comment[da]=Ny tekstfil
Comment[de]=Neue Textdatei
Comment[el]=Νέο Αρχείο Κειμένου
Comment[eo]=Nova tekstdosiero
Comment[es]=Nuevo archivo de texto
Comment[et]=Uus tekstifail
Comment[eu]=Textu Fitxategi Berria
Comment[fi]=Uusi tekstitiedosto
Comment[fr]=Nouveau fichier texte
Comment[gl]=Novo Ficheiro de Texto
Comment[he]=שדח טסקט ץבוק
Comment[hr]=Nova tekstualna datoteka
Comment[hu]=Új szövegfájl
Comment[is]=Ný textaskrá
Comment[it]=Nuovo file di testo
Comment[ja]=新規テキストファイル
Comment[ko]=새 글월 파일(txt)
Comment[lt]=Nauja teksto byla
Comment[lv]=Jauns teksta fails
Comment[mk]=Нова текст-датотека
Comment[mt]=Fajl ġdid ta' text
Comment[nl]=nieuw tekstbestand
Comment[no]=Ny tesktfil
Comment[no_NY]=Ny tekstfil
Comment[oc]=FiquièR de text nou
Comment[pl]=Nowy plik tekstowy
Comment[pt_BR]=Novo arquivo texto
Comment[pt]=Novo ficheiro de texto
Comment[ru]=Новый текстовый файл
Comment[sk]=Nový Textový Súbor
Comment[sl]=Nova besedilna datoteka
Comment[sr]=Novi tekst
Comment[sv]=Ny textfil
Comment[ta]=Ò¾¢Â ¯¨Ãì §¸¡ôÒ
Comment[tr]=Yeni Metin Dosyası
Comment[uk]=Новий текстовий файл
Comment[vi]=Tạo file text mới 
Comment[zh_CN.GB2312]=新建文本文件
Comment[zh_TW.Big5]=新文字檔案
Type=Link
URL=.source/TextFile.txt
Icon=txt
