[Desktop Entry]
Encoding=UTF-8
Name=Text File
Name[af]=teks lêer
Name[ar]=ملف نصي
Name[az]=Mətn Faylı
Name[be]=Тэкставы файл
Name[bg]=Текстови файл
Name[br]=Restr skrid
Name[bs]=Tekst datoteka
Name[ca]=Fitxer de text
Name[cs]=Textový soubor
Name[da]=Tekst-fil
Name[de]=Textdatei
Name[el]=Αρχείο κειμένου
Name[eo]=Tekstdosiero
Name[es]=Archivo de texto
Name[et]=Tekstifail
Name[eu]=Textu Fitxategia
Name[fi]=Tekstitiedosto
Name[fr]=Fichier texte
Name[gl]=Ficheiro de Texto
Name[he]=קובץ טקסט
Name[hr]=Tekst datoteka
Name[hu]=szöveges fájl
Name[id]=File Teks
Name[is]=Textaskrá
Name[it]=File di testo
Name[ja]=テキストファイル
Name[ko]=글월 파일(txt)
Name[lt]=Teksto byla
Name[lv]=Teksta Fails
Name[mk]=Текст-датотека
Name[mt]=Fajl ta' text
Name[nb]=Tekstfil
Name[nl]=Tekstbestand
Name[nn]=Tekstfil
Name[oc]=FiquièR de text
Name[pl]=Plik tekstowy
Name[pt]=Ficheiro de Texto
Name[pt_BR]=Arquivo-texto
Name[ro]=Fişier text
Name[ru]=Текстовый файл
Name[sk]=Textový súbor
Name[sl]=Besedilna datoteka
Name[sr]=Tekst fajl
Name[sv]=Textfil
Name[ta]=¯¨Ãì §¸¡ôÒ
Name[th]=แฟ้มข้อความ
Name[tr]=Metin Dosyası
Name[uk]=Текстовий файл
Name[ven]=FAela ya manwalwa
Name[vi]=File text 
Name[xh]=Ifayile yokubhaliweyo
Name[xx]=xx
Name[zh_CN]=文本文件
Name[zh_TW]=文字文件
Name[zu]=Ifayela Yokubhaliweyo
Comment=New Text File
Comment[af]=nuwe teks lêer
Comment[ar]=ملف نصي جديد
Comment[az]=Yeni Mətn Faylı
Comment[be]=Новы тэкставы файл
Comment[bg]=Нов текстови файл
Comment[br]=Restr skrid nevez
Comment[bs]=Nova tekstualna datoteka
Comment[ca]=Fitxer de text nou
Comment[cs]=Nový textový soubor
Comment[da]=Ny tekstfil
Comment[de]=Neue Textdatei
Comment[el]=Νέο Αρχείο Κειμένου
Comment[eo]=Nova tekstdosiero
Comment[es]=Nuevo archivo de texto
Comment[et]=Uus tekstifail
Comment[eu]=Textu Fitxategi Berria
Comment[fi]=Uusi tekstitiedosto
Comment[fr]=Nouveau fichier texte
Comment[gl]=Novo Ficheiro de Texto
Comment[he]=קובץ טקסט חדש
Comment[hr]=Nova tekstualna datoteka
Comment[hu]=Új szövegfájl
Comment[id]=File Teks Baru
Comment[is]=Ný textaskrá
Comment[it]=Nuovo file di testo
Comment[ja]=新規テキストファイル
Comment[ko]=새 글월 파일(txt)
Comment[lt]=Nauja teksto byla
Comment[lv]=Jauns teksta fails
Comment[mk]=Нова текст-датотека
Comment[mt]=Fajl ġdid ta' text
Comment[nb]=Ny tesktfil
Comment[nl]=Nieuw tekstbestand
Comment[nn]=Ny tekstfil
Comment[oc]=FiquièR de text nou
Comment[pl]=Nowy plik tekstowy
Comment[pt]=Novo ficheiro de texto
Comment[pt_BR]=Novo arquivo texto
Comment[ro]=Fişier text nou
Comment[ru]=Новый текстовый файл
Comment[sk]=Nový textový súbor
Comment[sl]=Nova besedilna datoteka
Comment[sr]=Novi tekst
Comment[sv]=Ny textfil
Comment[ta]=Ò¾¢Â ¯¨Ãì §¸¡ôÒ
Comment[th]=สร้างแฟ้มข้อความใหม่
Comment[tr]=Yeni Metin Dosyası
Comment[uk]=Новий текстовий файл
Comment[ven]=Manwalwa maswa a faela
Comment[vi]=Tạo file text mới 
Comment[xh]=Ifayile entsha yokubhaliweyo
Comment[xx]=xx
Comment[zh_CN]=新建文本文件
Comment[zh_TW]=新建文字文件
Comment[zu]=Ifayela Entsha Yokubhaliweyo
Type=Link
URL=.source/TextFile.txt
Icon=txt
