[Desktop Entry]
Name=World Wide Web URL
Name[eo]=TTT-adreso
Name[fi]=WWW-osoite
Name[hu]=Világháló (WWW) URL
Name[no]=Verdensvev-URL
Name[sl]=Spletni vir (URL)
URL=http://www.kde.org
Icon=filesystems/www
Type=Link

