[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ShortURIFilter
Name[x-test]=xxShortURIFilterxx
X-KDE-Library=libkshorturifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=5
