[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openProfile filemanagement
Icon=folder_home
Terminal=false

Name=Home
Name[x-test]=xxHomexx

GenericName=Personal Files
GenericName[x-test]=xxPersonal Filesxx
Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
