[Desktop Entry]
Encoding=UTF-8
# This desktop file is the one used by KApplication::invokeBrowser
Type=Application
Exec=kfmclient openURL %u
Icon=konqueror
Terminal=false
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[x-test]=xxKonquerorxx
X-DCOP-ServiceType=None
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
