[Desktop Entry]
Type=Application
Exec=kfmclient openURL %u
Icon=kfm
DocPath=konqueror/index.html
MimeType=text/html;inode/directory
InitialPreference=9

Name=File Manager
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filmanager
Name[de]=Dateimanager
Name[eo]=Dosieradministrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[he]=םיצבקה להנמ
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[is]=Skráastjóri
Name[it]=File manager
Name[ja]=ファイルマネージャ
Name[mk]=Менаџер на датотеки
Name[nl]=Bestandsbeheerder
Name[no]=Filbehandler
Name[no_NY]=Filbehandsamar
Name[pt]=Gestor de Ficheiros
Name[ro]=Manager de fişiere
Name[ru]=Файл менеджер
Name[sl]=Upravljalnik datotek
Name[sr]=Fajl MenadĹžer
Name[sv]=Filhanterare
Name[ta]=ேகாபஂபு ேமலாளரஂ
Name[tr]=Dosya Yöneticisi
XClassHintResName=konqueror
