[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u text/html
Icon=konqueror
Terminal=false
MimeType=text/html;application/xhtml+xml;text/xml;
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[x-test]=xxKonquerorxx
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
