[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u inode/directory
Icon=konqueror
Terminal=false
MimeType=inode/directory
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[x-test]=xxKonquerorxx
Categories=Qt;KDE;System;
