[Desktop Entry]
# This desktop file is the one used by KApplication::invokeBrowser
Type=Application
Exec=kfmclient openURL %u
Icon=konqueror
Terminal=0
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[af]=konqueror
Name[ara]=كونكيورر
Name[eo]=Konkeranto
Name[ko]=컹커러
Name[lv]=Iekarotājs
Name[ta]=¸¡ý¦¸¡Ã÷
Name[xxx]=xx
X-DCOP-ServiceType=Multi
