[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u text/html
Icon=konqueror
Terminal=0
MimeType=text/html
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[af]=konqueror
Name[ar]=كونكيورر
Name[eo]=Konkeranto
Name[ko]=컹커러
Name[lv]=Iekarotājs
Name[ta]=¸¡ý¦¸¡Ã÷
Name[xx]=xx
