[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u application/x-webarchive
Icon=konqueror
Terminal=false
MimeType=application/x-webarchive
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[x-test]=xxKonquerorxx
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
