[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=konqueror --profile filemanagement
DocPath=konqueror/index.html
Icon=kfm
X-KDE-SubstituteUID=true

Name=File Manager - Super User Mode
Name[x-test]=xxFile Manager - Super User Modexx


Categories=Qt;KDE;System;X-KDE-More;
