[Desktop Entry]
Name=Konqueror
Name[eo]=Konkeranto
Name[pt_BR]=Conquistador
Name[sv]=Erövraren
Exec=konqueror
CORBAExec=konqueror --server
Comment=KDE File Manager & Web Browser
Comment[de]=KDE Dateimanager & Webbrowser
Comment[eo]=Dosieradministrilo kaj TTT-legilo de KDE
Comment[fi]=KDE Tiedostohallinta & www-selain
Comment[hu]=KDE Fájlkezelõ és Világháló Böngészõ
Comment[ja]=KDE¥Õ¥¡¥¤¥ë¥Þ¥Í¡¼¥¸¥ã¡¼&¥¦¥§¥Ö¥Ö¥é¥¦¥¶¡¼
Comment[pl]=KDE Mened¿er plików i przegl±darka HTML
Comment[pt_BR]=Gerenciador de Arquivos & Navegador Web
Comment[sv]=KDE:s filhanterare och webläsare
X-KDE-RepoIds=IDL:Konqueror/Application:1.0#App,IDL:Browser/BrowserFactory:1.0#Konqueror
X-KDE-ActivationMode=shared
Icon=konqueror.png
MiniIcon=konqueror.png
ServiceTypes=Browser
