<HTML>
<HEAD>
</HEAD>
<BODY>
<P> %1<!-- Insert the URL you want to browse in the above edit-field. --></P>
<BR>
<P>
<img src="%1"><!-- Konqueror-Logo -->
</P>
<BR>
<P>
%1
<!--
Konqueror supports:
-->
</P>

<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=1>
        <TR ALIGN=LEFT VALIGN=MIDDLE BGCOLOR="000000" HEIGHT=6>
                <TD>
                        <FONT SIZE="2" COLOR=#FFFFFF>&nbsp; %1<!-- SPECIFICATIONS --></FONT>
                </TD>
        </TR><TR><TD>



<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 id=tbk>
        <TR BGCOLOR="#DADADA">
                <TH WIDTH=40%>%1<!-- Supported standards --></TH>
                <TH>%1<!-- Additional requirements*--></TH>
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1<!-- DOM (Level 1, partially Level 2) based HTML 4.01</A>--></TD>
                <TD>%1<!-- built-in --></TD>
        </TR>
        <TR>
                <TD>%1<!-- Cascading Style Sheets (CSS 1, partially CSS 2) --></TD>
                <TD>%1<!-- built-in --></TD>
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1<!-- ECMA-262 Edition 3 (equals roughly Javascript 1.5) --></TD>
<NOSCRIPT>
                <TD>%1<!-- Javascript disabled [...] --></TD>
</NOSCRIPT>
<SCRIPT LANGUAGE="Javascript">
                document.write("<TD>%1</TD>"); // Javascript enabled [...]
</SCRIPT>
        </TR>
        <TR>
                <TD>%1<!-- Secure Java support--></TD>
                <TD>
                        <UL>
                                <LI>%1</LI><!-- JDK 1.2.0 (Java 2) compatible VM (Blackdown, IBM, Kaffe or Sun) --> 
                                <LI>%1</LI><!-- Enable Java (globally) here</A> -->
                        </UL>
                </TD>
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1</TD><!-- Netscape Communicator plugins (for viewing Flash, RealAudio, RealVideo etc.) -->
                <TD>%1</TD><!-- OSF/Motif-compatible library (Open Motif or LessTif) -->
        </TR>
        <TR>
                <TD>%1</TD><!-- Secure Sockets Layer (TLS/SSL v2/3) for secure communications up to 168bit -->
                <TD>%1</TD><!-- OpenSSL -->
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1</TD><!-- Bidirectional 16bit unicode support -->
                <TD>%1</TD><!-- built-in -->
        </TR>
        <TR>
                <TD>%1<!-- Image formats: -->
                <UL>
                %1<!--
                <LI>PNG</LI>
                <LI>MNG</LI>
                <LI>JPG</LI>
                <LI>GIF</LI>-->
                </UL>
                </TD>
                <TD>%1</TD><!-- built-in -->
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1<!-- Transfer protocols:-->
                <UL>
                <LI>%1<!--HTTP 1.1 (including gzip/bzip2 compression)--></LI>
                <LI>%1<!--FTP--></LI>
                <LI>%1<!--and many more--></LI>
                </TD>
                <TD>%1</TD><!-- built-in -->
        </TR>
        <TR>
                <TD>%1</TD><!-- XBEL bookmarks -->
                <TD>%1</TD><!-- built-in -->
        </TR>
        <TR BGCOLOR="#FFFFCC">
                <TD>%1</TD><!-- Favourite icon support -->
                <TD>%1</TD><!-- built-in -->
        </TR>
        <TR>
                <TD>%1</TD><!-- Internet Keywords -->
                <TD>%1</TD><!-- built-in -->
        </TR>
</TABLE>

</TD></TR></TABLE>


<BR>

</BODY>
</HTML>
