[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openProfile webbrowsing
Icon=konqueror
DocPath=konqueror/index.html

Name=Konqueror
Name[x-test]=xxKonquerorxx
GenericName=Web Browser
GenericName[x-test]=xxWeb Browserxx
Categories=Qt;KDE;Network;
