[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=kfmclient openProfile filemanagement
Icon=kfm
DocPath=konqueror/index.html

Name=File Manager
Name[fr]=Gestionnaire de fichiers
Name[x-test]=xxFile Managerxx
