[Desktop Entry]
X-KDE-ServiceType=Konqueror/EventFilter

[PropertyDef::RequiredInterfaces]
Type=QStringList

[PropertyDef::Events]
Type=QStringList

[PropertyDef::SupportsGUIConfig]
Type=bool
