[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=TreeView
MimeType=inode/directory
Name=KonqTreeView
ServiceTypes=Browser/View
X-KDE-Library=libkonqtreeview
