[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=kcmshell --caption %c %i filebehavior fileappearance filepreviews filetypes khtml_behavior khtml_java_js khtml_fonts ebrowsing kcmhistory cookies cache proxy kcmcss crypto useragent khtml_plugins kcmkonqyperformance
Icon=konqueror
DocPath=konqueror/index.html
Name=Configure Konqueror
Name[af]=Konfigureer Konqueror
Name[ar]=اعدادات كونكيورر
Name[az]=Konqueror'u Quraşdır
Name[be]=Настроіць Konqueror
Name[bg]=Настройки на Konqueror
Name[bn]=কনকরার কনফিগার করো
Name[br]=Kefluniañ Konqueror
Name[bs]=Podesi Konqueror
Name[ca]=Configura el Konqueror
Name[cs]=Nastavit Konqueror
Name[cy]=Ffurfweddu Konqueror
Name[da]=Indstil Konqueror
Name[de]=Konqueror einrichten
Name[el]=Ρύθμιση Konqueror
Name[eo]=Agordo de Konkeranto
Name[es]=Configuración de Konqueror
Name[et]=Konquerori seadistamine
Name[eu]=Konqueror Konfiguratu
Name[fa]=تنظیم کانکرر
Name[fi]=Konquerorin asetukset
Name[fr]=Configuration de Konqueror
Name[gl]=Configurar Konqueror
Name[he]=הגדרות Konqueror
Name[hi]=कॉन्क्वेरर कॉन्फ़िगर करें
Name[hr]=Podesi Konqueror
Name[hu]=A Konqueror beállítása
Name[id]=Pengaturan Konqueror
Name[is]=Stilla Konqueror
Name[it]=Configura Konqueror
Name[ja]=Konquerorの設定
Name[ko]=컹커러 설정
Name[lo]=ປັບແຕ່ງ Konqueror
Name[lt]=Konfigūruoti Konqueror
Name[lv]=Konfigurēt Iekarotāju
Name[mn]=Конкюрор тохируулах
Name[mt]=Ikkonfigura Konqueror
Name[nb]=Tilpass Konqueror
Name[nds]=Konqueror instellen
Name[nl]=Konqueror instellen
Name[nn]=Set opp Konqueror
Name[nso]=Beakanya Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja Konquerora
Name[pt]=Configuração do Konqueror
Name[pt_BR]=Configurar o Konqueror
Name[ro]=Configurează Konqueror
Name[ru]=Настройка Konqueror
Name[se]=Heivet Konqueror
Name[sk]=Nastavenie Konquerora
Name[sl]=Nastavi Konqueror
Name[sr]=Подеси Konqueror
Name[sr@Latn]=Podesi Konqueror
Name[sv]=Anpassa Konqueror
Name[ta]=கான்கொரரை வடிவமை
Name[tg]=Танзими Konqueror
Name[th]=ปรับแต่งคอนเควอร์เรอร์
Name[tr]=Konqueror'u Yapılandır
Name[uk]=Налаштувати Konqueror
Name[uz]=Konqueror мосламаси
Name[ven]=Lugiselani Konqueror
Name[vi]=Cấu hình Konqueror
Name[wa]=Apontyî Konqueror
Name[xh]=Qwalasela i Konqueror
Name[xx]=xxConfigure Konquerorxx
Name[zh_CN]=配置 Konqueror
Name[zh_TW]=設定 Konqueror
Name[zu]=Hlanganisela i-Konqueror
