<!DOCTYPE QConfig ><QConfig>
<MenuBar>
 <Menu name="File"><text>&File</text>
  <Part/>
  <Action name="konqueror_shell_close"/>
  <Action name="konqueror_shell_quit"/>
 </Menu>
 <Part/>
 <Menu name="Help"><text>&Help</text>
  <Part/>
  <Action name="konqueror_shell_aboutkde"/>
 </Menu>
</MenuBar>
<ToolBars>
</ToolBars>
</QConfig>

