<!DOCTYPE kpartgui><kpartgui name="Konqueror">
<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Action name="new_menu"/>
  <Action name="new_window"/>
  <Separator/>
  <Action name="run"/>
  <Action name="open_terminal"/>
  <Action name="open_location"/>
  <Action name="find"/>
  <Separator/>
  <Action name="print"/>
  <Separator/>
  <Action name="close"/>
 </Menu>
 <Menu name="edit"><text>&amp;Edit</text>
  <Action name="cut"/>
  <Action name="copy"/>
  <Action name="paste"/>
  <Action name="trash"/>
  <Action name="del"/>
  <Action name="shred"/>
  <WeakSeparator/>
  <Merge name="openwith"/>
  <Merge/>
 </Menu>
 <Menu name="view"><text>&amp;View</text>
  <Merge name="viewmode"/>
  <Action name="usehtml"/>
  <Separator/>
  <Action name="reload"/>
  <Action name="stop" />
  <WeakSeparator/>
  <Merge/>
 </Menu>
 <Menu name="go"><text>&amp;Go</text>
  <Action name="up"/>
  <Action name="back"/>
  <Action name="forward"/>
  <Action name="home"/>
  <Separator/>
  <Action name="go_mimetypes"/>
  <Action name="go_applications"/>
  <Action name="go_dirtree"/>
  <Action name="go_trash"/>
  <Separator/>
 </Menu>
 <Action name="bookmarks"/>
 <Menu name="settings"><text>&amp;Settings</text>
  <Action name="showmenubar"/>
  <Action name="showtoolbar"/>
  <Action name="showlocationbar"/>
  <Action name="showbookmarkbar"/>
  <Separator/>
  <Merge name="toggleview" />
  <Separator/>
  <Action name="savePropertiesAsDefault"/>
  <Action name="saveLocalProperties"/>
  <Separator/>
  <Menu name="configure"><text>&amp;Configure</text>
    <Action name="configurefilemanager"/>
    <Action name="configurebrowser"/>
    <Action name="configurefiletypes"/>
    <Action name="configurenetwork"/>
    <Separator/>
    <Action name="configurekeys"/>
    <Action name="configuretoolbars"/>
  </Menu>
 </Menu>
 <Menu name="window"><text>&amp;Window</text>
  <Action name="splitviewh"/>
  <Action name="splitviewv"/>
  <Action name="splitwindowh"/>
  <Action name="splitwindowv"/>
  <Action name="removeview"/>
  <Separator/>
  <Action name="savedefaultprofile"/>
  <Separator/>
  <Action name="saveremoveviewprofile"/>
  <Action name="loadviewprofile"/>
  <Separator/>
  <Action name="fullscreenstart"/>
 </Menu>
 <Merge/>
 <Separator/>
 <Menu name="help"><text>&amp;Help</text>
  <Merge />
  <Action name="contents"/>
  <Action name="whats_this"/>
  <Separator/>
  <Action name="report_bug"/>
  <Separator/>
  <Action name="about_app"/>
  <Action name="about_kde"/>
 </Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
 <Action name="up"/>
 <Action name="back"/>
 <Action name="forward"/>
 <Action name="home"/>
 <Separator/>
 <Action name="reload"/>
 <Separator/>
 <Action name="cut"/>
 <Action name="copy"/>
 <Action name="paste"/>
 <Action name="print"/>
 <Separator/>
 <Action name="stop"/>
 <Separator/>
 <Merge/>
 <Separator/>
 <Action name="animated_logo"/>
</ToolBar>
<ToolBar fullWidth="true" name="locationToolBar" >
  <Action name="location_label" />
  <Action name="toolbar_url_combo" />
</ToolBar>
<ToolBar fullWidth="true" name="bookmarkToolBar" />
</kpartgui>

