[Desktop Entry]
X-KDE-ServiceType=Konqueror/KOMPlugin

[PropertyDef::X-KDE-KonqKOM-RequiredInterfaces]
Type=QStringList

[PropertyDef::X-KDE-KonqKOM-ProvidedInterfaces]
Type=QStringList

[PropertyDef::X-KDE-KonqKOM-UseNamingService]
Type=bool

[PropertyDef::X-KDE-KonqKOM-KNamingServiceName]
Type=QString
