[Desktop Entry]
Type=Service
Name=Konqueror
Name[eo]=Konkeranto
Name[hr]=Konquerer
Name[pt_BR]=Conquistador
Name[sv]=Erövraren
Exec=konqueror
Comment=KDE File Manager & Web Browser
Comment[ca]=Gestor de fitxers KDE i fullejador web
Comment[eo]=Dosieradministrilo kaj TTT-legilo de KDE
Comment[fi]=KDE Tiedostohallinta & www-selain
Comment[hr]=KDE Upravitelj Datoteka & Preglednik Weba
Comment[hu]=KDE Fájlkezelõ és Világháló Böngészõ
Comment[ja]=KDE¥Õ¥¡¥¤¥ë¥Þ¥Í¡¼¥¸¥ã¡¼&¥¦¥§¥Ö¥Ö¥é¥¦¥¶¡¼
Comment[mi]=KDE Fájlkezelõ és Világháló Böngészõ
Comment[no_NY]=KDE Filbehandlar & nettlesar
Comment[pl]=KDE Mened¿er plików i przegl±darka HTML
Comment[pt_BR]=Gerenciador de Arquivos & Navegador Web
Comment[sr]=KDE Fajl Menad¾er i Web Pretra¾ivaè
Comment[sv]=KDE:s filhanterare och webläsare
X-KDE-Library=libkonqueror
Icon=konqueror
MiniIcon=konqueror
ServiceTypes=Konqueror
