[Desktop Entry]
Type=Application
Exec=kfmclient openProfile webbrowsing
Icon=konqueror
DocPath=konqueror/index.html

Name=Konqueror Web Browser
Name[af]=konqueror web blaaier
Name[ara]=متصفح كونكيورر
Name[az]=Konqueror Veb Səyyahı
Name[bg]=WWW-броузер Konqueror
Name[br]=Furcher Gwiad Konqueror
Name[bs]=Konqueror web preglednik
Name[ca]=Fullejador Web Konqueror
Name[cs]=Internetový prohlížeč Konqueror
Name[da]=Konqueror Netsøger
Name[de]=Web-Browser Konqueror
Name[el]=Φυλλομετρητής Konqueror
Name[eo]=Tuttera Teksaĵo
Name[es]=Navegador Web Konqueror
Name[et]=Veebibrauser Konqueror
Name[eu]=Konqueror Web Arakatzailea
Name[fi]=Konqueror WWW-selain
Name[fr]=Navigateur web Konqueror
Name[gl]=Navegador Web Konqueror
Name[he]=דפדפן הרשת Konqueror
Name[hr]=Konqueror web preglednik
Name[hu]=Konqueror internetböngésző
Name[id]=Browser web Konqueror
Name[ind]=Browser web Konqueror
Name[is]=Konqueror vefsjáin
Name[it]=Konqueror
Name[ko]=컹커러 웹 탐색기
Name[lt]=Konqueror Web naršyklė
Name[lv]=Iekarotājs Web Pārlūks
Name[mk]=Разгледувачот Konqueror
Name[mt]=Web Browser Konqueror
Name[nl]=Konqueror Webbrowser
Name[no]=Konqueror Webleser
Name[no_NY]=Nettlesaren Konqueror
Name[oc]=Navigador Web Konqueror
Name[pl]=Przeglądarka Konqueror
Name[pt]=Navegador Konqueror
Name[pt_BR]=Navegador Web
Name[ru]=WWW-броузер Konqueror
Name[sk]=Web Priehliadač Konqueror
Name[sl]=Brskalnik Konqueror
Name[sr]=Konqueror Web čitač
Name[sv]=Webbläsaren Konqueror
Name[ta]=¸¡ý¦¸¡Ã÷ Å¨Ä ¯Ä¡Å¢
Name[th]=เวบบราวเซอร์ Konqueror
Name[tr]=Konqueror Web Tarayıcı
Name[vi]=Trình duyệt web Konqueror 
Name[xxx]=xx
Name[zh_CN.GB2312]=Konqueror Web 浏览器
Name[zh_TW.Big5]=Konqueror Web 瀏覽器
