[Profile]
Container0_Children=View1,Container2
Container0_Orientation=Horizontal
Container0_SplitterSizes=166,866
Container2_Children=View5,View6
Container2_Orientation=Horizontal
Container2_SplitterSizes=295,493
Height=550
Name=File Preview
Name[af]=Lêer Voorskou
Name[ar]=معاينة الملف
Name[az]=Fayl Nümayişi
Name[be]=Прагляд файлаў
Name[bn]=ফাইল প্রাকদর্শন
Name[br]=Rakgwel restr
Name[bs]=Pregled datoteke
Name[ca]=Previsualitza el fitxer
Name[cs]=Náhled souboru
Name[cy]=Rhagolwg Ffeil
Name[da]=Filforhåndsvisning
Name[de]=Dateivorschau
Name[el]=Προεπισκόπηση αρχείων
Name[eo]=Dosierantaŭrigardo
Name[es]=Vista previa de archivo
Name[et]=Faili eelvaatlus
Name[eu]=Fitxategiaren aurreikuspena
Name[fa]=پیش‌نمایش پرونده
Name[fi]=Tiedoston esikatselu
Name[fr]=Aperçu de fichier
Name[fy]=Triem foarbyld
Name[ga]=Réamhamharc Comhaid
Name[gl]=Previsualización de Ficheiros
Name[he]=תצוגת קבצים מקדימה
Name[hi]=फ़ाइल पूर्वावलोकन
Name[hr]=Pregled datoteke
Name[hu]=Fájlkezelés előnézettel
Name[id]=Kilasan berkas
Name[is]=Prentsýn
Name[it]=Anteprima file
Name[ja]=ファイルプレビュー
Name[ko]=파일 미리보기
Name[lo]=ສະແດງຕົວຢ່າງແຟ້ມ
Name[lt]=Bylų peržiūra
Name[lv]=Failu Apskate
Name[mk]=Преглед на датотеки
Name[mn]=Файл урьд. харах
Name[mt]=Previżjoni tal-Fajl
Name[nb]=Filvisning
Name[nds]=Datei-Vöransicht
Name[nl]=Bestandsvoorbeeld
Name[nn]=Filvising
Name[nso]=Ponelopele ya Faele
Name[pa]=ਫਾਇਲ਼ ਨਮੂਨਾ
Name[pl]=Podgląd plików
Name[pt]=Previsão de Ficheiros
Name[pt_BR]=Pré-visualização de arquivo
Name[ro]=Previzualizare fişiere
Name[ru]=Предварительный просмотр файлов
Name[se]=Fiilačájeheapmi
Name[sk]=Prehliadanie súborov
Name[sl]=Datoteka za ogled
Name[sr]=Преглед фајлова
Name[sr@Latn]=Pregled fajlova
Name[sv]=Förhandsgranska fil
Name[ta]=கோப்பு முன்காட்சி
Name[tg]=Пешнамоиши файл
Name[th]=แสดงตัวอย่างแฟ้ม
Name[tr]=Dosya Önizleme
Name[uk]=Перегляд файлів
Name[uz]=Файлни кўриб чиқиш
Name[ven]=Mbonelephanda ya Faela
Name[vi]=Duyệt trước file
Name[xh]=Imboniselo yasekuqaleni Yefayile
Name[xx]=xxFile Previewxx
Name[zh_CN]=文件预览
Name[zh_TW]=檔案預覽
Name[zu]=Umbukiso wangaphambili wefayela
RootItem=Container0
View1_LinkedView=true
View1_LockedLocation=false
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View1_URL=$HOME
View5_LinkedView=true
View5_LockedLocation=true
View5_PassiveMode=false
View5_ServiceName=konq_iconview
View5_ServiceType=inode/directory
View5_ToggleView=false
View5_URL=$HOME
View6_LinkedView=true
View6_LockedLocation=false
View6_PassiveMode=false
View6_ServiceName=katepart
View6_ServiceType=text/plain
View6_ToggleView=false
View6_URL=
Width=800
