[Profile]
Container0_Children=View1,Container2
Container0_Orientation=Horizontal
Container0_SplitterSizes=166,866
Container2_Children=View5,View6
Container2_Orientation=Horizontal
Container2_SplitterSizes=295,493
Height=550
Name=File Preview
Name[fr]=Aperçu de fichier
Name[x-test]=xxFile Previewxx
RootItem=Container0
View1_LinkedView=true
View1_LockedLocation=false
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View1_URL=$HOME
View5_LinkedView=true
View5_LockedLocation=true
View5_PassiveMode=false
View5_ServiceName=konq_iconview
View5_ServiceType=inode/directory
View5_ToggleView=false
View5_URL=$HOME
View6_LinkedView=true
View6_LockedLocation=false
View6_PassiveMode=false
View6_ServiceName=katepart
View6_ServiceType=text/plain
View6_ToggleView=false
View6_URL=
Width=800
