[Profile]
Container0_Children=View1,View2
Container0_Orientation=Horizontal
Container0_SplitterSizes=30,100
Name=File Management
Name[ca]=Gestió de fitxers
Name[cs]=Správa souborů
Name[da]=Filhåndtering
Name[de]=Dateimanagement
Name[el]=Διαχείριση Αρχείων
Name[eo]=Dosieradministrilo
Name[es]=Administración de Archivos
Name[et]=Failihaldur
Name[fi]=Tiedostonhallinta
Name[fr]=Gestion de fichiers
Name[gl]=Xestión de Ficheiros
Name[he]=םיצבק לוהינ
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelés
Name[is]=Skráastjóri
Name[it]=Gestione file
Name[ja]=ファイルマネージメント
Name[mk]=Менаџер на датотеки
Name[nl]=Bestandsbeheer
Name[no]=Filbehandling
Name[no_NY]=Filbehandling
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de arquivos
Name[ro]=Manager de fişiere
Name[ru]=Управление файлами
Name[sk]=Správca Súborov
Name[sl]=Upravljanje datotek
Name[sv]=Filhantering
Name[ta]=§¸¡ôÒ §ÁÄ¡ñ¨Á
Name[tr]=Dosya Yöneticisi
Name[uk]=Керування файлами
Name[zh_CN.GB2312]=文件管理
RootItem=Container0
View1_LinkedView=true
View1_PassiveMode=true
View1_ServiceName=konq_dirtree
View1_ServiceType=Browser/View
View1_ToggleView=true
View2_LinkedView=true
View2_PassiveMode=false
View2_ServiceName=konq_iconview
View2_ServiceType=inode/directory
View2_URL=$HOME
