[Profile]
Container0_Children=View1,Container2
Container0_Orientation=Horizontal
Container0_SplitterSizes=166,866
Container2_Children=View5,View6
Container2_Orientation=Horizontal
Container2_SplitterSizes=295,493
Height=550
Name=File Preview
Name[af]=lêer voorskou
Name[ar]=مراجعة الملفات
Name[az]=Fayl Nümayişi
Name[be]=Прагляд файлаў
Name[bg]=Предварителен преглед на файлове
Name[bs]=Pregled datoteke
Name[cs]=Náhled souboru
Name[da]=Filforhåndsvisning
Name[de]=Dateivorschau
Name[el]=Προεπισκόπηση Αρχείων
Name[eo]=Dosierantaŭrigardo
Name[es]=Vista previa de archivo
Name[et]=Faili eelvaatlus
Name[eu]=Fitxategia Aurreikusi
Name[fi]=Tiedoston esikatselu
Name[fr]=Aperçu de fichier
Name[he]=תצוגת קבצים מקדימה
Name[hu]=Fájl-előnézet
Name[id]=Kilasan berkas
Name[is]=Prentsýn
Name[it]=Anteprima file
Name[ja]=ファイルプレビュー
Name[ko]=파일 미리보기
Name[lt]=Bylų peržiūra
Name[lv]=Failu Apskate
Name[mt]=Previżjoni tal-Fajl
Name[nb]=Filforhåndsvisning
Name[nl]=Bestandsvoorbeeld
Name[nn]=Filvising
Name[pl]=Podgląd plików
Name[pt]=Previsão de Ficheiros
Name[pt_BR]=Previsão de arquivo
Name[ro]=Previzualizare fişiere
Name[ru]=Предварительный просмотр файлов
Name[sk]=Prehliadanie súborov
Name[sl]=Datoteka za predogled
Name[sr]=Pregled fajlova
Name[sv]=Förhandsgranska fil
Name[ta]=§¸¡ôÒ Óý§É¡ð¼õ
Name[th]=แสดงตัวอย่างแฟ้ม
Name[tr]=Dosya Önizleme
Name[uk]=Перегляд файлів
Name[ven]=Mbonelephanda ya Faela
Name[vi]=Duyệt trước file 
Name[xh]=Imboniso yefayile
Name[xx]=xx
Name[zh_CN]=文件预览
Name[zh_TW]=文件預覽
Name[zu]=Umboniso Wokuqal wefayela
RootItem=Container0
View1_LinkedView=true
View1_LockedLocation=false
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View1_URL=$HOME
View5_LinkedView=true
View5_LockedLocation=true
View5_PassiveMode=false
View5_ServiceName=konq_iconview
View5_ServiceType=inode/directory
View5_ToggleView=false
View5_URL=$HOME
View6_LinkedView=true
View6_LockedLocation=false
View6_PassiveMode=false
View6_ServiceName=katepart
View6_ServiceType=text/plain
View6_ToggleView=false
View6_URL=
Width=800
