[Profile]
FullScreen=false
Name=KDE Development
Name[az]=KDE İnkişafı
Name[be]=Распрацоўка KDE
Name[bn]=কে.ডি.ই. ডেভেলপমেন্ট
Name[bs]=KDE programiranje
Name[ca]=Desenvolupament KDE
Name[cs]=Vývoj KDE
Name[cy]=Datblygu KDE
Name[da]=KDE-Udvikling
Name[de]=KDE-Entwicklung
Name[el]=Ανάπτυξη του KDE
Name[eo]=KDE-Programado
Name[es]=Desarrollo de KDE
Name[et]=KDE arendus
Name[eu]=KDEren garapena
Name[fi]=KDE:n kehitystyökalut
Name[fr]=Développement de KDE
Name[ga]=Forbairt KDE
Name[gl]=Desenvolvemento de KDE
Name[he]=פיתוח של KDE
Name[hr]=KDE razvoj
Name[hu]=KDE-s fejlesztés
Name[is]=KDE þróun
Name[it]=Sviluppo KDE
Name[ja]=KDE開発
Name[mk]=KDE развој
Name[mt]=Żvilupp KDE
Name[nb]=KDE-utvikling
Name[nds]=KDE-Entwickeln
Name[nl]=KDE-ontwikkeling
Name[nn]=KDE-utvikling
Name[pa]=KDE ਵਿਕਾਸਵਾਦੀ
Name[pl]=Rozwijanie KDE
Name[pt]=Desenvolvimento KDE
Name[pt_BR]=Desenvolvimento do KDE
Name[ro]=Dezvoltare KDE
Name[ru]=Разработка в KDE
Name[sk]=Vývoj KDE
Name[sl]=Razvoj KDE
Name[sr]=KDE развој
Name[sr@Latn]=KDE развој
Name[sv]=KDE-utveckling
Name[ta]=KDE உருவாக்கம்
Name[th]=พัฒนาโปรแกรม KDE
Name[tr]=KDE Geliştirme
Name[uk]=Розробка KDE
Name[uz]=KDE учун дастурлаштириш
Name[wa]=Diswalpaedje KDE
Name[xx]=xxKDE Developmentxx
Name[zh_CN]=KDE 开发
RootItem=Tabs0
Tabs0_Children=ViewT0,ViewT1,ViewT2,ViewT3,ViewT4
Tabs0_activeChildIndex=0
ViewT0_LinkedView=false
ViewT0_LockedLocation=false
ViewT0_PassiveMode=false
ViewT0_ServiceName=khtml
ViewT0_ServiceType=text/html
ViewT0_ToggleView=false
ViewT0_URL=http://api.kde.org/
ViewT1_LinkedView=false
ViewT1_LockedLocation=false
ViewT1_PassiveMode=false
ViewT1_ServiceName=khtml
ViewT1_ServiceType=text/html
ViewT1_ToggleView=false
ViewT1_URL=http://doc.trolltech.com/
ViewT2_LinkedView=false
ViewT2_LockedLocation=false
ViewT2_PassiveMode=false
ViewT2_ServiceName=khtml
ViewT2_ServiceType=text/html
ViewT2_ToggleView=false
ViewT2_URL=http://bugs.kde.org/
ViewT3_LinkedView=false
ViewT3_LockedLocation=false
ViewT3_PassiveMode=false
ViewT3_ServiceName=khtml
ViewT3_ServiceType=text/html
ViewT3_ToggleView=false
ViewT3_URL=man:/gcc
ViewT4_LinkedView=false
ViewT4_LockedLocation=false
ViewT4_PassiveMode=false
ViewT4_ServiceName=khtml
ViewT4_ServiceType=text/html
ViewT4_ToggleView=false
ViewT4_URL=info:/dir
Width=80%
Height=80%
