[Profile]
FullScreen=false
Name=Tabbed Browsing
Name[x-test]=xxTabbed Browsingxx
RootItem=Tabs0
Tabs0_Children=ViewT0,ViewT1,ViewT2,ViewT3
Tabs0_activeChildIndex=0
ViewT0_LinkedView=false
ViewT0_LockedLocation=false
ViewT0_PassiveMode=false
ViewT0_ServiceName=khtml
ViewT0_ServiceType=text/html
ViewT0_ToggleView=false
ViewT0_URL=http://www.kde.org/
ViewT1_LinkedView=false
ViewT1_LockedLocation=false
ViewT1_PassiveMode=false
ViewT1_ServiceName=khtml
ViewT1_ServiceType=text/html
ViewT1_ToggleView=false
ViewT1_URL=http://dot.kde.org/
ViewT2_LinkedView=false
ViewT2_LockedLocation=false
ViewT2_PassiveMode=false
ViewT2_ServiceName=khtml
ViewT2_ServiceType=text/html
ViewT2_ToggleView=false
ViewT2_URL=http://themes.kde.org/
ViewT3_LinkedView=false
ViewT3_LockedLocation=false
ViewT3_PassiveMode=false
ViewT3_ServiceName=khtml
ViewT3_ServiceType=text/html
ViewT3_ToggleView=false
ViewT3_URL=http://www.kde-apps.org/
Width=80%
Height=80%
