[Profile]
Container0_Children=View1,View2
Container0_Orientation=Horizontal
Container0_SplitterSizes=30,100
Name=File Management
Name[fr]=Gestion de fichiers
Name[x-test]=xxFile Managementxx
RootItem=Container0
View1_LinkedView=true
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View2_LinkedView=true
View2_PassiveMode=false
View2_ServiceName=konq_iconview
View2_ServiceType=inode/directory
View2_URL=$HOME
