[Desktop Entry]
Name=KonqSearcher
Name[ca]=Cercador
Name[hu]=KonqKeresõ
Name[sv]=Erövringssökaren
X-KDE-Library=libkonqsearcher
ServiceTypes=Konqueror/Plugin
