[Profile]
Container0_Children=View1,View2
Container0_Orientation=Horizontal
Container0_SplitterSizes=30,70
RootItem=Container0
View1_PassiveMode=true
View1_ServiceName=KonqDirTree
View1_ServiceType=inode/directory
View1_URL=
View2_PassiveMode=false
View2_ServiceName=KonqKfmIconView
View2_ServiceType=inode/directory
View2_URL=file:$HOME
