[Desktop Entry]
Type=Link
URL=
Icon=bookmark
Name=Bookmarks
Name[az]=Nüşanlar
Name[cs]=Záložky
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[he]=תוינמיס
Name[hu]=Könyvjelzők
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ko]=책갈피
Name[lt]=Atžymos
Name[lv]=Grāmatzīmes
Name[nl]=Bladwijzers
Name[no]=Bokmerker
Name[no_NY]=Bokmerke
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=Markeri
Name[sv]=Bokmärken
Name[ta]=Òò¾¸ìÌÈ¢¸û
Name[tr]=Yer imleri
Name[uk]=Закладки
Name[zh_CN.GB2312]=书签
Name[zh_TW.Big5]=書籤
Comment=This is the list of your bookmarks, for a faster access
Open=false
X-KDE-TreeModule=Bookmarks
