[Desktop Entry]
Type=Link
URL=
Icon=history
Name=History
Name[cs]=Historie
Name[da]=Historie
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[fi]=Historia
Name[fr]=Historique
Name[he]=הירוטסיה
Name[hu]=Napló
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[lv]=Vēsture
Name[nl]=Geschiedenis
Name[no]=Historie
Name[no_NY]=Historie
Name[pt]=Historial
Name[pt_BR]=Histórico
Name[ro]=Istoric
Name[ru]=Журнал
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Istorija
Name[sv]=Historik
Name[tr]=Geçmiş
Name[uk]=Історія
Name[zh_CN.GB2312]=历史
Name[zh_TW.Big5]=歷程記錄
Open=false
X-KDE-TreeModule=History
