[Desktop Entry]
Type=Link
URL=file:$HOME
Icon=folder_home
Name=Home Directory
Name[ca]=Directori inici
Name[cs]=Můj adresář
Name[da]=Hjemmemappe
Name[de]=Persönliches Verzeichnis
Name[el]=Προσωπικός Κατάλογος
Name[eo]=Hejmdosierujo
Name[es]=Directorio Personal
Name[et]=Kodukataloog
Name[fi]=Kotihakemisto
Name[fr]=Dossier personnel
Name[gl]=Directorio Persoal
Name[he]=תיבה תיירפס
Name[hr]=Početni direktorij
Name[hu]=Saját könyvtár
Name[is]=Heimasvæðið þitt
Name[it]=Directory home
Name[ja]=ホームディレクトリ
Name[ko]=홈 자료방
Name[lt]=Pradinis Katalogas
Name[lv]=Mājas Direktorijs
Name[mi]=Pouaka Könae Käinga
Name[mk]=Сопствена папка
Name[nl]=Persoonlijke map
Name[no]=Hjemmekatalog
Name[no_NY]=Heimekatalog
Name[oc]=Repertori iniciau
Name[pl]=Katalog domowy
Name[pt]=A Minha Área
Name[pt_BR]=Diretório do Usuário
Name[ro]=Director personal
Name[ru]=Домашний каталог
Name[sk]=Domovský priečinok
Name[sl]=Domači imenik
Name[sr]=Kućni direktorijum
Name[sv]=Hemkatalogen
Name[ta]=¦¾¡¼ì¸ «¨¼×
Name[tr]=Başlangıç Dizini
Name[uk]=Домашній каталог
Name[zh_CN.GB2312]=主目录
Name[zh_TW.Big5]=家目錄
Open=false
X-KDE-TreeModule=Directory
