[Desktop Entry]
Type=Link
URL=file:/
Icon=folder
Name=Root Directory
Name[az]=Root Cərgəsi
Name[cs]=Kořenový adresář
Name[da]=Roden.
Name[de]=Wurzelverzeichnis
Name[el]=Κατάλογος-Βάση(/)
Name[eo]=Radiko-dosierujo
Name[es]=Directorio raíz
Name[et]=Juurkataloog
Name[fi]=Juurihakemisto
Name[fr]=Dossier racine
Name[gl]=Directorio Raíz
Name[he]=שרושה תיירפס
Name[hu]=Gyökérkönyvtár
Name[is]=Rótarmappa
Name[it]=Directory radice
Name[ja]=ルートディレクトリ
Name[ko]=루트 자료방
Name[lt]=Root Katalogas
Name[lv]=Saknes Direktorijs
Name[nl]=Hoofdmap
Name[no]=Rot-katalog
Name[no_NY]=Rotkatalog
Name[pt]=Directoria Raiz
Name[pt_BR]=Diretório-raiz
Name[ro]=Director rădăcină
Name[ru]=Корневой каталог
Name[sk]=Koreňový priečinok
Name[sl]=Korenski imenik
Name[sr]=Root direktorijum
Name[sv]=Rotkatalogen
Name[ta]=§Å÷«¨¼×
Name[tr]=Root Dizini
Name[uk]=Кореневий каталог
Name[zh_CN.GB2312]=根目录
Name[zh_TW.Big5]=根目錄
Comment=This is the root of the filesystem
Open=false
X-KDE-TreeModule=Directory
