<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="keditbookmarks" version="3">

<MenuBar>

<Menu name="file" noMerge="1"><text>&amp;File</text>
 <Action name="importNS"/>
 <Action name="importMoz"/>
 <Action name="exportNS"/>
 <Action name="exportMoz"/>
 <Separator/><!-- Creation -->
 <Action name="newfolder"/>
 <Action name="insertseparator"/>
 <Separator/>
 <Action name="file_save"/>
 <Action name="file_close"/>
</Menu>

<Menu name="edit"><text>&amp;Edit</text>
 <!-- The undo/redo/cut/copy/paste stuff goes here (ui_standards.rc) -->
 <Action name="rename"/>
 <Action name="changeicon"/>
 <Action name="delete"/>
 <Separator/><!-- Stuff for folders -->
 <Action name="sort"/>
</Menu>

<Menu name="bookmark"><text>&amp;Bookmark</text>
 <Action name="openlink"/>
 <!--<Action name="testlink"/> not implemented -->
</Menu>

<Menu name="settings" noMerge="1"><text>&amp;Settings</text>
 <Action name="settings_showNS"/>
 <Action name="setastoolbar"/>
</Menu>

</MenuBar>

<ToolBar name="mainToolBar" noMerge="1" fullWidth="true"><text>Main Toolbar</text>
 <Action name="file_save"/>
 <Action name="edit_undo"/>
 <Action name="edit_redo"/>
 <Action name="delete"/>
 <Action name="newfolder"/>
</ToolBar>

<Menu name="popup_folder">
             <!-- Edition -->
 <Action name="edit_cut"/>
 <Action name="edit_copy"/>
 <Action name="edit_paste"/>
 <Separator/>
 <Action name="rename"/>
 <Action name="changeicon"/>
 <Action name="delete"/>
 <Separator/><!-- Creation -->
 <Action name="newfolder"/>
 <Action name="insertseparator"/>
 <Separator/><!-- Stuff for folders -->
 <Action name="sort"/>
 <Action name="setastoolbar"/>
</Menu>

<Menu name="popup_bookmark">
             <!-- Edition -->
 <Action name="edit_cut"/>
 <Action name="edit_copy"/>
 <Action name="edit_paste"/>
 <Separator/>
 <Action name="rename"/>
 <Action name="changeicon"/>
 <Action name="delete"/>
 <Separator/><!-- Creation -->
 <Action name="newfolder"/>
 <Action name="insertseparator"/>
 <Separator/><!-- Stuff for bookmarks -->
 <Action name="openlink"/>
 <!--<Action name="testlink"/>-->
</Menu>

</kpartgui>
