<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="keditbookmarks" version="30">

<MenuBar>

<Menu name="file" noMerge="1"><text>&amp;File</text>
  <Action name="file_open"/>
  <Action name="file_save_as"/>
  <Separator/>
  <Action name="file_print"/>
  <Separator/>
  <Menu name="import" noMerge="1"><text>&amp;Import</text>
    <Action name="importIE"/>
    <Action name="importOpera"/>
    <Action name="importMoz"/>
    <Action name="importNS"/>
    <Action name="importKDE2"/>
    <Action name="importGaleon"/>
    <Separator/>
    <Action name="importCrashes"/>
  </Menu>
  <Menu name="export" noMerge="1"><text>&amp;Export</text>
    <Action name="exportIE"/>
    <Action name="exportOpera"/>
    <Action name="exportMoz"/>
    <Action name="exportNS"/>
    <Separator/>
    <Action name="exportHTML"/>
  </Menu>
  <Separator/>
  <Action name="file_quit"/>
</Menu>

<Menu name="edit"><text>&amp;Edit</text>
  <!-- undo/redo/cut/copy/paste stuff is
       merged (?) at this point (ui_standards.rc) -->
  <!-- Various things -->
  <Action name="rename" append="edit_paste_merge"/>
  <Action name="delete" append="edit_paste_merge"/>
  <Separator/>
  <Action name="changeurl"/>
  <Action name="changecomment"/>
  <Action name="changeicon"/>
</Menu>

<Menu name="view"><text>&amp;View</text>
  <Action name="expandall"/>
  <Action name="collapseall"/>
</Menu>

<Menu name="folder"><text>&amp;Folder</text>
  <Action name="newfolder"/>
  <Action name="insertseparator"/>
  <Separator/>
  <Action name="setastoolbar"/>
  <Action name="sort"/>
  <Action name="recursivesort"/>
  </Menu>

<Menu name="bookmark"><text>&amp;Bookmark</text>
  <Action name="newbookmark"/>
  <Action name="openlink"/>
  <Separator/>
  <Action name="testlink"/>
  <Action name="updatefavicon"/>
</Menu>

<Menu name="tools"><text>&amp;Tools</text>
  <Action name="testall"/>
  <Action name="canceltests"/>
  <Separator/>
  <Action name="updateallfavicons"/>
  <Action name="cancelfaviconupdates"/>
</Menu>

<Menu name="settings"><text>&amp;Settings</text>
  <Action name="settings_saveonclose" append="save_merge"/>
<!--  <Action name="settings_splitview" append="save_merge"/> -->
</Menu>

</MenuBar>

<ToolBar name="mainToolBar" noMerge="1" fullWidth="true"><text>Main Toolbar</text>
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator/>
  <Action name="newbookmark"/>
  <Action name="newfolder"/>
  <Separator/>
  <Action name="delete" />
</ToolBar>

<Menu name="popup_folder">
  <!-- Stuff for folders -->
  <Action name="setastoolbar"/>
  <Action name="sort"/>
  <Action name="recursivesort"/>
   <Separator/>
  <Action name="testlink"/>
  <Separator/><!-- Clipboard -->
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Action name="edit_cut"/>
  <Action name="edit_copy"/>
  <Action name="edit_paste"/>
  <Separator/><!-- Edition -->
  <Action name="rename"/>
  <Action name="changeurl"/>
  <Action name="changeicon"/>
  <Separator/><!-- Creation -->
  <Action name="newbookmark"/>
  <Action name="newfolder"/>
  <Action name="insertseparator"/>
  <Separator/><!-- Dangerous actions :/ -->
  <Action name="delete"/>
</Menu>

<Menu name="popup_bookmark">
  <!-- Stuff for bookmarks -->
  <Action name="openlink"/>
  <Action name="testlink"/>
  <Action name="updatefavicon"/>
  <Separator/><!-- Clipboard stuff -->
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Action name="edit_cut"/>
  <Action name="edit_copy"/>
  <Action name="edit_paste"/>
  <Separator/><!-- Edition -->
  <Action name="rename"/>
  <Action name="changeurl"/>
  <Action name="changeicon"/>
  <Separator/><!-- Creation -->
  <Action name="newbookmark"/>
  <Action name="newfolder"/>
  <Action name="insertseparator"/>
  <Separator/><!-- Dangerous actions :/ -->
  <Action name="delete"/>
</Menu>

<!--         APPLICATION STATES        -->

<State name="notreadonly">
  <Enable>
    <Action name="importGaleon"/>
    <Action name="importKDE2"/>
    <Action name="importOpera"/>
    <Action name="importCrashes"/>
    <Action name="importIE"/>
    <Action name="importNS"/>
    <Action name="importMoz"/>
    <Action name="settings_showNS"/>
    <Action name="settings_saveonclose"/>
  </Enable>
</State>

<State name="normal">
  <Enable>
    <Action name="file_open"/>
    <Action name="file_save_as"/>
    <Action name="file_quit"/>
    <Action name="exportOpera"/>
    <Action name="exportHTML"/>
    <Action name="exportIE"/>
    <Action name="exportNS"/>
    <Action name="exportMoz"/>
    <Action name="expandall"/>
    <Action name="collapseall"/>
  </Enable>
</State>

<State name="disablestuff">
  <Disable>
    <Action name="changecomment"/>
    <Action name="changeicon"/>
    <Action name="changeurl"/>
    <Action name="delete"/>
    <Action name="edit_copy"/>
    <Action name="edit_cut"/>
    <Action name="edit_paste"/>
    <!-- automated by KCommandHistory: <Action name="edit_redo"/> <Action name="edit_undo"/> -->
    <Action name="importGaleon"/>
    <Action name="importIE"/>
    <Action name="importKDE2"/>
    <Action name="importMoz"/>
    <Action name="importNS"/>
    <Action name="importOpera"/>
    <Action name="importCrashes"/>
    <Action name="insertseparator"/>
    <Action name="newbookmark"/>
    <Action name="newfolder"/>
    <Action name="nexthit"/>
    <Action name="openlink"/>
    <Action name="rename"/>
    <Action name="setastoolbar"/>
    <Action name="sort"/>
    <Action name="recursivesort"/>
    <Action name="testall"/>
    <Action name="testlink"/>
    <Action name="updateallfavicons"/>
    <Action name="updatefavicon"/>
    <Action name="settings_showNS"/>
    <Action name="settings_saveonclose"/>
  </Disable>
</State>

</kpartgui>
