[Desktop Entry]
Exec=keditbookmarks
Icon=keditbookmarks
Type=Application
MapNotify=true

Name=Bookmarks Editor
Name[cs]=Editor záložek
Name[da]=Redigér foretrukne.
Name[de]=Lesezeichen-Editor
Name[el]=Επεξεργασία Σελιδοδεικτών
Name[eo]=Legosigno-redaktilo
Name[es]=Editor de Marcadores
Name[et]=Järjehoidjate redaktor
Name[fi]=Kirjanmerkkien muokkaaja
Name[fr]=Éditeur de signets
Name[gl]=Editor de Marcadores
Name[he]=תוינמיסה ךרוע
Name[hu]=Könyvjelzőszerkesztő
Name[is]=Ritill fyrir bókamerki
Name[it]=Editor dei segnalibri
Name[ja]=ブックマークエディタ
Name[ko]=책갈피 고치기
Name[lv]=Grāmatzīmju redaktors
Name[nl]=Bladwijzer-editor
Name[no]=Bokmerkeredigerer
Name[no_NY]=Bokmerkehandtering
Name[pt]=Editor de Favoritos
Name[pt_BR]=Editor de favoritos
Name[ro]=Editor semne de carte
Name[ru]=Редактор закладок
Name[sk]=Editor záložiek
Name[sl]=Urejevalnik zaznamkov
Name[sr]=Editor markera
Name[sv]=Editor för bokmärken
Name[tr]=Yer imi Düzenleyici
Name[uk]=Редактор закладок
Name[zh_CN.GB2312]=书签编辑器
Name[zh_TW.Big5]=書籤編輯器

Comment=Edit your Konqueror Bookmarks
Comment[ca]=Edita els vostres punts Konqueror
Comment[cs]=Úprava záložek pro Konqueror
Comment[da]=Redigér foretrukne.
Comment[de]=Zur Bearbeitung von Konqueror-Lesezeichen
Comment[el]=Τροποποιήστε τους σελιδοδείκτες του Konqueror
Comment[eo]=Redakti viajn Konkeranto-legosignojn
Comment[es]=Edita sus Marcadores de Konqueror
Comment[et]=Brauseri järjehoidjate redigeerimine
Comment[fi]=Muokkaa Konquerorin kirjanmerkkejä
Comment[fr]=Modification des signets de Konqueror
Comment[gl]=Edite os Marcadores do Konqueror
Comment[he]=ךלש Konqueror-ה תוינמיס תכירע
Comment[hu]=A Konqueror könyvjelzőinek szerkesztése
Comment[is]=Sýsla með bókamerkin í Konqueror
Comment[it]=Modifica i segnalibri di Konqueror
Comment[ja]=Konquerorのブックマークを編集します
Comment[ko]=컹커에서 쓰는 책갈피를 고칩니다
Comment[lv]=Labot jūsu Iekarotāja Grāmatzīmes
Comment[nl]=bewerk Konqueror's bladwijzers
Comment[no]=Rediger dine Konqueror-bokmerker
Comment[no_NY]=Hald styr på Konqueror-bokmerka
Comment[pt]=Edita os teus Favoritos do Konqueror
Comment[pt_BR]=Editar seus favoritos do Konqueror
Comment[ro]=Editează semnele de carte Konqueror
Comment[ru]=редактирование ваших закладок Konqueror'a
Comment[sk]=Úprava záložiek pre Konqueror
Comment[sl]=Uredite vaše zaznamke v Konqueror-ju
Comment[sr]=Sredite vaše Konqueror markere
Comment[sv]=Redigera dina bokmärken i Konqueror
Comment[tr]=Konqueror yer imlerinizi düzenleyin
Comment[uk]=Редагуйте Ваші закладки у Konqueror
Comment[zh_CN.GB2312]=编辑您的 Konqueror 书签
Comment[zh_TW.Big5]=編輯你的 Konqueror 書籤

