[Desktop Entry]
Encoding=UTF-8
Exec=konqueror --preload
Type=Application
Name=Konqueror Preloading During KDE startup
Name[az]=KDE Başlanğıcında Konqueror-un Ön Yüklənməsi
Name[bg]=Зареждане на браузъра при стартиране
Name[bn]=কে.ডি.ই. আরম্ভকালীন কনকরার প্রিলোড
Name[bs]=Konqueror pre-učitavanje tokom pokretanja KDEa
Name[ca]=Precàrrega del Konqueror durant l'engegada del KDE
Name[cs]=Načtení Konqueroru dopředu během spuštění KDE
Name[cy]=Cynlwytho Konqueror yn ystod Ymgychwyn KDE
Name[da]=Konqueror forhåndsindlæsning ved opstart
Name[de]=Konqueror bei KDE-Start im Hintergrund laden
Name[eo]=Konkeranto antaŭŝarĝante dum KDE-lanĉo
Name[es]=Precargado de Konqueror durante el arranque de KDE
Name[et]=Konquerori eellaadimine KDE käivitamisel
Name[eu]=Konquerorren aurrekarga KDE abiatzen den bitartean
Name[fi]=Konquerorin esilataus KDE:n käynnistyksessä
Name[fr]=Préchargement de Konqueror lors du démarrage de KDE
Name[gl]=Precarga de Konqueror durante o inicio de KDE
Name[hu]=Konqueror-gyorsbetöltő
Name[it]=Precaricamento di Konqueror durante l'avvio di KDE
Name[ja]=KDE起動時にKonquerorをプリロードする
Name[mk]=Konqueror се предвчитува за време на подигањето на KDE
Name[mt]=Tlugħ ta' Konqueror waqt li jitla' KDE
Name[nb]=Forhåndslaste Konqueror når KDE starter
Name[nds]=Konqueror vörladen bi't Hoochfohren vun KDE
Name[nl]=Konqueror voorladen tijdens KDE-start
Name[nn]=Førehandslast Konqueror når KDE startar
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਪਹਿਲਾਂ ਹੀ KDE ਦੀ ਸ਼ੁਰੂਆਤ ਤੇ ਹੀ ਲੋਡ ਹੋ ਜਾਦਾ ਹੈ
Name[pl]=Wstępne załadowanie Konquerora przy uruchamianiu KDE
Name[pt]=Pré-carregamento do Konqueror no Arranque do KDE
Name[pt_BR]=Pré-carregamento do Konqueror no início do KDE
Name[ro]=Preîncărcare Konqueror la pornirea KDE
Name[ru]=Предварительная загрузка Konqueror при запуске KDE
Name[sk]=Prednahratie Konquerora počas štartu KDE
Name[sl]=Prednalaganje Konquerorja med zaganjanjem KDE
Name[sr]=Преучитавање Konqueror-а приликом покретања KDE-а
Name[sr@Latn]=Преучитавање Konqueror-а приликом покретања KDE-а
Name[sv]=Förladdning av Konqueror vid start av KDE
Name[ta]=கேடியி துவக்கத்தின்போது கான்கொரரை முன் ஏற்றுதல்
Name[tr]=KDE açılışında Konqueror Önyüklemesi
Name[uk]=Попереднє завантаження Konqueror при старті KDE
Name[xx]=xxKonqueror Preloading During KDE startupxx
X-KDE-autostart-condition=konquerorrc:Reusing:PreloadOnStartup:false
X-KDE-StartupNotify=false
X-KDE-autostart-phase=2
