[Desktop Entry]
Encoding=UTF-8
Exec=konqueror --preload
Type=Application
Name=Konqueror Preloading during KDE startup
Name[bg]=Зареждане на Konqueror при стартиране
Name[bs]=Konqueror pre-učitavanje tokom pokretanja KDEa
Name[ca]=Precarrega el Konqueror durant l'inici de KDE
Name[cs]=Načtení Konqueroru dopředu během spuštění KDE
Name[cy]=Cyn-lwytho Konqueror yn ystod ymgychwyn KDE
Name[da]=Konqueror forhåndsindlæsning ved opstart
Name[de]=Konqueror beim KDE-Start laden
Name[el]=Προφόρτωση του Konqueror κατά την εκκίνηση του KDE
Name[es]=Precargado de Konqueror durante el arranque de KDE
Name[et]=Konquerori eellaadimine KDE käivitamisel
Name[fa]=پیش‌بارگزاری کانکرر در هنگام آغاز KDE
Name[fi]=Konquerorin esilataus KDE:n käynnistyksessä
Name[fr]=Préchargement de Konqueror lors du démarrage de KDE
Name[gl]=Precarga de Konqueror durante o inicio de KDE
Name[he]=טעינה מוקדמת של Konqueror בזמן עלית KDE
Name[hi]=केडीई चालू होने के दौरान कॉन्क्वेरर प्रीलोड हो रहा है
Name[hr]=Konqueror pred-učitavanje za vrijeme podizanja KDE-a
Name[hu]=Konqueror-gyorsbetöltő
Name[it]=Precaricamento di Konqueror durante l'avvio di KDE
Name[mn]=КДЭ эхлэлд конкюрорыг ачаалах
Name[nb]=Forhåndslaste Konqueror når KDE starter
Name[nl]=Konqueror voorladen tijdens KDE-start
Name[nn]=Førehandslasta Konqueror når KDE startar
Name[pl]=Wstępne załadowanie Konquerora przy uruchomieniu KDE
Name[pt]=O Konqueror a pré-carregar durante o arranque do KDE
Name[pt_BR]=Pré-carregamento do Konqueror no início do KDE
Name[ro]=Preîncărcare Konqueror la pornirea KDE
Name[sk]=Prednahratie Konquerora počas štartu KDE
Name[sl]=Prednalaganje Konquerorja med zaganjanjem KDE
Name[sr]=Преучитавање Konqueror-а приликом покретања KDE-а
Name[sv]=Förladdning av Konqueror vid start av KDE
Name[ta]=கான்கொரர் செருகல்கள்
Name[th]=การโหลดก่อนเริ่มคอนเควอร์เรอร์ขณะที่ KDE เริ่มทำงาน
Name[tr]=KDE açılışında Konqueror önyüklemesi
Name[uk]=Попереднє завантаження Konqueror при старті KDE
Name[vi]=Tiền tải của Konqueror trong quá trình khởi động
Name[xx]=xxKonqueror Preloading during KDE startupxx
Name[zh_CN]=在 KDE 启动时预先装入 Konqueror
Name[zh_TW]=啟動 KDE 時預先載入 Konqueror
X-KDE-autostart-condition=konquerorrc:Reusing:PreloadOnStartup:false
X-KDE-StartupNotify=false
X-KDE-autostart-phase=2
