[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=konqsidebar_mozilla
Name=Mozilla Sidebar Module
Open=false
X-KDE-KonqSidebarModule=konqsidebar_mozilla
