[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=www
Name=Web SideBar Module
Name[ar]=وحدة شريط الويب الجانبي
Name[az]=Veb Yan Çubuq Modulu
Name[bg]=Модул за страничния панел на браузъра
Name[bn]=ওয়েব সাইডবার মডিউল
Name[bs]=Web sidebar modul
Name[ca]=Mòdul web SideBar
Name[cs]=Webový postranní panel
Name[cy]=Modiwl Bar Ochr Gwe
Name[da]=Web-sidebjælke modul
Name[de]=Web-Navigationsbereich
Name[el]=Άρθρωμα Ιστού Πλευρικής μπάρας
Name[eo]=TTT-flankzona modulo
Name[es]=Módulo de la barra lateral de web
Name[et]=Veebi külgriba moodul
Name[eu]=Web-eko alboko barraren modulua
Name[fa]=بخش‌ نوار کناره‌ی وب
Name[fi]=Verkkosivupalkkimoduuli
Name[fr]=Module de barre de navigation sur le web
Name[fy]=Web sydbalke module
Name[ga]=Modúl Taobhbharra Lín
Name[gl]=Módulo da Barra Lateral Web
Name[he]=מודול שורת-צד מקוון
Name[hi]=वेब बाज़ूपट्टी मॉड्यूल
Name[hr]=Modul za web trake
Name[hu]=Webes oldalsáv-modul
Name[is]=Vefhliðarstiku eining
Name[it]=Modoulo barra laterale web
Name[ja]=Webサイドバーモジュール
Name[lt]=Šoninės žiniatinklio juostos modulis
Name[lv]=Tīmekļa sānjoslas modulis
Name[mk]=Модул - Веб странична лента
Name[mn]=Вэб самбарын модул
Name[mt]=Barra tal-ġenb għal-web
Name[nb]=Modul for nett-sidestolpe
Name[nds]=Sietbalken för de Nettnavigatschoon
Name[nl]=Webzijbalkmodule
Name[nn]=Modul for nett-sidestolpe
Name[pa]=ਵੈੱਬ ਬਾਹੀ ਮੈਡੀਊਲ
Name[pl]=Moduła paska bocznego WWW
Name[pt]=Módulo Barra Lateral Web
Name[pt_BR]=Módulo da Barra Lateral Web
Name[ro]=Modul bară laterală web
Name[ru]=Модуль боковой панели Web
Name[se]=Neahtta-bálddalasholga moduvla
Name[sk]=Modul bočného Web panelu
Name[sl]=Modul spletne stranske vrstice
Name[sr]=Модул веб бочне траке
Name[sr@Latn]=Modul veb bočne trake
Name[sv]=Webbsidoradsmodul
Name[ta]=வலை பக்கப்பட்டி பகுதி
Name[tg]=Бахши навори канораи вэб
Name[th]=โมดูลแถบด้านข้างสำหรับเว็บ
Name[tr]=Web Yan Çubuk Modülü
Name[uk]=Модуль бічної панелі Тенет
Name[uz]=Веб ён панели модули
Name[vi]=Trình chơi nhạc được sidebar
Name[xx]=xxWeb SideBar Modulexx
Name[zh_CN]=Web 侧边栏模块
Name[zh_TW]=網頁邊列模組
Open=false
X-KDE-KonqSidebarModule=konqsidebar_web
