[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-plugins
Icon=konqueror
Exec=kcmshell khtml_plugins

X-KDE-ModuleType=Library
X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_plugins
X-KDE-Init-Library=nsplugins
X-KDE-Init=nsplugin
X-KDE-ParentApp=kcontrol

Name=Plugins
Name[af]=Inprop modules
Name[be]=Дапаўненьні
Name[bg]=Приставки
Name[bs]=Dodaci
Name[ca]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[el]=Πρόσθετα
Name[et]=Pluginad
Name[eu]=Pluginak
Name[fa]=متصل‌کننده
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[he]=תוספים
Name[hi]=प्लगइन्स
Name[hu]=Bővítőmodulok
Name[it]=Plugin
Name[ja]=プラグイン
Name[lo]=ລງບ
Name[lt]=Priedai
Name[mn]=Плугин
Name[mt]=Plagins
Name[nb]=Tilleggsmoduler
Name[nn]=Programtillegg
Name[nso]=Ditsenyo
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[ro]=Module
Name[ru]=Плагины
Name[se]=Lassemoduvllat
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Додаци
Name[ss]=Ema- Plugin
Name[sv]=Insticksprogram
Name[ta]=¦ºÕ¸ø¸û
Name[tg]=Модульҳо
Name[th]=ปลั้กอิน
Name[tr]=Eklentiler
Name[uk]=Втулки
Name[uz]=Плагинлар
Name[wa]=Tchôke-divins
Name[xh]=Iiplagi ezingaphakathi
Name[xx]=xxPluginsxx
Name[zh_TW]=外掛程式
Name[zu]=Ama-Plugin
Comment=Configure the browser plugins
Comment[af]=Konfigureer die blaaier inprop modules
Comment[bg]=Конфигуриране на приставките на браузъра
Comment[bs]=Podesite dodatke preglednika (browser plugins)
Comment[ca]=Aquí podeu configurar els connectors del navegador
Comment[cs]=Nastavení modulů prohlížeče (pluginy)
Comment[cy]=Ffurfweddu ategion y porydd
Comment[da]=Indstil browserens plugin
Comment[de]=Plugins für Web-Browser einrichten
Comment[el]=Ρυθμίστε τα πρόσθετα του περιηγητή
Comment[es]=Configuración de los plugins del navegador
Comment[et]=Brauseri pluginate seadistamine
Comment[eu]=Arakatzailearen pluginak konfiguratzen ditu
Comment[fa]=تنظیم متصل‌کننده‌های مرورگر
Comment[fi]=Muokkaa selaimen liitännäisasetuksia
Comment[fr]=Configuration des modules externes du navigateur
Comment[gl]=Configura-los plugins do navegador
Comment[he]=שינוי הגדרות התוספים של הדפדפן
Comment[hi]=ब्राउज़र प्लगइन कॉन्फिगर करें
Comment[hu]=A böngésző bővítőmoduljainak beállításai
Comment[it]=Configura i plugin del browser
Comment[ja]=ブラウザのプラグインの設定
Comment[lo]=ປັກອິນສອດສອ່ງຊີພີຍູ
Comment[lt]=Konfigūruoti naršyklės priedus
Comment[mn]=Вэб хөтөчийн плугин тохируулга
Comment[nb]=Tilpass tilleggsmoduler for nettleseren
Comment[nl]=Hier kunt u de browser-plugins configureren
Comment[nn]=Set opp programtillegg for nettlesaren
Comment[nso]=Beakanya ditsenyo tsa seinyakisi
Comment[pl]=Konfiguracja wtyczek przeglądarki
Comment[pt]=Configurar os 'plugins' do navegador
Comment[pt_BR]=Configura os plugins do navegador
Comment[ro]=Configurează modulele de navigator de web
Comment[ru]=Настройка плагинов браузера
Comment[se]=Heivet fierpmádatlogana lassemoduvllaid
Comment[sk]=Nastavenie modulov prehliadača
Comment[sl]=Tu lahko nastavite predpomnilnik
Comment[sr]=Подешавање претраживачевих додатака
Comment[sv]=Anpassa insticksprogram för webbläsare
Comment[ta]= §Á§Ä¡ÊÂ¢ý ¦ºÕ¸ø¸¨Ç ÅÊÅ¨Áì¸Ä¡õ
Comment[th]=ปรับแต่งปลั้กอินของบราวเซอร์
Comment[tr]=Tarayıcı eklentilerini yapılandırın
Comment[uk]=Налаштувати втулки навігатора
Comment[uz]=Браузернинг плагинларини мослаш
Comment[ven]=Dzudzanyani plugins ya burausa
Comment[vi]=Cấu hình plugin cho trình duyệt
Comment[wa]=Apontyî les tchôke-divins do betchteu
Comment[xh]=Qwalasela umkhangheli zincwadi zeplagi ezingaphakathi
Comment[xx]=xxConfigure the browser pluginsxx
Comment[zh_TW]=設定瀏覽器外掛程式
Comment[zu]=Hlanganisela ama-plugin omcingi
Keywords=konqueror,kfm,browser,html,web,www,fonts,plugins
Keywords[bg]=приставки,конфигуриране,браузър,уеб,шрифтове,Интернет,konqueror,kfm,browser,html,web,www,fonts,plugins
Keywords[ca]=konqueror,kfm,navegador,html,web,www,fonts,connectors
Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Moduly
Keywords[cy]=konqueror,kfm,porwr,porydd,html,gwe,www,wynebfathau,ffontiau,ategion
Keywords[da]=konqueror,kfm,browser,html,net,www,skrifttyper,plugin
Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Plugins
Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,πρόσθετα
Keywords[es]=konqueror,kfm,navegador,html,web,www,fuentes,plugins
Keywords[et]=konqueror,kfm,brauser,html,veeb,www,fondid,pluginad
Keywords[fa]=konqueror,kfm,browser,html,web,www,fonts,plugins,متصل,کانکرر,قلم,خط
Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,liitännäiset
Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,plugins,modules externes
Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,plugins
Keywords[he]=konqueror,kfm,דפדפן,html,web,www,אינטרנט,גופנים,תוספים
Keywords[hi]=कॉन्क्वेरर,केएफएम,ब्राउजर,एचटीएमएल,वेब,डब्ल्यूडब्ल्यूडब्ल्यू,फॉन्ट्स,प्लगइन्स
Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,betűtípusok,bővítőmodulok
Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,plugin
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,www,フォント,プラグイン
Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,plugins. naršyklė,tinklalapiai,šriftai,priedai
Keywords[mn]=Конкюрор,kfm,Хөтөч,HTML,Вэб,WWW,Бичиг,Плугин
Keywords[mt]=konqueror,kfm,browser,html,web,www,fonts,plugins,plagins
Keywords[nb]=konqueror,kfm,browser,html,web,www,fonts,plugins,nettleser
Keywords[nl]=konqueror,kfm,browser,html,web,www,fonst,lettertypen,plugins,internet,netscape plugins
Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifttypar,programtillegg
Keywords[nso]=konqueror,kfm,senyakisi,html,web,www,difonto,ditsenyo
Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć,www,czcionki,wtyczki
Keywords[pt]=konqueror,kfm,navegador,HTML,web,WWW,tipos de letra,'plugins'
Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,plugins
Keywords[ro]=konqueror,kfm,navigator,html,web,www,fonturi,module
Keywords[se]=konqueror,kfm,fierpmádatlogan,html,web,www,fonttat,lassemoduvllat
Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,písma,moduly
Keywords[sl]=konqueror,kfm,brskalnik,html,splet,web,pisave,www,vstavki
Keywords[sr]=konqueror,kfm,претраживач,html,web,www,фонтови,додаци
Keywords[ss]=konqueror,kfm,brawuza,html,web,www,timo tetinhlamvu temagama,ema-plugin
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,insticksprogram
Keywords[ta]=¸¡ý¦¸¡Ã÷, §¸¡ôÒ §ÁÄ¡Ç÷, §Á§Ä¡Ê, ¯Ä¡Å¢, html, þ¨½Âõ, Å¨ÄÂõ, Å¨Ä, ±ØòÐÕ, www, ¦ºÕ¸ø¸û
Keywords[th]=คอนเควอร์เรอร์,kfm,บราวเซอร์,html,เว็บ,www,แบบอักษร,ปลั้กอิน
Keywords[tr]=konqueror,kfm,browser,html,web,www,yazıtipleri,eklentiler,tarayıcı
Keywords[uk]=konqueror,kfm,навігатор,html,тенета,www,шрифти,втулки
Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,плагинлар
Keywords[vi]=konqueror,kfm,trình duyệt,html,web;www,phông,plugin
Keywords[wa]=konqueror,kfm,foyteuse,betchteu,html,waibe,www,fontes,tchôke-divins
Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web, www,imigca,iplagi ezingaphakathi
Keywords[xx]=xxkonqueror,kfm,browser,html,web,www,fonts,pluginsxx
Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,plugins,征服家,瀏覽器,網頁,字型,外掛程式
Keywords[zu]=komqueror,kfm,umcingi,html,web,www,izinhlobo zamagama, ama-plugin

Categories=Qt;KDE;X-KDE-settings-webbrowsing
