[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-plugins
Icon=konqueror
Exec=kcmshell khtml_plugins

X-KDE-ModuleType=Library
X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_plugins
X-KDE-Init-Library=nsplugins
X-KDE-Init=nsplugin
X-KDE-ParentApp=kcontrol

Name=Plugins
Name[x-test]=xxPluginsxx
Comment=Configure the browser plugins
Comment[x-test]=xxConfigure the browser pluginsxx
Keywords=konqueror,kfm,browser,html,web,www,fonts,plugins
Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,pluginsxx

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
