[Desktop Entry]
Name=Netscape Plugin
Exec=foo
Icon=netscape
MimeType=image/x-xpixmap;application/x-java-applet;application/x-shockwave-flash;
Type=Service
DocPath=plugin/plugin.html
Comment=Netscape plugin viewer
Terminal=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libplugin
