[Desktop Entry]
Encoding=UTF-8
Charset=
Hidden=false
Keys=db,docbook
Name=DocBook - The Definitive Guide
Name[af]=Docbook - Die Definitiewe Gids
Name[ar]=DocBook - المرشد النهائي
Name[az]=DocBook - Bələdçi
Name[bn]=ডকবুক - দি ডেফিনিটিভ গাইড
Name[bs]=DocBook - Konačni priručnik
Name[ca]=DocBook - La guia definitiva
Name[cy]=DocBook - Y Canllaw Awdurdodol
Name[da]=DocBook - den definitive guide
Name[de]=DocBook - Definitive Einführung
Name[el]=DocBook - Ο Απόλυτος Οδηγός
Name[eo]=DocBook - La definitiva manlibro
Name[es]=DocBook - La guía definitiva
Name[eu]=DocBook - Behin-betiko gida
Name[fa]=DocBook -راهنمای تعریفی
Name[gl]=DocBook - A Guía Definitiva
Name[he]=DocBook - המדריך האולטימטיבי
Name[hi]=डॉकबुक - निर्णायक मार्गदर्शक
Name[is]=DocBook - Opinbera handbókin
Name[it]=DocBook - La guida definitiva
Name[ja]=DocBook - 完全ガイド
Name[lo]=DocBook -the Definitive Guide 
Name[lt]=DocBook –  galutinis vadovas
Name[lv]=DocBook - Izsmeļošs Ceļvedis
Name[mk]=DocBook - дефинитивниот водач
Name[mn]=DocBook - Тодорхой зааварчилгаа
Name[nb]=DocBook - Den endelige guiden
Name[nds]=DocBook - De Inföhren
Name[nn]=DocBook – The Definitive Guide
Name[nso]=DocBook - Keletso yeo e Feleletsego
Name[pa]=DocBook - ਨਿਸ਼ਚਿਤ ਗਾਈਡ
Name[pl]=DocBook (system dokumentacji) - podręcznik
Name[pt]=DocBook - O Guia Definitivo
Name[pt_BR]=DocBook - O Guia Definitivo
Name[ro]=DocBook - Ghidul de referinţă
Name[ru]=DocBook - полное руководство
Name[se]=DocBook – The Definitive Guide
Name[sl]=DocBook - Popolni vodič
Name[sr]=DocBook — Дефинитивни водич
Name[sr@Latn]=DocBook — Definitivni vodič
Name[sv]=Den slutgiltiga guiden till docbook
Name[ta]=Docபுத்தகம் - விளக்கமான வழிகாட்டி
Name[tg]=DocBook - Роҳнамои таърифӣ
Name[tr]=DocBook - Eksiksiz Rehber
Name[uk]=Посібник визначень DocBook
Name[uz]=DocBook - тўлиқ қўлланма
Name[ven]=DocBook - Tsumbavhulwo i Talutshedzaho
Name[xh]=DocBook - Incwadi Echazayo
Name[xx]=xxDocBook - The Definitive Guidexx
Name[zh_CN]=DocBook - 权威的指南
Name[zh_TW]=DocBook - 終極指南
Name[zu]=DocBook - Umbonisi ochazayo
Query=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[xx]=xxhttp://www.docbook.org/tdg/en/html/\\{1}.htmlxx
ServiceTypes=SearchProvider
Type=Service
