[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Feedster
Name[bn]=ফীডস্টার
Name[fa]=فیدستر
Name[hi]=फीडस्टर
Name[ja]=Feedster検索
Name[pa]=ਫੀਡਸਟੀਰ
Name[ta]=பீட்ஸ்டர்
Name[xx]=xxFeedsterxx
ServiceTypes=SearchProvider
Keys=blog,rss,feedster
Query=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[he]=http://www.feedster.com/search.php?q=\\{@}&ie=UTF8&oe=UTF-88
Query[xx]=xxhttp://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8xx
Charset=utf8
