[Desktop Entry]
Keys=pgp,pgpkeys
Name=OpenPGP Key Search
Name[af]=Openpgp Sleutel Soektog
Name[ar]=بحث مفاتيح OpenPGP
Name[az]=OpenPGP Açar Axtarışı
Name[be]=Пошук ключа OpenPGP
Name[bn]=ওপেন-পিজিপি কী (key) অনুসন্ধান
Name[bs]=Tražilica OpenPGP ključeva
Name[ca]=Recerca de claus OpenPGP
Name[cs]=Vyhledávání OpenPGP klíčů
Name[cy]=Chwilio Allwedd PGPAgored
Name[da]=OpenPGP-nøglesøgning
Name[de]=Suche nach OpenPGP-Schlüssel
Name[el]=Αναζήτηση κλειδιού OpenPGP
Name[eo]=OpenPGP-serĉo
Name[es]=Búsqueda de clave OpenPGP
Name[et]=OpenPGP võtme otsing
Name[eu]=OpenPGP gako bilaketa
Name[fa]=OpenPGP جستجوی کلید
Name[fi]=OpenPGP-avainhaku
Name[fo]=OpenPGP lyklaleiting
Name[fr]=Clé de recherche OpenPGP
Name[fy]=Sykje nei OpenPGP-Kaaien
Name[gl]=Procura de Chaves de OpenPGP
Name[he]=חיפוש מפתחות OpenPGP
Name[hi]=ओपनपीजीपी कुंजी खोज
Name[hr]=Traženje OpenPGP ključa
Name[hu]=OpenPGP kulcskereső
Name[is]=OpenPGP lykilleit
Name[it]=Ricerca chiavi OpenPGP
Name[ja]=OpenPGP キー検索
Name[lt]=OpenPGP raktų paieška
Name[lv]=OpenPGP Atslēgu meklēšana
Name[mk]=OpenPGP пребарување на клучеви
Name[mn]=OpenPGP-түлхүүрээр хайх
Name[mt]=Tfittxija għal ċifrarju OpenPGP
Name[nb]=OpenPGP nøkkelsøk
Name[nds]=OpenPGP-Slötel-Söök
Name[nl]=Zoeken naar OpenPGP-sleutels
Name[nn]=OpenPGP-nøkkelsøk
Name[nso]=Nyako ya Senotlelo sa PGP yeo e bulegilego
Name[pa]=OpenPGP ਕੁੰਜੀ ਖੋਜ
Name[pl]=Przeszukiwarka kluczy OpenPGP
Name[pt]=Pesquisa de Chaves OpenPGP
Name[pt_BR]=Busca de Chaves OpenPGP
Name[ro]=Căutare chei OpenPGP
Name[ru]=Поиск ключей OpenPGP
Name[se]=Oza OpenPGP-čoavdagiid
Name[sk]=Hľadanie kľúčov OpenPGP
Name[sl]=Iskanje ključa OpenPGP
Name[sr]=Претраживање OpenPGP кључева
Name[sr@Latn]=Pretraživanje OpenPGP ključeva
Name[ss]=Vula kusesha lokuyinhloko kwePGP
Name[sv]=OpenPGP-nyckelsökning
Name[ta]=OpenPGP வார்த்தை தேடுதல்
Name[tg]=Ҷустуҷӯи калиди OpenPGP
Name[th]=ค้นหารหัส OpenPGP
Name[tr]=OpenPGP anahtar Arayıcı
Name[uk]=Пошук ключів OpenPGP
Name[uz]=OpenPGP калитларни қидириш
Name[ven]=U setsha ha khii ya PGP yo vuleaho
Name[vi]=OpenPGP Tìm kiếm bằng từ khoá
Name[wa]=Cweraedje d' ene clé OpenPGP
Name[xh]=Uphendlo Lwesitshixo se OpenPGP
Name[xx]=xxOpenPGP Key Searchxx
Name[zh_CN]=OpenPGP 关键字搜索
Name[zh_TW]=OpenPGP 金鑰搜尋
Name[zu]=OpenPGP Usesho olubalulekile
Query=http://pgp.dtype.org:11371/pks/lookup?search=\\{@}&op=vindex
Query[xx]=xxhttp://pgp.dtype.org:11371/pks/lookup?search=\\{@}&op=vindexxx
ServiceTypes=SearchProvider
Type=Service
