[Desktop Entry]
Encoding=UTF-8
Keys=php
Name=PHP Search
Name[af]= php  Soektog
Name[ar]=بحث PHP
Name[az]=PHP Axtarışı
Name[be]=PHP пошук
Name[bn]=পি-এইচ-পি অনুসন্ধান
Name[bs]=PHP Tražilica
Name[ca]=Recerca PHP
Name[cs]=Vyhledávání PHP
Name[cy]=Chwilio PHP
Name[da]=PHP-søgning
Name[el]=Αναζήτηση PHP
Name[eo]=PHP-serĉo
Name[es]=Búsqueda PHP
Name[eu]=PHP bilaketa
Name[fa]=PHP جستجوی
Name[fi]=PHP-haku
Name[fr]=Recherche PHP
Name[fy]=PHP-sykaksje
Name[ga]=Cuardach PHP
Name[gl]=Procura PHP
Name[he]=חיפוש PHP
Name[hi]=पीएचपी खोज
Name[is]=PHP leit
Name[it]=Ricerca PHP
Name[ja]=PHP検索
Name[ko]=PHP 찾기
Name[lt]=PHP paieška
Name[lv]=PHP Meklēšana
Name[mk]=PHP пребарување
Name[mn]=PHP хайлт
Name[mt]=Tfittxija PHP
Name[nb]=PHP-søk
Name[nds]=PHP-Söök
Name[nl]=PHP-zoekactie
Name[nn]=PHP-søk
Name[nso]=Nyako ya PHP
Name[pa]=PHP ਖੋਜ
Name[pl]=PHP (język skryptowy)- dokumentacja
Name[pt]=Pesquisa de PHP
Name[pt_BR]=Busca PHP
Name[ro]=Căutare PHP
Name[ru]=Поиск PHP
Name[se]=PHP-ohcan
Name[sk]=Hľadanie PHP
Name[sl]=Iskanje po PHP
Name[sr]=PHP претраживање
Name[sr@Latn]=PHP pretraživanje
Name[ss]=Kusesha kwe PHP 
Name[sv]=PHP search
Name[ta]=PHP தேடு
Name[tg]=Ҷустуҷӯи PHP
Name[th]=ค้นหาเกี่ยวกับ PHP
Name[tr]=PHP Arayıcı
Name[uk]=Пошук PHP
Name[uz]=PHP қидириш
Name[ven]=U setsha ha PHP
Name[xh]=Uphendlo lwe PHP
Name[xx]=xxPHP Searchxx
Name[zh_CN]=PHP 搜索
Name[zh_TW]=PHP 搜尋
Name[zu]=Usesho lwe-PHP
Query=http://www.php.net/search.php?show=\\{mode,"manual"}&pattern=\\{@}
Query[xx]=xxhttp://www.php.net/search.php?show=\\{mode,"manual"}&pattern=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
