[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Name[ar]=آخر وثائق مساعدة Qt
Name[az]=Onlayn Qt Sənədləri
Name[bn]=কিউ-টি অনলাইন ডকুমেন্টেশন
Name[bs]=Najnovija Qt online dokumentacija
Name[ca]=L'última documentació en línia de Qt
Name[cs]=Nejnovější online dokumentace Qt
Name[cy]=Dogfennaeth Diweddar QT Online
Name[da]=Nyeste Qt online-dokumentation
Name[de]=Aktuelle Qt-Online-Dokumentation
Name[el]=Τελευταία τεκμηρίωση του Qt στο διαδίκτυο
Name[eo]=La plej aktuala reta QT Dokumentaro
Name[es]=Ultima documentación Qt en línea
Name[et]=Qt uusim dokumentatsioon võrgus
Name[eu]=Azken Qt lineako dokumentazioa
Name[fa]=جدیدترین مستندهای روی خط Qt
Name[fi]=Uusin Qt-dokumentaatio
Name[fr]=La dernière documentation en ligne de Qt
Name[fy]=Nijste Qt Online-dokumintaasje
Name[gl]=Última Documentación en Liña de Qt
Name[he]=תיעוד מקוון מעודכן של Qt
Name[hi]=नवीनतम क्यूटी आनलाइन दस्तावेज़
Name[hr]=Najnovija Qt dokumentacija na internetu
Name[hu]=A legfrissebb Qt online dokumentáció
Name[is]=Nýjustu Qt handbækurnar
Name[it]=Ultima documentazione online delle Qt
Name[ja]=Qt最新オンラインドキュメント
Name[lt]=Naujausia Qt dokumentacija tinkle
Name[lv]=Jaunākā Qt Dokumentācija
Name[mn]=Хамгийн сүүлийн Qt онлайн баримтжуулалт
Name[mt]=Dokumentazzjoni Qt Online
Name[nb]=Seneste QT-dokumentasjon på nett
Name[nds]=Niegst Online-Dokmentatschoon vun Qt
Name[nl]=Nieuwste Qt Online-documentatie
Name[nn]=Nyaste QT-dokumentasjon på nett
Name[pa]=ਤਾਜ਼ਾ Qt ਆਨਲਾਈਨ ਦਸਤਾਵੇਜ਼
Name[pl]=Najnowsza dokumentacja Qt
Name[pt]=Última Documentação 'Online' do Qt
Name[pt_BR]=Documentação on-line da última versão da Qt
Name[ro]=Documentaţia Qt on-line
Name[ru]=Наиболее свежая онлайн-документация Qt
Name[se]=Ođđamus Qt-dokumentašuvdna fierpmádagas
Name[sk]=Posledná online dokumentácia Qt
Name[sl]=Najnovejša spletna dokumentacija za Qt
Name[sr]=Најновија документација Qt-а на вези
Name[sr@Latn]=Najnovija dokumentacija Qt-a na vezi
Name[sv]=Senaste Qt-direktdokumentation
Name[ta]=புதிய க்யூ டீ இணை ஆவணப்பதிவு
Name[tg]=Ҷадидтарин мустанадҳои рӯи хати Qt 
Name[th]=เอกสารออนไลน์ล่าสุดเกี่ยวกับ Qt
Name[tr]=Güncel Qt Dökümantasyonu
Name[uk]=Остання документація Qt онлайн
Name[uz]=Qt учун кўлланма
Name[vi]=Tài liệu trực tuyến mới nhất của Qt
Name[wa]=Documintåcion di Qt so les fyis
Name[xx]=xxLatest Qt Online Documentationxx
Name[zh_CN]=最新的 Qt 在线文档
Name[zh_TW]=最新的 Qt 線上文件
Query=http://doc.trolltech.com/latest/\\{@}.html
Query[xx]=xxhttp://doc.trolltech.com/latest/\\{@}.htmlxx
ServiceTypes=SearchProvider
Type=Service
