[Desktop Entry]
Encoding=UTF-8
Keys=rfc,rfcs
Name=IETF Requests for Comments
Name[af]=Ietf Versoeke vir Kommentaar
Name[ar]=طلبات IETF للتعليقات
Name[az]=IETF Şərh İstəyi
Name[bs]=IETF Requests for Comments (RFC)
Name[ca]=Requeriments per a comentaris de la IETF
Name[cy]=Ceisiadau am Sylwadau IETF
Name[el]=IETF ερωτήσεις για σχόλια
Name[eo]=IETF-Komentodokumento (RFC)
Name[fa]=در خواست IETF برای نظر
Name[fi]=IETF kommenttipyynnöt
Name[fr]=RFC IETF
Name[gl]=IETF Peticións de Comentarios
Name[hi]=IETF निवेदन, टिप्पणी के लिए
Name[hu]=IETF RFC-k (Request for Comments)
Name[is]=IETF Requests for Comments (RFC)
Name[it]=RFC di IETF
Name[lv]=IETF Komentāru Pieprasījums
Name[mk]=IETF Барања за коментари (rfc)
Name[nds]=RFCs (IETF-"Requests for Comments")
Name[nso]=Dikgopelo tsa IETF tsa Dipolelwana
Name[pa]=ਟਿੱਪਣੀ ਲਈ IETF ਬੇਨਤੀ
Name[pl]=IETF - dokumenty RFC (standardy i protokoły)
Name[pt]=Pedidos de Comentários (RFCs) do IETF
Name[pt_BR]=RFC (Requests for Comments)
Name[ro]=RFC-uri IETF
Name[ru]=Запросы для комментариев IETF (RFC)
Name[sl]=Zahteve IETF za komentarje
Name[sr]=IETF-ови захтеви за коментаре
Name[sr@Latn]=IETF-ovi zahtevi za komentare
Name[ta]=IETF குறிப்புகளுக்கான வேண்டுதல்கள்
Name[tg]=Барои назри IETF-и дархост
Name[th]=การร้องขอ IETF สำหรับคำอธิบาย
Name[tr]=IETF Yorum istemleri
Name[uk]=Запит коментарів (RFC) IETF
Name[ven]=IETF i humbela Mahumbulwa
Name[xh]=Izicelo Zogqabazo ze IETF
Name[xx]=xxIETF Requests for Commentsxx
Name[zh_CN]=IETF 评论请求
Name[zh_TW]=IETF RFC 文件
Name[zu]=Izicelo ze-IETF zemibono
Query=http://www.ietf.org/rfc/rfc\\{@}.txt
Query[xx]=xxhttp://www.ietf.org/rfc/rfc\\{@}.txtxx
ServiceTypes=SearchProvider
Type=Service
