[Desktop Entry]
Encoding=UTF-8
Icon=history
Type=Application
Exec=kcmshell kcmhistory

X-KDE-ModuleType=Library
X-KDE-Library=history
X-KDE-FactoryName=history

Name=History Sidebar
Name[x-test]=xxHistory Sidebarxx
Comment=Configure the history sidebar
Comment[x-test]=xxConfigure the history sidebarxx
Keywords=history,expire
Keywords[x-test]=xxhistory,expirexx
Categories=Qt;KDE;X-KDE-settings-webbrowsing;
