[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SearchKeywordsFilter
Name[af]=Soektogsleutelwoordfilter
Name[az]=DaramaKəliməSüzgəci
Name[br]=SilGerioùAlc'hwezKlask
Name[ca]=Filtre de paraules de recerca
Name[cy]=HidlChwilioAllweddeiriau
Name[da]=SøgNøgleordsFilter
Name[de]=Suchstichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών αναζήτησης
Name[eo]=Filtrilo por serĉaj ŝlosilvortoj
Name[es]=Filtro de palabras clave de búsqueda
Name[eu]=Bilaketarako gako-hitzen iragazkia
Name[fa]=صافی‌کلیدواژه‌ها‌ی‌جستجو
Name[fr]=Filtre de mots-clefs de recherche
Name[fy]=SykwurdenFilter
Name[he]=מסנן מילות מפתח לחיפוש
Name[hi]=सर्च की-वर्ड्स फ़िल्टर
Name[hu]=Kulcsszavak keresési szűrője
Name[id]=FilterPencarianKeyword
Name[is]=StikkorðaLeitarSía
Name[ja]=キーワード検索フィルタ
Name[ko]=키워드 찾기 거르개
Name[lo]=ຕົວກອງຄຳຄົ້ນຫາ
Name[lt]=PaieškosRaktažodžiųFiltras
Name[lv]=MeklēšanasAtslēgasvārduFiltrs
Name[mn]=Хайх түлхүүр үг-Шүүгч
Name[nds]=Filter för Söökafkörten
Name[nl]=ZoekTermenFilter
Name[nso]=Sesekodi sa Mantsuhlokwa a Nyako
Name[oc]=Filtre de paraules de cerca
Name[pa]=ਖੋਜ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr słów kluczowych
Name[pt]=Filtro de Palavras-chave de Busca
Name[pt_BR]=Filtro de Procura de Palavras-Chave
Name[ro]=Filtru de cuvinte cheie de căutare
Name[ru]=Фильтр ключевых слов поиска
Name[sk]=Hľadať Hľadania Klávesových skratiek
Name[sl]=Filter ključnih besed za iskanje
Name[sr]=Филтер речи за претраживање
Name[sr@Latn]=Filter reči za pretraživanje
Name[sv]=Sökordsökningsfilter
Name[ta]=முக்கிய வார்த்தைகள் வடிகட்டியை தேடு
Name[tg]=Софи калидвожаҳои ҷустуҷӯӣ
Name[th]=ตัวกรองคำค้นหา
Name[tr]=TaramaKelimeSüzgeci
Name[uk]=Фільтр ключових слів Інтернет
Name[uz]=Қидириш калит сўзлар филтери
Name[ven]=Filithara ya Khiimaipfi yau setsha
Name[vi]=Trình tìm và lọc các từ khoá 
Name[xh]=Phendla Amagama Angundoqo Ecebo Lokucoca Ulwelo
Name[xx]=xxSearchKeywordsFilterxx
Name[zh_CN]=搜索关键字过滤
Name[zh_TW]=搜索關鍵字過濾
Name[zu]=Ihluzo lamagama abalulekile okusesha
X-KDE-Library=libkurisearchfilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=4
