[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=SearchProvider
Comment=Search Engine
Comment[af]=Soektog Masjien
Comment[ar]=محرك بحث
Comment[az]=Axtarış Mühərriki
Comment[bn]=সার্চ ইঞ্জিন
Comment[br]=Keflusker klask
Comment[bs]=Tražilica
Comment[ca]=Motor de recerca
Comment[cs]=Vyhledávací stroj
Comment[cy]=Peiriant Chwilio
Comment[da]=Søgemaskine
Comment[de]=Suchmaschine
Comment[el]=Μηχανή αναζήτησης
Comment[eo]=Serĉilo
Comment[es]=Motor de búsqueda
Comment[et]=Otsingumootor
Comment[eu]=Bilaketa motorea
Comment[fa]= موتور جستجو
Comment[fi]=Hakukone
Comment[fo]=Leitiskipan
Comment[fr]=Moteur de recherche
Comment[fy]=Sykmasine
Comment[ga]=Inneall Cuardaigh
Comment[gl]=Ferramenta de Procura
Comment[he]=מנוע חיפוש
Comment[hi]=खोज इंजिन
Comment[hr]=Pretraživač
Comment[hu]=Keresőmotor
Comment[is]=Leitarvél
Comment[it]=Motore di ricerca
Comment[ja]=検索エンジン
Comment[ko]=찾는 엔진
Comment[lo]=ກົນໄກການຄົ້ນຫາ
Comment[lt]=Paieškos tarnyba
Comment[lv]=Meklēšanas dzinējs
Comment[mk]=Машина за пребарување
Comment[mn]=Хайлтын машин
Comment[mt]=Magna tat-Tfittxija
Comment[nb]=Søkemotor
Comment[nds]=Söökmaschien
Comment[nl]=Zoekmachine
Comment[nn]=Søkjemotor
Comment[nso]=Engine ya Nyako
Comment[pa]=ਖੋਜ ਇੰਜਣ
Comment[pl]=Wyszukiwarka
Comment[pt]=Procurar ficheiros
Comment[pt_BR]=Mecanismo de procura
Comment[ro]=Motor de căutare
Comment[ru]=Поисковая машина
Comment[se]=Ohcanmotor
Comment[sk]=Hľadací nástroj
Comment[sl]=Iskalnik
Comment[sr]=Претраживачка машина
Comment[sr@Latn]=Pretraživačka mašina
Comment[ss]=Injini yekusesha
Comment[sv]=Sökmotor
Comment[ta]=தேடு இயந்திரம்
Comment[tg]=Мошини ҷустуҷӯӣ
Comment[th]=กลไกการค้นหา
Comment[tr]=Arama Motoru
Comment[uk]=Механізм пошуку
Comment[uz]=Қидириш воситаси
Comment[ven]=Nzhini yau setsha
Comment[vi]=Dụng cụ tìm kiếm
Comment[wa]=Ricwerrece
Comment[xh]=Phendla Injini
Comment[xx]=xxSearch Enginexx
Comment[zh_CN]=搜索引擎
Comment[zh_TW]=搜索引擎
Comment[zu]=Injini Yokusesha

[PropertyDef::Keys]
Type=QStringList

[PropertyDef::Query]
Type=QString

[PropertyDef::Charset]
Type=QString
