[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MultiColumn View
Name[af]=Multi-kolom Besigtig
Name[ar]=عرض متعدد الأعمدة
Name[az]=Çoxlu Sütun Görünüşü
Name[bg]=Многоколонен преглед
Name[bn]=মাল্টিকলাম ভিউ
Name[br]=Gwel liesbann
Name[bs]=Višekolonski pogled
Name[ca]=Vista multicolumna
Name[cs]=Vícesloupcový pohled
Name[cy]=Golwg Aml-golofn
Name[da]=Multisøjlevisning
Name[de]=Mehrspaltige Ansicht
Name[el]=Προβολή Πολλαπλών στηλών
Name[eo]=Multkolumna rigardo
Name[es]=Vista multicolumna
Name[et]=Vaade mitme tulbana
Name[eu]=Zutabe aniztun ikuspegia
Name[fa]=منظر چند ستونی
Name[fi]=Monipalstanäkymä
Name[fr]=Multicolonne
Name[ga]=Amharc Il-cholúin
Name[gl]=Vista en Múltiples Columnas
Name[he]=תצוגת טורים
Name[hi]=अनेक-स्तम्भ दृश्य
Name[hr]=Pogled s više stupaca
Name[hu]=Lista
Name[id]=Tampilan Multi kolom
Name[is]=Dálkskipt sýn
Name[it]=Vista a colonne multiple
Name[ja]=マルチコラムビュー
Name[ko]=여러 칸으로 보기
Name[lo]=ມຸນມອງແບບຫລາຍຄໍລຳ
Name[lt]=Rodyti keliais stulpeliais
Name[lv]=Daudzkolonu Skatījums
Name[mk]=Приказ со повеќе колони
Name[mn]=Олон баганаар харах
Name[mt]=Kolonni
Name[nb]=Flerkolonnevisning
Name[nds]=Mehrstriepen-Ansicht
Name[nl]=Multikolomweergave
Name[nn]=Multikolonne-vising
Name[nso]=Pono ya Kholomo ya Bontshi
Name[pa]=ਬਹੁ-ਕਾਲਮ ਦਰਿਸ਼
Name[pl]=Widok wielokolumnowy
Name[pt]=Vista por Multi-colunas
Name[pt_BR]=Visão Multicolunas
Name[ro]=Vizualizare multicoloană
Name[ru]=В несколько колонок
Name[se]=Moanaidbálsttá-čájeheapmi
Name[sk]=Multi-stĺpcový pohľad
Name[sl]=Večstolpčni pogled
Name[sr]=Приказ са више колона
Name[sr@Latn]=Prikaz sa više kolona
Name[sv]=Flerkolumnsvy
Name[ta]=பலநெடுவரிசை காட்சி
Name[tg]=Ба намуди чанд сутун
Name[th]=แบบหลายคอลัมน์
Name[tr]=Çoklu Sütun Görünümü
Name[uk]=Вигляд стовпчиками
Name[uz]=Кўп устун кўринишида
Name[ven]=Mbonalelo ya kholomu dzo fhambananho
Name[vi]=Xem kiểu nhiều cột(multicolumn)
Name[wa]=Vey e colones
Name[xh]=Imboniselo Enemihlathi emininzie
Name[xx]=xxMultiColumn Viewxx
Name[zh_CN]=多列视图
Name[zh_TW]=多列瀏覽
Name[zu]=Umbukiso onamakholumu amaningi
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_iconview
X-KDE-BrowserView-AllowAsDefault=true
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Args=MultiColumnView
X-KDE-BrowserView-ModeProperty=viewMode
X-KDE-BrowserView-ModePropertyValue=MultiColumnView
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_multicolumn
InitialPreference=9
