[Desktop Entry]
Type=Service
Exec=blahfoo
Name=Icon View
Name[ca]=Vista d'icones
Name[cs]=Pohled s ikonami
Name[da]=Ikonvisning
Name[de]=Symbol-Ansicht
Name[el]=Προβολή Εικονιδίων
Name[eo]=Piktogramrigardo
Name[es]=Vista de Icono
Name[et]=Vaade ikoonidena
Name[fi]=Kuvakenäkymä
Name[fr]=Icônes
Name[gl]=Vista con Iconas
Name[he]=םילמס תגוצת
Name[hr]=Pregled ikona
Name[hu]=ikonnézet
Name[is]=Táknmyndasýn
Name[it]=Vista a icone
Name[ja]=アイコンビュー
Name[mk]=Приказ со икони
Name[nl]=Pictogramweergave
Name[no]=Ikonvisning
Name[no_NY]=Ikon-vising
Name[pl]=Widok ikon
Name[pt]=Vista por icones
Name[pt_BR]=Visão em Ícones
Name[ro]=Vizualizare iconică
Name[ru]=Вид с писктограмами
Name[sk]=Prezerač Ikoniek
Name[sl]=Ikoniziran pogled
Name[sr]=Pogled sa ikonicama
Name[sv]=Ikonvy
Name[ta]=ÌÚõÀ¼õ ¸¡ðº¢
Name[tr]=Simge Görünümü
Name[uk]=Вигляд піктограммами
Name[zh_CN.GB2312]=图标视图
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqiconview
X-KDE-BrowserView-AllowAsDefault=true
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Args=IconView
X-KDE-BrowserView-ModeProperty=viewMode
X-KDE-BrowserView-ModePropertyValue=IconView
Icon=view_icon
InitialPreference=10
