[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=MultiColumn View
Comment[ca]=Vista multicolumna
Comment[cs]=Vícesloupcový pohled
Comment[da]=Multisøjlevisning
Comment[de]=Mehrspaltige Ansicht
Comment[eo]=Multkolumna rigardo
Comment[et]=Vaade mitme tulbana
Comment[fi]=Monisarakenäkymä
Comment[fr]=Multi-colonnes
Comment[he]=המישר תגוצת
Comment[hu]=Többoszlopos nézet
Comment[it]=Vista a colonne multiple
Comment[ja]=マルチコラムビュー
Comment[mk]=Приказ во колони
Comment[nl]=Multikolommenweergave
Comment[no]=Flerkolonnevisning
Comment[no_NY]=Multikolonne-vising
Comment[pl]=Widok wielokolumnowy
Comment[pt]=Vista por Multicolunas
Comment[pt_BR]=Visão em multicolunas
Comment[ru]=Многоколонный вид
Comment[sl]=Večstolpčni pogled
Comment[ta]=பலவரிைச காடஂசி
Comment[tr]=Çoklu Sütun Görünümü
Comment[uk]=Вигляд у багато стопчиків
MimeType=inode/directory
Name=KonqMultiColumnView
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqiconview
X-KDE-BrowserView-AllowAsDefault=true
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Args=MultiColumnView
X-KDE-BrowserView-ModeProperty=viewMode
X-KDE-BrowserView-ModePropertyValue=MultiColumnView
Icon=view_multicolumn
InitialPreference=9
