[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=Iconview
MimeType=inode/directory
Name=KonqKfmIconView
ServiceTypes=Browser/View
X-KDE-Library=libkonqiconview
