[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/cache/index.html
Icon=cache
Exec=kcmshell cache


X-KDE-Library=kio
X-KDE-FactoryName=cache
X-KDE-ParentApp=kcontrol

Name=Cache
Name[af]=Kas
Name[ar]=الذاكرة المخبئية
Name[az]=Ön Yaddaş
Name[bg]=Временна памет
Name[bn]=ক্যাশে (Cache)
Name[br]=Krubuilh
Name[ca]=Cau
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[eo]=Tenejo
Name[es]=Caché
Name[eu]=Katxea
Name[fa]=کاشه
Name[fi]=Välimuisti
Name[fy]=Lyts Unthâld
Name[ga]=Taisce
Name[gl]=Caché
Name[he]=מטמון
Name[hi]=कैश
Name[hr]=Predmemorija (cache)
Name[hu]=Gyorstár
Name[is]=Skyndiminni
Name[ja]=キャッシュ
Name[ko]=캐시
Name[lo]=ແຄຊ
Name[lt]=Krepšys
Name[lv]=Kešs
Name[mk]=Кеш
Name[mn]=Завсрын хадгалагч
Name[nb]=Mellomlager
Name[nds]=Twischenspieker
Name[nn]=Mellomlager
Name[nso]=Polokelo
Name[pa]=ਕੈਚੇ
Name[pl]=Bufor
Name[ru]=Кэш
Name[sk]=Vyrovnávacia pamäť
Name[sl]=Prepomnilnik
Name[sr]=Кеш
Name[sr@Latn]=Keš
Name[ta]=தற்காலிக
Name[tg]=Кеш
Name[th]=แคช
Name[tr]=Önbellek
Name[uk]=Кеш
Name[uz]=Кэш
Name[vi]=Đệm
Name[wa]=Muchete
Name[xh]=Indawo yokugcina efihlakeleyo
Name[xx]=xxCachexx
Name[zh_CN]=缓存
Name[zh_TW]=快取
Comment=Configure web cache settings
Comment[af]=Konfigureer web kas instellings
Comment[ar]=قم بإعداد الذاكرة المخبئية للمتصفح
Comment[az]=Veb ün yaddaş qurğuları
Comment[bg]=Настройки на временната памет
Comment[bn]=ওয়েব ক্যাশে সেটিংস কনফিগার করুন
Comment[br]=Kefluniañ krubuilh ar gwiad
Comment[bs]=Podesite postavke web cache-a
Comment[ca]=Configura les opcions per al cau web
Comment[cs]=Nastavení cache pro webové stránky
Comment[cy]=Ffurfweddu gosodiadau'r storfa w?
Comment[da]=Indstil cache-opsætning
Comment[de]=Einstellungen zum Zwischenspeicher vornehmen
Comment[el]=Ρυθμίστε τη λανθάνουσα μνήμη ιστοσελίδων
Comment[eo]=Agordo de tenejo
Comment[es]=Preferencias del caché de web
Comment[et]=Veebi vahemälu seadistamine
Comment[eu]=Konfiguratu web katxearen ezarpenak
Comment[fa]=تنظیم کاشه‌ی وب
Comment[fi]=WWW-välimuistin asetuksia
Comment[fr]=Configuration des réglages du cache web
Comment[fy]=Hjir kinst it lyts ûnthâld fan it web ynstelle
Comment[gl]=Configura-las opcións da caché web
Comment[he]=שינוי הגדרות המטמון
Comment[hi]=वेब कैश विन्यास कॉन्फ़िगर करें
Comment[hr]=Ovdje podešavate postavke web predmemorije (cache)
Comment[hu]=A webböngészési gyorstár beállításai
Comment[is]=Stilla skyndiminni fyrir vefflakk
Comment[it]=Configura le impostazioni della cache del web
Comment[ja]=WEBキャッシュ設定
Comment[lo]=ປັບແຕ່ງການຕັ້ງຄ່າລະບົບແຄຊທີ່ນີ້
Comment[lt]=Čia galite keisti WWW krepšio parametrus
Comment[mk]=Конфигурирајте ги поставките за веб-кеш
Comment[mn]=Завсрын хадгалагч тохируулах
Comment[mt]=Ikkonfigura l-cache tal-web
Comment[nb]=Tilpass mellomlageret
Comment[nds]=Den Nett-Twischenspieker instellen
Comment[nl]=Hier kunt u de webcache instellen
Comment[nn]=Oppsett av vevmellomlager
Comment[nso]=Beakanya dipeakanyo tsa polokelo ya web
Comment[pa]=ਵੈੱਬ ਕੈਂਚੇ ਵਿਵਸਥਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień bufora (cache'a)
Comment[pt]=Configuração das opções da 'cache' da Web
Comment[pt_BR]=Configura as preferências de cache
Comment[ro]=Configurează setările cache-ului web
Comment[ru]=Настройка кэша
Comment[sk]=Nastavenie vyrovnávacej pamäti pre WWW
Comment[sl]=Nastavitve spletnega predpomnilnika
Comment[sr]=Подешавање поставки веб кеша
Comment[sr@Latn]=Podešavanje postavki veb keša
Comment[sv]=Anpassa webbcacheinställningar
Comment[ta]=வலை தற்காலிக அமைப்புகளை வடிவமை
Comment[tg]=Танзими кеши вэб
Comment[th]=ปรับแต่งการตั้งค่าระบบแคช
Comment[tr]=Web önbellek ayarlarını buradan yapabilirsiniz
Comment[uk]=Налаштування установок кешу Тенет
Comment[uz]=Веб-кэш мосламаларини мослаш
Comment[ven]=Dzudzanyani mavhekanyele a cache a webu
Comment[vi]=Cấu hình các thiết lập bộ đệm cho Web
Comment[wa]=Fijhoz l' apontiaedje del muchete des pådjes waibe chal
Comment[xh]=Qwalasela izicwangciso ze web yendawo yokugcina efihlakeleyo
Comment[xx]=xxConfigure web cache settingsxx
Comment[zh_CN]=配置网页缓存设置
Comment[zh_TW]=設定網頁快取設定
Comment[zu]=Hlanganisela izilungiselelo ze-cache ye-web
Keywords=Cache,History,Browsing History,Ports,Size
Keywords[ar]=Cache,History,Browsing History,Ports,Size,الذاكرة المخبئية,التأريخ,تأريخ المتصفح,المنافذ,الحجم
Keywords[az]=Kaşe,Keçmiş,Səyahət Keçmişi,Qapılar,Böyüklük
Keywords[bg]=кеш, памет, временни, копия, страница, Cache, History, Browsing History, Ports, Size
Keywords[br]=Krubuilh,istor,furchal an istor,porzhioù,ment
Keywords[ca]=Cau,Historial,Historial de navegació,Ports,Mida
Keywords[cs]=Cache,Historie,Porty,Velikost
Keywords[cy]=Storfa,Hanes,Hanes Pori,Pyrth,Maint
Keywords[da]=Cache,Historik,Netsøgningshistorik,Porte,Størrelse
Keywords[de]=Cache,Verlauf,History,Ports,Zwischenspeicher, Größe
Keywords[el]=Λανθάνουσα μνήμη,Ιστορικό,Ιστορικό περιήγησης,Θύρες,Μέγεθος
Keywords[eo]=Tenejo,Historio,TTT-umado,Pordoj,Grandeco
Keywords[es]=Caché,Historia,Historia de navegación,Puertos,Tamaño
Keywords[et]=cache,puhver,lehitsemise puhver,pordid,suurus
Keywords[eu]=Katxea,Historia,Arakaketa historia,Atakak,Neurria
Keywords[fa]=Cache,History,Browsing History,Ports,Size,کاشه
Keywords[fi]=Välimuisti,Historia,Selailuhistoria,Portit,Koko
Keywords[fr]=Cache,historique,navigation de l'historique,ports,taille
Keywords[fy]=cache,lyts ûnthâld,history,Histoarje,grutte,Ynternet
Keywords[gl]=Caché,Historial,Historial de Navegación,Portos,Tamaño
Keywords[he]=מטמון,היסטוריה,היסטוריית גלישה,יציאות,גודל
Keywords[hi]=कैश,इतिहास,ब्राउज़िंग इतिहास,पोर्ट,आकार
Keywords[hr]=Cache,predmemorija, History,povijest, Browsing History,Ports,portovi, Size,veličina
Keywords[hu]=gyorstár,napló,böngészési napló,portok,méret
Keywords[is]=Biðminni,Saga,Vafrasaga,Port,Stærð,Cache,History,Browsing History,Ports,Size
Keywords[it]=cache,cronologia,navigazione,cronologia di navigazione,porte,dimensione
Keywords[ja]=キャッシュ,履歴,ブラウズの履歴,ポート,サイズ
Keywords[ko]=Cache,History,Browsing History,Ports,Size,캐시,크기
Keywords[lo]=ແຄຊ,ປະຫວັດການໃຊ້,ປະຫວັດການທ່ອງເວບประวัต,ພັອດ,ຂະຫນາດ
Keywords[lt]=Cache,History,Browsing History,Ports,Size, kešas,krepšys,žurnalas,istorija,naršymo žurnalas,naršymo istorija,portai,dydis
Keywords[mk]=Cache,History,Browsing History,Ports,Size,Кеш,Историја,Прелистување на историјата,Портови,Големина
Keywords[mn]=Cache,Түүх,History,Порт,Завсрын хадгалагч,Хэмжээ
Keywords[nb]=Mellomlager,Historie,Lesehistorie,Porter,Størrelse
Keywords[nds]=Twischenspieker,Geschicht,Browsing History,Porten,Grött
Keywords[nl]=cache,history,geschiedenis,grootte,internet
Keywords[nn]=cache,mellomlager,historie,nettlesarhistorie,portar,storleik
Keywords[nso]=Polokelo,Histori,Hostori ya Boinyakisi,Maboemo,Bogolo
Keywords[pl]=cache,bufor,historia,historia przeglądania,porty,rozmiar
Keywords[pt]=Cache,Histórico,Histórico de Navegação,Portos,Tamanho
Keywords[pt_BR]=Cache,Histórico,Histórico de Navegação,Portas,Tamanho
Keywords[ro]=cache,istoric,navigare în istoric,porturi,mărime
Keywords[sk]=Cache,Keš,vyrovnávacia pamäť,prehliadanie,história,porty,veľkosť
Keywords[sl]=predpomnilnik,zgodovina,zgodovina brskanja,vrata,velikost
Keywords[sr]=Кеш, Историја, Претраживање историје, Портови, Величина
Keywords[sr@Latn]=Keš, Istorija, Pretraživanje istorije, Portovi, Veličina
Keywords[sv]=Cache,Historik,Webbläsningshistorik,Portar,Storlek
Keywords[ta]=தற்காலிக,வரலாறு,உலாவுதலின் வரலாறு,முனையங்கள்,அளவு
Keywords[th]=แคช,ประวัติการใช้,ประวัติการท่องเว็บ,พอร์ต,ขนาด
Keywords[tr]=Arabellek,Tarihçe,Gözatma Tarihçesi,Portlar
Keywords[uk]=кеш,історія, історія навігації,порти,розмір
Keywords[uz]=Кэш,Веб-саҳифалар тариҳи,Тарих,Портлар
Keywords[ven]=Cache,Divhazwakale,Divahzwakale ya Burausini,Ports,Saizi
Keywords[vi]=Đệm,Lịch sử,Lịch sử duyệt,Cổng,Cỡ
Keywords[wa]=Muchete,Istwere,Istwere do foytaedje,Pôrts,Grandeu
Keywords[xh]=Indawo yokugcina, Imbali, imbali Yokhangelo zincwadi, Amazibuko, Ubungakanani
Keywords[xx]=xxCache,History,Browsing History,Ports,Sizexx
Keywords[zh_CN]=Cache,History,Browsing History,Ports,Size,缓存,历史
Keywords[zh_TW]=Cache,History,Browsing History,Ports,Size,快取
Keywords[zu]=Cache,Umlando,Umlando wokucinga,Izikhumulo,Usayizi

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
