[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/cookies/index.html
Icon=cookie
Exec=kcmshell cookies


X-KDE-Library=kio
X-KDE-FactoryName=cookie
X-KDE-ParentApp=kcontrol

Name=Cookies
Name[af]=Koekies
Name[ar]=السكاكر
Name[az]=Kökələr (Cookies)
Name[be]=Закладкі (cookies)
Name[bg]=Кукита
Name[bn]=কুকি
Name[br]=Toupinoù
Name[bs]=Kolačići
Name[ca]=Galetes
Name[cy]=Cwcis
Name[da]=Cookier
Name[eo]=Kuketoj
Name[et]=Küpsised
Name[eu]=Cookie-ak
Name[fa]=کلوچه‌ها
Name[fi]=Evästeet
Name[fy]=Koekjes
Name[ga]=Fianáin
Name[he]=עוגיות
Name[hi]=कुकीज़
Name[hr]=Kolačići
Name[hu]=Cookie-k
Name[is]=Smákökur
Name[it]=Cookie
Name[ja]=クッキー
Name[ko]=쿠키
Name[lo]=ຄຸກກີ້
Name[lt]=Slapukai
Name[lv]=Cepumi
Name[mk]=Колачиња
Name[nb]=Informasjonskapsler
Name[nds]=Kookjes
Name[nn]=Informasjonskapslar
Name[nso]=Di-Cookie
Name[pa]=ਕੂਕੀਜ਼
Name[pl]=Ciasteczka
Name[ro]=Cookie-uri
Name[se]=Diehtočoahkku
Name[sl]=Piškotki
Name[sr]=Колачићи
Name[sr@Latn]=Kolačići
Name[sv]=Kakor
Name[ta]=தற்காலிக நினைவுகள்
Name[th]=คุกกี้
Name[tr]=Çerezler
Name[uk]=Куки
Name[uz]=Кукилар
Name[wa]=Coukes
Name[xx]=xxCookiesxx

Comment=Configure the way cookies work
Comment[af]=Konfigureer die weg koekies werk
Comment[ar]=قم بتهيئة طريقة عمل السكاكر
Comment[az]=Kökələrin işləmə yollarını quraşdır
Comment[bg]=Настройки на кукитата
Comment[bn]=কুকি কনফিগার করুন
Comment[bs]=Podesite način rada cookie-ja
Comment[ca]=Configura com treballaran les galetes
Comment[cs]=Nastavení chování cookies
Comment[cy]=Ffurfweddu'r ffordd y mae cwcis yn gweithio
Comment[da]=Indstil den måde cookier virker
Comment[de]=Einstellungen zu Cookies vornehmen
Comment[el]=Ρυθμίστε τον τρόπο με τον οποίο δουλεύουν τα cookies
Comment[eo]=Agordo de kuketoj
Comment[es]=Configuración del funcionamiento de las cookies
Comment[et]=Küpsiste käitumise seadistamine
Comment[eu]=Konfiguratu cookien portamoldea
Comment[fa]=تنظیم نوع کار کلوچه‌ها
Comment[fi]=Evästeiden toiminta
Comment[fr]=Configuration de la manière dont les cookies fonctionnent
Comment[fy]=Hjir kinst de wurkwize fan koekjes ynstelle
Comment[gl]=Configura-lo funcionamento das cookies
Comment[he]=שינוי הגדרות פעולת העוגיות
Comment[hi]=कुकीज़ के कार्य करने के ढंग कॉन्फ़िगर करें
Comment[hr]=Podesite rad s kolačićima (cookies)
Comment[hu]=A cookie-k beállításai
Comment[is]=Stilla hvernig tekið er við smákökum
Comment[it]=Configurazione del funzionamento dei cookie
Comment[ja]=クッキーの扱いの設定
Comment[lo]=ປັບແຕ່ງການຕັ້ງຄ່າລະບົບແຄຊທີ່ນີ້
Comment[lt]=Čia galite keisti slapukų veikimą
Comment[lv]=Šeit jūs varat konfigurēt cepumus
Comment[mk]=Конфигурирајте го начинот на кој работат колачињата
Comment[mn]=Cookies ажлыг тохируулах
Comment[mt]=Ikkonfigura kif jaħdmu l-"cookies"
Comment[nb]=Tilpass hvordan informasjonskapsler behandles
Comment[nds]=Instellen woans de 'Kookjes' funktscheneert
Comment[nl]=Hier kunt u het cookiesbeleid instellen
Comment[nn]=Oppsett av informasjonskapslar
Comment[nso]=Beakanya kamokgwa wo di-cookies di berekago kagona
Comment[pa]=ਕੂਕੀਜ਼ ਕੰਮ ਦੇ ਢੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja działania ciasteczek (cookies)
Comment[pt]=Configuração da forma como os 'cookies' funcionam
Comment[pt_BR]=Configura a maneira como os cookies funcionarão
Comment[ro]=Configurează modul în care acţionează cookie-urile
Comment[ru]=Настройка cookies
Comment[se]=Diehtočoahkkoheivehusat
Comment[sk]=Nastavenie podpory cookies
Comment[sl]=Nastavitve delovanja piškotkov
Comment[sr]=Подешавање начина на који раде колачићи
Comment[sr@Latn]=Podešavanje načina na koji rade kolačići
Comment[sv]=Anpassa hur kakor fungerar
Comment[ta]=தற்காலிக நினைவகங்கள் வேலையை வடிவமை
Comment[tg]=Мизроб кардани cookies
Comment[th]=ปรับแต่งการตั้งค่าระบบแคช
Comment[tr]=Çerezlerin çalışmasını yapılandırır
Comment[uk]=Налаштування механізму кук
Comment[uz]=Кукилар ишлашини мослаш
Comment[ven]=Dzudzanyani ndila ine cookies dza shuma ngayo
Comment[vi]=Cấu hình cách cookies hoạt động
Comment[xh]=Qwalasela indlela ezisebenza ngayo i cookies
Comment[xx]=xxConfigure the way cookies workxx
Comment[zh_CN]=配置 cookies 相关设置
Comment[zh_TW]=設定 cookies 運作方式
Comment[zu]=Hlanganisela indlela i-cookies esebenza ngayo 

Keywords=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
Keywords[ar]=السكاكر,التصفح,الإنترنت,الشبكة العالمية,الشبكة,السياسة,أسماء النطاقات,Cookies,Browsing,Internet,WWW,Network,Policy,Domains
Keywords[az]=Kökələr,Darama,İnternet,WWW,Şəbəkə,Sahə
Keywords[bg]=куки, кукита, Интернет, сърфиране, сесия, сигурност, Cookies, Browsing, Internet, WWW, Network, Policy, Domains
Keywords[ca]=Galetes,fullejar,Internet,WWW,Xarxa,Política,Dominis
Keywords[cs]=Cookie,Prohlížení,Internet,WWW,Síť,Domény
Keywords[cy]=Cwcis,Pori,Rhyngrwyd,WWW,Rhwydwaith,Polisi,Parthau
Keywords[da]=Cookier,Netsøgning,Internet,www,Netværk,Politik,Domæner
Keywords[de]=Cookies,Durchsuchen,Browsen,Surfen,Internet,WWW,Netzwerk,Regelungen,Domains
Keywords[el]=Cookies,Περιήγηση,Διαδίκτυο,WWW,Δίκτυο,Πολιτική,Τομείς
Keywords[eo]=kuketoj,TTT,Interreto,WWW,reto,konduto,retregionoj
Keywords[es]=Cookies,Navegación,Internet,WWW,Red,Política,Dominios
Keywords[et]=küpsised,lehitsemine,Internet,WWW,võrk,reeglid,domeenid
Keywords[eu]=Cookie-ak,Arakaketa,Internet,WWW,Sarea,Arautegia,Domeinuak
Keywords[fa]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains, وب,اینترنت,کلوچه
Keywords[fi]=Evästeet,Selailu,Internet,WWW,Verkko,Politiikka,Verkkoalueet
Keywords[fr]=Cookies,navigation,internet,WWW,Web,réseau,règle,politique,domaine
Keywords[fy]=Koekjes,blêdzjen,ynternet,www,netwurk,wurkwize,domeinen
Keywords[ga]=Fianán,Brabhsáil,Idirlíon,WWW,Líonra,Polasaí,Fearainn
Keywords[gl]=Cookies,Navegación,Internet,WWW,Rede,Política,Dominios
Keywords[he]=עוגיות,גלישה,אינטרנט,WWW,רשת,מדיניות,תחומים
Keywords[hi]=कुकीज़,ब्राउजिंग,इंटरनेट,डब्ल्यूडब्ल्यूडब्ल्यू,नेटवर्क,पालिसी,डोमेन्स
Keywords[hr]=Cookies,Browsing,Internet,WWW,Network,Kolačići,Domene, mreža
Keywords[hu]=cookie-k,böngészés,internet,WWW,hálózat,házirend,tartományok
Keywords[id]=Cookies,Browsing,Internet,WWW,Jaringan,Policy,Domains
Keywords[is]=Smákökur,Flakk,Flakkari,Vafr,Vafri,Vefurinn,Netið,lén
Keywords[it]=cookie,navigazione,Internet,WWW,rete,politica,domini
Keywords[ja]=クッキー,ブラウス,インターネット,WWW,ネットワーク,ポリシー,ドメイン
Keywords[ko]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,쿠키,브라우저,브라우징,인터넷,웹,네트웍,네트워크,도메인,탐색,찾아가기,탐색기
Keywords[lo]=ຄຸກກີ້,ການຮງກເບິ່ງເວບເພດ,ອິນເຕີເນັດ,WWW,ລະບົບເຄືອຂ່າຍ, ຂໍ້ກຳນົດ,ໂດເມນ
Keywords[lt]=Slapukai,Naršymas,Internetas,WWW,Tinklas,Taisyklės,Sritys
Keywords[lv]=Cepumi,Pārlūkošana,Internets,WWW,Tīkls,Politika,Domēni
Keywords[mk]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,Колачиња,Прелистување,Интернет,Мрежа,Политика,Домени
Keywords[mn]=Cookies,Нэгжих,Browsing,Тэнэх,Интернэт,WWW,Сүлжээ,Дүрмүүд,Домайн
Keywords[nb]=cookies,informasjonskapsler,surfing,internett,WWW,verdensveven,nettverk,praksis,domene
Keywords[nds]=Kookjes,Stövern,Internet,WWW,Nettwark,Politik,Domänen
Keywords[nl]=cookies,browsing,internet,www,netwerk,beleid,domeinen
Keywords[nn]=cookies,informasjonskapslar,surfing,internett,WWW,verdsveven,nettverk,praksis,domene
Keywords[nso]=Di-Cookies,Boinyakisi,Internet,WWW,Kgokagano,Molao,Ditikologo
Keywords[pl]=ciasteczka,przeglądanie,Internet,WWW,sieć,zasady,domeny
Keywords[pt]=cookies,navegação,internet,WWW,rede,política,domínios
Keywords[pt_BR]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
Keywords[ro]=cookies,navigare,Internet,WWW,reţea,politici,domenii
Keywords[se]=diehtočoahkku,bláđđen,fierpmádat,WWW,fierbmi,geavat,domeana
Keywords[sk]=Cookies,Prehliadanie, Internet, WWW, Sieť,Politika,Domény
Keywords[sl]=piškotki,brskanje,internet,splet,WWW,omrežje,politika,domene
Keywords[sr]=Cookies,Browsing,Интернет,WWW,Network,Policy,Domains,колачићи,Прегледање,мрежа,полиса,домени
Keywords[sr@Latn]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,kolačići,Pregledanje,mreža,polisa,domeni
Keywords[sv]=Kakor,Surfning,Internet,WWW,Nätverk,Policy,Domäner
Keywords[ta]=தற்காலிக நினைவகம்,உலாவுதல்,இணையம்t,WWW,வலைப்பின்னல்,கொள்கை,வலைதளங்கள்
Keywords[th]=คุกกี้,การเรียกดูเว็บเพจ,อินเตอร์เน็ต,WWW,ระบบเครือข่าย,ข้อกำหนด,โดเมน
Keywords[tr]=Çerezler,Tarama,İnternet,WWW,Ağ,Alan
Keywords[uk]=куки,навігація,Internet,Інтернет,WWW,мережа,правила,домени,Тенета
Keywords[uz]=Кукилар,Интернет,WWW,Тармоқ,Қоида,Доменлар
Keywords[ven]=Cookies,Burousini.Inithenete,WWW<Vhukwamani,Pholisi,Domaini
Keywords[vi]=Cookies,Duyệt,Internet,WWW,Mạng,Chính sách,Tên miền
Keywords[xh]=Cookies,Khangela iincwadi,Internet,WWW,Umsebenzi womnatha,Inkqubo,Ezongameleyo
Keywords[xx]=xxCookies,Browsing,Internet,WWW,Network,Policy,Domainsxx
Keywords[zh_CN]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,浏览,互连网,万维网,网络,策略,域
Keywords[zh_TW]=Cookies,Browsing,Internet,WWW,Network,Policy,Domain,瀏覽,網際網路,網路,策略,域名
Keywords[zu]=Cookies,Cinga,Internet,WWW,Uxhumano olusakazekile,Umthetho, Izindawo

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
