[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=samba
Exec=kcmshell lanbrowser


X-KDE-Library=kio
X-KDE-FactoryName=lanbrowser

Name=Local Network Browsing
Name[ar]=تصفح الشبكة المحلية
Name[az]=Yerli Şəbəkə
Name[be]=Прагляд лякальнай сеткі
Name[bg]=Локална мрежа
Name[bn]=স্থানীয় নেটওয়ার্ক ব্রাউজিং
Name[bs]=Pregledanje lokalne mreže
Name[ca]=Navegació per la xarxa local
Name[cs]=Prohlížení lokální sítě
Name[cy]=Pori Rhwydwaith Lleol
Name[da]=Lokal netværkssøgning
Name[de]=Netzwerk-Browser
Name[el]=Τοπική περιήγηση δικτύου
Name[eo]=Traserĉado de la loka reto
Name[es]=Navegación por la red local
Name[et]=Kohtvõrgu lehitsemine
Name[eu]=Sare lokaleko arakaketa
Name[fa]=مرور شبکه‌ی محلی
Name[fi]=Paikallisverkon selaus
Name[fr]=Navigation dans le réseau local
Name[fy]=Lokaal netwurk
Name[ga]=Brabhsáil an Líonra Logánta
Name[gl]=Exploración da Rede Local
Name[he]=עיון ברשת המקומית
Name[hi]=स्थानीय नेटवर्क ब्राउजिंग
Name[hr]=Pregledavanje lokalne mreže
Name[hu]=Samba-kliens
Name[is]=Staðarnetsflakk
Name[it]=Navigazione rete locale
Name[ja]=ローカルネットワーク参照
Name[lo]=ເຄືອຂ່າຍພາຍໃນ
Name[lt]=Vietinio tinklo naršymas
Name[lv]=Lokālā Tīkla pārlūkošana
Name[mk]=Прелистување на локалната мрежа
Name[mn]=Дотоод Сүлжээ-Хөтөч
Name[mt]=Browsing tan-Network Lokali
Name[nb]=Lesing i lokalnettet
Name[nds]=In't lokale Nettwark stövern
Name[nl]=Lokaal netwerk
Name[nn]=Lokalt nettverk
Name[nso]=Boinyakisi bja Kgokagano ya Selegae
Name[pa]=ਸਥਾਨਿਕ ਨੈੱਟਵਰਕ ਝਲਕਾਰਾ
Name[pl]=Przeglądanie sieci lokalnej
Name[pt]=Navegação na Rede Local
Name[pt_BR]=Navegação em Rede Local
Name[ro]=Răsfoire reţea locală
Name[ru]=Обзор локальной сети
Name[se]=Báikkálaš fierbmebláđđen
Name[sk]=Prehliadanie lokálnej siete
Name[sl]=Brskanje po krajevnem omrežju
Name[sr]=Прегледање локалне мреже
Name[sr@Latn]=Pregledanje lokalne mreže
Name[sv]=Lokal nätverksbläddring
Name[ta]=உள் வலைதல உலாவுதல்
Name[tg]=Обзори шабакаи локалӣ
Name[th]=เรียกดูเครือข่ายท้องถิ่น
Name[tr]=Yerel Ağ Tarama
Name[uk]=Перегляд локальної мережі
Name[uz]=Локал тармоқни кўриш
Name[ven]=Burausini ya vhukwamani ha hefhano
Name[vi]=Duyệt mạng nội bộ
Name[xh]=Ukhangelo Lomsebenzi womnatha Wobulali
Name[xx]=xxLocal Network Browsingxx
Name[zh_CN]=局域网浏览
Name[zh_TW]=區域網路瀏覽
Name[zu]=Ukucinga oxhumanweni oluseduze

Comment=Setup lisa, reslisa and the ioslaves
Comment[ar]=اعداد lisa,realisa و ioslaves
Comment[az]=Lisa, reslisa və ioslaves-i quraşdır
Comment[bg]=Настройки на lisa, reslisa и ioslaves
Comment[bn]=lisa, reslisa এবং ioslaves সেট-আপ
Comment[bs]=Podesite lisa, reslisa i ioslaves
Comment[ca]=Arranja lisa, reslisa i els ioslaves
Comment[cs]=Nastavení Lisa, ResLisa a pomocných zařízení
Comment[cy]=Gosodiad lisa,reslisa a'r gweision-io
Comment[da]=Opsætning af lisa, reslisa og ioslaverne
Comment[de]=Einrichtung von LISa, resLISa und Ein/Ausgabe-Modulen
Comment[el]=Ρύθμιση του lisa, reslisa και των ioslaves
Comment[eo]=Agordo de Lisa, Reslisa kaj la Enel-sklavoj
Comment[es]=Configuración de lisa, reslisa y los ioslaves
Comment[et]=Lisa, reslisa ja KIO moodulite seadistamine
Comment[eu]=Konfiguratu lisa, reslisa eta ioslave-ak
Comment[fa]=تنظیمات lisa, reslisa و ioslaves
Comment[fi]=Lisan, Reslisan ja KIO-palveluiden asetukset
Comment[fr]=Configuration de LISa, ResLISa et des modules d'entrées-sorties
Comment[fy]=Lisa, reslisa en de ioslaves ynstelle
Comment[ga]=Socraigh lisa, reslisa agus ioslaves
Comment[gl]=Configurar lisa, reslisa e os escravos I/O
Comment[he]=שינוי הגדרות reslisa ,lisa והפרוטוקולים
Comment[hi]=लिसा,रेसलिसा तथा आईओस्लेव्स सेटअप करें
Comment[hr]=Podesi lisu, reslisu i io-poslužnike
Comment[hu]=A Lisa, a ResLisa és a KDE protokollok beállításai
Comment[is]=Stilla lisa, reslisa og I/Ú-þrælana
Comment[it]=Imposta lisa, reslisa e gli ioslave
Comment[ja]=lisa, reslisa, ioslaveの設定
Comment[lt]=Lisa, reslisa ir ioslaves nustatymas
Comment[lv]=Uzstāda lisa, reslisa un iovergus
Comment[mk]=Поставете ги lisa, reslisa и ioslaves
Comment[mn]=LISa, resLISa ба Оролт/Гаралт-модулын тохируулга
Comment[mt]=Issettja lisa, reslisa u l-ioslaves
Comment[nb]=Tilpass lisa, reslisa og ioslavene
Comment[nds]=Lisa, reslisa un de In-/Utgaavdeensten instellen
Comment[nl]=Lisa, reslisa en de ioslaves instellen
Comment[nn]=Oppsett av lisa, reslisa og i/u-slavane
Comment[nso]=Beakanya lisa, reslisa le ioslaves
Comment[pa]=lisa, reslisa ਤੇ ioslaves ਸੈੱਟਅੱਪ
Comment[pl]=Ustawienie lisa, reslisa i procedur we/wy
Comment[pt]=Configurar o lisa, o reslisa e os seus ioslaves
Comment[pt_BR]=Configura lisa, reslisa e os escravos
Comment[ro]=Setează lisa, reslisa şi dispozitivele I/O
Comment[ru]=Настройка lisa, reslisa и ioslaves
Comment[se]=Heivet lisa,reslisa ja s/o-šlávaid
Comment[sk]=Nastavenie lisa, reslisa a IO klientov
Comment[sl]=Nastavitve lisa, reslisa in ioslave
Comment[sr]=Подешавање lisa-e, reslisa-e, и ioslave-ова
Comment[sr@Latn]=Podešavanje lisa-e, reslisa-e, i ioslave-ova
Comment[sv]=Ställ in lisa, reslisa och I/O-slavarna
Comment[ta]= லிசா, ரெஸ்லிசா மற்றும் ஐஓஸ்லேவ்ஸ் அமைப்பு
Comment[tg]=Танзимоти lisa, reslisa ва ioslaves
Comment[th]=ตั้งค่า lisa, reslisa และ ioslaves
Comment[tr]=lisa, reslisa ve ioslaves kurulumu
Comment[uk]=Встановлення lisa,reslisa та ioslaves
Comment[uz]=Lisa, reslisa ва ioslave хизматларни мослаш
Comment[ven]=Vhekanyani lisa,reslisa na ioslaves
Comment[vi]=Cài đặt lisa,reslisa và các ioslave 
Comment[xh]=Cwangcisa i lisa, reslisa ne ioslaves
Comment[xx]=xxSetup lisa, reslisa and the ioslavesxx
Comment[zh_CN]=设置 lisa、reslisa 和 ioslaves
Comment[zu]=lungiselela i-lisa, i-reslisa ne-ioslaves

Keywords=samba,smb,windows,network
Keywords[ar]=سامبا،smb،ويندوز،الشبكة
Keywords[az]=xml,rpc,daemon,demon,port,qapı,network,şəbəkə,samba,smb,windows
Keywords[be]=сетка,samba,smb,windows,network
Keywords[bg]=самба, мрежа, локална, преглед, връзка, samba, smb, windows, network
Keywords[br]=samba,smb,prenester,rouedad
Keywords[bs]=samba,smb,windows,network,mreža
Keywords[ca]=samba,smb,windows,xarxa
Keywords[cs]=samba,smb,windows,síť
Keywords[cy]=samba,smb,windows, rhwydwaith
Keywords[da]=samba,smb,windows,netværk
Keywords[de]=samba,smb,windows,netzwerk
Keywords[el]=samba,smb,windows,δίκτυο
Keywords[eo]=samba,smb,fenestro,windows,reto
Keywords[es]=samba,smb,windows,red
Keywords[et]=samba,smb,windows,võrk
Keywords[eu]=samba,smb,windows,sarea
Keywords[fi]=samba,smb,windows,verkko
Keywords[fr]=samba,smb,windows,réseau
Keywords[fy]=samba,smb,windows,netwurk
Keywords[ga]=samba,smb,windows,líonra
Keywords[gl]=samba,smb,windows,rede
Keywords[he]=סמבה,smb,חלונות,רשת
Keywords[hi]=साम्बा,एसएमबी,विंडोज़,नेटवर्क
Keywords[hr]=samba,smb,windows,network,mreža,samba
Keywords[hu]=Samba,smb,Windows,hálózat
Keywords[is]=samba,smb,windows,network,net
Keywords[it]=samba,smb,windows,rete
Keywords[ja]=samba,smb,ウィンドウズ,ネットワーク
Keywords[lt]=samba,smb,windows,network,tinklas
Keywords[lv]=samba,smb,windows,tīkls
Keywords[mk]=samba,smb,windows,network,мрежа,заеднички,Виндоус
Keywords[nb]=samba,smb,windows,nettverk
Keywords[nds]=samba,smb,Windows,Nettwark
Keywords[nl]=samba,smb,windows,netwerk
Keywords[nn]=samba,smb,windows,nettverk
Keywords[pl]=samba,smb,windows,sieć
Keywords[pt]=samba,smb,windows,rede
Keywords[pt_BR]=samba,smb,windows,rede
Keywords[ro]=samba,smb,windows,reţea
Keywords[se]=samba,smb,windows,fierpmádat
Keywords[sk]=samba,smb,windows,sieť
Keywords[sl]=samba,smb,windows,network,omrežje
Keywords[sr]=samba,smb,windows,network,мрежа,самба
Keywords[sr@Latn]=samba,smb,windows,network,mreža,samba
Keywords[sv]=samba,smb,windows,nätverk
Keywords[ta]=சாம்ப்,smb,சாளரங்கள்,வலைதளம்
Keywords[tr]=samba,smb,windows,ağ
Keywords[uk]=samba,smb,windows,мережа
Keywords[uz]=samba,smb,windows,тармоқ
Keywords[vi]=samba,smb,cửa sổ,mạng
Keywords[xx]=xxsamba,smb,windows,networkxx
Keywords[zh_CN]=samba,smb,windows,network,网络

Categories=Qt;KDE;X-KDE-settings-network;
