[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
Icon=samba
Exec=kcmshell lanbrowser

X-KDE-Library=kcm_kio
X-KDE-FactoryName=lanbrowser
X-KDE-ParentApp=kcontrol

Name=Local Network Browsing
Name[fr]=Navigation dans le réseau local
Name[x-test]=xxLocal Network Browsingxx

Comment=Setup lisa, reslisa and the ioslaves
Comment[fr]=Configuration de LISa, ResLISa et des modules d'entrées-sorties
Comment[x-test]=xxSetup lisa, reslisa and the ioslavesxx

Keywords=samba,smb,windows,network
Keywords[fr]=samba,smb,windows,réseau
Keywords[x-test]=xxsamba,smb,windows,networkxx
