[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=samba
Exec=kcmshell lanbrowser


X-KDE-Library=kio
X-KDE-FactoryName=lanbrowser

Name=Local Network Browsing
Name[x-test]=xxLocal Network Browsingxx

Comment=Setup lisa, reslisa and the ioslaves
Comment[x-test]=xxSetup lisa, reslisa and the ioslavesxx

Keywords=samba,smb,windows,network
Keywords[x-test]=xxsamba,smb,windows,networkxx

Categories=Qt;KDE;X-KDE-settings-network;
