[Desktop Entry]
Encoding=UTF-8
Comment=Configure generic network preferences, like timeout values
Exec=kcmshell netpref
Icon=socket
Keywords=timeout,iopref,netpref,network preferences
Name=Preferences
Type=Application
DocPath=kcontrol/netpref/index.html
X-KDE-FactoryName=netpref
X-KDE-Library=kio

X-KDE-ParentApp=kcontrol

Categories=Qt;KDE;X-KDE-settings-network;
