[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/proxy/index.html
Icon=proxy
Exec=kcmshell proxy

X-KDE-Library=kcm_kio
X-KDE-FactoryName=proxy
X-KDE-ParentApp=kcontrol

Name=Proxy
Name[fr]=Serveur mandataire (proxy)
Name[x-test]=xxProxyxx

Comment=Configure the proxy servers used
Comment[fr]=Configuration des serveurs mandataires (proxy) utilisés
Comment[x-test]=xxConfigure the proxy servers usedxx

Keywords=Proxy,Proxy server,Firewall,Squid,proxy
Keywords[fr]=proxy,serveur mandataire,pare-feu,squid
Keywords[x-test]=xxProxy,Proxy server,Firewall,Squid,proxyxx
