[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/smb/index.html
Icon=samba
Exec=kcmshell smb


X-KDE-Library=kio
X-KDE-FactoryName=smb
X-KDE-ParentApp=kcontrol

Name=Windows Shares
Name[x-test]=xxWindows Sharesxx

Comment=Use to configure which windows (SMB) filesystems you can browse
Comment[x-test]=xxUse to configure which windows (SMB) filesystems you can browsexx

Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
Keywords[x-test]=xxSMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwordsxx

