[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/smb/index.html
Icon=samba
Exec=kcmshell smb


X-KDE-Library=kio
X-KDE-FactoryName=smb
X-KDE-ParentApp=kcontrol

Name=Windows Shares

Comment=Use to configure which windows (SMB) filesystems you can browse

Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords

