[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
Icon=agent
Exec=kcmshell useragent
DocPath=kcontrol/useragent/index.html

X-KDE-Library=kcm_kio
X-KDE-FactoryName=useragent
X-KDE-ParentApp=kcontrol

Name=Browser Identification
Name[fr]=Identification du navigateur
Name[x-test]=xxBrowser Identificationxx

Comment=Configure the way Konqueror reports itself
Comment[fr]=Configuration de la manière dont Konqueror se signale
Comment[x-test]=xxConfigure the way Konqueror reports itselfxx

Keywords=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
Keywords[fr]=identité du navigateur,navigateur,WWW,réseau,associations,serveur,connexion,login,internet
Keywords[x-test]=xxUser Agent,Browser,Internet,WWW,Network,agent,bindings,server,loginxx
