[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=InternetKeywordsFilter
Name[af]=Internetsleutelwoordefilter
Name[az]=İnternetAçarKəliməSüzgəci
Name[br]=SilGerioùAlc'hwezArKenrouedad
Name[ca]=Filtre de paraules clau d'Internet
Name[cy]=HidlAllweddeiriauRhyngrwyd
Name[da]=InternetNøgleordsFilter
Name[de]=Internet-Stichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών διαδικτύου
Name[eo]=Filtrilo por interretaj ŝlosilvortoj
Name[es]=Filtro de palabras clave de Internet
Name[et]=Interneti võtmesõnade filter
Name[eu]=Interneteko gako-hitzen iragazkia
Name[fa]=صافی‌کلیدواژه‌ها‌ی‌اینترنت
Name[fr]=Mots-clefs internet
Name[fy]=YnternetSykwurdenFilter
Name[he]=מסנן מילות מפתח אינטרנטיות
Name[hi]=इंटरनेट की-वर्ड्स फ़िल्टर
Name[hu]=Internetes kulcsszavak szűrője
Name[id]=FilterInternetKeyword
Name[is]=InternetStikkorðaSía
Name[ja]=インターネットキーワードフィルタ
Name[ko]=인터넷 키워드 거르개
Name[lo]=ຕົວກອງຄຳຄົ້ນຫາເທິງອິນເຕີເນັດ
Name[lt]=InternetoRaktažodžiųfiltras
Name[lv]=InternetAtslēgasvārduFiltrs
Name[mn]=Интернэт-Түлхүүр үг-Шүүгч
Name[nb]=Filter for Internettnøkkelord
Name[nds]=Filter för Internet-Slötelwöör
Name[nl]=InternetZoektermenFilter
Name[nn]=Filter for Internettnøkkelord
Name[nso]=Sesekodi sa Mantsuhlokwa a Internet
Name[oc]=Filtre de paraules clau Internet
Name[pa]=ਇੰਟਰਨੈੱਟ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr internetowych słów kluczowych
Name[pt]=Filtro de Palavras-chave na Internet
Name[pt_BR]=Filtro de Palavras-chave da Internet
Name[ro]=Filtru de cuvinte cheie Internet
Name[ru]=Фильтр ключевых слов Интернет
Name[sk]=Filter Klávesových skratiek pre Internet
Name[sl]=Filter ključnih besed za internet
Name[sr]=Филтер кључних речи Интернета
Name[sr@Latn]=Filter ključnih reči Interneta
Name[sv]=Internetsökordsfilter
Name[ta]=தேடல் மூலச்சொற்கள் வடிகட்டி
Name[tg]=Софи калидвожаҳои интернет
Name[th]=ตัวกรองคำค้นหาบนอินเตอร์เน็ต
Name[tr]=İnternetAnahtarKelimeSüzgeci
Name[uk]=Фільтр ключових слів Інтернет
Name[uz]=Интернет калит сўзлар филтери
Name[ven]=Filithara ya Khiimaipfi ya Inithanete 
Name[vi]=Trình lọc các từ khoá Internet 
Name[xh]=Amagama Angundoqo ecebo lokucoca ulwelo e Internet
Name[xx]=xxInternetKeywordsFilterxx
Name[zh_CN]=Internet 关键字过滤
Name[zh_TW]=Internet 關鍵字過濾
Name[zu]=Ihluzo lamagama abalulekile e-Internet
X-KDE-Library=libkuriikwsfilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=1
