[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SearchKeywordsFilter
Name[x-test]=xxSearchKeywordsFilterxx
X-KDE-Library=libkurisearchfilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=4
