[Desktop Entry]
Type=Service
Name=KDED Favicon Module
Name[af]=kded favicon module
Name[ara]=مدير أيقونات Favicon
Name[az]=KDED Favikon Modulu
Name[bg]=Модул с икони на KDED
Name[cs]=Modul KDEDu Favicon
Name[da]=KDED Favicon-modul
Name[de]=Favicon-Modul
Name[eo]=Modulo por interretaj preferataj piktogramoj
Name[es]=Módulo Favicon de KDED
Name[et]=KDED favicon moodul
Name[eu]=KDED Favicon Moduloa
Name[fi]=KDED lempikuvakemoduuli
Name[fr]=Icône préférée
Name[he]=מודול סמל מועדף של KDED
Name[hu]=KDED favicon modul
Name[is]=KDED Favicon íhlutur
Name[it]=Modulo favicon KDE
Name[ko]=KDED Favicon 모듈
Name[lt]=KDED favicon modulis
Name[lv]=KDED Favikon Modulis
Name[mt]=Modulu "favicon" KDED
Name[no_NY]=KDED favicon-modul
Name[pl]=Moduł ulubionych ikon KDED
Name[pt]=Módulo Favicon do KDED
Name[pt_BR]=Módulo Favicon do KDED
Name[ru]=Модуль пиктограмм KDED
Name[sk]=Modul KDED Favicon
Name[sl]=Modul KDED za favicon
Name[sr]=KDED Favicon modul
Name[sv]=KDED favoritikon-modul
Name[th]=โมดูลไอคอน KDED
Name[tr]=KDE Favicon Modülü
Name[vi]=Mô đun KDED Favicon 
Name[xxx]=xx
Name[zh_CN.GB2312]=KDED Favicon 测试模块
Name[zh_TW.Big5]=KDED Favicon 測試模組
Comment=Shortcut Icon support
Comment[af]=kortpad ikoon ondersteun
Comment[ara]=دعم أيقونات الإختصارات
Comment[az]=Qısa Yol Timsal dəstəyi
Comment[bg]=Поддържа препратка с икони
Comment[cs]=Podpory ikon zkratek
Comment[da]=Genvej Ikonstøtte
Comment[de]=Kurzbefehl für Symbol-Unterstützung
Comment[el]=Υποστήριξη Εικονιδίων Συντόμευσης
Comment[eo]=Subteno por legosignaj piktogramoj
Comment[es]=Soporte para iconos de acceso directo
Comment[et]=Favicon ikooni toetus
Comment[eu]=Ikoien Lasterbideak sostendu
Comment[fi]=Oikotie kuvaketukeen
Comment[fr]=Icône de raccourci
Comment[he]=תמיכה בסמלי קיצור דרך
Comment[hu]=Linkelési ikon támogatása
Comment[is]=Stuðningur fyrir flýtitáknmyndir
Comment[it]=Supporto icone scorciatoie
Comment[ko]=단축 아이콘 지원
Comment[lt]=Nuorodų piktogramų palaikymas
Comment[lv]=Īsinājum Ikonu atbalsts
Comment[mt]=Sapport għall-ikoni "shortcut"
Comment[nl]=ondersteuning voor Internetpictogrammen
Comment[no_NY]=Støtte for snarvegikon
Comment[pl]=Skróty dla ikon
Comment[pt]=Suporte de ícone de atalho
Comment[pt_BR]=Suporte de ícone de atalho
Comment[ru]=поддержка иконок-ярлыков
Comment[sk]=Podpora ikon skratiek
Comment[sl]=Podpora ikonam za bližnjice
Comment[sv]=Stöd för genvägsikoner
Comment[tr]=Simge desteğinde kısayol
Comment[vi]=HềEtrợ icon shortcut 
Comment[xxx]=xx
Comment[zh_CN.GB2312]=快捷图标支持
Comment[zh_TW.Big5]=捷徑圖示支援
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=favicons
X-KDE-FactoryName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
