[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Favicon Module
Name[af]=Kded Favicon Module
Name[ar]=وحدة KDED Favicon
Name[az]=KDED Favikon Modulu
Name[bn]=KDED ফ্যাভ-আইকন মডিউল
Name[bs]=KDED Favicon modul
Name[ca]=Mòdul KDED per a favicon
Name[cs]=Modul KDEDu Favicon
Name[cy]=Modiwl KDED Favicon
Name[da]=KDED Favicon-modul
Name[de]=Favicon-Modul
Name[el]=KDED άρθρωμα Favicon
Name[eo]=Modulo por interretaj preferataj piktogramoj
Name[es]=Módulo Favicon de KDED
Name[et]=KDED favicon moodul
Name[eu]=KDED Favicon Modulua
Name[fa]=بخش شمایلک KDED
Name[fi]=KDED-sivustokuvakemoduuli
Name[fr]=Icône préférée
Name[gl]=Módulo de Faviconas de KDED
Name[he]=מודול סמלים מועדפים של KDED
Name[hi]=KDED फेविकॉन मॉड्यूल
Name[hr]=KDED Favicon Modul
Name[hu]=KDED favicon-kezelő
Name[is]=KDED Favicon íhlutur
Name[it]=Modulo Favicon di KDED
Name[ja]=KDED Favicon モジュール
Name[ko]=KDED Favicon 모듈
Name[lo]=ໂມດລູໄອຄອນ KDED
Name[lt]=KDED favicon modulis
Name[lv]=KDED Favikon Modulis
Name[mn]=Favicon-Модул
Name[mt]=Modulu "favicon" KDED
Name[nb]=KDED favicon-modul
Name[nds]=KDED Favicon-Modul
Name[nn]=KDED favicon-modul
Name[nso]=Seripa sa Favicon ya KDE
Name[pa]=KDED ਫਾਵੀਕੋਨ ਮੋਡੁਲੀ
Name[pl]=Ikony serwerów
Name[pt]=Módulo Favicon do KDED
Name[pt_BR]=Módulo Favicon do KDE
Name[ro]=Module favicon KDED
Name[ru]=Модуль значков KDED
Name[se]=KDED favicon-moduvla
Name[sk]=Modul KDED Favicon
Name[sl]=Modul KDED za favicon
Name[sr]=KDED Favicon модул
Name[sr@Latn]=KDED Favicon modul
Name[sv]=KDED-favoritikonmodul
Name[ta]=KDED பெவிகான் பகுதி
Name[tg]=Бахши пиктограммаи KDED
Name[th]=โมดูลไอคอน KDED
Name[tr]=KDE Favicon Modülü
Name[uk]=Модуль KDED Favicon
Name[uz]=KDED Favicon модули
Name[ven]=Modulu wa KDED wa Favikhono
Name[vi]=Mô đun KDED Favicon
Name[wa]=Module imådjetes KDED
Name[xh]=KDED Isichatshulwa se Favicon
Name[xx]=xxKDED Favicon Modulexx
Name[zh_CN]=KDED Favicon 模块
Name[zh_TW]=KDED Favicon 測試模組
Name[zu]=Ingxenye ye-Favicon ye-KDED
Comment=Shortcut icon support
Comment[bg]=Поддръжка на препратки с икони
Comment[bs]=Podrška za ikone sa prečicama
Comment[ca]=Suport de dreceres d'icona
Comment[cs]=Podpora ikon zkratek
Comment[da]=Genvejsikonstøtte
Comment[de]=Symbolunterstützung für Kurzbefehle
Comment[es]=Soporte para iconos de acceso directo
Comment[et]=Kiirkorralduse ikooni toetus
Comment[fi]=Sivustojen kuvakkeet
Comment[fr]=Gestion d'icône de raccourci
Comment[hu]=Website-ikonok támogatása
Comment[it]=Supporto icone scorciatoia
Comment[nb]=Støtte for ikonsnarveier
Comment[nl]=Ondersteuning voor pictogrammen
Comment[nn]=Støtte for snarvegikon
Comment[pa]=ਸ਼ਾਰਟਕੱਟ ਆਈਕਾਨ ਸਹਾਇਕ
Comment[pl]=Obsługa ikon skrótów
Comment[pt]=Suporte de ícone de atalho
Comment[pt_BR]=Suporte ao ícone de atalho
Comment[sk]=Podpora ikon skratiek
Comment[sl]=Podpora ikonam za bližnjice
Comment[sr]=Подршка за икону пречице
Comment[sr@Latn]=Подршка за икону пречице
Comment[sv]=Stöd för genvägsikon
Comment[ta]=குறுக்கு வழி சின்ன ஆதரவு
Comment[tr]=Kısayol simge desteği
Comment[uk]=Підтримка скорочень піктограм
Comment[xx]=xxShortcut icon supportxx
Comment[zh_CN]=快捷图标支持
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=favicons
X-KDE-FactoryName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
