[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Alexander Neundorf
X-KDE-PluginInfo-Email=neundorf@kde.org
X-KDE-PluginInfo-Name=kshellcmdplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Icon=run
Name=Shell Command Plugin
Name[bg]=Изпълнение на команда
Name[da]=Plugin for skalkommando
Name[pt_BR]=Plug-in do Shell
Name[sv]=Insticksprogram för skalkommando
Name[ta]=ஓட்டு கட்டளை சொருகுப்பொருள்
Comment=Shell Command Plugin for Konqueror
Comment[bg]=Приставка за изпълнение на команда на браузъра
Comment[da]=Plugin for skalkommandon i Konqueror
Comment[pt_BR]=Plug-in de Comandos do Shell para o Konqueror
Comment[sv]=Insticksprogram för skalkommandon i Konqueror
Comment[ta]=கான்கொரர்க்கான ஓட்டு கட்டளை சொருகுப்பொருள்
