[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Acronym Database
Name[x-test]=xxAcronym Databasexx
ServiceTypes=SearchProvider
Keys=ad,acro,acronym
Query=http://www.chemie.de/tools/acronym.php3?language=e&acronym=\\{@}
Query[x-test]=xxhttp://www.chemie.de/tools/acronym.php3?language=e&acronym=\\{@}xx
