[Desktop Entry]
Hidden=false
Keys=amg
Name=All Music Guide
Name[x-test]=xxAll Music Guidexx
Query=http://www.allmusic.com/cg/amg.dll?p=amg&opt1=1&sql=\\{@}
Query[x-test]=xxhttp://www.allmusic.com/cg/amg.dll?p=amg&opt1=1&sql=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
