[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE App Search
Name[af]=Kde App Soektog
Name[ar]=بحث تطبيقات كيدي
Name[az]=KDE Proqram Axtarışı
Name[be]=Пошук дастасаваньняў KDE
Name[bn]=কে.ডি.ই. অ্যাপলিকেশন অনুসন্ধান
Name[bs]=KDE App tražilica
Name[ca]=Recerca d'aplicacions KDE
Name[cs]=Vyhledávání KDE aplikací
Name[cy]=KDE App Chwilio
Name[da]=KDE Prog-søgning
Name[de]=Programmsuche
Name[el]=Αναζήτηση εφαρμογών του KDE
Name[eo]=KDE app-serĉo
Name[es]=Búsqueda de apps. de KDE
Name[et]=KDE rakenduste otsing
Name[eu]=KDEren aplikazio bilaketa
Name[fa]=جستجوی برنامه‌ی KDE
Name[fi]=KDE-sovellusten haku
Name[fo]=KDE Forritsleitan
Name[fr]=Application de recherche de KDE
Name[fy]=Programma's sykje
Name[ga]=Cuardach Feidhmchláir KDE
Name[gl]=Procura de Aplicacións de KDE
Name[he]=חיפוש יישומי KDE
Name[hi]=केडीई एप खोज
Name[hr]=KDE traženje aplikacija
Name[hu]=KDE alkalmazások keresése
Name[it]=Ricerca applicazioni di KDE
Name[ja]=KDEアプリケーション検索
Name[lo]=ຝຣັ່ງເສດ
Name[lt]=KDE programų paieška
Name[lv]=KDE programmu meklēšana
Name[mk]=Пребарување за апликација во KDE 
Name[mn]=Програм хайх
Name[mt]=Fittex Programmi KDE
Name[nb]=KDE programsøk
Name[nds]=KDE Programmsöök
Name[nl]=Programma's zoeken
Name[nn]=KDE Programsøk
Name[nso]=Nyako ya App ya KDE
Name[pa]=KDE ਕਾਰਜ ਖੋਜ
Name[pl]=Wyszukiwanie programów KDE
Name[pt]=Pesquisa de Aplicações do KDE
Name[pt_BR]=Busca por aplicativos do KDE
Name[ro]=Căutare aplicaţii KDE
Name[ru]=Поиск приложений KDE
Name[se]=KDE prográmmaohci
Name[sk]=Hľadanie aplikácií KDE
Name[sl]=Iskanje programov za KDE
Name[sr]=Претраживање KDE програма
Name[sr@Latn]=Pretraživanje KDE programa
Name[ss]=Kusesha kwe App ku KDE
Name[sv]=KDE-programsökning
Name[ta]=KDE App தேடுதல்
Name[tg]=Ҷустуҷӯи барномаи KDE
Name[tr]=KDE Uygulama Arayıcı
Name[uk]=Пошук програм KDE
Name[uz]=KDE дастурларида қидириш
Name[ven]=U setsha ha apulifikhesheni ya KDE
Name[wa]=Programe di cweraedje di KDE
Name[xh]=Uphendlo lwe KDE App
Name[xx]=xxKDE App Searchxx
Name[zh_CN]=KDE 应用程序搜索
Name[zh_TW]=KDE 程式搜尋
Name[zu]=Usesho lwe-App lwe-KDE
ServiceTypes=SearchProvider
Keys=apps,appsy
Query=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[xx]=xxhttp://www.kde-apps.org/content/search.php?search=Search&name=\\{@}xx
