[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE App Search
Name[fr]=Application de recherche de KDE
Name[x-test]=xxKDE App Searchxx
ServiceTypes=SearchProvider
Keys=apps,appsy
Query=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[x-test]=xxhttp://www.kde-apps.org/content/search.php?search=Search&name=\\{@}xx
