[Desktop Entry]
Encoding=UTF-8
Keys=cpan
Name=CPAN - Comprehensive Perl Archive Network
Name[x-test]=xxCPAN - Comprehensive Perl Archive Networkxx
Query=http://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}
Query[x-test]=xxhttp://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}xx
ServiceTypes=SearchProvider
Type=Service
