[Desktop Entry]
Encoding=UTF-8
Keys=ctan_cat
Name=CTAN Catalog
Name[ar]=كتيب CTAN
Name[az]=CTAN Kataloqu
Name[be]=Каталёг CTAN
Name[bn]=CTAN ক্যাটালগ
Name[br]=Katalog CTAN
Name[bs]=CTAN katalog
Name[ca]=Catàleg CTAN
Name[cs]=CTAN katalog
Name[cy]=Catalog CTAN
Name[da]=CTAN-katalog
Name[de]=CTAN-Katalog
Name[el]=Κατάλογος CTAN
Name[en_GB]=CTAN Catalogue
Name[eo]=CTAN-Katalogo
Name[es]=Catálogo CTAN
Name[et]=CTAN kataloog
Name[eu]=CTAN Katalogoa
Name[fi]=CTAN-katalogi
Name[fr]=Catalogue du CTAN
Name[fy]=CTAN Catalogus
Name[ga]=Catalóg CTAN
Name[gl]=Catálogo CTAN
Name[he]=קטלוג CTAN
Name[hi]=CTAN कैटलॉग
Name[hr]=CTAN Katalog
Name[is]=CTAN Catalogue
Name[it]=Catalogo CTAN
Name[ja]=CTANカタログ
Name[lt]=CTAN katalogas
Name[lv]=CTAN Katalogs
Name[mk]=Каталог од CTAN 
Name[mn]=CTAN Катлог
Name[mt]=Katalgu CTAN
Name[nb]=CTAN-katalog
Name[nds]=CTAN Kataloog
Name[nl]=CTAN Catalogus
Name[nn]=CTAN-katalog
Name[pa]=CTAN ਸੂਚੀ
Name[pl]=CTAN - katalog pakietów TeX-owych
Name[pt]=Catálogo do CTAN
Name[pt_BR]=Catálogo CTAN
Name[ro]=Catalog CTAN
Name[ru]=Каталог CTAN
Name[se]=CTAN-kataloga
Name[sk]=Katalóg CTAN
Name[sl]=Katalog CTAN
Name[sr]=CTAN Каталог
Name[sr@Latn]=CTAN Katalog
Name[sv]=CTAN-katalog
Name[ta]=CTAN வகை
Name[tg]=Каталоги CTAN
Name[tr]=CTAN Kataloğu
Name[uk]=Каталог CTAN
Name[uz]=CTAN каталоги
Name[vi]=CTAN Catalogue
Name[wa]=Catalogue do CTAN
Name[xx]=xxCTAN Catalogxx
Name[zh_CN]=CTAN 目录
Query=http://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}
Query[xx]=xxhttp://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
