[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=dict.cc Translation: German to English
Name[x-test]=xxdict.cc Translation: German to Englishxx
Query=http://www.dict.cc/?s=\\{@}
Query[x-test]=xxhttp://www.dict.cc/?s=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
