[Desktop Entry]
Charset=
Hidden=false
Keys=en2fr
Name=WordReference.com Translation: English to French
Name[x-test]=xxWordReference.com Translation: English to Frenchxx
Query=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/fr/Translation.asp?enfr=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
