[Desktop Entry]
Charset=
Hidden=false
Keys=es2en
Name=WordReference.com Translation: Spanish to English
Name[az]=WordReference.com Tərcümə: İspancadan İngiliscəyə
Name[be]=Пераклад WordReference.com: з гішпанскай на ангельскую
Name[bn]=WordReference.com অনুবাদ: স্প্যানিশ থেকে ইংরাজি 
Name[bs]=WordReference.com prijevod: španski u engleski
Name[ca]=Traducció WordReference.com: Espanyol - Anglès
Name[cs]=Překlad WordReference.com: ze španělštiny do angličtiny
Name[cy]=Cyfieithiad WordReference.com: Sbaeneg i Saesneg
Name[da]=WordReference.com oversættelse: Spansk til engelsk
Name[de]=WordReference.com-Übersetzung: Spanisch/Englisch
Name[el]=WordReference.com Μετάφραση: Ισπανικά σε Αγγλικά
Name[eo]=WordReference.com Traduko: hispana al angla
Name[es]=WordReference.com Traducción: español a inglés
Name[et]=WordReference.com tõlkimine: hispaania->inglise
Name[eu]=WordReference.com Itzulpena: gazteleratik ingelesera
Name[fi]=WordReference.com-käännös: espanjasta englanniksi
Name[fr]=Traduction sur WordReference.com : Espagnol en Anglais
Name[fy]=WordReference.com-oersetting: Spaansk nei Ingelsk
Name[ga]=WordReference.com Aistriúchán: Spáinnis go Béarla
Name[gl]=Tradución WordReference.com: Español a Inglés
Name[he]=תרגום WordReference.com: ספרדי־אנגלי
Name[hi]=WordReference.com अनुवादः स्पेनी से अंग्रेजी
Name[hu]=WordReference.com fordítás: spanyolról angolra
Name[is]=WordReference.com þýðing: Spönsk/ensk
Name[it]=Traduzione WordReferececom: Dallo spagnolo all'inglese
Name[ja]=WordReference.com スペイン語-英語翻訳
Name[lt]=WordReference.com vertimas: iš ispanų į anglų
Name[lv]=WordReference.com Tulkošana: no Spāņu uz Angļu
Name[mk]=WordReference.com превод: од шпански на англиски
Name[mt]=Traduzzjoni WordReference.com: Spanjol għall-Ingliż
Name[nb]=WordReference.com - oversettelse: spansk til engelsk
Name[nds]=WordReference.com Översetten: Spaansch na Engelsch
Name[nl]=WordReference.com-vertaling: Spaans naar Engels
Name[nn]=WordReference.com – omsetjing: spansk til engelsk
Name[pa]=WordReference.com ਅਨੁਵਾਦ:ਸਪੇਨੀ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: hiszpański -> angielski
Name[pt]=Tradução do WordReference.com: Espanhol para Inglês
Name[pt_BR]=WordReference.com - Tradução: Espanhol para Inglês
Name[ro]=Traducere WordReference.com: spaniolă la engleză
Name[ru]=Переводчик WordReference.com: испанско-английский
Name[se]=WordReference.com – jorgaleapmi: spánskkagielas eŋgelasgillii
Name[sk]=WordReference.com preklad zo španieštiny do angličtiny
Name[sl]=Prevod WordReference.com: španščina v angleščino
Name[sr]=Превод на WordReference.com: са шпанског на енглески
Name[sr@Latn]=Prevod na WordReference.com: sa španskog na engleski
Name[sv]=Wordreference.com översättning: spanska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஸ்பானிஷ் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[tr]=WordReference.com Çevirisi: İspanyolcadan İngilizceye
Name[uk]=WordReference.com: переклад з іспанської на англійську
Name[uz]=WordReference.com таржима: Испанчадан Инглизчага
Name[xx]=xxWordReference.com Translation: Spanish to Englishxx
Name[zh_CN]=WordReference.com 翻译：西班牙语译英语
Query=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[xx]=xxhttp://www.wordreference.com/es/en/translation.asp?spen=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
