[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Free On-Line Dictionary of Computing
Name[x-test]=xxFree On-Line Dictionary of Computingxx
ServiceTypes=SearchProvider
Keys=fd,foldoc
Query=http://foldoc.doc.ic.ac.uk/foldoc/foldoc.cgi?query=\\{@}
Query[x-test]=xxhttp://foldoc.doc.ic.ac.uk/foldoc/foldoc.cgi?query=\\{@}xx
