[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=LEO - Translate Between French and German
Name[x-test]=xxLEO - Translate Between French and Germanxx
ServiceTypes=SearchProvider
Keys=fr2de
Query=http://dict.leo.org/?lp=frde&search=\\{@}
Query[x-test]=xxhttp://dict.leo.org/?lp=frde&search=\\{@}xx
