[Desktop Entry]
Charset=
Hidden=false
Keys=fr2en
Name=WordReference.com Translation: French to English
Name[az]=WordReference.com Tərcümə: Fransızcadan İngiliscəyə
Name[be]=Пераклад WordReference.com: з францускай на ангельскую
Name[bn]=WordReference.com অনুবাদ: ফরাসী থেকে ইংরাজি 
Name[bs]=WordReference.com prijevod: francuski u engleski
Name[ca]=Traducció WordReference.com: Francès - Anglès
Name[cs]=Překlad WordReference.com: z francouzštiny do angličtiny
Name[cy]=Cyfieithiad WordReference.com: Ffrangeg i Saesneg
Name[da]=WordReference.com oversættelse: Fransk til engelsk
Name[de]=WordReference.com-Übersetzung: Französisch/Englisch
Name[el]=WordReference.com Μετάφραση: Γαλλικά σε Αγγλικά
Name[eo]=WordReference.com Traduko: franca al angla
Name[es]=WordReference.com Traducción: francés a inglés
Name[et]=WordReference.com tõlkimine: prantsuse->inglise
Name[eu]=WordReference.com Itzulpena: frantsesetik ingelesera
Name[fi]=WordReference.com-käännös: ranskasta englanniksi
Name[fr]=Traduction sur WordReference.com : Français en Anglais
Name[fy]=WordReference.com-oersetting: Frânsk nei Ingelsk
Name[ga]=Aistriúchán WordReference.com: Fraincis go Béarla
Name[gl]=Tradución WordReference.com: Francés a Inglés
Name[he]=תרגום WordReference.com: צרפתי־אנגלי
Name[hi]=WordReference.com अनुवादः फ्रांसीसी से अंग्रेजी
Name[hu]=WordReference.com fordítás: franciáról angolra
Name[is]=WordReference.com þýðing: Frönsk/ensk
Name[it]=Traduzione WordReferececom: Dal francese all'inglese
Name[ja]=WordReference.com フランス語-英語翻訳
Name[lt]=WordReference.com vertimas: iš prancūzų į anglų
Name[lv]=WordReference.com Tulkošana: no Franču uz Angļu
Name[mk]=WordReference.com превод: од француски на англиски
Name[mt]=Traduzzjoni WordReference.com: Franċiż għall-Ingliż
Name[nb]=WordReference.com - oversettelse: fransk til engelsk
Name[nds]=WordReference.com Översetten: Franzöösch na Engelsch
Name[nl]=WordReference.com-vertaling: Frans naar Engels
Name[nn]=WordReference.com – omsetjing: fransk til engelsk
Name[pa]=WordReference.com ਅਨੁਵਾਦ:ਫਰੈਂਚ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: francuski -> angielski
Name[pt]=Tradução do WordReference.com: Francês para Inglês
Name[pt_BR]=WordReference.com  - Tradução: Francês para Inglês
Name[ro]=Traducere WordReference.com: franceză la engleză
Name[ru]=Переводчик WordReference.com: французско-английский
Name[se]=WordReference.com – jorgaleapmi: fránskkagielas eŋgelasgillii
Name[sk]=WordReference.com preklad z francúzštiny do angličtiny
Name[sl]=Prevod WordReference.com: francoščina v angleščino
Name[sr]=Превод на WordReference.com: са француског на енглески
Name[sr@Latn]=Prevod na WordReference.com: sa francuskog na engleski
Name[sv]=Wordreference.com översättning: franska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: பிரென்சு மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[tr]=WordReference.com Çevirisi: Fransızcadan İngilizceye
Name[uk]=WordReference.com: переклад з французької на англійську
Name[uz]=WordReference.com таржима: Французчадан Инглизчага
Name[xx]=xxWordReference.com Translation: French to Englishxx
Name[zh_CN]=WordReference.com 翻译：法语译英语
Query=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[xx]=xxhttp://www.wordreference.com/fr/en/translation.asp?fren=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
