[Desktop Entry]
Charset=
Hidden=false
Keys=fr2en
Name=WordReference.com Translation: French to English
Name[fr]=Traduction sur WordReference.com : Français en Anglais
Name[x-test]=xxWordReference.com Translation: French to Englishxx
Query=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/fr/en/translation.asp?fren=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
