[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Google News
Name[x-test]=xxGoogle Newsxx
ServiceTypes=SearchProvider
Keys=ggn,googlenews
Query=http://news.google.com/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://news.google.com/news?q=\\{@}&ie=UTF-8&oe=UTF-8xx
Charset=utf8
