[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Google Groups
Name[fr]=Groupes Google
Name[x-test]=xxGoogle Groupsxx
ServiceTypes=SearchProvider
Keys=ggg,groups,dj,deja
Query=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[fr]=http://groups.google.fr/groups?oi=djq&as_q=\\{@}
Query[x-test]=xxhttp://groups.google.com/groups?oi=djq&as_q=\\{@}xx
