[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Google Image Search
Name[x-test]=xxGoogle Image Searchxx
ServiceTypes=SearchProvider
Keys=ggi,images
Query=http://images.google.com/images?q=\\{@}
Query[x-test]=xxhttp://images.google.com/images?q=\\{@}xx
