[Desktop Entry]
Charset=ISO-8859-15
Encoding=UTF-8
Hidden=false
Keys=grec
Name=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[bn]=কাটালান ভাষার অভিধান (GRan Enciclopèdia  Catalana)
Name[ca]=Gran diccionari de la Llengua Catalana (Grup Enciclopèdia Catalana)
Name[cs]=Velký katalánský slovník (GRan Enciclopèdia  Catalana)
Name[da]=Storartet ordbog for det katalanske sprog (GRan Enciclopèdia  Catalana)
Name[de]=Großes Wörterbuch der Katalanischen Sprache (GRan Enciclopèdia  Catalana)
Name[el]=Μεγάλο Λεξικό της Καταλανικής Γλώσσας  (GRan Enciclopèdia  Catalana)
Name[es]=Gran enciclopedia catalana
Name[et]=Suur katalaani sõnaraamat (GRan Enciclopèdia  Catalana)
Name[eu]=Katalana hiztegia (GRan Enciclopèdia  Catalana)
Name[fi]=Catalanian suurenmoinen sanakirja (GRan Enciclopèdia  Catalana)
Name[fr]=Grand dictionnaire du langage catalan (GRan Enciclopèdia Catalana)
Name[ga]=OllFhoclóir Catalóinise (GRan Enciclopèdia  Catalana)
Name[hu]=Katalán nagyszótár (GRan Enciclopèdia  Catalana)
Name[is]=Stóra orðabók katalónska tungumálsins (GRan Enciclopèdia  Catalana)
Name[it]=Grande dizionario della lingua catalana (GRan Enciclopèdia  Catalana)
Name[ja]=カタラン語大辞典 (GRan Enciclopèdia  Catalana)
Name[lt]=Puikus katalonų kalbos žodynas (GRan Enciclopèdia  Catalana)
Name[nb]=Den store, katalanske ordboka (GRan Enciclopèdia  Catalana)
Name[nds]=Groot Wöörbook vun de Katalaansche Spraak (GRan Enciclopèdia Catalana)
Name[nl]=Catalaanse Encyclopedie
Name[nn]=Den store, katalanske ordboka (GRan Enciclopèdia  Catalana)
Name[pa]=ਕਾਟਾਲਾਨ ਭਾਸ਼ਾ ਲਈ ਮਹਾਨ ਕੋਸ਼ (GRan ਵਿਸ਼ਵਕੋਸ਼ ਕਾਟਾਲਾਨਾ)
Name[pl]=Wielki słownik języka katalońskiego (GRan Enciclopèdia Catalana)
Name[pt]=Grande Dicionário da Língua Catalã (GRan Enciclopèdia  Catalana)
Name[pt_BR]=Dicionário no Idioma Catalão (GRan Enciclopèdia Catalana)
Name[ro]=Marea enciclopedie catalană (GRan Enciclopèdia  Catalana)
Name[ru]=Большой словарь каталонского языка (GRan Enciclopèdia  Catalana)
Name[se]=Katalangiela stuorra sátnegirji (GRan Enciclopèdia  Catalana)
Name[sl]=Veliki slovar katalonščine (GRan Enciclopèdia  Catalana)
Name[sr]=Велики речник каталонског језика (Gran Enciclopèdia Catalana)
Name[sr@Latn]=Veliki rečnik katalonskog jezika (Gran Enciclopèdia Catalana)
Name[sv]=Stor ordbok för katalanska språket (Gran Enciclopèdia Catalana)
Name[ta]=கேடலன் மொழியின் அகராதி (GRan Enciclopèdia  Catalana)
Name[th]=Great Dictionary of the Catalan Language (GRan Enciclopรจdia  Catalana)
Name[tr]=Katalanca Büyük Sözlük (GRan Enciclopèdia  Catalana)
Name[uk]=Великий словник каталонської мови (GRan Enciclopèdia Catalana)
Name[xx]=xxGreat Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)xx
Query=http://www.grec.net/cgibin/lexicx.pgm?GECART=\\{@}
Query[xx]=xxhttp://www.grec.net/cgibin/lexicx.pgm?GECART=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
