[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=HyperDictionary.com Thesaurus
Name[ar]=مرادفات HyperDictionary.com
Name[az]=HyperDictionary.com Tezaurus
Name[be]=Тэзаўрус HyperDictionary.com
Name[bn]=HyperDictionary.com থেসরাস (সমার্থক ও বিপরীত শব্দ)
Name[bs]=HyperDictionary.com rječnik
Name[cs]=Tezaurus HyperDictionary.com
Name[cy]=Thesawrws HyperDictionary.com
Name[de]=HyperDictionary.com: Thesaurus
Name[el]=Θησαυρός λέξεων HyperDictionary.com
Name[eo]=HyperDictionary.com-tezaŭro
Name[es]=Tesaurus de HyperDictionary.com
Name[et]=HyperDictionary.com tesaurus
Name[eu]=HyperDictionary.com Thesaurus-a
Name[fi]=HyperDictionary.com-sanakirja
Name[fr]=Thésaurus HyperDictionary.com
Name[ga]=Teasáras HyperDictionary.com
Name[he]=HyperDictionary.com - מילים נרדפות
Name[hi]=हायपर-डिक्शनरी.कॉम समांतर शब्दकोश
Name[hr]=HyperDictionary.com rječnik sinonima
Name[hu]=HyperDictionary.com szinonimaszótár
Name[is]=HyperDictionary.com samheitaorðabók
Name[it]=Sinonimi HyperDictionary.com
Name[ja]=HyperDictionary.com シソーラス
Name[lt]=Merriam-Webster sinonimų žodynas
Name[lv]=HyperDictionary.com Tēzaurs
Name[mk]=HyperDictionary.com Енциклопедија
Name[mt]=Teżawru HyperDictionary.com
Name[nds]=HyperDictionary.com Synonümwöörbook
Name[pa]=HyperDictionary.com ਥੀਸਾਰਸ ਕੋਸ਼
Name[pl]=HyperDictionary.com - słownik wyrazów bliskoznacznych
Name[pt]=Gramática do HyperDictionary.com
Name[ro]=Dicţionarul HyperDictionary.com
Name[ru]=Тезаурус HyperDictionary.com
Name[sk]=HyperDictionary.com - slovník synoným
Name[sl]=Tezaver HyperDictionary.com
Name[sr]=Речник синонима на HyperDictionary.com
Name[sr@Latn]=Rečnik sinonima na HyperDictionary.com
Name[sv]=HyperDictionary.com synonymlexikon
Name[ta]=HyperDictionary.com  சொற்களஞ்சியம்
Name[tr]=HyperDictionary.com Terimler
Name[uk]=Словник синонімів HyperDictionary.com
Name[uz]=HyperDictionary.com луғати
Name[xx]=xxHyperDictionary.com Thesaurusxx
Name[zh_CN]=HyperDictionary.com 宝藏
ServiceTypes=SearchProvider
Keys=hdt,hd-ths,hd-thesaurus
Query=http://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}
Query[xx]=xxhttp://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}xx
