[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KataTudo
Name[x-test]=xxKataTudoxx
ServiceTypes=SearchProvider
Keys=kt,katatudo
Query=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[x-test]=xxhttp://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscarxx
Charset=utf8
