[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE WebSVN
Name[x-test]=xxKDE WebSVNxx
ServiceTypes=SearchProvider
Keys=websvn,kdesvn,ksvn,kvs
Query=http://websvn.kde.org/\\{@}
Query[x-test]=xxhttp://websvn.kde.org/\\{@}xx

