[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Mamma - Mother of all Search Engines
Name[fr]=Mamma - La mère de tous les moteurs de recherche
Name[x-test]=xxMamma - Mother of all Search Enginesxx
ServiceTypes=SearchProvider
Keys=mm,mamma
Query=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[x-test]=xxhttp://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}xx
