[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Microsoft Developer Network Search
Name[af]=Microsoft Ontwikkelaar Netwerk Soektog
Name[ar]=بحث في شبكة مطوري مايكروسوفت
Name[bn]=মাইক্রোসফট ডেভেলপার নেটওয়ার্ক অনুসন্ধান
Name[bs]=Microsoft Developer Network (MSDN) pretraga
Name[ca]=Xarxa de recerca del desenvolupador de Microsoft
Name[cs]=Vyhledávání v Microsoft Developer Network
Name[cy]=Chwilio Rhwydwaith Datblygwyr Microsoft
Name[da]=Søgning i Microsoft Developer Network
Name[de]=Microsoft Developer Network Suche
Name[el]=Microsoft - δικτυακή αναζήτηση προγραμματιστή
Name[eo]=Serĉo en la Mikrosofta-programisto-reto
Name[es]=Red de búsqueda del desarrollador de Microsoft
Name[et]=Microsoft Developer Network otsing
Name[eu]=Microsoft-en garatzaileen sare bilaketa
Name[fa]=جستجوی شبکه‌ی برنامه‌نویسان مایکروسافت
Name[fi]=Microsoft Developer Network -haku
Name[fy]=Microsoft Developer Network Search 
Name[gl]=Procura na Rede de Desenvolvemento de Microsoft
Name[hi]=माइक्रोसॉफ्ट डेवलपर नेटवर्क खोज
Name[hr]=Microsoft Developer Network pretraga
Name[is]=Microsoft Developer Network leit
Name[it]=Ricerca Microsoft Developer Network
Name[ja]=Microsoft Developer Network 検索
Name[ko]=마이크로소프트 개발자 네트웍 찾기
Name[lt]=Microsoft Developer Network Paieška
Name[lv]=Microsoft Izstrādātāju Tīkla Meklēšana
Name[mn]=Microsoft Developer Network хайлт
Name[mt]=Tfittxija fuq Microsoft Developer Network
Name[nb]=Microsoft Developer Network-søk
Name[nl]=Microsoft Developer Network Search 
Name[nn]=Microsoft Developer Network-søk
Name[nso]=Nyako ya Kgokagano ya Mohlabolli wa Microsoft
Name[pa]=ਮਾਈਕਰੋਸਾਫਟ ਖੋਜੀ ਨੈੱਟਵਰਕ ਖੋਜ
Name[pl]=MSDN - zasoby dla programistów
Name[pt]=Pesquisa na Microsoft Developer Network
Name[pt_BR]=Busca no MDN (Microsoft Developer Network)
Name[ro]=Căutare în Microsoft Developer Network
Name[ru]=Поиск в Microsoft Developer Network
Name[se]=Oza Microsoft Developer Network báikkis
Name[sk]=Hľadanie Microsoft Developer Network
Name[sl]=Iskalnik po razvijalnem omrežju Microsofta
Name[sr]=Претраживање Мреже Microsoft-ових развијача (MSDN)
Name[sr@Latn]=Pretraživanje Mreže Microsoft-ovih razvijača (MSDN)
Name[ss]=Kusesha kweluchungechunge lesindlondlobalisi seMicrosoft 
Name[sv]=Sökning i Microsoft Developer Network
Name[ta]=மைக்ரோசாப்ட் டெவலப்பர் வலைத்தள தேடுதல்
Name[tg]=Ҷустуҷӯи шабакаи барноманависони Microsoft
Name[th]=การค้นหาเกี่ยวกับเครือข่ายผู้พัฒนาของไมโครซอร์ฟ
Name[tr]=Microsoft Developer Network Tarayıcı
Name[uk]=Пошук в Microsoft Developer Network
Name[uz]=Microsoft Developer Network'да қидириш
Name[ven]=Vhukwamani hau setsha ha mubveledzi wa Microsoft
Name[xh]=Uphendlo Womsebenzi womnatha Wombhekisi phambili we Microsoft
Name[xx]=xxMicrosoft Developer Network Searchxx
Name[zh_CN]=MSDN 微软开发者网络搜索
Name[zh_TW]=微軟開發者網路搜尋
Name[zu]=Usesho Loxhumano olusakazekile Lomthuthukisi we-Microsoft
ServiceTypes=SearchProvider
Keys=msdn
Query=http://msdn.microsoft.com/library/shared/searchtab/searchHandoff.asp?handoffurl=%2Fisapi%2Fgosearch.asp%3FTARGET%3D%2Fus%2Fdev%2Fdefault.asp&stcfg=d%3A%2Fhttp%2Fcnfg.xml&qu=\\{@}&btnSearch=GO
Query[xx]=xxhttp://msdn.microsoft.com/library/shared/searchtab/searchHandoff.asp?handoffurl=%2Fisapi%2Fgosearch.asp%3FTARGET%3D%2Fus%2Fdev%2Fdefault.asp&stcfg=d%3A%2Fhttp%2Fcnfg.xml&qu=\\{@}&btnSearch=GOxx
