[Desktop Entry]
Encoding=UTF-8
Name=Teletekst Search Provider
Name[az]=Teletekst Axtarış Xidmətçisi
Name[bn]=Teletekst অনুসন্ধান সরবরাহকারী
Name[bs]=Teletekst pretraga
Name[ca]=Proveïdor de cerca a Teletekst
Name[cs]=Poskytovatel Teletekstového prohledávání
Name[cy]= Darparwr Chwiliadau Teletekst
Name[da]=Teletekst-søgeudbyder
Name[de]=Teletekst-Suche
Name[el]=Πάροχος αναζήτησης Teletekst 
Name[eo]=Teletekst-serĉprovizanto
Name[es]=Proveedor de búsqueda Teletekst
Name[et]=Hollandi teleteksti otsingumootor
Name[eu]=Teletekst bilaketa hornitzailea
Name[fi]=Teleteksti-palveluntarjoaja
Name[fr]=Moteur de recherche Teletekst
Name[fy]=Teletekst-sykmasine
Name[ga]=Cuardach Teletekst
Name[gl]=Fornecedor de Procuras Teletekst
Name[he]=חיפוש ספק שירות של Teletekst
Name[hi]=टेलिटेक्स्ट खोज प्रदायक
Name[hu]=Teletekst keresőszolgáltatás
Name[is]=Teletekst leitarvél
Name[it]=Motore di ricerca Teletekst
Name[ja]=Teletekst 検索プロバイダ
Name[lt]=Teleteksto paieškos teikėjas
Name[lv]=Teleteksta meklēšanas sniedzējs
Name[mk]=Телетекст сервис за пребарување
Name[mt]=Tfittxika teletekst
Name[nb]=Søkemotor for teletekst
Name[nds]=In Teletekst söken
Name[nl]=Teletekst-zoekmachine
Name[nn]=Søkjemotoren Teletekst
Name[pa]=ਟੇਲੇਟੇਕਸਟ ਖੋਜ ਪੇਸ਼ਕਾਰ
Name[pl]=Wyszukiwarka Teletekst
Name[pt]=Motor de Busca Teletekst
Name[pt_BR]=Provedor de buscas Teletekst
Name[ro]=Căutare Teletekst
Name[ru]=Поиск телетекста
Name[se]=Ohcanmotor Teletekst
Name[sk]=Poskytovateľ hľadania Teletekst
Name[sl]=Ponudnik iskanja po teletekstu
Name[sr]=Провајдер за телетекст претрагу
Name[sr@Latn]=Provajder za teletekst pretragu
Name[sv]=Teletekst söktjänst
Name[ta]=Teletekst தேடுதல் அளிப்பான்
Name[tr]=Teletekst Arama Sağlayıcı
Name[uk]=Провайдер пошуку Teletekst
Name[uz]=Телетекстда қидириш
Name[xx]=xxTeletekst Search Providerxx
Name[zh_CN]=Teletekst 搜索提供者
Type=Service
ServiceTypes=SearchProvider
Keys=tt,teletekst
Query=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[xx]=xxhttp://teletekst.nos.nl/gif/\\{@}-01.htmlxx
