[Desktop Entry]
Encoding=UTF-8
Name=Telephonebook Search Provider
Name[az]=Telephonebook Axtarış Xidmətçisi
Name[bn]=টেলিফোন-বুক অনুসন্ধান সরবরাহকারী
Name[bs]=Telephonebook pretraga
Name[ca]=Proveïdor de cerques a la guia de telèfons
Name[cs]=Poskytovatel prohledávání tel. seznamu
Name[cy]= Darparydd Chwiliadau Llyfr Ffôn
Name[da]=Telefonbog-søgeudbyder
Name[de]=Telefonbuch-Suche
Name[el]=Πάροχος αναζήτησης Telephonebook
Name[eo]=Telefonlibro-serĉprovizanto
Name[es]=Proveedor de búsqueda de teléfonos
Name[et]=Hollandi telefoniraamatu otsingumootor
Name[eu]=Telephonebook bilaketa hornitzailea
Name[fi]=Puhelinluettelohaun tarjoaja
Name[fr]=Moteur de recherche Telephonebook
Name[fy]=Tillefoanboek-sykmasine
Name[gl]=Fornecedor de Procuras na Guía Telefónica
Name[he]=חיפוש ספר של ספר טלפונים
Name[hi]=टेलिफोनबुक खोज प्रदायक
Name[hu]=Telefonkönyv (NL)
Name[is]=Leitarvél fyrir símaskrár
Name[it]=Motore di ricerca Elencotelefonico
Name[ja]=Telephonebook 検索プロバイダ
Name[lt]=Telefono knygų paieškos teikėjas
Name[lv]=Tālruņa katalogu meklēšanas sniedzējs
Name[mk]=Telephonebook сервис за пребарување
Name[mt]=Telephonebook search provider
Name[nb]=Søkemotor for  telefonkatalog
Name[nds]=In't Telefonbook söken (Nedderlanne)
Name[nl]=Telefoonboek-zoekmachine
Name[nn]=Søkjemotor for telefonkatalog
Name[pa]=ਟੈਲੀਫੋਨ ਖੋਜ ਪੇਸ਼ਕਾਰ
Name[pl]=Wyszukiwarka Telephonebook
Name[pt]=Motor de Busca de Lista Telefónica
Name[pt_BR]=Guia Telefônico On-line
Name[ro]=Căutare în cartea de telefoane
Name[se]=Ohcanmotor telefonkatalogaid várás
Name[sk]=Hľadanie v telefónnom zozname
Name[sl]=Ponudnik iskanja po telefonskem imeniku
Name[sr]=Провајдер за претрагу телефонског именика
Name[sr@Latn]=Provajder za pretragu telefonskog imenika
Name[sv]=Söktjänst för telefonkatalog
Name[ta]=தொலைபேசிபுத்தக தேடுதலை அளிப்பான்
Name[th]=ผู้ให้บริการค้นหาสมุดโทรศัพท์
Name[tr]=Telefon Defteri Arama Sağlayıcı
Name[uk]=Провайдер пошуку Telephonebook
Name[uz]=Телефонлар дафтарида қидириш
Name[xx]=xxTelephonebook Search Providerxx
Name[zh_CN]=Telephonebook 搜索提供者
Type=Service
ServiceTypes=SearchProvider
Keys=telnl,telefoon
Query=http://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\{1}&city=\{2}
Query[xx]=xxhttp://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\{1}&city=\{2}xx
