[Desktop Entry]
Encoding=UTF-8
Charset=
Hidden=false
Keys=py,python
Name=Python Reference Manual
Name[af]=Python Verwysing Hand
Name[ar]=دليل استخدام بايثون
Name[az]=Python Əl Kitabcığı
Name[bn]=পাইথন রেফারেন্স ম্যানুয়াল
Name[bs]=Python referentni priručnik
Name[ca]=Manual de referència de Python
Name[cs]=Manuál jazyka Python
Name[cy]=Llawlyfr Cyfeiriol Python
Name[da]=Python reference-manual
Name[de]=Python-Handbuch
Name[el]=Εγχειρίδιο αναφοράς Python
Name[eo]=Pitono-manlibro
Name[es]=Manual de referencia de Python
Name[eu]=Python-en erreferentzia eskuliburua
Name[fa]=مرجع دستی پایتون
Name[fi]=Pythonin referenssimanuaali
Name[fr]=Manuel de référence de Python
Name[ga]=Lámhleabhar Python
Name[gl]=Manual de Referencia de Python
Name[hi]=पायथन रेफरेंस मेनुअल
Name[hu]=Python referencia-kézikönyv
Name[is]=Python Handbók
Name[it]=Manuale di riferimento di Python
Name[ja]=Pythonリファレンスマニュアル
Name[lt]=Python vadovas-žinynas
Name[lv]=Python Rokasgrāmata
Name[mk]=Python референтен прирачник
Name[mn]=Python-Гарын авлага
Name[mt]=Manwal tal-Python
Name[nb]=Python referansehåndbok
Name[nds]=Python Referenzhandbook
Name[nn]=Python-referansehandbok
Name[nso]=Manual wa Tebeledisiso ya Python
Name[pa]=Python ਹਵਾਲਾ ਦਸਤਾਵੇਜ਼
Name[pl]=Python (język programowania)- podręcznik
Name[pt]=Manual de Referência do Python
Name[pt_BR]=Manual de Referência do Python
Name[ro]=Manualul de referinţă Python
Name[ru]=Справочник по Python
Name[se]=Python-referánsagiehtagirji
Name[sl]=Referenčni priročnik za python
Name[sr]=Референтно упутство за Python
Name[sr@Latn]=Referentno uputstvo za Python
Name[sv]=Python referensmanual
Name[ta]=பைதான் பார்வை கையேடு
Name[tg]=Маълумотнома аз Python
Name[th]=คู่มืออ้างอิงเกี่ยวกับ Python
Name[tr]=Python Başvuru Elkitabı
Name[uk]=Довідник по Python
Name[uz]=Python учун кўлланма
Name[ven]=Tshifanyisi tsha Manyuala tsha Python
Name[vi]=Tham khảo toàn diện Python 
Name[wa]=Manuel di referince di Python
Name[xh]=Ubhekiso lwe Python yesandla
Name[xx]=xxPython Reference Manualxx
Name[zh_CN]=Python 参考手册
Name[zh_TW]=Python 參考手冊
Name[zu]=Incwadi yokuqondiwe ye-Python
Query=http://www.google.com/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[en_GB]=http://www.google.co.uk/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[fr]=http://www.google.fr/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[fy]=http://www.google.nl/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[nb]=http://www.google.no/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[nl]=http://www.google.nl/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[pt]=http://www.google.pt/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.org
Query[xx]=xxhttp://www.google.com/search?sourceid=python-search&q=\{@}&submit=Search&q=site%3Apython.orgxx
ServiceTypes=SearchProvider
Type=Service
