[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Name[fr]=La dernière documentation en ligne de Qt
Name[x-test]=xxLatest Qt Online Documentationxx
Query=http://doc.trolltech.com/latest/\\{@}.html
Query[x-test]=xxhttp://doc.trolltech.com/latest/\\{@}.htmlxx
ServiceTypes=SearchProvider
Type=Service
