[Desktop Entry]
Charset=
Hidden=false
Keys=rae
Name=Dictionary of the Spanish Academy (RAE)
Name[x-test]=xxDictionary of the Spanish Academy (RAE)xx
Query=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[x-test]=xxhttp://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliadoxx
ServiceTypes=SearchProvider
Type=Service
