[Desktop Entry]
Encoding=UTF-8
Keys=sf,sourceforge
Name=SourceForge
Name[x-test]=xxSourceForgexx
Query=http://sourceforge.net/search/?type_of_search=\\{type,"soft"}&exact=\{exact,"0"}&words=\\{@}
Query[x-test]=xxhttp://sourceforge.net/search/?type_of_search=\\{type,"soft"}&exact=\{exact,"0"}&words=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
