[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Merriam-Webster Thesaurus
Name[x-test]=xxMerriam-Webster Thesaurusxx
ServiceTypes=SearchProvider
Keys=ths,thesaurus
Query=http://www.m-w.com/cgi-bin/thesaurus?book=Thesaurus&va=\\{@}
Query[x-test]=xxhttp://www.m-w.com/cgi-bin/thesaurus?book=Thesaurus&va=\\{@}xx
