[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Merriam-Webster Thesaurus
Name[ar]=قاموس مصطلحات Merriam-Webster
Name[be]=Тэзаўрус Merriam-Webster
Name[bn]=মেরিয়াম-ওয়েবস্টার থেসরাস
Name[ca]=Tesaurus Merriam-Webster
Name[cs]=Slovník synonym Merriam-Webster
Name[cy]=Thesawrws Merriam-Webster
Name[da]=Merriam-Webster-begrebsordbog
Name[el]=Θησαυρός λέξεων Merriam-Webster
Name[eo]=Merriam - Webster-tezaŭro
Name[es]=Sinónimos Merriam-Webster
Name[et]=Merriam-Websteri tesaurus
Name[eu]=Merriam-Webster thesaurus-a
Name[fa]=گنج‌های ویستر-مریم
Name[fi]=Merriam-Webster-synonyymit
Name[fr]=Thésaurus Merriam-Webster
Name[ga]=Teasáras Merriam-Webster
Name[he]=מילים נרדפות Merriam-Webster 
Name[hi]=मरियम-वेबस्टर शब्दकोश
Name[hr]=Merriam-Webster Tezaurus
Name[hu]=Merriam-Webster szinonimaszótár
Name[is]=Merriam-Webster samheitaorðabók
Name[it]=Dizionario dei sinonimi Merriam-Webster
Name[ko]=메리암-웹스터 백과사전
Name[lv]=Merriam-Webster Enciklopēdija
Name[mk]=Merriam-Webster Енциклопедија
Name[mt]=Teżawru Merriam-Webster
Name[nb]=Merrian-Webster Thesaurus
Name[pa]=Merriam-ਵੈੱਬ ਥੀਸਾਰਸ ਕੋਸ਼
Name[pl]=Merriam-Webster - słownik wyrazów bliskoznacznych
Name[pt]=Merriam-Gramática do Webster
Name[ro]=Dicţionarul Merriam-Webster
Name[ru]=Тезаурус Merriam-Webster
Name[sk]=Merriam-Webster Synonymá
Name[sl]=Merriam-Websterjev tezaver
Name[sr]=Речник синонима Меријам-Вебстер
Name[sr@Latn]=Rečnik sinonima Merijam-Vebster
Name[sv]=Merriam-Websters synonymlexikon
Name[ta]=மெர்ரியம்-வெப்ஸ்டர் சொற்களஞ்சியம்
Name[tg]=Тезауруси Merriam-Webster
Name[th]=พจนานุกรมคำพ้องเมอเรียม-เว็บสเตอร์
Name[uk]=Словник синонімів Merriam-Webster
Name[uz]=Мерриам-Вебстер луғати
Name[vi]=Từ điển đồng nghĩa Merriam-Webster 
Name[xx]=xxMerriam-Webster Thesaurusxx
Name[zh_CN]=韦氏辞典
Name[zh_TW]=韋氏辭典
Name[zu]=Incawdi yamagama afanayo ye-Merriam-Webster
ServiceTypes=SearchProvider
Keys=ths,thesaurus
Query=http://www.m-w.com/cgi-bin/thesaurus?book=Thesaurus&va=\\{@}
Query[xx]=xxhttp://www.m-w.com/cgi-bin/thesaurus?book=Thesaurus&va=\\{@}xx
