[Desktop Entry]
Charset=
Hidden=false
Keys=uspto
Name=U.S. Patent Database
Name[x-test]=xxU.S. Patent Databasexx
Query=http://patft.uspto.gov/netacgi/nph-Parser?TERM1=\\{@}&Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/srchnum.htm&r=0&f=S&l=50
Query[x-test]=xxhttp://patft.uspto.gov/netacgi/nph-Parser?TERM1=\\{@}&Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/srchnum.htm&r=0&f=S&l=50xx
ServiceTypes=SearchProvider
Type=Service
