[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Vivisimo
Name[x-test]=xxVivisimoxx
ServiceTypes=SearchProvider
Keys=vi
Query=http://vivisimo.com/search?query=\\{@}&se=Yahoo%2CAltaVista%2CMSN%2CFast%2COD%2CExcite%2CDirectHit%2CLooksmart%2CEuroseek&x=49&y=16
Query[x-test]=xxhttp://vivisimo.com/search?query=\\{@}&se=Yahoo%2CAltaVista%2CMSN%2CFast%2COD%2CExcite%2CDirectHit%2CLooksmart%2CEuroseek&x=49&y=16xx
