[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Merriam-Webster Dictionary
Name[af]=Merriam-Webster Woordeboek
Name[ar]=قاموس Merriam-Webster
Name[az]=Merriam-Webster Sözlüyü
Name[be]=Слоўнік Merriam-Webster
Name[bn]=মেরিয়াম-ওয়েবস্টার অভিধান
Name[bs]=Merriam-Webster rječnik
Name[ca]=Diccionari Merriam-Webster
Name[cs]=Slovník Merriam-Webster
Name[cy]=Geiriadur Merriam-Webster
Name[da]=Merriam-Webster-ordbog
Name[el]=Λεξικό Merriam-Webster
Name[eo]=Merriam - Webster-vortaro
Name[es]=Diccionario Merriam-Webster
Name[et]=Merriam-Websteri sõnaraamat
Name[eu]=Merriam-Webster hiztegia
Name[fa]=فرهنگ لغت وبستر-مریم
Name[fi]=Merriam-Webster-sanakirja
Name[fr]=Dictionnaire Merriam-Webster
Name[ga]=Foclóir Merriam-Webster
Name[hi]=मरियम-वेबस्टर शब्दकोश
Name[hr]=Merriam-Webster Rječnik
Name[hu]=Merriam-Webster szótár
Name[is]=Merriam-Webster orðabókin
Name[it]=Dizionario Merriam-Webster
Name[ko]=메리암-웹스터 사전
Name[lv]=Merriam-Webster Vārdnīca
Name[mk]=Merriam-Webster Речник
Name[mt]=Dizzjunarju Merriam-Webster
Name[nb]=Merrian-Webster Ordbok
Name[nds]=Merriam-Webster Wöörbook
Name[nso]=Pukuntsu ya Merriam-Webster
Name[pa]=Merriam-ਵੈਬਸਟੀਰ ਸ਼ਬਦ-ਕੋਸ਼
Name[pl]=Merriam-Webster - słownik
Name[pt]=Merriam-Dicionário do Webster
Name[pt_BR]=Dicionário Merriam-Webster
Name[ro]=Dicţionarul Merriam-Webster
Name[ru]=Словарь Merriam-Webster
Name[sk]=Slovník Merriam-Webster
Name[sl]=Slovar Merriam-Webster
Name[sr]=Речник Меријам-Вебстер
Name[sr@Latn]=Rečnik Merijam-Vebster
Name[ss]=Sichazimagama se Merriam-Webster
Name[sv]=Merriam-Websters ordlexikon
Name[ta]=மெர்ரியம்-வெப்ஸ்டர் அகராதி
Name[tg]=Луғати Merriam-Webster
Name[th]=พจนานุกรมเมอร์เรียม-เว็บสเตอร์
Name[tr]=Merriam-Webster Sözlüğü
Name[uk]=Словник Merriam-Webster
Name[uz]=Merriam-Webster луғати
Name[ven]=Bugu ya Thalutshedza maipfi ya Merrian-Webster
Name[vi]=Từ điển Merriam-Webster 
Name[wa]=Diccionaire inglès Merriam-Webster
Name[xh]= Dikshinari ye Merriam-Webster
Name[xx]=xxMerriam-Webster Dictionaryxx
Name[zh_CN]=韦氏词典
Name[zh_TW]=韋氏詞典
Name[zu]=Isichazamagama se-Merriam-Webster
ServiceTypes=SearchProvider
Keys=dict,webster
Query=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[xx]=xxhttp://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}xx
