[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Wikipedia - The Free Encyclopedia
Name[x-test]=xxWikipedia - The Free Encyclopediaxx
ServiceTypes=SearchProvider
Keys=wp
Query=http://en.wikipedia.org/wiki/Special:Search?search=\{@}&go=Go
Query[x-test]=xxhttp://en.wikipedia.org/wiki/Special:Search?search=\{@}&go=Goxx
Charset=utf8
