[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Wiktionary - The Free Dictionary
Name[fr]=Wiktionary - Le dictionnaire libre
Name[x-test]=xxWiktionary - The Free Dictionaryxx
ServiceTypes=SearchProvider
Keys=wt,wikt
Query=http://en.wiktionary.org/wiki/Special:Search?search=\{@}&go=Go
Query[fr]=http://fr.wiktionary.org/wiki/Special:Search?search=\{@}&go=Go
Query[x-test]=xxhttp://en.wiktionary.org/wiki/Special:Search?search=\{@}&go=Goxx
Charset=utf8
