[Desktop Entry]
Charset=
Hidden=false
Keys=wordref
Name=WordReference.com English Dictionary
Name[ar]=القاموس الإنجليزي من WordReference.com
Name[az]=WordReference.com İngiliscə Lüğət
Name[be]=Ангельскі слоўнік WordReference.com
Name[bn]=WordReference.com ইংরাজি অভিধান
Name[bs]=WordReference.com Engleski rječnik
Name[ca]=WordReference.com diccionari anglès
Name[cs]=Anglický slovník WordReference.com
Name[cy]=Geiriadur Saesneg WorldReference.com
Name[da]=WordReference.com engelsk ordbog
Name[de]=WordReference.com: Englischwörterbuch
Name[el]=WordReference.com αγγλικό λεξικό
Name[eo]=WordReference.com angla vortaro
Name[es]=WordReference.com diccionario de inglés
Name[et]=WordReference.com inglise keele sõnaraamat
Name[eu]=WordReference.com Itzulpena: Ingeles hiztegia
Name[fi]=WordReference.comin englannin kielen sanasto
Name[fr]=Dictionnaire anglais de WordReference.com
Name[fy]=WordReference.com Ingelsk wurdboek
Name[ga]=Foclóir Béarla WordReference.com
Name[gl]=WordReference.com Diccionario de Inglés
Name[he]=WordReference.com  - מילון אנגלי
Name[hi]=वर्डरेफ़रेंस.कॉम  अंग्रेज़ी शब्दकोश
Name[hu]=WordReference.com angol szótár
Name[is]=WordReference.com Ensk orðabók
Name[it]=WordReference.com dizionario inglese
Name[ja]=WordReference.com 英語辞書
Name[lt]=WordReference.com anglų kalbos žodynas
Name[lv]=WordReference.com Angļu valodas vārdnīca
Name[mk]=WordReference.com Англиски речник
Name[mn]=WordReference.com Англи толь бичиг
Name[mt]=WordReference.com Dizzjunarju Ingliż
Name[nb]=WordReference.com engelsk ordbok
Name[nds]=WordReference.com Engelsch Nakieksel
Name[nl]=WordReference.com Engels woordenboek
Name[nn]=WordReference.com engelsk ordbok
Name[pa]=WordReference.com ਅੰਗਰੇਜ਼ੀ ਸ਼ਬਦ-ਕੋਸ਼
Name[pl]=WordReference.com: słownik angielski
Name[pt]=Dicionário Inglês WordReference.com
Name[pt_BR]=Dicionário de Inglês WordReference.com
Name[ro]=Dicţionarul englez WordReference.com
Name[ru]=Английский словарь WordReference.com
Name[se]=WordReference.com eŋgelaš sátnegirji
Name[sk]=Anglický slovník WordReference.com
Name[sl]=Angleški slovar WordReference.com
Name[sr]=Енглески речник на WordReference.com
Name[sr@Latn]=Engleski rečnik na WordReference.com
Name[sv]=Wordreference.com engelsk ordbok
Name[ta]=WordReference.com ஆங்கில அகராதி
Name[tg]=WordReference.com Луғати Англисӣ
Name[th]=WordReference.com พจนานุกรมอังกฤษ
Name[tr]=WordReference.com İngilizce Sözlük
Name[uk]=Англійський словник WordReference.com
Name[uz]=WordReference.com Инглизча луғат
Name[vi]=WordReference.com Từ điển tiếng anh
Name[wa]=WordReference.com diccionaire inglès
Name[xx]=xxWordReference.com English Dictionaryxx
Name[zh_CN]=WordReference.com 英语字典
Name[zh_TW]=WordReference.com 英文字典
Query=http://www.wordreference.com/english/definition.asp?en=\\{@}
Query[xx]=xxhttp://www.wordreference.com/english/definition.asp?en=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
