[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkhtmlkttsdplugin
X-KDE-PluginInfo-Author=Olaf Schmidt
X-KDE-PluginInfo-Email=ojschmidt@kde.org
X-KDE-PluginInfo-Name=khtmlkttsdplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Text-to-Speech Plugin
Name[x-test]=xxText-to-Speech Pluginxx
Icon=kttsd

