<!DOCTYPE kpartgui>
<kpartgui name="khtmlkttsd" library="libkhtmlkttsdplugin" version="1" >
	<MenuBar>
		<Menu name="tools">
		<Text>&amp;Tools</Text>
			<Action name="tools_kttsd"/>
		</Menu>
	</MenuBar>
	<ToolBar name="extraToolBar">
		<Action name="tools_kttsd"/>
	</ToolBar>
</kpartgui>

