[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/file-manager.html
Icon=kfm
Exec=kcmshell desktopdesktop

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=ddesktop

Name=Virtual Desktops

Comment=You can configure how many virtual desktops there are.
Keywords=desktop,number,virtual desktop
