[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceType=KCModule
DocPath=kcontrol/desktopbehavior/index.html
Icon=desktop
Exec=kcmshell desktopbehavior

X-KDE-Library=kcm_konq
X-KDE-FactoryName=dbehavior
X-KDE-ParentApp=kcontrol

Name=Behavior
Name[fr]=Comportement
Name[x-test]=xxBehaviorxx

Comment=You can configure how the desktop behaves here
Comment[fr]=Configuration du comportement du bureau
Comment[x-test]=xxYou can configure how the desktop behaves herexx
Keywords=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,kfm,astuces,fenêtre séparée,rafraîchissement des fenêtres,comportement,utilisation de la mémoire,Home URL,URL de démarrage
Keywords[x-test]=xxkonqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,xx
