[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/desktop/index.html#desktop-number
Icon=desktop
Exec=kcmshell desktop


X-KDE-Library=konq
X-KDE-FactoryName=ddesktop
X-KDE-ParentApp=kcontrol

Name=Multiple Desktops
Name[af]=Veelvuldige Werkskerms
Name[ar]=أسطح مكتب متعددة
Name[az]=Masa Üstləri
Name[bg]=Работни плотове
Name[bn]=একাধিক ডেস্কটপ
Name[bs]=Višestruki desktopi
Name[ca]=Múltiples escriptoris
Name[cs]=Virtuální plochy
Name[cy]=Penbyrddau Lluosol
Name[da]=Flere desktoppe
Name[de]=Virtuelle Arbeitsflächen
Name[el]=Πολλαπλές επιφάνειες εργασίας
Name[eo]=Pluraj tabuloj
Name[es]=Escritorios múltiples
Name[et]=Virtuaalsed töölauad
Name[eu]=Mahaigain anitz
Name[fa]=میزکارهای متعدد
Name[fi]=Virtuaalityöpöydät
Name[fr]=Bureaux multiples
Name[fy]=Virtuele buroblêden
Name[ga]=Deasca Iomadúla
Name[gl]=Múltiples Escritorios
Name[he]=שולחנות עבודה מרובים
Name[hi]=अनेक डेस्कटॉप
Name[hr]=Virtualne radne površine
Name[hu]=Virtuális munkaasztalok
Name[is]=Sýndarskjáborð
Name[it]=Desktop multipli
Name[ja]=デスクトップの数
Name[lo]=ພື້່ນທີ່ືທຳງານສະເຫມືອນ
Name[lt]=Daugelis darbastalių
Name[lv]=Vairākas Darbvirsmas
Name[mk]=Повеќе површини
Name[mn]=Виртуал ажлын талбар
Name[mt]=Desktops Multipli
Name[nb]=Flere skrivebord
Name[nds]=Mehr as een Schriefdisch
Name[nl]=Virtuele bureaubladen
Name[nn]=Fleire skrivebord
Name[nso]=Di-Desktop tsa Bontshi
Name[pa]=ਬਹੁ ਵਿਹੜਾ
Name[pl]=Wiele pulpitów
Name[pt]=Ecrãs Múltiplos
Name[pt_BR]=Múltiplas Áreas de Trabalho
Name[ro]=Ecrane multiple
Name[ru]=Виртуальные рабочие столы
Name[se]=Máŋggaid čállinbeavddi
Name[sk]=Virtuálne pracovné plochy
Name[sl]=Več namizij
Name[sr]=Вишеструке радне површине
Name[sr@Latn]=Višestruke radne površine
Name[sv]=Flera skrivbord
Name[ta]=பலவகையான மேல்மேசைகள்
Name[tg]=Мизи кориҳои виртуалӣ
Name[th]=หลายพื้นที่ทำงาน
Name[tr]=Çoklu Masaüstü
Name[uk]=Віртуальні стільниці
Name[uz]=Бир нечта иш столлари
Name[ven]=Desktop nnzhi
Name[vi]=Đa Desktop
Name[xh]=Desktops Ezininzi
Name[xx]=xxMultiple Desktopsxx
Name[zh_CN]=多个桌面
Name[zh_TW]=多重桌面
Name[zu]=Ama-Desktops amaningi

Comment=You can configure how many virtual desktops there are.
Comment[af]=Jy kan konfigureer hoe veel virtuele werkskerms daar word.
Comment[ar]=يمكنك تهيئة عدد أسطح المكتب الافتراضية من هنا.
Comment[az]=Virtual masa üstlərinin sayını quraşdırın.
Comment[bg]=Настройки на работните плотове
Comment[bn]=কটি ভার্চুয়াল ডেস্কটপ থাকবে কনফিগার করতে পারেন
Comment[bs]=Ovdje možete podesiti broj virtuelnih radnih površina
Comment[ca]=Podeu configurar quants escriptoris virtuals hi ha d'haver-hi.
Comment[cs]=Zde je možné nastavit, kolik si přejete virtuálních ploch.
Comment[cy]=Gallwch ffurfweddu faint o benbyrddau sydd ar gael
Comment[da]=Her kan du indstille hvor mange virtuelle desktoppe der er.
Comment[de]=Hier können Sie die Zahl der virtuellen Arbeitsflächen festlegen
Comment[el]=Μπορείτε να ρυθμίσετε πόσες εικονικές επιφάνειες εργασίας θα υπάρχουν.
Comment[eo]=Ĉi tie vi povas agordi kiom da virtualaj tabuloj jen estas.
Comment[es]=Configuración del número de escritorios virtuales.
Comment[et]=Virtuaalsete töölaudade arvu seadistamine
Comment[eu]=Mahaigain birtualen kopurua konfigura dezakezu.
Comment[fa]=اینجا می‌توانید تعداد میزکارهای مجازی خود را تعیین کنید.
Comment[fi]=Voit määritelle virtuaalityöpöytien määrän.
Comment[fr]=Configuration du nombre de bureaux virtuels
Comment[fy]=Hjir kinst fêststelle hoefolle firtuele buroblêden wolst brûke.
Comment[gl]=Pode configurar aquí cántos escritorios virtuais quere empregar.
Comment[he]=שינוי מספר שולחנות העבודה הווירטואליים
Comment[hi]=आप कॉन्फ़िगर कर सकते हैं कि वहाँ कितने आभासी डेस्कटॉप हों.
Comment[hr]=Ovdje možete podesiti koliko ima virtualnih radnih površina
Comment[hu]=Itt lehet beállítani, hogy hány darab virtuális munkaasztal legyen.
Comment[is]=Hér getur þú stillt hversu mörg sýndaskjáborðin eru.
Comment[it]=Configura quanti desktop virtuali vuoi avere.
Comment[ja]=ここで用意する仮想デスクトップの数を設定をします
Comment[lo]=ທ່ານສາມາດປັບແຕ່ງຖາດພາແນວ ແຖບຫນ້າຕ່າງງານ ໄດ້ທີ່ນີ້
Comment[lt]=Čia galite nustatyti kiek menamų darbastalių naudoti
Comment[lv]=Jūs varat konfigurēt cik daudz virtuālo darbvirsmu ir.
Comment[mk]=Може да конфигурирате колку виртуелни работни површини ќе има.
Comment[mn]=Энд та виртуал ажилын талбарын тоог тогтоож өгч болно
Comment[mt]=Hawn tista tikkonfigura kemm ikollok desktops virtwali.
Comment[nb]=Velg hvor mange virtuelle skrivebord du vil ha.
Comment[nds]=Du kannst hier instellen wovele virtuelle Schriefdischen dat gifft
Comment[nl]=U kunt hier bepalen hoeveel virtuele bureaubladen u wilt gebruiken.
Comment[nn]=Vel kor mange virtuelle skrivebord du vil ha.
Comment[nso]=Oka beakanya gore gona le di-desktop tse kae tse maatla.
Comment[pa]=ਤੁਸੀਂ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ ਕਿ ਕਿੰਨੇ ਫਰਜ਼ੀ ਵਿਹੜੇ ਵੇਖਾਏ ਜਾਣ।
Comment[pl]=Konfiguracja liczby wirtualnych pulpitów.
Comment[pt]=O utilizador pode configurar quantos ecrãs virtuais existem.
Comment[pt_BR]=Você pode configurar aqui quantas áreas de trabalho virtuais existem.
Comment[ro]=Configurează cît de multe ecrane virtuale să fie utilizate
Comment[ru]=Настройка количества виртуальных рабочих столов
Comment[se]=Sáhtát heivehit galle virtuella čállinbeavddi dus galgá leat.
Comment[sk]=Nastavenie počtu virtuálnych plôch.
Comment[sl]=Tu lahko nastavite število navideznih namizij.
Comment[sr]=Овде можете подесити колико ће бити виртуелних радних површина.
Comment[sr@Latn]=Ovde možete podesiti koliko će biti virtuelnih radnih površina.
Comment[sv]=Anpassa antalet virtuella skrivbord
Comment[ta]=மெய்நிகர் மேல்மேசைகளின் எண்ணிக்கையை வடிவமைக்கலாம்.
Comment[tg]=Инҷо метавонед таъдоди мизи кориҳои миҷозии худро таъин кунед.
Comment[th]=คุณสามารถปรับแต่งจำนวนของพื้นที่ทำงานเสมือนได้ที่นี่
Comment[tr]=Kaç görsel masaüstüne sahip olacağınızı buradan yapılandırabilirsiniz.
Comment[uk]=Тут можна налаштувати кількість віртуальних стільниць.
Comment[uz]=Бу ерда виртуал иш столларнинг сонини мослашингиз мумкин
Comment[ven]=Ni nga dzudzanya uri ndi desktop ngana dza zwamutshini.
Comment[vi]=Bạn có thể đặt bao nhiêu desktop ảo ở đây
Comment[xh]=Ungaqwalasela ukuba zizakubangakanani ii desktops ezingabonakaliyo.
Comment[xx]=xxYou can configure how many virtual desktops there are.xx
Comment[zh_CN]=可以在这里配置虚拟桌面的数量。
Comment[zh_TW]=您可以在這裡設定要有多少個虛擬桌面。
Comment[zu]=Ungahlanganisela ukuthi mangaki ama-desktop angamanga akhona.
Keywords=desktop,desktops,number,virtual desktop
Keywords[ar]=سطح المكتب,رقم,سطح مكتب افتراضي
Keywords[az]=masa üstü,Ad,Masa üstü Miqdarı,Masa üstü sayğacı,desktop,virtual
Keywords[bg]=работен, плот, брой, виртуален, desktop, number, virtual desktop
Keywords[br]=burev,burevioù,niver,burev galloudel
Keywords[bs]=desktop,desktops,number,virtual desktop,desktopi,radna površina
Keywords[ca]=escriptori,escriptoris,número,escriptori virtual
Keywords[cs]=Pracovní plocha,Počet,Virtuální plocha,Plocha
Keywords[cy]=penbwrdd, penbyrddau,rhif,penbwrdd rhith
Keywords[da]=desktop,desktoppe,antal,virtuelt desktop
Keywords[de]=Arbeitsfläche,Desktop,Anzahl,Virtuelle Arbeitsfläche
Keywords[el]=επιφάνεια εργασίας,επιφάνειες εργασίας,αριθμός,εικονική επιφάνεια εργασίας
Keywords[eo]=tabulo,tabuloj,nombro,virtuala tabulo
Keywords[es]=escritorio,escritorios,número,escritorio virtual
Keywords[et]=töölaud,töölauad,arv,virtuaalne töölaud
Keywords[eu]=mahaigaina, mahaigainak,zenbakia,mahaigain birtuala
Keywords[fi]=työpöytä,työpöydät,lukumäärä,virtuaalityöpöytä
Keywords[fr]=bureau,bureaux,numéro,bureaux virtuels
Keywords[fy]=desktop,buroblêd,buroblêden,namme fan buroblêd,nûmmer,buroblêdtelling,firtuele buroblêden
Keywords[ga]=deasc,deasca,uimhir,deasc fhíorúil
Keywords[gl]=escritorio,escritorios,número,escritorio virtual
Keywords[he]=שולחן עבודה,שולחנות עבודה,מספר,שולחן עבודה וירטואלי
Keywords[hi]=डेस्कटॉप,डेस्कटॉप्स,संख्या,आभासी डेस्कटॉप
Keywords[hr]=desktop,desktops,number,virtual desktop,radna površina,broj,virtualna radna površina
Keywords[hu]=munkaasztal,munkaasztalok,szám,virtuális munkaasztal
Keywords[is]=skjáborð,nafn,heiti,númer,fjöldi
Keywords[it]=desktop,nome desktop,numero di desktop,desktop virtuali
Keywords[ja]=デスクトップ,数,仮想デスクトップ
Keywords[lt]=desktop,desktops,darbastaliai,number,skaičius,menamas darbastalis
Keywords[lv]=Darbvirsma,Darbavirsmas,Skaits,virtuālā darbvirsma
Keywords[mk]=desktop,desktops,number,virtual desktop,работна површина,површина,работни површини,површини,број,виртуелна површина
Keywords[mn]=Ажлын тавцан,Ажлын тавцан,Тоо,Виртуал ажлын тавцан
Keywords[mt]=desktop,desktops,number,virtual desktop,virtwal,virtwali
Keywords[nb]=Skrivebord,antall,virtuelt skrivebord
Keywords[nds]=Schriefdisch, Schriefdischen, Nummer,virtuelle Schriefdischen
Keywords[nl]=desktop,bureaublad,bureaubladen,naam van bureaublad,nummer,bureaubladtelling,virtuele bureaubladen
Keywords[nn]=skrivebord,nummer,virtuelt skrivebord
Keywords[pa]=desktop,desktops,number,virtual desktop, ਵਿਹੜੇ, ਗਿਣਤੀ
Keywords[pl]=desktop,biurko,biurka,pulpit,pulpity,numer,wirtualne biurko,wirtualny pulpit
Keywords[pt]=ecrã,ambiente de trabalho,número,ecrã virtual
Keywords[pt_BR]=área de trabalho,número,área de trabalho virtual
Keywords[ro]=ecran,număr,ecran virtual,afişare,monitor
Keywords[se]=čállinbeavdi,čállinbeavddit,nummir,virtuella čállinbeavdi
Keywords[sk]=pracovná plocha,meno,počet plôch,číslo plochy
Keywords[sl]=namizje,ime,številka,število namizij,navidezno
Keywords[sr]=desktop,desktops,number,virtual desktop,радна површина,број,виртуелна радна површина
Keywords[sr@Latn]=desktop,desktops,number,virtual desktop,radna površina,broj,virtuelna radna površina
Keywords[sv]=skrivbord,antal skrivbord,antal,virtuellt skrivbord
Keywords[ta]=மேல்மேசை, மேல்மேசைகள்,எண்ணிக்கை,மெய்நிகர் மேல்மேசை
Keywords[tr]=masaüstü,isim,masaüstü sayısı,sanal masaüstü
Keywords[uk]=стільниця,стільниці,номер,віртуальна стільниця
Keywords[uz]=иш столи,иш столлари,сон,виртуал иш столи
Keywords[vi]=desktop,desktops,số,desktop ảo
Keywords[xx]=xxdesktop,desktops,number,virtual desktopxx
Keywords[zh_CN]=desktop,desktops,number,virtual desktop,桌面,数量,虚拟桌面

Categories=Qt;KDE;X-KDE-settings-desktop;
