[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/desktopbehavior/index.html
Icon=desktop
Exec=kcmshell desktopbehavior


X-KDE-Library=konq
X-KDE-FactoryName=dbehavior
X-KDE-ParentApp=kcontrol

Name=Behavior
Name[x-test]=xxBehaviorxx

Comment=You can configure how the desktop behaves here
Comment[x-test]=xxYou can configure how the desktop behaves herexx
Keywords=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,
Keywords[x-test]=xxkonqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,xx

Categories=Qt;KDE;X-KDE-settings-desktop;
