[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/desktop/index.html#desktop-number
Icon=desktop
Exec=kcmshell desktop

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=ddesktop
X-KDE-ParentApp=kcontrol

Name=Multiple Desktops

Comment=You can configure how many virtual desktops there are.
Comment[af]=jy kan konfigureer hoe veel virtuele werkskerms daar word.
Comment[bs]=Ovdje možete podesiti broj virtuelnih radnih površina
Comment[cs]=Zde je možné nastavit, kolik si přejete virtuálních ploch.
Comment[da]=Her kan du indstille hvor mange virtuelle skriveborde der er.
Comment[de]=Hier können Sie die Zahl der virtuellen Arbeitsflächen festlegen
Comment[el]=Μπορείτε να ρυθμίσετε πόσες εικονικές επιφάνειες εργασίας θα υπάρχουν.
Comment[es]=Configuración del número de escritorios virtuales.
Comment[fa]=اینجا میتوانید تعداد میزکارهای مجازی خود را تعیین کنید.
Comment[fi]=Voit asettaa virtuaalityöpöytien määrän.
Comment[fr]=Vous pouvez configurer le nombre de bureaux virtuels que vous voulez.
Comment[he]=שינוי מספר שולחנות העבודה הוירטואליים
Comment[hu]=Itt lehet beállítani, hogy hány darab virtuális munkaasztal legyen.
Comment[ja]=ここで仮想デスクトップの数を設定できます
Comment[mt]=Hawn tista tikkonfigura kemm ikollok desktops virtwali.
Comment[nb]=Bestem antall virtuelle arbeidsflater her.
Comment[nl]=U kunt hier bepalen hoeveel virtuele bureaubladen u wilt gebruiken.
Comment[pt]=O utilizador pode configurar quantos ecrãs virtuais existem.
Comment[pt_BR]=Você pode configurar aqui quantos ambientes de trabalho virtuais existem.
Comment[sk]=Nastavenie počtu virtuálnych plôch.
Comment[sv]=Anpassa antalet virtuella skrivbord.
Comment[tr]=Kaç görsel masaüstüne sahip olacağınızı buradan yapılandırabilirsiniz.
Comment[xh]=Ungaqwalasela ukuba zizakubangakanani ii desktops ezingabonakaliyo.
Comment[zh_TW]=您可以在這裡設定要有多少個虛擬桌面。
Keywords=desktop,number,virtual desktop
Keywords[af]=werkskerm,number,virtual werkskerm
Keywords[bs]=desktop,number,virtual desktop,radna površina
Keywords[cs]=Pracovní plocha,Číslo,Virtuální plocha,Plocha
Keywords[da]=skrivebord,antal,virtuelt skrivebord
Keywords[de]=Arbeitsfläche,Desktop,Anzahl,Virtuelle Arbeitsfläche
Keywords[el]=επιφάνεια εργασίας,αριθμός,εικονική επιφάνεια εργασίας
Keywords[es]=escritorio,escritorio virtual
Keywords[fa]=desktop,number,virtual desktop,میز کار,تعداد
Keywords[fi]=työpöytä,lukumäärä,virtuaalityöpöytä
Keywords[fr]=bureau,nom,numéro,nombre de bureaux,nom des bureaux,numéro des bureaux,bureaux virutels
Keywords[he]=שולחן עבודה וירטואלי,מספר
Keywords[hu]=munkaasztal,szám,virtuális munkaasztal
Keywords[ja]=デスクトップ,数,仮想デスクトップ
Keywords[mt]=desktop,number,virtual desktop,desktop virtwali,numru
Keywords[nb]=Skrivebord,Navn,Nummer,Skrivebordsteller
Keywords[nl]=desktop,bureaubladen,naam,nummer,getal,bureaubladtelling,virtuele bureaubladen
Keywords[pt]=ecrã,ambiente de trabalho,número,ecrã virtual
Keywords[pt_BR]=Ambiente de trabalho,número,ambiente de trabalho virtual
Keywords[sk]=pracovná plocha,meno,počet plôch,číslo plochy
Keywords[sv]=skrivbord,antal skrivbord,virtuellt skrivbord
Keywords[tr]=masaüstü,isim,masaüstü sayısı,masaüstü sayacı
Keywords[xh]=desktop,inani,desktop engabonakaliyo
Keywords[zh_TW]=desktop,number,virtual desktop,桌面,名稱,桌面編號,桌面個數
