[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell filebrowser


X-KDE-Library=konq
X-KDE-FactoryName=browser
X-KDE-ParentApp=kcontrol

Name=File Manager

Comment=You can configure Konqueror's file manager mode here
Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour

Categories=Qt;KDE;X-KDE-settings-components;
