[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/file-manager.html
Icon=kfm
Exec=kcmshell filetrash

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=trash

Name=Trash
Name[af]=gemors
Name[ar]=سلة النفايات
Name[az]=Zibil
Name[be]=Сьметнік
Name[bg]=Кошче
Name[bs]=Smeće
Name[cs]=Koš
Name[da]=Affald
Name[de]=Mülleimer
Name[el]=Σκουπίδια
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zaborra
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[he]=אשפה
Name[hr]=Smeće
Name[hu]=Szemétkosár
Name[is]=Ruslakarfa
Name[it]=Cestino
Name[ja]=ごみ箱
Name[ko]=쓰레기통
Name[lt]=Šiukšliadėžė
Name[lv]=Miskaste
Name[mt]=Skart
Name[nb]=Søppel
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[pl]=Śmietnik
Name[pt]=Lixo
Name[pt_BR]=Lixo
Name[ro]=Gunoi
Name[ru]=Корзина
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=Smeće
Name[sv]=Papperskorg
Name[ta]=Ìô¨À
Name[th]=ถังขยะ
Name[tr]=Çöp
Name[uk]=Смітник
Name[ven]=Tshikha
Name[vi]=Thùng rác
Name[xh]=Umonakalo
Name[xx]=xx
Name[zh_CN]=回收站
Name[zh_TW]=垃圾桶
Name[zu]=Udoti

Comment=You can configure how the KDE Trash behaves here
Comment[pt_BR]=Você pode configurar aqui como a Lata de Lixo se comporta
Keywords=konqueror,filemanager,trash,move to trash,shred,delete,recycle bin,bit bucket
Keywords[pt_BR]=konqueror,gerenciador de arquivos,lixo, mover para o lixo,apagar, reciclar,remover
