[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell filepreviews

X-KDE-Library=kcm_konq
X-KDE-FactoryName=previews

Name=Previews & Meta-Data
Name[fr]=Aperçus & Méta-informations
Name[x-test]=xxPreviews & Meta-Dataxx

Comment=You can configure how Konqueror Previews & Meta-data work here
Comment[fr]=Fonctionnement des aperçus et méta-informations de Konqueror
Comment[x-test]=xxYou can configure how Konqueror Previews & Meta-data work herexx

Keywords=konqueror,filemanager,previews,file previews,maximum size
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,aperçus,taille maximale
Keywords[x-test]=xxkonqueror,filemanager,previews,file previews,maximum sizexx
