[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell filebrowser


X-KDE-Library=konq
X-KDE-FactoryName=browser
X-KDE-ParentApp=kcontrol

Name=File Manager
Name[af]=Lêer Bestuurder
Name[ar]=مدير الملفات
Name[az]=Fayl İdarəcisi
Name[be]=Кіраваньне файламі
Name[bg]=Файлов браузър
Name[bn]=ফাইল ম্যানেজার
Name[br]=Merour restroù
Name[bs]=Upravitelj datotekama
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[cy]=Rheolydd Ffeiliau
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[eo]=Dosieradministrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fa]=مدیر پرونده
Name[fi]=Tiedostonhallinta
Name[fo]=Fíluhandfarari
Name[fr]=Gestionnaire de fichiers
Name[fy]=Triembehearder
Name[ga]=Bainisteoir Chomhad
Name[gl]=Xestor de Ficheiros
Name[he]=מנהל הקבצים
Name[hi]=फ़ाइल प्रबंधक
Name[hr]=Upravitelj datotekama
Name[hsb]=Datajowy manager
Name[hu]=Fájlkezelő
Name[id]=Manajer File
Name[is]=Skráastjóri
Name[it]=File manager
Name[ja]=ファイルマネージャ
Name[ko]=파일 관리자
Name[lo]=ເຄື່ອງມືການຈັດການແຟ້ມ
Name[lt]=Bylų tvarkyklė
Name[lv]=Failu Menedžeris
Name[mk]=Менаџер на датотеки
Name[mn]=Файл удирдагч
Name[ms]=Pengurus Fail
Name[mt]=Manager tal-Fajls
Name[nb]=Filbehandler
Name[nds]=Dateipleger
Name[nl]=Bestandsbeheerder
Name[nn]=Filhandsamar
Name[nso]=Molaodi wa Faele
Name[oc]=Gestionari de fiquièrs
Name[pa]=ਫਾਇਲ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer plików
Name[pt]=Gestor de Ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Managerul de fişiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sl]=Upravitelj datotek
Name[sr]=Менаџер фајлова
Name[sr@Latn]=Menadžer fajlova
Name[ss]=Siphatsi selifayela
Name[sv]=Filhanterare
Name[ta]=கோப்பு மேலாளர்
Name[tg]=Мудири файл
Name[th]=เครื่องมือจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[uk]=Менеджер файлів
Name[uz]=Файл бошқарувчиси
Name[ven]=Mulanguli wa faela
Name[vi]=Trình quản lí file
Name[wa]=Manaedjeu di fitchîs
Name[xh]=Umphathi Wefayile
Name[xx]=xxFile Managerxx
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理程式
Name[zu]=imenenja yamafayela

Comment=You can configure Konqueror's file manager mode here
Comment[ar]=يمكنك تغيير وضع مدير ملفات كونكيورر من هنا
Comment[az]=Konqueror-un fayl idarəçisi modunu buradan quraşdırın
Comment[be]=Тут Вы можаце настроіць рэжым кіраваньня файламі Konqueror
Comment[bg]=Настройки на файловия браузър
Comment[bn]=এখানে কনকরার-এর ফাইল ম্যানেজার মোড কনফিগার করতে পারেন 
Comment[br]=Amañ e c'hellit kefluniañ mod merour restroù Konqueror
Comment[bs]=Ovdje možete podesiti kako izgleda Konqueror kao menadžer datoteka
Comment[ca]=Aquí podeu configurar el mode en que gestionarà els fitxers el Konqueror
Comment[cs]=Zde je možné nastavit režim správce souborů Konqueror
Comment[cy]=Ffurfweddu modd rheolydd ffeiliau Konqueror
Comment[da]=Her kan du indstille hvordan Konqueror ser ud som filhåndtering
Comment[de]=Hier können Sie das Erscheinungsbild von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να ρυθμίσετε τη λειτουργία του Konqueror ως διαχειριστή αρχείων
Comment[eo]=Ĉi tie vi povas agordi la aranĝon de la panelo
Comment[es]=Configuración de Konqueror como administrador de archivos
Comment[et]=Siin saad seadistada Konquerori failihalduri režiimi
Comment[eu]=Konquerorren fitxategi kudeaketa era konfigura dezakezu hemen
Comment[fa]=شما می‌توانیدحالت مدیر پرونده‌ی کانکرر را تنظیم کنید
Comment[fi]=Tässä kohdassa voit määritellä Konquerorin tiedostonhallinnan tilan asetuksia
Comment[fr]=Configuration du mode gestionnaire de fichiers de Konqueror
Comment[fy]=Hjir kinst it uterlik fan Konqueror as triembehearder ynstelle
Comment[gl]=Pode configurar aquí o modo de xestión de ficheiros de Konqueror
Comment[he]=שינוי הגדרות מצב מנהל הקבצים של Konqueror
Comment[hi]=आप यहाँ कॉन्करर के फ़ाइल प्रबंधक मोड को कॉन्फ़िगर कर सकते हैं
Comment[hr]=Ovdje možete podesiti Konqueror-ov mod upravitelja datotekama
Comment[hu]=A Konqueror fájlkezelő részének működési jellemzői
Comment[is]=Hér getur þú stillt Konqueror skráarstjórahaminn
Comment[it]=Configura la modalità "gestione file" di konqueror
Comment[ja]=ここでKonquerorのファイルマネージャモードの設定をします
Comment[lo]=ທ່ານສາມາດປັບແຕ່ງການທຳງານຂອງເຄື່ອງ ຈັດການເຊສຊັນໄດ້ທີ່ນີ້
Comment[lt]=Čia galite konfigūruoti Konqueror bylų tvarkyklės režimą
Comment[mk]=Тука може да го конфигурирате режимот на Konqueror за менаџирање на датотеки 
Comment[mn]=Энд та конкюрорын харагдалтыг файл удирдагчийн хувьд тогтооно
Comment[mt]=Ikkonfigura kif jidher Konqueror bħala manager tal-fajls
Comment[nb]=Tilpass hvordan Konqueror ser ut som filhåndterer
Comment[nds]=Hier kannst Du Konqueror sien Bedriefoort instellen
Comment[nl]=Hier kunt u het uiterlijk van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du setja opp filhandsamaren Konqueror
Comment[nso]=Oka beakanya mokgwa wa molaodi wa faele ya Konqueror mo
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਕੋਨਕਿਉਰੋਰ ਇੱਕ ਫਾਇਲ ਪ੍ਰਬੰਧਕ ਨੂੰ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ।
Comment[pl]=Konfiguracja Konquerora w trybie menedżera plików
Comment[pt]=O utilizador pode configurar aqui o modo de gestão de ficheiros do Konqueror
Comment[pt_BR]=Você pode configurar o modo de gerenciamento de arquivos do Konqueror aqui
Comment[ro]=Aici configuraţi modul de manager de fişiere al Konqueror
Comment[ru]=Настройка режима менеджера файлов 
Comment[sk]=Nastavenie Konquerora ako správcu súborov
Comment[sl]=Nastavitve načina Konquerorja kot upravitelja datotek
Comment[sr]=Овде можете подесити Konqueror-ов режим управљања фајловима
Comment[sr@Latn]=Ovde možete podesiti Konqueror-ov režim upravljanja fajlovima
Comment[sv]=Anpassa Konquerors filhanteringsläge
Comment[ta]=இங்கே கான்கொரர் கோப்பு மேலாளர் வகையை வடிவமைக்கலாம்.
Comment[tg]=Шумо метавонед ҳолати мудири файли Konqueror-ро танзим кунед
Comment[th]=คุณสามารถปรับแต่งโหมดของคอนเควอร์เรอร์ในการเป็นเครื่องมือจัดการแฟ้มได้ที่นี่
Comment[tr]=Konqueror'un dosya yöneticisi kipini buradan ayarlayabilirsiniz
Comment[uk]=Тут можна налаштувати режим менеджера файлів Konqueror
Comment[ven]=Ni nga dzudzanya moudu wa mulanguli wa faela Konqueror hafhano
Comment[vi]=Bạn có thể cấu hình các chế độ hoạt động của Konqueror, trình quản lý file, ở đây
Comment[xh]=Uyakwazi ukuqwalasela apha indlela yomphathi wefayile we Konqueror
Comment[xx]=xxYou can configure Konqueror's file manager mode herexx
Comment[zh_CN]=在这里配置 Konqueror 的文件管理器模式
Comment[zh_TW]=您可以在這裡設定 Konqueror 的檔案管理模式
Comment[zu]=Ungahlanganisela indlela yemenenja yamafayela ye-konqueror lapha
Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
Keywords[ar]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,لون,عرض,تحته خط
Keywords[az]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,fayl,fayl idarəçisi,rəng,yazı növü,altı cızıqlı
Keywords[bg]=файлове, файл, управление, браузър, мениджър, konqueror, filemanager,word wrap, wrap, underline, display, filesize, bytes, font, color, colour
Keywords[ca]=konqueror,gestor de fitxers, ajust de línia,subratllar,mostrar,mida del fitxer,octets,font,color,colorit
Keywords[cs]=Konqueror,Správce souborů,Zalamování,Podtrhávání,Zobrazení,Velikost souboru,Bajty,Písmo,Barva
Keywords[cy]=konqueror,rheolydd ffeiliau,lapio geiriau,lapio,tanlinellu,dangos,maint ffeil,beitiau,ffont,lliw
Keywords[da]=konqueror,filhåndtering,ordombrydning,ombrydning,understreg,vis,filstørrelse,byte,skrifttype,farve
Keywords[de]=Konqueror,Dateimanager,Zeilenfall,Textumbruch,Unterstreichen,Darstellung,Dateigröße,Schrift,Farbe,Byte
Keywords[el]=konqueror,διαχειριστής αρχείων,αναδίπλωση λέξεων,αναδίπλωση,υπογράμμιση,προβολή,μέγεθος αρχείου,bytes,γραμματοσειρά,χρώμα,χρώμα
Keywords[eo]=konkeranto,dosieradministrilo,vidigi,vidigo,dosiera grandeco,bajto,bitoko,okbitaro,tiparo,koloro
Keywords[es]=konqueror,administrador de archivos, ajuste de línea,subrayar,mostrar,tamaño de archivo,bytes,fuente,color
Keywords[et]=konqueror,failihaldur,sõnade murdmine,murdmine,allajoonimine,ekraan,faili suurus,baidid,font,värv
Keywords[eu]=konqueror,fitxategi kudeatzailea,itzulbiratu, egokitu,azpimarratu,pantaila,fitxategi tamaina,byteak,letra-tipoa,kolorea
Keywords[fa]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, کانکرر, مدیر پرونده, نمایش, اندازه‌ی پرونده
Keywords[fi]=konqueror,tiedostonhallinta,sanankatkaisu,alleviivaus,tiedostokoko,tavuja, kirjasin,väri
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,retour à la ligne,soulignement,affichage,taille des fichiers,octets,police,couleur
Keywords[fy]=konqueror,filemanager,triembehear,word wrap,rigelôfbreking,ûnderstreakje,display,werjefte,filesize,triemgrutte,bytes,fonts,lettertypen,kleur,color
Keywords[gl]=konqueror,xestor de ficheiros,axuste de palabras,axuste,subliñar,amosar,tamaño de ficheiro,bites,fonte,cor
Keywords[he]=konqueror,מנהל קבצים,גלישת שורות,קו תחתון,תצוגה,גודל קובץ,בתים,גופן,צבע
Keywords[hi]=कॉन्करर,फ़ाइलप्रबंधक,वर्ड रैप,रैप,रेखांकित,प्रकटन,फ़ाइलआकार,बाइट्स,फ़ॉन्ट,रंग
Keywords[hu]=konqueror,fájlkezelő,szótördelés,tördelés,aláhúzás,képernyő,fájlméret,bájt,betűtípus,szín,színek
Keywords[is]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, litir,línuskipting,skjár,skjáborð,bæt,litur
Keywords[it]=konqueror,filemanager,a capo,sottolineatura,schermo,dimensione file,byte,caratteri,colori 
Keywords[ja]=konqueror,ファイルマネージャ,ワードラップ,行の折り返し,下線,表示,ファイルサイズ, バイト,フォント,色,カラー
Keywords[lt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,bylų tvarkyklė, žodžių perkėlimas, perkėlimas, pabraukimas, ekranas, bylos dydis, baitai, šriftas,spalva
Keywords[mk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,менаџер на датотеки,прекршување на зборови,прекршување,подвлекување,екран,големина на датотека,бајти,фонт,боја
Keywords[mn]=Конкюрор,Файл удирдагч,Текст таслах,Доогуур зураас, Дүрслэл,Файлын хэмжээ,Бичиг,Өнгө,Байт
Keywords[mt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,manager tal-fajls,daqs,kulur,kuluri
Keywords[nb]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, filhåndterer,tekstbryting,understreket,skjerm,filstørrelse,byter,fonter,farger
Keywords[nds]=Konqueror,Dateipleger,word wrap,ümbreken,ünnerstreken,Dorstellen,Dateigrött,Bytes,Schriftoort, Klöör, Klören
Keywords[nl]=konqueror,filemanager,bestandsbeheer,word wrap,regelafbreking,onderstrepen,display,weergave,filesize,bestandsgrootte,bytes,fonts,lettertypen,kleur,color
Keywords[nn]=Konqueror,filhandsamar,tekstbryting,linjebryting,bryting,understrek,vis,filstorleik,byte,skrift,farge
Keywords[nso]=konqueror,molaodi wa faele,tatetso ya faele,tatetso ya mantsu,tatetso,thalelela,pontsho,bogolo bja faele,bytes,fonto,mmala,mmala
Keywords[pl]=konqueror,menedżer plików,zawijanie wierszy,zawijanie,podkreślenie,wygląd, rozmiar pliku,bajty,czcionki,kolor
Keywords[pt]=konqueror,gestor de ficheiros,mudança de linha,mudança,sublinhado,ecrã,tamanho do ficheiro,bytes,tipo de letra,cor
Keywords[pt_BR]=konqueror,gerenciador de arquivos,quebra de linha, sublinhado, display,tamanho de arquivo,bytes,fonte,cor,cor
Keywords[ro]=konqueror,manager de fişiere,limitare cuvînt,limitare,subliniere,afişare,mărime fişier,octeţi,font,culoare
Keywords[sk]=konqueror,správa súborov,zalamovanie slov,podčiarknutie,zobrazenie,veľkosť súborov,bajty,písmo,farba
Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,prelom vrstic,prelom,podčrta,prikaz,velikost datoteke,bajt,pisava,barva
Keywords[sr]=konqueror,filemanager,преламање текста,преламање,подвлачење,приказ,величина фајла,бајтови,фонт,боја
Keywords[sr@Latn]=konqueror,filemanager,prelamanje teksta,prelamanje,podvlačenje,prikaz,veličina fajla,bajtovi,font,boja
Keywords[sv]=konqueror,filhanterare,radbrytning,understreck,visa,filstorlek,byte,teckensnitt,färg
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,வார்த்தை மடக்கு, மடக்கு,அடிகோடிடு,காட்டு,கோப்பு அளவு,பைட்டுகள்,எழுத்துரு,வண்ணம்,வண்ணம்
Keywords[th]=คอนเควอร์เรอร์,จัดการแฟ้ม,ตัดคำ,ตัด,ขีดเส้นใต้,แสดงผล,ขนาดแฟ้ม,ไบต์,แบบอักษร,สี
Keywords[tr]=konqueror,dosya yöneticisi,görünüm,dosya boyu,bayt,yazıtipi,renk
Keywords[uk]=konqueror,менеджер файлів, переніс файлів,переніс,підкреслення,дисплей, розмір файлів,байти,шрифт,колір
Keywords[uz]=konqueror,файл бошқарувчиси,word wrap,wrap,тагини чизиш,кўрсатиш,файнинг ҳажми,байтлар,шрифт,ранг
Keywords[ven]=konqueror,mulanguli wa faela,putela ha fhungo,putela,talela,sumbedza,saizi ya faela, bytes,fontu,muvhala,muvhala
Keywords[vi]=konqueror,trình quản lý file,word wrap,wrap,gạch chân,màn hình,cỡ file,bytes,phông,mầu,mầu sắc
Keywords[xh]=konqueror,umphathi wefayile,songela amagama,songela, yenza umgca ezantsi,bonisa, ubngakanani befayile,bytes,umgca,umbala,umbala
Keywords[xx]=xxkonqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colourxx
Keywords[zh_CN]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,文件管理器,自动换行,下划线,显示,文件大小,字节,字体,颜色
Keywords[zh_TW]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,征服家,檔案管理程式,文字換行,換行,底線,顯示,檔案大小,位元組,字型,顏色
Keywords[zu]=konqueror,imenenja yamafayela,ukugoqwa kwamafayela, ukugoqwa,dwebela,veza,usayizi ama-byte osayizi wefayela,uhlobo lwamagama, umbala,umbala

Categories=Qt;KDE;X-KDE-settings-components;
