[Desktop Entry]
Icon=desktop
Type=Application
Exec=kcmshell LookNFeel/Desktop/virtualdesktops
DocPath=kcontrol/numbername.html

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=virtualdesktops
Hidden=true

Name=Virtual Desktops
Name[bg]=Âèðòóàëíè Ðàáîòíè Ìÿñòà
Name[ca]=Escriptoris virtuals
Name[cs]=Virtuální plochy
Name[da]=Virtuelt skrivebord
Name[de]=Virtuelle Arbeitsflächen
Name[el]=Εικονικές Επιφ. Εργασίας
Name[eo]=Tabuloj
Name[es]=Escritorios Virtuales
Name[et]=Virtuaalsed töölauad
Name[fi]=Virtuaalityöpöydät
Name[fr]=Bureaux virtuels
Name[gl]=Escritorios Virtuais
Name[he]=םיילאוטריו תונחלוש
Name[hr]=Virtualne radne površine
Name[hu]=Virtuális munkaasztalok
Name[is]=Sýndarskjáborð
Name[it]=Desktop virtuali
Name[ja]=仮想デスクトップ
Name[mk]=Работни површини
Name[nl]=Virtuele bureaubladen
Name[no]=Virtuelle skrivebord
Name[no_NY]=Virtuelle skrivebord
Name[pl]=Wirtualne biurka
Name[pt]=Ecrãs Virtuais
Name[pt_BR]=Ambientes virtuais
Name[ro]=Ecrane virtuale
Name[ru]=Виртуальные рабочие столы
Name[sk]=Virtuálna Pracovná plocha
Name[sl]=Navidezna namizja
Name[sr]=Virtuelne površine
Name[sv]=Virtuella skrivbord
Name[ta]=Á¡Â §Á¨º¸û
Name[tr]=Sanal Masaüstü
Name[uk]=Віртуальний робочий стіл
Name[zh_TW.Big5]=虛擬桌面

Comment=Configure desktop number and names
Comment[bg]=Íàñòðîéêà íà íîìåð è èìå íà ðàáîòíî ìÿñòî
Comment[ca]=Configuració del número d'escriptoris i dels noms
Comment[cs]=Nastavení čísel a jmen pracovních ploch
Comment[da]=Indstil skrivebords nummer og navne
Comment[de]=Einrichtung von Nummern und Namen der Arbeitsflächen
Comment[el]=Ρύθμιση ονομάτων και αριθμών των επιφ. εργασίας
Comment[eo]=Agordo de nombroj kaj nomoj
Comment[es]=Configurar nombres y números del escritorio
Comment[et]=Töölaua arvu ja nimede konfigureerimine
Comment[fi]=Aseta työpöydän numeroita ja nimiä
Comment[fr]=Configuration des noms et numéros des bureaux
Comment[gl]=Configuración do número de escritorios e os seus nomes
Comment[he]=הדובעה תונחלוש תומשו ירפסמ תורדגה
Comment[hr]=Podesite brojeve i imena radnih površina
Comment[hu]=Az asztalszámok- és nevek beállítása
Comment[is]=Stilla númer og nöfn skjáborða
Comment[it]=Configura il numero e i nomi dei desktop
Comment[ja]=デスクトップ数、名前の設定
Comment[mk]=Дефинирање на броевите и имињата на работните површини
Comment[nl]=Configureer de namen en nummers van uw bureaubladen
Comment[no]=Konfigurer skrivebordsnummber og -navn
Comment[no_NY]=Set opp nummer og namn på skriveborda
Comment[pl]=Ustawienia numerów i nazw biurek
Comment[pt]=Configuração dos nomes e números dos ecrãs
Comment[pt_BR]=Configurar número e nome do ambiente
Comment[ro]=Configurează numărul şi numele ecranelor virtuale
Comment[ru]=Настроить имена и номера рабочих столов
Comment[sk]=Nastavenie čísel a mien pracovnej prochy
Comment[sl]=Prikroji število in ime namizij
Comment[sr]=Podešavanje brojeva i imena na radnoj površini
Comment[sv]=Anpassning av skrivbordsnummer och namn
Comment[ta]=§Á¨º¸Ç¢ý ±ñ½¢ì¨¸ ÁüÚõ ¦ÀÂ÷¸¨Ç ÅÊÅ¨Á
Comment[tr]=Masaüstü numaralarını ve isimlerini yapılandır
Comment[uk]=Настроїти номер та ім'я робочого столу
Comment[zh_CN.GB2312]=配置桌面的数字和名字
Comment[zh_TW.Big5]=設定桌面數字及Name

Keywords=Desktops,Name,Number of Desktops,Desktopcount
Keywords[cs]=Pracovní plocha,Jméno,Číslo,Počet,Název
Keywords[eo]=tabulo,nomo,nombro,tabulnombro
Keywords[he]=רפסמ,םש,הדובע תונחלוש
Keywords[hu]=asztalok,név,az asztalok száma,asztalszám
Keywords[ro]=ecran,nume,număr,număr de ecrane
