[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell fileappearance


X-KDE-Library=konq
X-KDE-FactoryName=appearance
X-KDE-ParentApp=kcontrol

Name=Appearance

Comment=You can configure how Konqueror looks as a file manager here
Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
