[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell fileappearance


X-KDE-Library=konq
X-KDE-FactoryName=appearance
X-KDE-ParentApp=kcontrol

Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[az]=Görünüş
Name[be]=Зьнешні выгляд
Name[bg]=Системен панел
Name[bn]=চেহারা
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Apariencia
Name[he]=מראה
Name[hi]=शक्ल-सूरत
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[lo]=ການປະກົດ
Name[lt]=Išvaizda
Name[mk]=Изглед
Name[mn]=Харагдалт
Name[mt]=Apparenza
Name[nb]=Utseende
Name[nds]=Utsehn
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[nso]=Ponagalo
Name[pa]=ਦਰਿਸ਼
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@Latn]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=ลักษณะที่ปรากฎ
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Ташқи кўриниш
Name[ven]=Mbonalelo
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[xh]=Inkangeleko
Name[xx]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Name[zu]=Ukubukeka

Comment=You can configure how Konqueror looks as a file manager here
Comment[af]=Jy kan konfigureer hoe Konqueror kyk as 'n lêer bestuurder hier
Comment[ar]=يمكنك تهيئة مظهر كونكيورر كمدير ملفات من هنا
Comment[az]=Konqueror-un fayl idarəçisi olaraq nəcə görünəcəyini buradan quraşdırın
Comment[be]=Тут Вы можаце настроіць выгляд Konqueror для кіраваньня файламі
Comment[bg]=Настройки на външния вид на файловия браузър
Comment[bn]=ফাইল ম্যানেজার হিসাবে কনকরার-এর চেহারা কেমন হবে তা এখানে কনফিগার করতে পারেন
Comment[br]=Amañ e c'hellit kefluniañ penaos Konqueror az zo gwellet evel a merour restroù
Comment[bs]=Ovdje možete podesiti kako izgleda Konqueror kao upravitelj datotekama
Comment[ca]=Aquí podeu configurar com es mostrarà el Konqueror com a gestor de fitxers
Comment[cs]=Zde je možné nastavit vzhled správce souborů
Comment[cy]=Ffurfweddu golwg Konqueror fel rheolydd ffeiliau
Comment[da]=Her kan du indstille hvordan Konqueror ser ud som filhåndtering
Comment[de]=Hier können Sie das Erscheinungsbild von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να ρυθμίσετε το πως θα εμφανίζεται το Konqueror ως διαχειριστής αρχείων
Comment[eo]=Ĉi tie vi povas agordi kiel konkeranto aspektas kiel dosieradministrilo
Comment[es]=Configuración del aspecto de Konqueror como administrador de archivos
Comment[et]=Konquerori failihalduri välimuse seadistamine
Comment[eu]=Hemen Konquerorren itxura konfigura dezakezu fitxategi kudeatzaile gisa ari denean
Comment[fa]=شما می‌توانید ظاهر کانکرر را به عنوان مدیر پرونده اینجا تنظیم کنید
Comment[fi]=Tässä kohdassa voit määritellä Konquerorin tiedostonhallinnan ulkonäön asetuksia
Comment[fr]=Apparence de Konqueror en tant que gestionnaire de fichiers
Comment[fy]=Hjir kinst it uterlik fan Konqueror as triembehearder ynstelle
Comment[gl]=Pode configurar aquí o xeito en que se amosa Konqueror coma xestor de ficheiros
Comment[he]=שינוי הדרך שבה Konqueror נראה בתור מנהל קבצים
Comment[hi]=आप कॉन्फ़िगर कर सकते हैं कि कॉन्करर यहाँ फ़ाइल प्रबंधक जैसे कैसे दिखे
Comment[hr]=Možete podesiti kako Konqueror izgleda u funkciji upravitelja datoteka
Comment[hu]=Itt lehet beállítani a Konqueror fájlkezelő jellemzőit
Comment[is]=Hér getur þú stillt hvernig Konqueror lítur út sem skráastjóri
Comment[it]=Configura l'aspetto di konqueror come gestore dei file
Comment[ja]=ここでKonquerorのファイルマネージャとしての見え方の設定をします
Comment[lo]=ທ່ານສາມາດປັບແຕ່ງການທຳງານຂອງເຄື່ອງ ຈັດການເຊສຊັນໄດ້ທີ່ນີ້
Comment[lt]=Čia galite nustatyti, kaip atrodo Konqueror-bylų tvarkyklė
Comment[mk]=Тука може да конфигурирате како ќе изгледа Konqueror како менаџер на датотеки
Comment[mn]=Энд та конкюрорын харагдалтыг файл удирдагчийн хувьд тогтоох
Comment[mt]=Hawn tista' tikkonfigura kif jidher Konqueror bħala manager tal-fajls
Comment[nb]=Tilpass hvordan Konqueror ser ut som filhåndterer
Comment[nds]=Hier kannst Du instellen, wodennig Konqueror as Dateipleger utsehn schall
Comment[nl]=Hier kunt u het uiterlijk van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du velja korleis filhandsamaren Konqueror skal sjå ut
Comment[nso]=O swanetse go beakanya ka mokgwa wo Konqueror e bogegago bjale ka molaodi wa faele mo
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ ਕਿ ਕੋਨਕਿਉਰੋਰ ਇੱਕ ਫਾਇਲ ਪ੍ਰਬੰਧਕ ਦੇ ਰੂਪ ਵਿੱਚ ਕਿਵੇਂ ਦਿਖਾਈ ਦੇਵੇਗਾ।
Comment[pl]=Konfiguracja wyglądu Konquerora jako menedżera plików
Comment[pt]=O utilizador pode configurar aqui como é que o Konqueror age como um gestor de ficheiros
Comment[pt_BR]=Você pode configurar aqui como o Konqueror ficará como gerenciador de arquivos
Comment[ro]=Configurează aspectul Konqueror ca manager de fişiere
Comment[ru]=Настройка внешнего вида Konqueror как менеджера файлов
Comment[sk]=Nastavenie vzhľadu Konquerora ako správcu súborov
Comment[sl]=Nastavitve izgleda Konquerorja kot upravitelja datotek
Comment[sr]=Овде можете подесити како ће Konqueror као менаџер фајлова да изгледа
Comment[sr@Latn]=Ovde možete podesiti kako će Konqueror kao menadžer fajlova da izgleda
Comment[sv]=Anpassa hur Konqueror ser ut som filhanterare
Comment[ta]=கான்கொரர் கோப்பு மேலாளராக எப்படி தெரிகிறது என்பதை இங்கே வடிவமைக்க முடியும்.
Comment[tg]= Шумо метавонед зоҳири Konqueror-ро ба унвони мудири файл дар инҷо танзим кунед.
Comment[th]=คุณสามารถปรับแต่งคอนเควอร์เรอร์ในการเป็นเครื่องมือจัดการแฟ้มได้ที่นี่
Comment[tr]=Konqueror'un dosya yöneticisi olarak nasıl görüneceğini yapılandırın
Comment[uk]=Тут можна налаштувати вигляд Konqeror, як менеджера сеансу
Comment[uz]=Бу ерда Konqueror файл бошқарувчиси сифатида қандай кўринишини мослашингиз мумкин
Comment[ven]=Ninga dzudzanya uri na Konqueror i sedzea sa mulanguli wa faela hafhano
Comment[vi]=Bạn có thể cấu hình Konqueror như một trình quản lý file ở đây
Comment[xh]=Ungaqwalasela indlela ebonakala ngoyo i Konqueror njengomphathi wefayile
Comment[xx]=xxYou can configure how Konqueror looks as a file manager herexx
Comment[zh_CN]=在这里配置 Konqueror 的文件管理器外观
Comment[zh_TW]=您可以在這裡設定 Konqueror 做為檔案管理程式的外觀
Comment[zu]=Ungahlanganisela ukuthi i-konqueror ibukeke kanjani njengemenenja yamafayela lapha
Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
Keywords[ar]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,لون,عرض,تحته خط
Keywords[az]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,fayl,fayl idarəçisi,rəng,yazı növü,altı cızıqlı
Keywords[bg]=файлове, файл, управление, браузър, мениджър, konqueror, filemanager,word wrap, wrap, underline, display, filesize, bytes, font, color, colour
Keywords[ca]=konqueror,gestor de fitxers, ajust de línia,subratllar,mostrar,mida del fitxer,octets,font,color,colorit
Keywords[cs]=Konqueror,Správce souborů,Zalamování,Podtrhávání,Zobrazení,Velikost souboru,Bajty,Písmo,Barva
Keywords[cy]=konqueror,rheolydd ffeiliau,lapio geiriau,lapio,tanlinellu,dangos,maint ffeil,beitiau,ffont,lliw
Keywords[da]=konqueror,filhåndtering,ordombrydning,ombrydning,understreg,vis,filstørrelse,byte,skrifttype,farve
Keywords[de]=Konqueror,Dateimanager,Zeilenfall,Textumbruch,Unterstreichen,Darstellung,Dateigröße,Schrift,Farbe,Byte
Keywords[el]=konqueror,διαχειριστής αρχείων,αναδίπλωση λέξεων,αναδίπλωση,υπογράμμιση,προβολή,μέγεθος αρχείου,bytes,γραμματοσειρά,χρώμα,χρώμα
Keywords[eo]=konkeranto,dosieradministrilo,vidigi,vidigo,dosiera grandeco,bajto,bitoko,okbitaro,tiparo,koloro
Keywords[es]=konqueror,administrador de archivos, ajuste de línea,subrayar,mostrar,tamaño de archivo,bytes,fuente,color
Keywords[et]=konqueror,failihaldur,sõnade murdmine,murdmine,allajoonimine,ekraan,faili suurus,baidid,font,värv
Keywords[eu]=konqueror,fitxategi kudeatzailea,itzulbiratu, egokitu,azpimarratu,pantaila,fitxategi tamaina,byteak,letra-tipoa,kolorea
Keywords[fa]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, کانکرر, مدیر پرونده, نمایش, اندازه‌ی پرونده
Keywords[fi]=konqueror,tiedostonhallinta,sanankatkaisu,alleviivaus,tiedostokoko,tavuja, kirjasin,väri
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,retour à la ligne,soulignement,affichage,taille des fichiers,octets,police,couleur
Keywords[fy]=konqueror,filemanager,triembehear,word wrap,rigelôfbreking,ûnderstreakje,display,werjefte,filesize,triemgrutte,bytes,fonts,lettertypen,kleur,color
Keywords[gl]=konqueror,xestor de ficheiros,axuste de palabras,axuste,subliñar,amosar,tamaño de ficheiro,bites,fonte,cor
Keywords[he]=konqueror,מנהל קבצים,גלישת שורות,קו תחתון,תצוגה,גודל קובץ,בתים,גופן,צבע
Keywords[hi]=कॉन्करर,फ़ाइलप्रबंधक,वर्ड रैप,रैप,रेखांकित,प्रकटन,फ़ाइलआकार,बाइट्स,फ़ॉन्ट,रंग
Keywords[hu]=konqueror,fájlkezelő,szótördelés,tördelés,aláhúzás,képernyő,fájlméret,bájt,betűtípus,szín,színek
Keywords[is]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, litir,línuskipting,skjár,skjáborð,bæt,litur
Keywords[it]=konqueror,filemanager,a capo,sottolineatura,schermo,dimensione file,byte,caratteri,colori 
Keywords[ja]=konqueror,ファイルマネージャ,ワードラップ,行の折り返し,下線,表示,ファイルサイズ, バイト,フォント,色,カラー
Keywords[lt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,bylų tvarkyklė, žodžių perkėlimas, perkėlimas, pabraukimas, ekranas, bylos dydis, baitai, šriftas,spalva
Keywords[mk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,менаџер на датотеки,прекршување на зборови,прекршување,подвлекување,екран,големина на датотека,бајти,фонт,боја
Keywords[mn]=Конкюрор,Файл удирдагч,Текст таслах,Доогуур зураас, Дүрслэл,Файлын хэмжээ,Бичиг,Өнгө,Байт
Keywords[mt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,manager tal-fajls,daqs,kulur,kuluri
Keywords[nb]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, filhåndterer,tekstbryting,understreket,skjerm,filstørrelse,byter,fonter,farger
Keywords[nds]=Konqueror,Dateipleger,word wrap,ümbreken,ünnerstreken,Dorstellen,Dateigrött,Bytes,Schriftoort, Klöör, Klören
Keywords[nl]=konqueror,filemanager,bestandsbeheer,word wrap,regelafbreking,onderstrepen,display,weergave,filesize,bestandsgrootte,bytes,fonts,lettertypen,kleur,color
Keywords[nn]=Konqueror,filhandsamar,tekstbryting,linjebryting,bryting,understrek,vis,filstorleik,byte,skrift,farge
Keywords[nso]=konqueror,molaodi wa faele,tatetso ya faele,tatetso ya mantsu,tatetso,thalelela,pontsho,bogolo bja faele,bytes,fonto,mmala,mmala
Keywords[pl]=konqueror,menedżer plików,zawijanie wierszy,zawijanie,podkreślenie,wygląd, rozmiar pliku,bajty,czcionki,kolor
Keywords[pt]=konqueror,gestor de ficheiros,mudança de linha,mudança,sublinhado,ecrã,tamanho do ficheiro,bytes,tipo de letra,cor
Keywords[pt_BR]=konqueror,gerenciador de arquivos,quebra de linha, sublinhado, display,tamanho de arquivo,bytes,fonte,cor,cor
Keywords[ro]=konqueror,manager de fişiere,limitare cuvînt,limitare,subliniere,afişare,mărime fişier,octeţi,font,culoare
Keywords[sk]=konqueror,správa súborov,zalamovanie slov,podčiarknutie,zobrazenie,veľkosť súborov,bajty,písmo,farba
Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,prelom vrstic,prelom,podčrta,prikaz,velikost datoteke,bajt,pisava,barva
Keywords[sr]=konqueror,filemanager,преламање текста,преламање,подвлачење,приказ,величина фајла,бајтови,фонт,боја
Keywords[sr@Latn]=konqueror,filemanager,prelamanje teksta,prelamanje,podvlačenje,prikaz,veličina fajla,bajtovi,font,boja
Keywords[sv]=konqueror,filhanterare,radbrytning,understreck,visa,filstorlek,byte,teckensnitt,färg
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,வார்த்தை மடக்கு, மடக்கு,அடிகோடிடு,காட்டு,கோப்பு அளவு,பைட்டுகள்,எழுத்துரு,வண்ணம்,வண்ணம்
Keywords[th]=คอนเควอร์เรอร์,จัดการแฟ้ม,ตัดคำ,ตัด,ขีดเส้นใต้,แสดงผล,ขนาดแฟ้ม,ไบต์,แบบอักษร,สี
Keywords[tr]=konqueror,dosya yöneticisi,görünüm,dosya boyu,bayt,yazıtipi,renk
Keywords[uk]=konqueror,менеджер файлів, переніс файлів,переніс,підкреслення,дисплей, розмір файлів,байти,шрифт,колір
Keywords[uz]=konqueror,файл бошқарувчиси,word wrap,wrap,тагини чизиш,кўрсатиш,файнинг ҳажми,байтлар,шрифт,ранг
Keywords[ven]=konqueror,mulanguli wa faela,putela ha fhungo,putela,talela,sumbedza,saizi ya faela, bytes,fontu,muvhala,muvhala
Keywords[vi]=konqueror,trình quản lý file,word wrap,wrap,gạch chân,màn hình,cỡ file,bytes,phông,mầu,mầu sắc
Keywords[xh]=konqueror,umphathi wefayile,songela amagama,songela, yenza umgca ezantsi,bonisa, ubngakanani befayile,bytes,umgca,umbala,umbala
Keywords[xx]=xxkonqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colourxx
Keywords[zh_CN]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,文件管理器,自动换行,下划线,显示,文件大小,字节,字体,颜色
Keywords[zh_TW]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,征服家,檔案管理程式,文字換行,換行,底線,顯示,檔案大小,位元組,字型,顏色
Keywords[zu]=konqueror,imenenja yamafayela,ukugoqwa kwamafayela, ukugoqwa,dwebela,veza,usayizi ama-byte osayizi wefayela,uhlobo lwamagama, umbala,umbala
