[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=wizard
Name=Test
Name[af]=toets
Name[ar]=اختبار
Name[az]=Sınaq
Name[be]=Тэст
Name[bg]=Тест
Name[bs]=Proba
Name[el]=Δοκιμή
Name[eo]=Testo
Name[es]=Prueba
Name[fi]=Testi
Name[he]=ניסיון
Name[hu]=Próba
Name[id]=Tes
Name[is]=Prufa
Name[it]=Prova
Name[ja]=テスト
Name[ko]=시험
Name[lt]=Testas
Name[lv]=Tests
Name[pt]=Teste
Name[pt_BR]=Testar
Name[ru]=Тест
Name[sl]=Preizkus
Name[ta]=§º¡¾¨É
Name[uk]=Тест
Name[vi]=Thử 
Name[wa]=Sayî
Name[xh]=Uvavanyo
Name[xx]=xx
Name[zh_CN]=测试
Name[zh_TW]=測試
Name[zu]=Uvivinyo

Open=false
X-KDE-KonqSidebarModule=konq_sidebartest
