[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=wizard
Name=Test
Name[af]=Toets
Name[az]=Sınaq
Name[be]=Тэст
Name[bg]=Проба
Name[bs]=Proba
Name[ca]=Prova
Name[cy]=Arbrofi
Name[el]=Δοκιμή
Name[eo]=Testo
Name[es]=Prueba
Name[fa]=آزمایش
Name[fi]=Testi
Name[gl]=Probar
Name[he]=ניסיון
Name[hi]=जांच
Name[hu]=Próba
Name[id]=Tes
Name[is]=Prufa
Name[it]=Prova
Name[ja]=テスト
Name[ko]=시험
Name[lo]=ທົດສອບ
Name[lt]=Testas
Name[lv]=Tests
Name[mn]=Тест
Name[nso]=Teko
Name[pt]=Teste
Name[pt_BR]=Testar
Name[ru]=Тест
Name[se]=Geahččaleapmi
Name[sl]=Preizkus
Name[sr]=Тест
Name[ta]=சோதனை
Name[tg]=Озмун
Name[th]=ทดสอบ
Name[uk]=Тест
Name[uz]=Синов
Name[ven]=Mulingo
Name[vi]=Thử
Name[wa]=Sayî
Name[xh]=Uvavanyo
Name[xx]=xxTestxx
Name[zh_CN]=测试
Name[zh_TW]=測試
Name[zu]=Isivivinyo

Open=false
X-KDE-KonqSidebarModule=konq_sidebartest
