[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=view_sidetree
Name=Navigation Panel
Name[fr]=Panneau de navigation
Name[x-test]=xxNavigation Panelxx
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-FollowActive=true
X-KDE-BrowserView-LinkedView=false
X-KDE-BrowserView-Built-Into=konqueror
