[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=view_sidetree
Name=Navigation Panel
Name[af]=navigering paneel
Name[ar]=لوحة التجوال
Name[az]=Naviqasiya Paneli
Name[bg]=Навигационен Панел
Name[cs]=Navigační panel
Name[da]=navigationspanel
Name[de]=Navigationsbereich
Name[es]=Panel de navegación
Name[fi]=Navigointipaneeli
Name[fr]=Panneau de navigation
Name[he]=לוח ניווט
Name[hu]=Navigációs panel
Name[lt]=Navigacijos pultas
Name[lv]=Navigācijas Panelis
Name[nl]=Navigatiepaneel
Name[nn]=Navigasjonspanel
Name[pt]=Painel de Navegação
Name[pt_BR]=Painel de Navegação
Name[ro]=Panou de navigare
Name[sk]=Navigačný panel
Name[sl]=Navigacijski pult
Name[sv]=Navigeringspanel
Name[ta]=¯Ä¡Åü ÀÄ¸õ
Name[xh]=Iqela lenjongo yolawulo
Name[xx]=xx
Name[zh_TW]=程式啟動
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-LinkedView=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-ToggableView-NoHeader=true
