[Desktop Entry]
Type=Service
Icon=view_sidetree
Name=Navigation Panel
Name[af]=uitgebreide kantbalk
Name[ar]=شريط جانبي ممتد
Name[az]=Təfsilatlı Yan Çubuq
Name[bg]=Страничен панел 
Name[bs]=Odličan Sidebar
Name[cs]=Rozšířená postranní lišta
Name[da]=Udvidet sidebjælke
Name[de]=Erw. Navigationsbereich
Name[el]=Επεκτεταμένη Πλευρική Μπάρα
Name[eo]=Etendita navigilo
Name[es]=Barra lateral extendida
Name[et]=Laiendatud külgriba
Name[eu]=Aunditako aldeko barra
Name[fi]=Laajennettu sivupalkki
Name[fr]=Barre latérale étendue
Name[he]=סרגל צדדי מורחב
Name[hu]=Kibővített oldalpanel
Name[is]=Endurbætt rennislá
Name[it]=Barra laterale estesa
Name[ja]=拡張サイドバー
Name[lt]=Išplėstą šoninį meniu
Name[lv]=Paplašināta Sānujosla
Name[mt]=Sidebar estiża
Name[nb]=Utvidet sidelinje
Name[nl]=Uitgebreide zijbalk
Name[nn]=Utvida sidestolpe
Name[pl]=Rozszerzony pasek boczny
Name[pt]=Barra Lateral Extendida
Name[pt_BR]=Barra Lateral Extendida
Name[ru]=Расширенная боковая панель
Name[sk]=Vylepšený bočný panel
Name[sl]=Razširjena stranska letev
Name[sr]=Prošireni navigacioni panel
Name[sv]=Utökad sidrad
Name[ta]=¿£ðÊò¾ Àì¸ôÀð¨¼
Name[tr]=Uzaltılmış Yan Çubuk
Name[uk]=Розширена бічна панель
Name[xh]=Ibar yasecaleni eyandisiweyo
Name[xx]=xx
Name[zh_CN.GB2312]=扩展工具条
Name[zh_TW.Big5]=延伸工具列
Name[zu]=Ibar yasecaleni Eyandisiweyo
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqsidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-LinkedView=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-ToggableView-NoHeader=true
