[Desktop Entry]
Type=Service
Icon=view_sidetree
Name=Sidebar
Name[af]=KANTBALK
Name[az]=Yan Çubuq
Name[bg]=Страничен панел
Name[cs]=Postranní lišta
Name[da]=Sidebjælke
Name[de]=Navigationsbereich
Name[el]=Πλευρική Μπάρα
Name[eo]=Navigilo
Name[es]=Barra lateral
Name[et]=Külgriba
Name[fi]=Sivupalkki
Name[fr]=Barre latérale
Name[he]=ידדצ לגרס
Name[hu]=Oldalpanel
Name[is]=Skrunslá
Name[it]=Barra laterale
Name[ja]=サイドバー
Name[ko]=자료방 짜임새
Name[lt]=Kontūras
Name[lv]=Sānujosla
Name[mt]=Bar tal-ġenb
Name[nl]=Zijbalk
Name[no]=Katalogtre
Name[no_NY]=Sidestolpe
Name[pl]=Pasek boczny
Name[pt_BR]=Barra Lateral
Name[pt]=Barra Lateral
Name[ru]=Боковая панель
Name[sk]=Bočný panel
Name[sl]=Stranska letev
Name[sv]=Sidrad
Name[ta]=Àì¸ôÀð¨¼
Name[tr]=Yan Çubuk
Name[uk]=Бічна панель
Name[zh_CN.GB2312]=工具条
Name[zh_TW.Big5]=花邊
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqtree
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-LinkedView=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
