[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=LocalDomainFilter
Name[x-test]=xxLocalDomainFilterxx
X-KDE-Library=liblocaldomainurifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=2
