[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=LocalDomainFilter
Name[az]=YerliDomenSüzgəci
Name[ca]=Filtre de dominis locals
Name[cs]=Filtr pro lokální doménu
Name[cy]=HidlParthLleol
Name[el]=Φίλτρο τοπικού τομέα
Name[eo]=LokaRetejo-filtrilo
Name[es]=FiltrodeDominioLocal
Name[eu]=Domeinu lokal iragazkia
Name[fa]=صافی‌دومین‌محلی
Name[fr]=Filtre de domaine local
Name[fy]=Lokaaldomeinfilter
Name[he]=מסנן תחומים מקומיים
Name[hi]=लोकल-डोमेन-फ़िल्टर
Name[hu]=HelyiTartománySzűrő
Name[it]=FiltroDominioLocale
Name[lo]=ຕົວກອງການບີບຂອງ KDE
Name[lv]=LokāloDomēnuFiltrs
Name[mt]=FiltruDominjiLokali
Name[nds]=Filter för LocalDomain
Name[nl]=Lokaaldomeinfilter
Name[nso]=Sesekodi sa Tikologo ya Selegae
Name[pa]=ਲੋਕਲ ਡੋਮੇਨ ਫਿਲਟਰ
Name[pl]=Filtr lokalnej domeny
Name[pt_BR]=Filtro de Domínio Local
Name[ro]=Filtru de domeniu local
Name[sk]=Filter lokálnej domény
Name[sl]=FilterLokalneDomene
Name[sv]=Filter för lokal domän
Name[ta]=உள்பகுதிவடிகட்டி
Name[th]=ตัวกรองโดเมนท้องถื่น
Name[uk]=Фільтр локальних доменів
Name[ven]=Filithara ya tshigwada ya henefhano
Name[vi]=Lọc miền địa phương
Name[xx]=xxLocalDomainFilterxx
Name[zh_CN]=本地域名过滤
Name[zh_TW]=區域網域過濾器
Name[zu]=Ihluzo Lendawo Yaseduze
X-KDE-Library=liblocaldomainurifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=2
