[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Thiago Macieira
X-KDE-PluginInfo-Email=thiago.macieira@kdemail.net
X-KDE-PluginInfo-Name=kremoteencodingplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Icon=charset
Name=Remote Encoding Plugin
Name[bg]=Отдалечена кодова таблица
Name[da]=Plugin for fjernkodning
Name[mk]=Приклучок за оддалечено кодирање
Name[pt_BR]=Plug-in de Codificação Remota
Name[sv]=Insticksprogram för fjärrkodning
Name[ta]=தொலைதூர குறியீட்டு சொருகுப்பொருள்
Comment=Remote Encoding Plugin for Konqueror
Comment[bg]=Приставка за отдалечена кодова таблица на браузъра
Comment[da]=Plugin for fjernkodning i Konqueror
Comment[pt_BR]=Plug-in de Codificação Remota para o Konqueror
Comment[sv]=Insticksprogram för fjärrkodning i Konqueror
Comment[ta]=கான்கொரர்க்கான தொலைதூர குறியீட்டு சொருகுப்பொருள்
