[Desktop Entry]
Type=Link
URL=
Icon=bookmark
Name=Bookmarks
Name[az]=Nüşanlar
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[he]=תוינמיס
Name[hu]=Könyvjelzők
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ko]=책갈피
Name[lt]=Atžymos
Name[lv]=Grāmatzīmes
Name[nl]=Bladwijzers
Name[no]=Bokmerker
Name[no_NY]=Bokmerke
Name[pl]=Zakładki
Name[pt_BR]=Favoritos
Name[pt]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=Markeri
Name[sv]=Bokmärken
Name[ta]=Òò¾¸ìÌÈ¢¸û
Name[tr]=Yer imleri
Name[uk]=Закладки
Name[zh_CN.GB2312]=书签
Name[zh_TW.Big5]=書籤
Comment=This is the list of your bookmarks, for a faster access
Comment[az]=Bunlar daha asand çatmaq üçün toplanan nişanlarınızdır
Comment[da]=Dette er en liste af dine bogmærker, til hurtigere adgang
Comment[de]=Dies ist eine Liste Ihrer Lesezeichen, sie dient dem schnelleren Zugriff
Comment[eo]=Jen la listo de viaj legosignoj por pli rapida aliro
Comment[es]=Esta es una lista de sus marcadores, para un acceso más rápido
Comment[fi]=Tämä on lista kirjanmerkeistäsi
Comment[he]=הריהמ השיגל ,ךלש תוינמיסה תמישר יהוז
Comment[hu]=A könyvjelzők listája (gyors elérhetőség)
Comment[ja]=高速アクセスのためのブックマークのリストです
Comment[ko]=빨리 찾아가도록 도와주는 책갈피 목록입니다.
Comment[lv]=Šis ir jūsu grāmatzīmju saraksts, ātrākai pieejai
Comment[nl]=Dit is de lijst met uw bookmarks, voor snellere toegang
Comment[no_NY]=Dette er ei liste over bokmerka dine, for snøggare tilgang
Comment[pl]=To jest lista zakładek, dla szybszego dostępu
Comment[pt_BR]=Esta é a lista dos teus Favoritos, para um acesso mais rápido
Comment[pt]=Esta é a lista dos teus Favoritos, para um acesso mais rápido
Comment[ro]=Aceasta este lista semnelor de carte, pentru acces rapid
Comment[ru]=список закладок для быстрого доступа
Comment[sk]=Toto je zoznam vašich záložiek, pre rýchlejší prístup k nim
Comment[sl]=To je seznam vaših zaznamkov, za hitrejši dostop.
Comment[sv]=Det här är listan på dina bokmärken, för en snabbare åtkomst
Open=false
X-KDE-TreeModule=Bookmarks
X-KDE-KonqSidebarModule=konqsidebar_tree    
