[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=bookmark
Name=Bookmarks
Name[af]=boekmerke
Name[ar]=علامات مواقع
Name[az]=Nüşanlar
Name[be]=Закладкі
Name[bg]=Бележки
Name[cs]=Záložky
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Lastermarka
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[he]=סימניות
Name[hu]=Könyvjelzők
Name[id]=Bookmark
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ko]=책갈피
Name[lt]=Atžymos
Name[lv]=Grāmatzīmes
Name[mt]=Favoriti
Name[nb]=Bokmerker
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=Markeri
Name[sv]=Bokmärken
Name[ta]=Òò¾¸ìÌÈ¢¸û
Name[th]=ที่คั่นหนังสือ
Name[tr]=Yer imleri
Name[uk]=Закладки
Name[xh]=Amanqaku encwadi
Name[xx]=xx
Name[zh_CN]=书签
Name[zh_TW]=書籤
Name[zu]=Amamaki  encwadi
Comment=This is the list of your bookmarks, for a faster access
Comment[af]=hierdie is die lys van jou boekmerke, vir 'n vinniger toegang verkry
Comment[ar]=هذه قائمة بمواقعك المفضلة من أجل وصول أسرع
Comment[az]=Bunlar daha asand çatmaq üçün toplanan nişanlarınızdır
Comment[bg]=Списък от бележници за бърз достъп
Comment[cs]=Toto je seznam vašich záložek k jejich rychlejšímu nalezení
Comment[da]=Dette er en liste af dine bogmærker til hurtigere adgang
Comment[de]=Dies ist eine Liste Ihrer Lesezeichen, sie dient dem schnelleren Zugriff
Comment[el]=Αυτή είναι η λίστα των σελιδοδεικτών σας, για γρηγορότερη πρόσβαση
Comment[eo]=Jen la listo de viaj legosignoj por pli rapida aliro
Comment[es]=Esta es la lista de sus marcadores, para un acceso más rápido.
Comment[et]=Sinu järjehoidjate nimekiri
Comment[eu]=Hemen duzu zure lastermarkaren zerrenda
Comment[fi]=Tämä on lista kirjanmerkeistäsi
Comment[fr]=Voici la liste de vos signets, afin que vous y accédiez plus rapidement
Comment[he]=זוהי רשימת הסימניות שלך, לגישה מהירה
Comment[hu]=A könyvjelzők listája (gyors elérhetőség)
Comment[is]=Hér eru bókamerkin þín
Comment[it]=Questa è la lista dei tuoi segnalibri per un accesso veloce.
Comment[ja]=高速アクセスのためのブックマークのリストです
Comment[ko]=빨리 찾아가도록 도와주는 책갈피 목록입니다.
Comment[lt]=Šiame aplanke yra visos jūsų atžymos siekiant greitesnio priėjimo
Comment[lv]=Šis ir jūsu grāmatzīmju saraksts, ātrākai pieejai
Comment[mt]=Din hija lista tal-bookmarks tiegħek, għal aċċess ta' malajr
Comment[nb]=Dette er en liste over bokmerkene dine, for raskere tilgang
Comment[nl]=Dit is de lijst met uw bookmarks, voor snellere toegang
Comment[nn]=Dette er ei liste over bokmerka dine, for snøggare tilgang
Comment[pl]=To jest lista zakładek, dla szybszego dostępu
Comment[pt]=A lista dos teus favoritos, para um acesso mais rápido
Comment[pt_BR]=Esta pasta contém a sua lista dos favoritos, para o acesso mais rápido
Comment[ro]=Aceasta este lista semnelor dumneavoastră de carte
Comment[ru]=список закладок для быстрого доступа
Comment[sk]=Toto je zoznam vašich záložiek, pre rýchlejší prístup k nim
Comment[sl]=To je seznam vaših zaznamkov, za hitrejši dostop.
Comment[sr]=Ovo je lista vaših markera, radi lakšeg pristupa
Comment[sv]=Det här är listan på dina bokmärken, för snabbare åtkomst
Comment[ta]=Å¢¨ÃÅ¡É «Ï¸Öì¸¡É ¯í¸û Òò¾¸ìÌÈ¢ô ÀðÊÂø
Comment[th]=นี่เป็นรายการที่คั่นหนังสือของคุณ เพื่อการเรียกใช้อย่างรวดเร็ว
Comment[tr]=Bu sizin daha hızlı erişiminiz için kısa yollarınızın bir listesidir
Comment[uk]=Це - список Ваших закладок для швидкого доступу
Comment[vi]=Đây là danh sách tất cả các trang đánh dấu của bạn, giúp cho truy cập nhanh hơn 
Comment[xh]=Olu luluhlu lwamanqaku encwadi yakho, yonikezelo olukhawulezayo
Comment[xx]=xx
Comment[zh_CN]=这是您的书签的列表，您可以快速访问
Comment[zh_TW]=快速存取網站的書籤列表
Comment[zu]=Lolu uluhlu lwamamaki akho,yongeniso olusheshayo
Open=false
X-KDE-TreeModule=Bookmarks
X-KDE-TreeModule-Lib=konq_sidebartree_bookmarks
X-KDE-Default-URL=
