[Desktop Entry]
Type=Link
URL=
Icon=folder 
Name=Directory
Name[af]=GIDS
Name[az]=Cərgə
Name[bg]=Директория
Name[br]=Renkell
Name[bs]=Direktorij
Name[ca]=Directori
Name[cs]=Adresář
Name[da]=Mappe
Name[de]=Verzeichnis
Name[el]=Κατάλογος
Name[eo]=Dosierujo
Name[es]=Directorio
Name[et]=Kataloog
Name[eu]=Direktorioa
Name[fi]=Hakemisto
Name[fr]=Dossier
Name[gl]=Directorio
Name[he]=הירפס
Name[hr]=Direktorij
Name[hu]=könyvtár
Name[is]=Mappa
Name[ja]=ディレクトリ
Name[ko]=자료방
Name[lt]=Katalogas
Name[lv]=Direktorijs
Name[mk]=Папка
Name[mt]=Direttorju
Name[nl]=Map
Name[no]=Katalog
Name[no_NY]=Katalog
Name[oc]=Directori
Name[pl]=Katalog
Name[pt_BR]=Diretório
Name[pt]=Directoria
Name[ru]=Каталог
Name[sk]=Adresár
Name[sl]=Imenik
Name[sr]=Direktorijum
Name[sv]=Katalog
Name[ta]=«¨¼×
Name[tr]=Dizin
Name[uk]=Каталог
Name[vi]=Thư mục 
Name[zh_CN.GB2312]=目录
Name[zh_TW.Big5]=目錄
Open=false
 
X-KDE-TreeModule=Directory
X-KDE-TreeModule-Lib=konqsidebartree_dirtree
X-KDE-Default-URL=file:/
