[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=folder 
Name=Folder
Name[af]=Gids
Name[az]=Cərgə
Name[be]=Каталёг
Name[bg]=Директория
Name[br]=Renkell
Name[bs]=Direktorij
Name[ca]=Directori
Name[cs]=Adresář
Name[cy]=Cyfeiriadur
Name[da]=Mappe
Name[de]=Verzeichnis
Name[el]=Κατάλογος
Name[eo]=Dosierujo
Name[es]=Directorio
Name[et]=Kataloog
Name[eu]=Direktorioa
Name[fa]=شاخه
Name[fi]=Hakemisto
Name[fr]=Dossier
Name[gl]=Directorio
Name[he]=ספריה
Name[hr]=Direktorij
Name[hu]=könyvtár
Name[id]=Direktori
Name[is]=Mappa
Name[ja]=ディレクトリ
Name[ko]=자료방
Name[lo]=ໄດເລັກທໍລี
Name[lt]=Katalogas
Name[lv]=Direktorijs
Name[mn]=Лавлах
Name[mt]=Direttorju
Name[nb]=Katalog
Name[nl]=Map
Name[nn]=Katalog
Name[nso]=Tshupetso
Name[oc]=Directori
Name[pl]=Katalog
Name[pt]=Directoria
Name[pt_BR]=Diretório
Name[ro]=Director
Name[ru]=Каталог
Name[sk]=Priečinok
Name[sl]=Imenik
Name[sr]=Директоријум
Name[ss]=I-directory
Name[sv]=Katalog
Name[ta]=«¨¼×
Name[th]=ไดเร็กทอรี
Name[tr]=Dizin
Name[uk]=Каталог
Name[uz]=Директория
Name[ven]=Tsumbavhulwo
Name[vi]=Thư mục 
Name[wa]=Ridant
Name[xh]=Ulawulo
Name[xx]=xxFolderxx
Name[zh_CN]=目录
Name[zh_TW]=目錄
Name[zu]=Uhlu lwamafayela
Open=false
 
X-KDE-TreeModule=Directory
X-KDE-TreeModule-Lib=konq_sidebartree_dirtree
X-KDE-Default-URL=file:/
X-KDE-TreeModule-ShowHidden=false
