[Desktop Entry]
Type=Link
URL=
Icon=folder 
Name=Directory
Open=false
 
X-KDE-TreeModule=Directory
X-KDE-TreeModule-Lib=konqsidebartree_dirtree
X-KDE-Default-URL=file:/
