[Desktop Entry]
Type=Link
URL=
Icon=history
Name=History
Name[az]=Keçmiş
Name[da]=Historie
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[fi]=Historia
Name[fr]=Historique
Name[he]=הירוטסיה
Name[hu]=Napló
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[lt]=Žurnalas
Name[lv]=Vēsture
Name[nl]=Geschiedenis
Name[no]=Historie
Name[no_NY]=Historie
Name[pl]=Historia
Name[pt_BR]=Histórico
Name[pt]=Historial
Name[ro]=Istoric
Name[ru]=Журнал
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Istorija
Name[sv]=Historik
Name[ta]=ÅÃÄ¡Ú
Name[tr]=Geçmiş
Name[uk]=Історія
Name[zh_CN.GB2312]=历史
Name[zh_TW.Big5]=歷程記錄
Comment=This is the history of the URLs you have recently visited. You can sort them in many ways.
Comment[az]=Bu da əvvəllər ziyarət etdiyiniz URLlərin siyahısıdır. Onları istədiyiniz kimi düzə bilərsiiz.
Comment[da]=Dette er historikken for de URLen du har besøgt for nylig. Du kan sortere dem på mange måder.
Comment[de]=Dies ist ein Verzeichnis aller Adressen, die Sie in letzter Zeit besucht haben. Sie können Sie auf vielerlei Weise sortieren.
Comment[eo]=Jen la historio de la vizititaj URLoj. Vi povas ordigi ilin diversmaniere.
Comment[es]=Historial con las URLs que ha visitado recientemente. Puede ordenarlas de diversos modos.
Comment[fi]=Tämä on historia selailemistasi URL linkeistä. Voit järjestää ne monella tavalla.
Comment[he]=.םיכרד ןווגמב ןרדסל ךתורשפאב .הנורחאל תרקיב ןהב תובותכה תיירוטסיה יהוז
Comment[hu]=Itt láthatók a legutóbb meglátogatott URL-ek. Többféle szempont szerint is sorbarendezhetők.
Comment[ja]=これは最近訪問したURLの履歴です。さまざまな種類のソートができます。
Comment[lv]=Šī ir nesen apmeklēto URL vēsture. Jūs varat to šķirot daudzos veidos.
Comment[nl]=Dit is de geschiedenis van de URLs waar u recentelijk bent geweest. U kunt ze op meerdere manieren sorteren.
Comment[no_NY]=Dette er historia over adressene du nyleg har vitja. Du kan sortera lista på mange måtar.
Comment[pl]=Historia ostatnio odwiedzonych adresów URL. Można ją na różne sposoby posortować.
Comment[pt_BR]=Este é o historial dos URLs visitados recentemente. Podes ordená-los de várias maneiras.
Comment[pt]=Este é o historial dos URLs visitados recentemente. Podes ordená-los de várias maneiras.
Comment[ro]=Acesta este istoricul URL-urilor pe care le-aţi vizitat recent. Le puteţi sorta în multe feluri.
Comment[ru]=журнал недавно посещенных адресов (URL). Его можно настраивать по своему усмотрению.
Comment[sk]=Toto je história URL, ktoré ste naposledy navštívili. Môžete ich utriediť rôznymi spôsobmi.
Comment[sl]=To je zgodovina URL-jev, ki ste jih pred kratkim obiskali. Lahko jih uredite na različne načine.
Comment[sr]=Ovo je lista URL-ova koje ste nedavno posetili. Možete je sortirati na razne načine.
Comment[sv]=Det här är historiken på de webbadresser du nyligen besökt. Du kan sortera dem på många sätt.
Open=false
X-KDE-TreeModule=History
X-KDE-TreeModule-Lib=konqsidebartree_history    
X-KDE-Default-URL=   
