[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=history
Name=History
Name[fr]=Historique
Name[x-test]=xxHistoryxx
Comment=This is the history of the URLs you have recently visited. You can sort them in many ways.
Comment[fr]=Voici la liste des URL que vous avez récemment visitées. Vous pouvez les trier de multiples façons.
Comment[x-test]=xxThis is the history of the URLs you have recently visited. You can sort them in many ways.xx
Open=false
X-KDE-TreeModule=History
X-KDE-SearchableTreeModule=true
X-KDE-KonqSidebarModule=konqsidebar_tree
