[Desktop Entry]
Type=Link
URL=file:$HOME
Icon=folder_home
Name=Home Directory
Name[af]=Tuisgids
Name[az]=Başlanğıc Cərgəsi
Name[br]=Renkell Er-gêr
Name[bs]=Početni direktorij
Name[ca]=Directori inici
Name[da]=Hjemmemappe
Name[de]=Persönliches Verzeichnis
Name[el]=Προσωπικός Κατάλογος
Name[eo]=Hejmdosierujo
Name[es]=Directorio personal
Name[et]=Kodukataloog
Name[eu]=Direktorio Pertsonala
Name[fi]=Kotihakemisto
Name[fr]=Dossier personnel
Name[gl]=Directorio Persoal
Name[he]=תיבה תיירפס
Name[hr]=Početni direktorij
Name[hu]=Saját könyvtár
Name[is]=Heimasvæðið þitt
Name[it]=Directory home
Name[ja]=ホームディレクトリ
Name[ko]=홈 자료방
Name[lt]=Pradinis Katalogas
Name[lv]=Mājas Direktorijs
Name[mi]=Pouaka Könae Käinga
Name[mk]=Сопствена папка
Name[nl]=Persoonlijke map
Name[no]=Hjemmekatalog
Name[no_NY]=Heimekatalog
Name[oc]=Repertori iniciau
Name[pl]=Katalog domowy
Name[pt_BR]=Diretório do Usuário
Name[pt]=A Minha Área
Name[ro]=Director personal
Name[ru]=Домашний каталог
Name[sk]=Domovský priečinok
Name[sl]=Domači imenik
Name[sr]=Kućni direktorijum
Name[sv]=Hemkatalogen
Name[ta]=¦¾¡¼ì¸ «¨¼×
Name[tr]=Başlangıç Dizini
Name[uk]=Домівка
Name[zh_CN.GB2312]=主目录
Name[zh_TW.Big5]=家目錄
Comment=This folder contains your personal files
Comment[az]=Bu cərgə bütün şəxsi fayllarınızı daxil edir
Comment[da]=Denne mappe indeholder dine personlige filer
Comment[de]=Dieser Ordner enthält Ihre persönlichen Dateien.
Comment[eo]=Tiu ĉi dosierujo enhavas viajn personajn dosierojn
Comment[es]=Esta carpeta contiene sus archivos personales
Comment[fi]=Tämä kansio sisältää henkilökohtaiset tiedostosi
Comment[he]=ךלש םיישיאה םיצבקה תא הליכמ וז היקית
Comment[hu]=Ez a mappa tartalmazza az Ön személyes fájljait
Comment[ja]=このフォルダはあなたの全ての個人的なファイルを含みます
Comment[ko]=혼자만 쓰는 파일을 담고 있는 폴더
Comment[lv]=Šī mape satur jūsu personālos failus
Comment[nl]=Deze map bevat al uw persoonlijke bestanden
Comment[no_NY]=Denne mappa inneheld dine personlege filer.
Comment[pl]=Ten katalog zawiera wszystkie twoje osobiste pliki.
Comment[pt_BR]=Esta pasta contém os teus ficheiros pessoais
Comment[pt]=Esta pasta contém os teus ficheiros pessoais
Comment[ro]=Acest director conţine fişierele dumneavoastră personale
Comment[ru]=каталог для хранения всех ваших личных файлов
Comment[sk]=Tento priečinok obsahuje vaše osobné súbory
Comment[sl]=Ta mapa vsebuje vaše osebne datoteke.
Comment[sr]=Ovaj direktorijum sadrži vaše lične fajlove
Comment[sv]=Den här katalogen innehåller dina personliga filer
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree    
