[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=file:$HOME
Icon=folder_home
Name=Home Folder
Name[fr]=Dossier personnel
Name[x-test]=xxHome Folderxx
Comment=This folder contains your personal files
Comment[fr]=Ce dossier contient tous vos fichiers personnels
Comment[x-test]=xxThis folder contains your personal filesxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
