[Desktop Entry]
Type=Link
URL=file:/
Icon=folder
Name=Root Directory
Name[az]=Root Cərgəsi
Name[da]=Roden.
Name[de]=Wurzelverzeichnis
Name[el]=Κατάλογος-Βάση(/)
Name[eo]=Radiko-dosierujo
Name[es]=Directorio raíz
Name[et]=Juurkataloog
Name[fi]=Juurihakemisto
Name[fr]=Dossier racine
Name[gl]=Directorio Raíz
Name[he]=שרושה תיירפס
Name[hu]=Gyökérkönyvtár
Name[is]=Rótarmappa
Name[it]=Directory radice
Name[ja]=ルートディレクトリ
Name[ko]=루트 자료방
Name[lt]=Root Katalogas
Name[lv]=Saknes Direktorijs
Name[nl]=Hoofdmap
Name[no]=Rot-katalog
Name[no_NY]=Rotkatalog
Name[pl]=Katalog główny
Name[pt_BR]=Diretório-raiz
Name[pt]=Directoria Raiz
Name[ro]=Director rădăcină
Name[ru]=Корневой каталог
Name[sk]=Koreňový priečinok
Name[sl]=Korenski imenik
Name[sr]=Root direktorijum
Name[sv]=Rotkatalogen
Name[ta]=§Å÷«¨¼×
Name[tr]=Root Dizini
Name[uk]=Кореневий каталог
Name[zh_CN.GB2312]=根目录
Name[zh_TW.Big5]=根目錄
Comment=This is the root of the filesystem
Comment[az]=Bu, fayl sisteminizin köküdür
Comment[da]=Dette er roden for filsystemet
Comment[de]=Dies ist das Wurzelverzeichnis Ihres Dateisystems
Comment[eo]=Jen la radiko de la dosieraro
Comment[es]=Esta es la raíz del sistema de archivos
Comment[fi]=Tämä on tiedostojärjestelmän juuri
Comment[he]=ךלש םיצבקה תכרעמ לש שרושה והז
Comment[hu]=Ez a fájlrendszer gyökere
Comment[ja]=ファイルシステムのルートです
Comment[ko]=파일 시스템 뿌리입니다.
Comment[lv]=Šī ir failusistēmas sakne
Comment[nl]=Dit is de root van het bestandssysteem
Comment[no_NY]=Dette er rota i filsystemet.
Comment[pl]=To jest korzeń systemu plików (czyli katalog główny)
Comment[pt_BR]=Esta é a raiz do sistema de ficheiros
Comment[pt]=Esta é a raiz do sistema de ficheiros
Comment[ro]=Aceasta este rădăcina întregului sistem de fişiere
Comment[ru]=Корневой каталог файловой системы
Comment[sk]=Toto je korenový priečinok systému súborov
Comment[sl]=To je koren datotečnega sistema.
Comment[sv]=Det här är roten på filsystemet
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree    
