[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=folder
Name=Folder
Name[fr]=Dossier
Name[x-test]=xxFolderxx

Open=false
X-KDE-KonqSidebarAddParam=
X-KDE-KonqSidebarAddModule=konqsidebar_tree
X-KDE-KonqSidebarUniversal=true
