[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=folder
Name=Folder
Name[af]=Gids
Name[ar]=المجلد
Name[az]=Qovluq
Name[be]=Тэчка
Name[bg]=Директория
Name[bn]=ফোল্ডার
Name[br]=Renkell
Name[bs]=Direktorij
Name[ca]=Carpeta
Name[cs]=Složka
Name[cy]=Plygell
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[eo]=Dosierujo
Name[es]=Carpeta
Name[et]=Kataloog
Name[eu]=Karpeta
Name[fi]=Kansio
Name[fr]=Dossier
Name[fy]=Map
Name[ga]=Fillteán
Name[gl]=Cartafol
Name[he]=תיקיה
Name[hi]=फ़ोल्डर
Name[hr]=Mapa
Name[hu]=Könyvtár
Name[is]=Mappa
Name[it]=Cartella
Name[ja]=フォルダ
Name[lt]=Aplankas
Name[mk]=Папка
Name[mn]=хавтас
Name[mt]=Direttorju
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[nn]=Mappe
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ru]=Папка
Name[se]=Máhppa
Name[sk]=Priečinok
Name[sl]=Mapa
Name[sr]=Директоријум
Name[sr@Latn]=Direktorijum
Name[sv]=Katalog
Name[ta]=அடைவு
Name[tg]=Феҳрист
Name[th]=โฟลเดอร์
Name[tr]=Dizin
Name[uk]=Тека
Name[uz]=Жилд
Name[vi]=Thư mục
Name[wa]=Ridant
Name[xx]=xxFolderxx
Name[zh_CN]=文件夹

Open=false
X-KDE-KonqSidebarAddParam=
X-KDE-KonqSidebarAddModule=konqsidebar_tree    
X-KDE-KonqSidebarUniversal=true
