[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-html
Icon=konqueror
Exec=kcmshell khtml_behavior


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_behavior

Name=Web Behavior
Comment=Configure the browser behavior
Keywords=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
