[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-java
Icon=konqueror
Exec=kcmshell khtml_java_js

X-KDE-ModuleType=Library
X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_java_js

Name=Java & JavaScript
Name[af]=java & javaskrip
Name[be]=Java і JavaScript
Name[bs]=JavaScript i Java
Name[cs]=Java a JavaScript
Name[es]=Java y JavaScript
Name[hu]=Java/Javascript
Name[ja]=JavaScript / Java
Name[mt]=Java u JavaScript
Name[nl]=Java en JavaScript
Name[sv]=Java och Javaskript
Name[tr]=Java & JavaScriptı
Comment=Configure the behavior of Java and JavaScript
Keywords=konqueror,kfm,browser,html,web,www,java,javascript
Keywords[da]=konqueror,kfm,netsøger,HTML,net,www,java,javascript
Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Java,JavaScript
Keywords[el]=konqueror,kfm,περιηγητής,html,web,www,java,javascript
Keywords[es]=konqueror,kfm,navegador,html,web,wwwjava,javascript
Keywords[fi]=konqueror,kfm,selain,html,web,www,java,javascript
Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,Java,Javascript
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,www,java,javascript
Keywords[nb]=konqueror,kfm,browser,html,web,www,java,javascript,nettleser,nett
Keywords[nl]=konqueror,kfm,browser,html,web,www,java,javascript,internet
Keywords[pt_BR]=konqueror,kfm,navegador,html,web,WWW,java,javascript
Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,java,javascript
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,java,javascript

