[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-java
Icon=konqueror
Exec=kcmshell khtml_java_js


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_java_js

Name=Java & JavaScript
Comment=Configure the behavior of Java and JavaScript
Keywords=konqueror,kfm,browser,html,web,www,java,javascript

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
