[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

DocPath=kcontrol/khtml/index.html#khtml-adblock
Icon=filter
Exec=kcmshell khtml_filter

X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_filter
X-KDE-ParentApp=kcontrol


Name=AdBlocK Filters
Name[fr]=Filtres AdBlocK
Name[x-test]=xxAdBlocK Filtersxx

Comment=Configure Konqueror AdBlocK filters
Comment[fr]=Configurer les filtres AdBlocK de Konqueror
Comment[x-test]=xxConfigure Konqueror AdBlocK filtersxx

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
