[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#khtml-adblock
Icon=filter
Exec=kcmshell khtml_filter

X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_filter

Name=AdBlocK Filters
Name[x-test]=xxAdBlocK Filtersxx

Comment=Configure Konqueror AdBlocK filters
Comment[x-test]=xxConfigure Konqueror AdBlocK filtersxx

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
