[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-html
Icon=konqueror
Exec=kcmshell khtml_behavior


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_behavior

Name=Web Behavior
Name[ar]=سلوك Web
Name[az]=Veb Davranışı
Name[bg]=Уеб браузър
Name[bn]=ওয়েব আচরণ
Name[br]=Emzalc'h ar gwiad
Name[bs]=Ponašanje web preglednika
Name[ca]=Comportament web
Name[cs]=Chování na webu
Name[cy]=Ymddygiad Gwê
Name[da]=WWW-Opførsel
Name[de]=Web-Verhalten
Name[el]=Συμπεριφορά Ιστού
Name[en_GB]=Web Behaviour
Name[eo]=TTT-Konduto
Name[es]=Comportamiento
Name[et]=Veebilehitseja käitumine
Name[eu]=Web portamoldea
Name[fi]=Verkkokäyttäytyminen
Name[fr]=Comportement web
Name[fy]=Webgedrach
Name[ga]=Oibriú Lín
Name[gl]=Comportamento Web
Name[he]=התנהגות רשת
Name[hi]=वेब बर्ताव
Name[hr]=Web ponašanje
Name[hu]=Webes működés
Name[is]=Vefhegðun
Name[it]=Comportamento Web
Name[ja]=Web動作
Name[lt]=Žiniatinklio elgsena
Name[mk]=Вебоднесување
Name[mn]=Вэб байдал
Name[mt]=Imġieba web
Name[nb]=Nett-oppførsel
Name[nds]=Bedregen in't Nett
Name[nl]=Webgedrag
Name[nn]=Vevåtferd
Name[pa]=ਵੈਬ ਵਿਵਹਾਰ
Name[pl]=Przeglądanie WWW
Name[pt]=Comportamento na Web
Name[pt_BR]=Comportamento Web
Name[ro]=Comportament web
Name[ru]=Поведение Веб
Name[sk]=Chovanie pre WWW
Name[sl]=Spletno obnašanje
Name[sr]=Веб понашање
Name[sr@Latn]=Veb ponašanje
Name[sv]=Nätbeteende
Name[ta]=வலைப் பண்புகள்
Name[tg]=Рафтори Вэб
Name[th]=พฤติกรรมของเว็บ
Name[tr]=Web Davranışı
Name[uk]=Поведінка Навігатора
Name[uz]=Веб хусусиятлари
Name[vi]=Thái độ của Web
Name[wa]=Dujhance waibe
Name[xx]=xxWeb Behaviorxx
Name[zh_CN]=Web 行为
Comment=Configure the browser behavior
Comment[af]=Konfigureer die blaaier gedrag
Comment[ar]=قم بتهيئة سلوك المتصفح
Comment[bg]=Настройки на уеб браузъра
Comment[bn]=ব্রাউজারের আচরণ কনফিগার করুন
Comment[br]=Kefluniañ emzalc'h ar furcher
Comment[bs]=Podesite ponašanje web preglednika
Comment[ca]=Configura el comportament del navegador
Comment[cs]=Nastavení chování prohlížeče
Comment[cy]=Ffurfweddu ymddygiad y porydd
Comment[da]=Indstil browserens opførsel
Comment[de]=Verhalten des Web-Browsers festlegen
Comment[el]=Ρυθμίστε τη συμπεριφορά του περιηγητή
Comment[en_GB]=Configure the browser behaviour
Comment[eo]=Agordas la konduton de la TTT-legilo
Comment[es]=Configuración del comportamiento del navegador
Comment[et]=Konquerori veebilehitseja käitumine
Comment[eu]=Konfiguratu arakatzailearen portamoldea
Comment[fa]=تنظیم رفتار مرورگر
Comment[fi]=Selaimen asetukset
Comment[fr]=Configuration du comportement du navigateur
Comment[fy]=Hjir kinst it gedrach fan de webblêdzjer ynstelle
Comment[ga]=Cumraigh oibriú an bhrabhsálaí
Comment[gl]=Configura-lo comportamento do navegador
Comment[he]=שינוי הגדרות פעולת הדפדפן
Comment[hi]=वेब बर्ताव कॉन्फ़िगर करें
Comment[hr]=Podešavanje ponašanja preglednika
Comment[hu]=A Konqueror webböngésző részének működési jellemzői
Comment[is]=Stilla hegðan vafrara
Comment[it]=Configura il comportamento del browser
Comment[ja]=ブラウザの挙動の設定
Comment[lo]=ປັບແຕ່ງເຊີເວີພຣັອກຊີ
Comment[lt]=Konfigūruoti naršyklės elgesį
Comment[mk]=Конфигурирајте го однесувањето на прелистувачот
Comment[mn]=Вэб-Хөтөчийн байдлыг тогтоох
Comment[mt]=Ikkonfigura l-imġieba tal-browser
Comment[nb]=Tilpass nettleserens oppførsel
Comment[nds]=Dat Bedregen vun den Nettkieker instellen
Comment[nl]=Hier kunt u het gedrag van de webbrowser instellen
Comment[nn]=Oppsett av nettlesaråtferda
Comment[nso]=Beakanya maitshwaro a seinyakisi
Comment[pa]=ਝਲਕਾਰਾ ਵਿਵਹਾਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zachowania przeglądarki
Comment[pt]=Configurar o comportamento do navegador
Comment[pt_BR]=Configura o comportamento do navegador
Comment[ro]=Configurează comportamentul de navigator de web
Comment[ru]=Настройка поведения браузера
Comment[sk]=Nastavenie chovania prehliadača
Comment[sl]=Nastavitve obnašanja brskalnika
Comment[sr]=Подешавање понашања претраживача
Comment[sr@Latn]=Podešavanje ponašanja pretraživača
Comment[sv]=Anpassa webbläsarens beteende
Comment[ta]=உலாவியின் இயக்கத்தை வடிவமை
Comment[tg]=Танзими рафтори тафсир
Comment[th]=ปรับแต่งพฤติกรมของบราวเซอร์
Comment[tr]=Web tarayıcı davranışlarını yapılandır
Comment[uk]=Налаштування поведінки навігатора
Comment[uz]=Браузернинг хусусиятлари
Comment[ven]=Dzudzanyani maitele a burausa
Comment[vi]=Cấu hình cách hoạt động của trình duyệt
Comment[wa]=Apontyî l' dujhance do betchteu waibe
Comment[xh]=Qwalasela indlela umkhangeli zincwadi aziphatha ngayo
Comment[xx]=xxConfigure the browser behaviorxx
Comment[zh_CN]=配置浏览器行为
Comment[zh_TW]=設定瀏覽器行為
Comment[zu]=Hlanaganisela ukuziphatha komcingi
Keywords=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding
Keywords[az]=konqueror,kfm,səyyah,html,şəbəkə,www,yazı növləri,rənglər,java,javascript,hərf,hərf dəstəsi,kodlama,bağlantılar,rəsmlər,ox
Keywords[bg]=браузър, страници, Интернет, уеб, konqueror,kfm, browser, html, web, www, fonts, colours, colors, java, javascript, cursor, links, images, charsets, character sets, encoding
Keywords[bs]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,kodni raspored,preglednik,fontovi,boje,font,boja,kursor,link,linkovi,slike,slika,skup znakova
Keywords[ca]=konqueror,kfm,navegador,html,web,www,fonts,colorits,colors,java,javascript,cursor,enllaços,imatges,caràcters,joc de caràcters,codificació
Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Barvy,Java,JavaScript, Kurzor,Odkazy,Obrázky,Znakové sady,Kódování
Keywords[cy]=konqueror,kfm,porydd,html,gw?,www,ffontiau,lliwiau,java,javascript,cyrchydd,cysylltiadau,delweddau,setiau nodau,nod,amgodiad
Keywords[da]=konqueror,kfm,browser,HTML,net,skrifttyper,farver,java,javascript,markør,henvisninger,billeder,tegnsæt,indkodning
Keywords[de]=Konqueror,Kfm,Browser,HTML,Web,WWW,Schriften,Farben,Java,JavaScript,Cursor,Links,Verknüpfungen,Bilder,Zeichensätze,Encoding
Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,χρώματα,χρώματα,java,javascript,δρομέας,δεσμοί,εικόνες,σύνολα χαρακτήρων,σύνολα χαρακτήρων,κωδικοποίηση
Keywords[en_GB]=konqueror,kfm,browser,html,web,www,fonts,colours,java,javascript,cursor,links,images,charsets,character sets,encoding
Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro,kursilo,ligo,referenco,bildo,signaro,kodo
Keywords[es]=konqueror,kfm,navegador,html,web,www,fuentes,colores,java,javascript,cursor,enlaces,imágenes,mapas de caracteres,codificación
Keywords[et]=konqueror,kfm,brauser,html,veeb,www,fondid,värvid,java,javascript,kursor,viidad,lingid,pildid,kooditabel,kodeering
Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,koloreak,java,javascript,kurtsorea,linkak,irudiak,karaktere-multzoak,karaktereen hobespenak,kodeketa
Keywords[fa]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,کانکرر,مرورگر,وب
Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,värit,java,javascript,osoitin,linkit,kuvat,merkistöt,koodaus
Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,couleurs,java,javascript,curseur,liens,images,jeu de caractères,caractères,codage,encodage
Keywords[fy]=konqueror,kfm,browser,blêdzjer,html,web,www,fonts,lettertypen,kleuren,java,javascript,javaskript,cursor,links,rinnerke,skeakels,ôfbyldingen,charsets,tekensets,karaktersamling,kodearring,ynternet
Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,cores,java,javascript,punteiro,ligazóns,imaxes,caracteres,conxunto de caracteres,codificación
Keywords[he]=גופנים,צבעים,Java,ג'אווה,מצביע,קישורים,תמונות,מערכי תווים,קידוד,WWW,רשת,HTML,דפדפן,KFM,Konqueror
Keywords[hi]=कॉन्करर,केएफएम,ब्राउज़र,एचटीएमएल,वेब,डब्ल्यूडब्ल्यूडब्ल्यू,फ़ॉन्ट्स,रंग,जावा,जावास्क्रिप्ट,संकेतक,लिंक्स,छवि,अक्षर माला,अक्षरमाला,एनकोडिंग
Keywords[hu]=Konqueror,KFM,böngésző,HTML,web,WWW,betűtípusok,színek,Java,JavaScript,egérmutató,linkek,képek,karakterkészletek,kódolás
Keywords[is]=vafri,vefur,vefurinn,vefsíður,letur,litir,kóðun,stafatafla,bendill,myndir,www,html,stafir
Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,colori,java,javascript,cursore,collegamenti,link,immagini,set di caratteri,charset,codifica
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,www,フォント,色,色,java,javascript,カーソル,リンク,画像,文字セット,文字セット,エンコーディング
Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,컹커,컹커러,브라우저,웹,글꼴,색,색깔,빛깔,빛,자바,자바 스크립트,연결,그림,글자셋,문자셋,인코딩
Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,narašymas,html,tinklalapis,tinklapis,www,šriftai,koloritai,spalvos,,java,java skriptas,žymeklis,nuorodos,paveikslai,simboliai,koduotė,simbolių rinkinys
Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,krāsojums,krāsas,java,javaskripts,kursors,saites,attēli,simbolukomplekti,simbolu komplekti,kodējums
Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,прелистувач,веб,фонтови,бои,курсор,врски,слики,знаковни множества,кодирање
Keywords[mn]=Конкюрор,Kfm,Хөтөч,HTML,Вэб,WWW,Бичиг,Өнгө,Java,JavaScript,Түүчээ,Холбоосууд,Links,Зураг,Тэмдэгт олонлог,Кодчилол
Keywords[nb]=konqueror,kfm,nettleser,html,web,www,vev,verdensveven,skriftyper,farger,java,javaskript,markør,tegnsett,koding
Keywords[nds]=Konqueror,kfm,Browser,HTML,web,www,Schriftoorden,Klören,Klöör,Java,JavaScript,Cursor,Links,Biller,Tekensett,Tekensetten,Koderen
Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,kleuren,,java,,javascript,cursor,links,koppelingen,afbeeldingen,charsets,tekensets,karakterverzamelingen,codering,internet
Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,fargar,Java,JavaScript,skriptspråk,Internett,peikar,lenkjer,bilete,teiknsett,koding,teiknkoding
Keywords[nso]=konqueror,kfm,seinyakisi,html,web,www,difonto,mebala,mebala,java,setlankana sa java,cursor,dikgokaganyi,diponagalo,charsets,dipeakanyo tsa dihlaka,go khouta
Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć www,czcionki,kolory,java,javascript,kursor,linki,odnośniki,obrazki,zestawy znaków,kodowanie
Keywords[pt]=konqueror,kfm,navegador,html,web,www,tipos de letra,fontes,cores,java,javascript,cursor,ligações,imagens,charsets,mapas de caracteres,codificação
Keywords[pt_BR]=Konqueror,kfm,navegador,html,web,WWW,fontes,cores,java,javascript, cursor,ligações,imagens,conjuntos de caracteres,codificação
Keywords[ro]=konqueror,kfm,navigator,browser,html,web,www,font,culori,java,javascript,cursor,legături,imagini,set de caractere,codare
Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,písma,farby,java,javascript,kurzor,odkazy,obrázky,znakové sady,kódovanie
Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,barve,java,javascript,kurzor,povezave,slike,nabori znakov,znakovni nabori,kodiranje
Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,претраживач,веб,фонтови,боје,показивач,везе,слике,скупови знакова,кодирање
Keywords[sr@Latn]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,pretraživač,veb,fontovi,boje,pokazivač,veze,slike,skupovi znakova,kodiranje
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
Keywords[ta]=கான்கொரர்,kfm,உலாவி,html,வலை,www,எழுத்துருக்கள்,வண்ணங்கள்,வண்ணங்கள்,ஜாவா,ஜாவா எழுத்துரு,நிலைக்காட்டி,இணைப்புகள்,பிம்பங்கள்,charsets,சொல் அமைப்புகள்,குறியீடு
Keywords[th]=คอนเควอร์เรอร์,kfm,บราวเซอร์,html,เว็บ,www,แบบอักษร,สี,จาวา,จาวาสคริปต์,เคอร์เซอร์,การเชื่อมโยง,ภาพ,ชุดรหัสอักขระ,ชุดรหัสอักขระ,การเข้ารหัส
Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,renkler,java,javascript,karakter,karakter seti,kodlama,bağlantılar,resimler,imleç
Keywords[uk]=konqueror,kfm,навігатор,html,шрифти,web,Тенета,кольори,java,javascript,курсор,www,посилання,зображенняи,набори символів,кодування
Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,белгилар тўплами,кодлаш усули,java,javascript,боғлар,курсор,ранглар
Keywords[ven]=konqueror,kfm,buronza,html,webu,www,dzifontu,mivhala,mivhala,java,manwalwa a java,cursor,vhukwamani,zwifanyiso,tshasete,mavhekanyele a muanewa,uinikhouda
Keywords[vi]=konqueror,kfm,trình duyệt,html,web,www,phông,màu sắc,màu,java,javascript,,liên kết,hình ảnh,ký tự,tập ký tự,mã ký tự
Keywords[wa]=konqueror,kfm,betchteu,html,waibe,www,fontes,coleurs,java,javascript,cursoe,loyéns,imådjes,ecôdaedjes
Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web,www,imigca,imibala,imibala,java,okushicilelwe phantsi kwe java,isalatisi,amakhonkco,imifanekiso,icharsets,amaqela abasebenzi, encoding
Keywords[xx]=xxkonqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encodingxx
Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,浏览,字体,颜色,光标,链接,图像,字符集,编码
Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,瀏覽,字型,色彩,顏色,游標,連結,影像,字元,字集,編碼
Keywords[zu]=konqueror,kfm,umcingi,html,web,www,izinhlobo zamagama, imibala,imibala,java,javascripy,inkomba,izixhumanisi,izithombe,charsets, amaqoqo ezimpawu,ukubhala ngekhodi 

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
