[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/khtml/index.html#kbrowse-appearance
Icon=fonts
Exec=kcmshell khtml_fonts


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_fonts

Name=Fonts
Comment=Configure the fonts used on web pages
Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
