[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the Konqueror Popup Menu
Comment[af]=inplak vir die konqueror opspring kieslys
Comment[ar]=ملحق لقائمة كونكيورر القافزة
Comment[az]=Konqueror üçün PopupMenu əlavəsi
Comment[bg]=Plugin на подскачащото Меню за Konqueror
Comment[bs]=Dodatak za Konqueror pop-up meni
Comment[cs]=Modul pro kontextovou nabídku Konqueroru
Comment[da]=Indstik for Konqueror popop-menu
Comment[de]=Plugin für Popup-Menü von Konqueror
Comment[el]=Πρόσθετο για το Αναδυόμενο Μενού του Konqueror
Comment[eo]=Kromaĵo por la menuo de Konkeranto
Comment[es]=Plugin para el menú emergente de Konqueror
Comment[eu]=Konqueror-en Elkarrizketa Menuetarako Plugina
Comment[fi]=Sovelma Konquerorin ponnahdusvalikolle
Comment[fr]=Module pour le menu contextuel de Konqueror
Comment[he]=תוסף לתפריט המוקפץ של Konqueror
Comment[hu]=Bővítőmodul a Konqueror felbukkanó menühöz
Comment[it]=Plugin per il menu a comparsa di Konqueror
Comment[ja]=Konquerorポップアップメニューのプラグイン
Comment[lt]=Priedas pasirodančiam Konqueror meniu
Comment[lv]=Iekarotāja Uzlēcošās Izvēlnes Iespraudnis
Comment[nl]=plugin voor Konqueror's contextmenu
Comment[nn]=Tillegg til oppsprettmenyen i Konqueror
Comment[pt]='Plugin' para o Menu do Konqueror
Comment[pt_BR]=Plug-in do Konqueror para Menus Flutuantes
Comment[ro]=Modul pentru meniuri popup Konqueror
Comment[sk]=Modul pre kontextové menu Konquerora
Comment[sl]=Vstavek za Konquerorjev pojavni menu
Comment[sv]=Insticksprogram för Konquerors poppuppmeny
Comment[th]=ปลั๊กอินสำหรับเมนูป๊อพอัพ Konqueror
Comment[tr]=Konqueror Seyyar Menüsü İçin Eklenti
Comment[uk]=Додаток спливаючих меню Konqueror
Comment[vi]=Plugin cho thực đơn Popup Konqueror
Comment[xh]=Iplagi efakiweyo yeKonqueror ye PopupMenu
Comment[xx]=xx
Comment[zh_CN]=Konqueror 弹出菜单插件
Comment[zh_TW]=Konqueror 對話選單的外掛程式
Comment[zu]=Iplagi ye Konquer Yemenu Ezigxumela phezulu
