[Desktop Entry]
Encoding=UTF-8
Icon=kdmconfig
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=useraccount
Type=Application
Exec=kcmshell kcm_useraccount
Name=Password & User Account
Name[be]=Пароль і рахунак карыстальніку(цы)
Name[bg]=Потребител
Name[bs]=Šifra i korisnički račun
Name[ca]=Contrasenya i compte d'usuari
Name[cs]=Heslo a uživatelský účet
Name[cy]=Cyfrinair a Chyfrif Defnyddiwr
Name[da]=Kodeord og brugerkonto
Name[de]=Passwort & Benutzerzugang
Name[eo]=Pasvorto kaj uzanta konto
Name[es]=Contraseña y cuenta de usuario
Name[et]=Parool ja kasutaja konto
Name[fi]=Salasanat & käyttäjätilit
Name[fr]=Compte utilisateur et mot de passe
Name[he]=ססמה ומידע על החשבון משתמש
Name[hu]=Felhasználóazonosító és jelszó
Name[is]=Lykilorð og notandaaðgangur
Name[it]=Password e account utente
Name[mt]=Password u kont tal-user
Name[nb]=Passord og brukerkonto
Name[nl]=Wachtwoord en gebruikerbeheer
Name[nn]=Passord og brukarkonto
Name[pa]=ਉਪਭੋਗਤਾ ਖਾਤਾ ਤੇ ਉਪਭੋਗੀ ਖਾਤਾ
Name[pl]=Hasło i konto użytkownika
Name[pt]=Senha e Conta do Utilizador
Name[pt_BR]=Senha & Conta do Usuário
Name[ro]=Parolă şi cont utilizator
Name[ru]=Пароли и учетные записи
Name[sk]=Heslo a účet
Name[sl]=Geslo in uporabniški račun
Name[sr]=Лозинка и кориснички налог
Name[sr@Latn]=Лозинка и кориснички налог
Name[sv]=Lösenord och användarkonto
Name[ta]=கடவுச்சொல் & பயனர் கணக்கு
Name[tr]=Parola & Kullanıcı Hesabı
Name[uk]=Пароль та рахунок користувача
Name[uz]=Махфий сўз ва фойдаланувчи ҳисоби
Name[xx]=xxPassword & User Accountxx
Name[zh_CN]=密码和用户信息
Keywords=password;email;name;organization;realname;login image;face; echo mode;
Keywords[bg]=парола, е-поща, организация, акаунт, потребител, вход, включване, password, email, name, organization, realname, login image, face, echo mode
Keywords[bs]=password;email;name;organization;realname;login image;face; echo mode;šifra;e-mail;ime;organizacija;pravo ime;stvarno ime;slika;lice;
Keywords[ca]=contrasenya;correu;nom;organització;nom real;imatge de connexió;aspecte;mode d'eco;
Keywords[cs]=heslo,email,jméno,organizace,přihlašovací obrázek
Keywords[cy]=cyfrinair;ebost;enw;sefydliad;enw go iawn;delwedd fewngofnodi;wyneb; modd atsain;
Keywords[da]=kodeord;email;e-post;organisation;rigtigt navn;login-billede;hoved; ekkotilstand;
Keywords[de]=Passwort,E-Mail,Name,Organisation,Realer Name,Login,Bild,Schriftart,Echomodus
Keywords[el]=κωδικός πρόσβασης;email;όνομα;οργανισμός;πραγματικό όνομα;εικόνα σύνδεσης;πρόσωπο; τρόπος εμφάνισης;
Keywords[en_GB]=password;email;name;organisation;realname;login image;face; echo mode;
Keywords[eo]=pasvorto,retpoŝto,nomo,organizaĵo,realnomo,elektobildo,vizaĝo
Keywords[es]=contraseña;correo electrónico;nombre;organización;nombre real;imagen de acceso;cara;modo de eco;
Keywords[et]=parool;email;nimi;organisatsioon;pärisnimi;kasutaja pilt;nägu; echo režiim;
Keywords[fi]=salasana,sähköposti,nimi,organisaatio,etunimi,käyttäjätunnus,kaiutustapa
Keywords[fr]=mot de passe,email,courrier électronique,adresse électronique,organisation,non complet,image d'identification,mode d'affichage
Keywords[he]=ססמאות, דוא"ל, שם, ארגון, שם אמתי,תמונת כניסה, מצב echo
Keywords[hu]=jelszó;e-mail;név;szervezet;valódi név;bejelentkezési kép;arc;kiírási mód;
Keywords[it]=password;email;nome;organizzazione;nome vero;immagine login;faccia;modoecho;
Keywords[nb]=passord;epost;navn;organisasjon;fullt navn;innloggingsbilde;ansikt;ekkomodus;
Keywords[nl]=wachtwoord,e-mail,organisatie,naam,login,aanmelden,afbeelding,gezicht,echo
Keywords[nn]=passord;e-post;namn;organisasjon;fullt namn;innloggingsbilete;fjes;ekkomodus;
Keywords[pl]=hasło,e-mail,imię,nazwisko,organizacja,login,użytkownik,nazwa użytkownika,obrazek,gwiazdki
Keywords[pt]=senha;e-mail;nome;organização;nome real;imagem de ligação;cara;modo de eco;
Keywords[pt_BR]=senha;e-mail;nome;organização;nome real;imagem de login ;aparência; modo de ecoar;
Keywords[ro]=parolă;e-mail;nume;organizaţie;nume real;imagine de logare;faţă;mod ecou;
Keywords[sk]=heslo,e-mail,meno,organizácia,celé meno,obrázok pre prihlásenie,režim echo
Keywords[sl]=geslo;e-pošta;ime;organizacija;pravo ime;slika prijave;obraz; način odmeva;
Keywords[sr]=password;email;name;organization;realname;login image;face; echo mode,лозинка,е-пошта,име,организација
Keywords[sr@Latn]=password;email;name;organization;realname;login image;face; echo mode,лозинка,е-пошта,име,организација
Keywords[sv]=lösenord;e-post;namn;organisation;verkligt namn;inloggningsbild;bild;ekoläge;
Keywords[ta]=கடவுச்சொல்;மின்னஞ்சல்;பெயர்;நிறுவனம்;மெய்பெயர்;புகுபதிகை படிமம்;முகம்; எதிரொலி பாங்கு;
Keywords[tr]=parola,e-posta,isim,gerçek isim,giriş resmi,yüz
Keywords[uk]=пароль;адреса електронної пошти;організація;ім'я;фотографія;
Keywords[uz]=махфий сўз,электрон почта,фойдаланувчи,ҳақиқий исми,нишонча,ташкилот, echo mode
Keywords[xx]=xxpassword;email;name;organization;realname;login image;face; echo mode;xx
Keywords[zh_CN]=password,email,name,organization,realname,login image,face, echo mode,密码,电子邮件,姓名,组织,真实姓名,登陆图像,头像,回显
Comment=User information such as password, name and email
Comment[bg]=Настройки на потребителския акаунт, паролата, името и е-пощата
Comment[bs]=Informacije o korisniku kao što su šifra, ime i e-mail
Comment[ca]=Informació de l'usuari com ara contrasenya, nom i correu
Comment[cs]=Informace o uživateli, jako heslo, jméno nebo email
Comment[cy]=Gwybodaeth ddefnyddiwr fel cyfrinair, enw ac ebost
Comment[da]=Brugerinformation såsom kodeord, navn og e-post
Comment[de]=Benutzerinformation wie Passwort, Name, Mail-Adresse
Comment[el]=Πληροφορίες χρήστη όπως ο κωδικός πρόσβασης, το όνομα και το email
Comment[eo]=Uzantaj informoj kiel pasvorto, nomo kaj retpoŝto
Comment[es]=Información del usuario como la contraseña, el nombre o el correo electrónico
Comment[et]=Kasutajainfo, nt. parool, nimi ja e-posti aadress
Comment[fi]=Käyttäjien tiedot, kuten salasanat, nimet ja sähköpostiosoite
Comment[fr]=Informations sur l'utilisateur, comme le mot de passe, le nom, et l'adresse électronique
Comment[he]=מידע אישי כגון ססמה, שם וכתובת דוא"ל
Comment[hu]=A felhasználóazonosító jellemzői, például a jelszó, a név és az e-mail cím
Comment[is]=Upplýsingar um notandann eins og til dæmis póstfang, lykilorð og nafn
Comment[it]=Informazioni utente come password, nome ed email
Comment[mt]=Informazzjoni dwar il-user, bħal isem, password u email
Comment[nb]=Brukerinformasjon som passord, navn og epostadresse
Comment[nl]=Gebruikerinformatie zoals wachtwoord, naam en e-mailadres
Comment[nn]=Brukarinformasjon som passord, namn og e-postadresse
Comment[pa]=ਉਪਭੋਗਤਾ ਜਾਣਕਾਰੀ ਜਿਵੇਂ ਕਿ ਗੁਪਤ-ਕੋਡ, ਨਾਂ ਅਤੇ ਈ-ਪੱਤਰ
Comment[pl]=Informacje o koncie użytkownika: hasło, imię i nazwisko, e-mail itd.
Comment[pt]=Informações do utilizador tais como senha, nome e e-mail
Comment[pt_BR]=Informações do usuário tais como senha, nome e e-mail
Comment[ro]=Informaţii despre utilizator, precum parola, numele şi adresa de e-mail
Comment[sk]=Informácie o používateľovi, ako heslo, meno a e-mail
Comment[sl]=Uporabniške informacije, kot so geslo, ime in e-pošta
Comment[sr]=Информације о кориснику као што је лозинка, име и е-пошта
Comment[sr@Latn]=Информације о кориснику као што је лозинка, име и е-пошта
Comment[sv]=Användarinformation som lösenord, namn och e-post
Comment[ta]=பயனர் தகவல் கடவுச்சொல்லைப் போல, பெயர் மற்றும் மிண்ணஞ்சல்
Comment[tr]=Parola, isim ve e-posta gibi kullanıcı bilgisi
Comment[uk]=Інформація про користувача така як: пароль, ім'я та адреса електронної пошти
Comment[uz]=Фойдаланувчининг исми, махфий сўзи ва электрон почтаси каби маълумот
Comment[xx]=xxUser information such as password, name and emailxx
Comment[zh_CN]=像密码、姓名和电子邮件这样的用户信息
