[Desktop Entry]
Encoding=UTF-8
Icon=kdmconfig
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=useraccount
Type=Application
Exec=kcmshell kcm_useraccount
Name=Password & User Account
Name[be]=Пароль і інфармацыя аб карыстальніку(цы)
Name[da]=Kodeord og brugerinformation
Name[es]=Contraseña e información de usuario
Name[et]=Parool ja kasutajainfo
Name[fr]=Informations sur l'utilisateur et mot de passe
Name[pt_BR]=Senha & Informações sobre o Usuário
Name[sv]=Lösenord och användarinformation
Name[th]=รหัสผ่านและข้อมูลผู้ใช้
Name[tr]=Parola ve Kullanıcı Bilgisi
Keywords=password;email;name;organization;realname;login image;face; echo mode;
Keywords[da]=kodeord;email;e-post;organisation;rigtigt navn;login-billede;hoved; ekkotilstand;
Keywords[en_GB]=password;email;name;organisation;realname;login image;face; echo mode;
Keywords[es]=contraseña;correo electrónico;nombre;organización;nombre real;imagen de acceso;cara;modo de eco;
Keywords[et]=parool;email;nimi;organisatsioon;pärisnimi;kasutaja pilt;nägu; echo režiim;
Keywords[fr]=mot de passe,email,courrier électronique,adresse électronique,organisation,non complet,image d'identification,mode d'affichage
Keywords[pt_BR]=senha;e-mail;nome;organização;nome real;imagem de login ;aparência; modo de ecoar;
Keywords[sv]=lösenord;e-post;namn;organisation;verkligt namn;inloggningsbild;bild;ekoläge;
Keywords[tr]=parola,e-posta,isim,gerçek isim,giriş resmi,yüz
Comment=User information such as password, name and email
Comment[da]=Brugerinformation såsom kodeord, navn og e-post
Comment[es]=Información del usuario como la contraseña, el nombre o el correo electrónico
Comment[et]=Kasutajainfo. nt. parool, nimi ja e-posti aadress
Comment[fr]=Informations sur l'utilisateur, comme le mot de passe, le nom, et l'adresse électronique
Comment[pt_BR]=Informações do usuário tais como senha, nome e e-mail
Comment[sv]=Användarinformation som lösenord, namn och e-post
Comment[tr]=Parola, isim ve e-posta gibi kullanıcı bilgisi
