[Desktop Entry]
Encoding=UTF-8
Icon=launch
Type=Application
Exec=kcmshell kcmkonqyperformance


X-KDE-Library=performance
X-KDE-FactoryName=konqueror
X-KDE-ParentApp=kcontrol

Name=Performance
Name[ar]=الأداء
Name[az]=Keyfiyyət
Name[bg]=Производителност
Name[bn]=কার্যকারীতা
Name[bs]=Performanse
Name[ca]=Rendiment
Name[cs]=Výkon
Name[cy]=Perfformiad 
Name[da]=Ydelse
Name[de]=Leistung
Name[el]=Απόδοση
Name[eo]=Potenco
Name[es]=Rendimiento
Name[et]=Jõudlus
Name[eu]=Performantzia 
Name[fa]=عملکرد
Name[fi]=Suorituskyky
Name[fy]=Prestaasje
Name[ga]=Feidhmiúchán
Name[gl]=Rendemento
Name[he]=ביצועים
Name[hi]=परफार्मेंस
Name[hr]=Performanse
Name[hu]=Teljesítmény
Name[is]=Afköst
Name[it]=Prestazioni
Name[ja]=パフォーマンス
Name[lt]=Veikimo sparta
Name[lv]=Veiktspēja
Name[mk]=Перформанси
Name[mn]=Чадал
Name[mt]=Effiċjenza
Name[nb]=Ytelse
Name[nds]=Leisten
Name[nl]=Prestatie
Name[nn]=Yting
Name[pa]=ਕਾਰਜਕੁਸ਼ਤਾ
Name[pl]=Wydajność
Name[pt_BR]=Perfomance
Name[ro]=Performanţă
Name[ru]=Быстродействие
Name[se]=Buktu
Name[sk]=Výkon
Name[sl]=Zmogljivost
Name[sr]=Перформансе
Name[sr@Latn]=Performanse
Name[sv]=Prestanda
Name[ta]=செயல்திறன்
Name[tg]=Амалкард
Name[th]=ประสิทธิภาพ
Name[tr]=Performans
Name[uk]=Швидкодія
Name[uz]=Унумдорлик
Name[vi]=Thi hành (Performance)
Name[xx]=xxPerformancexx
Name[zh_CN]=性能
Name[zh_TW]=偏好設定

Comment=Configure settings that can improve Konqueror performance
Comment[ar]=قم بتهيئة الإعدادات التي ستحسّن أداء كونكيورر
Comment[bg]=Настройки за подобряване производителността на браузъра
Comment[bn]=কনকরার-এর কার্যকারীতা বর্ধন করতে পারে এমন সব সেটিংস কনফিগার করুন
Comment[bs]=Postavke koje mogu unaprijediti performanse Konquerora
Comment[ca]=Configura les opcions per a millorar el rendiment del Konqueror
Comment[cs]=Zde můžete vylepšit výkon aplikace Konqueror
Comment[cy]=Ffurfweddu gosodiadau sy'n gallu gwella perfformiad Konqueror
Comment[da]=Indstil opsætning for at forbedre Konquerors ydelse
Comment[de]=Einstellungen vornehmen, die Konquerors Leistungsfähigkeit erhöhen können
Comment[el]=Αλλάξτε ρυθμίσεις που μπορεί να βελτιώσουν την απόδοση του Konqueror
Comment[eo]=Agordo de Konkeranto por plibonigi la potencon
Comment[es]=Configuraciones que pueden mejorar el rendimiento de Konqueror
Comment[et]=Siin saad seadistada, kuidas Konqueror kõigega paremini toime tuleks
Comment[eu]=Konfiguratu Konquerorren performantzia hobe dezaketen ezarpenak
Comment[fa]=تنظیماتی که می‌توانند عملکرد کانکرر را بهبود بخشند تنظیم کنید
Comment[fi]=Muokkaa Konquerorin suorituskykyyn liittyviä asetuksia
Comment[fr]=Amélioration des performances de Konqueror
Comment[fy]=Hjir kinst ynstellingen kieze die de prestaasjes fan Konqueror ferbetterje
Comment[ga]=Cumraigh socruithe a chuirfidh feabhas ar fheidhmiúchán Konqueror
Comment[gl]=Configura-las opcións que poden mellora-lo rendemento de Konqueror
Comment[he]=הגדר הגדרות העשויות לשפר את ביצועי Konqueror
Comment[hi]=विन्यास कॉन्फ़िगर करें ताकि कॉन्करर का कार्य बेहतर हो सके
Comment[hr]=Podešavanje postavki koje mogu poboljšati performanse Konquerora
Comment[hu]=A Konqueror böngésző teljesítményét befolyásoló paraméterek beállítása
Comment[is]=Stillingar Konqueror er varða afköst
Comment[it]=Configura le impostazioni che possono migliorare le prestazioni di Konqueror
Comment[ja]=Konquerorの性能にあわせた設定
Comment[lt]=Konfigūruokite nustatymus, kurie gali įtakoti Konqueror veikimo spartą
Comment[lv]=Šeit Jūs varat konfigurēt Iekarotāja parametrus, kas ietekmē tā veiktspēju
Comment[mk]=Конфигурирајте ги поставувањата штоможе да ги подобрат перформансите на Konqueror
Comment[mn]=Конкюрор вэб-Хөтөчийн самбар сайжруулалтыг тохируулах
Comment[mt]=Ikkonfigura setings li jistgħu itejbu l-veloċità ta' Konqueror
Comment[nb]=Tilpass innstillinger som kan forbedre Konquerors ytelse
Comment[nds]=Mit disse Instellen kannst Du de Leisten vun Konqueror verbetern
Comment[nl]=Hier kunt u instellingen kiezen die de prestaties van Konqueror verbeteren
Comment[nn]=Innstillingar som kan forbetra ytinga til Konqueror
Comment[pa]=ਵਿਵਸਥਾ ਦੀ ਸੰਰਚਨਾ ਕਰੋ, ਜੋ ਕਿ ਕੋਨਕਿਉਰੋਰ ਦਾ ਕਾਰਜਕੁਸ਼ਤਾ ਵਧਾ ਸਕਦੀ ਹੈ।
Comment[pl]=Konfiguracja ustawień Konquerora mających wpływ na wydajność
Comment[pt]=Configuração das opções que podem aumentar a performance do Konqueror
Comment[pt_BR]=Configurações que podem aumentar a performance do Konqueror
Comment[ro]=Configurează setări care pot îmbunătăţi performanţa Konqueror
Comment[ru]=Настройка параметров, которые влияют на быстродействие Konqueror
Comment[se]=Heivet Konqueror:a vai das šaddá buoret buvttu
Comment[sk]=Nastavenie, ktoré môže vylepšiť výkon prehliadača Konqueror
Comment[sl]=Nastavitve, ki izboljšajo delovanje Konquerorja
Comment[sr]=Подешавање поставки које могу да побољшају Konqueror-ове перформансе
Comment[sr@Latn]=Podešavanje postavki koje mogu da poboljšaju Konqueror-ove performanse
Comment[sv]=Anpassa inställningar som kan förbättra Konquerors prestanda
Comment[ta]=கான்கொரர் செயல்திறனை அதிகப்படுத்த அமைப்புகளை வடிவமை
Comment[tg]= Танзимоте ки метавонанд амалкарди Konqueror-ро беҳбуд бахшанд, танзим кунед
Comment[th]=ปรับแต่งตั้งค่าที่จะช่วยให้คอนเควอร์เรอร์มีประสิทธิภาพดีขึ้น
Comment[tr]=Konqueror'un performansını artıracak ayarlamaları yap
Comment[uk]=Тут можна налаштувати швидкодію Konqueror
Comment[uz]=Konqueror унумдорлигини ошириши мумкин бўлган мосламаларни мослаш
Comment[vi]=Các thiết lập nâng cao khả năng của Konqueror
Comment[xx]=xxConfigure settings that can improve Konqueror performancexx
Comment[zh_CN]=配置提高 Konqueror 性能的设置
Comment[zh_TW]=可增進 Konqueror 效能的設定

Keywords=konqueror,reuse,preloading
Keywords[ar]=konqueror,reuse,preloading,كونكيورر,اعادة استخدام,تحميل مسبق
Keywords[az]=konqueror,yenidən işlətmə,önyükləmə
Keywords[bg]=предварително, зареждане, използване, повторно, konqueror, reuse, preloading
Keywords[ca]=konqueror,torna a emprar,carrega prèviament
Keywords[cs]=konqueror,využití,preload
Keywords[cy]=konqueror,ailddefnyddio,cynlwytho
Keywords[da]=konqueror,genbrug,forudindlæsning
Keywords[de]=konqueror,wiederverwenden
Keywords[el]=konqueror,επαναχρησιμοποίηση,προφόρτωση
Keywords[eo]=konkeranto,antaŭŝarĝi
Keywords[et]=konqueror,taaskasutamine,eellaadimine
Keywords[eu]=konqueror,berrerabili,prekargatu
Keywords[fi]=konqueror,reuse,esilataus
Keywords[fr]=konqueror,réutilisation,préchargement
Keywords[fy]=konqueror,hergebûk,foarútlade
Keywords[ga]=konqueror,athúsáid,réamhluchtú
Keywords[gl]=konqueror,reuso,precarga
Keywords[he]=konqueror,שימוש חוזר,טעינה מוקדמת
Keywords[hi]=कॉन्करर,फिर से उपयोग,प्रि-लोडिंग
Keywords[hu]=konqueror,ujrafelhasználás,előtöltés
Keywords[it]=konqueror,riutilizzo,precaricamento,prestazioni,preloading
Keywords[ja]=konqueror,再使用,事前読み込み
Keywords[lv]=iekarotājs,reuse,priekšielāde
Keywords[mk]=konqueror,reuse,preloading,користи,повторно користи,предвчитување
Keywords[mn]=Конкюрор,reuse,preloading
Keywords[nb]=konqueror,gjenbruk,forhåndslasting
Keywords[nds]=Konqueror,reuse,preloading
Keywords[nl]=konqueror,hergebruik,preloading
Keywords[nn]=Konqueror,gjenbruk,førehandslasting
Keywords[pl]=konqueror,ponowne użycie,wstępne wczytywanie
Keywords[pt]=konqueror,reutilização,pré-carregamento
Keywords[pt_BR]=konqueror,reuso,pré-carregamento
Keywords[ro]=konqueror,reutilizare,preîncărcare
Keywords[sl]=konqueror,recikliranje,prednalaganje
Keywords[sr]=konqueror,reuse,preloading,поново коришћење,преучитавање
Keywords[sr@Latn]=konqueror,reuse,preloading,ponovo korišćenje,preučitavanje
Keywords[sv]=konqueror,återanvändning,förladdning
Keywords[ta]=கான்கொரர்,திரும்ப பயன்படுத்து,முன்ஏற்றுதல்
Keywords[th]=คอนเควอร์เรอร์,นำมาใช้ใหม่,เตรียมการโหลด
Keywords[tr]=konqueror,yeniden kullanım,ön yükleme
Keywords[uk]=konqueror,повторне використання,попереднє завантаження
Keywords[vi]=konqueror,reuse,tiền tải
Keywords[xx]=xxkonqueror,reuse,preloadingxx
Keywords[zh_CN]=konqueror,reuse,preloading,再利用,预加载
Keywords[zh_TW]=konqueror,reuse,preloading,重用,預先載入

