[Desktop Entry]
Encoding=UTF-8
Icon=launch
Type=Application
Exec=kcmshell kcmperformance


X-KDE-Library=performance
X-KDE-FactoryName=performance
X-KDE-ParentApp=kcontrol

Name=KDE Performance
Name[ar]=أداء كيدي
Name[az]=KDE Keyfiyyəti
Name[bg]=Производителност
Name[bn]=কে.ডি.ই. কার্যকারীতা
Name[bs]=KDE performanse
Name[ca]=Rendiment del KDE
Name[cs]=Výkon KDE
Name[cy]=Perfformiad KDE
Name[da]=KDE's ydelse
Name[de]=KDE-Leistung
Name[el]=Απόδοση του KDE
Name[eo]=KDEa potenco
Name[es]=Rendimiento de KDE
Name[et]=KDE jõudlus
Name[eu]=KDEren performantzia
Name[fa]=عملکرد KDE
Name[fi]=Suorituskyky
Name[fr]=Performance de KDE
Name[fy]=KDE-prestaasjes
Name[ga]=Feidhmiúchán KDE
Name[gl]=Rendemento de KDE
Name[he]=ביצועי KDE
Name[hi]=केडीई परफार्मेंस
Name[hr]=KDE Performanse
Name[hu]=Teljesítményhangolás
Name[is]=Afkastastillingar KDE
Name[it]=Prestazioni di KDE
Name[ja]=KDE パフォーマンス
Name[lt]=KDE našumas
Name[lv]=KDE Veiktspēja
Name[mk]=KDE Перформанси
Name[mn]=КДЭ-Удирдлагын самбар
Name[mt]=Effiċjenza KDE
Name[nb]=KDE-ytelse
Name[nds]=KDE-Leisten
Name[nl]=KDE-prestaties
Name[nn]=KDE-yting
Name[pa]=KDE ਕਾਰਜਕੁਸ਼ਤਾ
Name[pl]=Wydajność KDE
Name[pt]=Performance do KDE
Name[pt_BR]=Performance do KDE
Name[ro]=Performanţă KDE
Name[ru]=Быстродействие KDE
Name[se]=KDE-buktu
Name[sk]=Výkon KDE
Name[sl]=Zmogljivost KDE
Name[sr]=KDE перформансе
Name[sr@Latn]=KDE performanse
Name[sv]=KDE-prestanda
Name[ta]=KDE செயல்திறன்
Name[tg]=Амалкарди KDE
Name[th]=ประสิทธิภาพ KDE
Name[tr]=KDE Performansı
Name[uk]=Швидкодія KDE
Name[uz]=KDE унумдорлиги
Name[vi]=Trình diễn KDE
Name[xx]=xxKDE Performancexx
Name[zh_CN]=KDE 性能
Name[zh_TW]=KDE 效能

Comment=Configure settings that can improve KDE performance
Comment[ar]=قم بتهيئة الإعدادات التي ستحسّن أداء كيدي
Comment[bg]=Настройки за подобряване производителността на системата
Comment[bn]=কে.ডি.ই-এর কার্যকারীতা বর্ধন করতে পারে এমন সব সেটিংস কনফিগার করুন
Comment[bs]=Postavke koje mogu unaprijediti performanse KDEa
Comment[ca]=Configura les opcions per a millorar el rendiment del KDE
Comment[cs]=Nastavení vylepšující výkon KDE
Comment[cy]=Ffurfweddu gosodiadau sy'n gallu gwella perfformiad KDE
Comment[da]=Indstil opsætning for at forbedre KDE's ydelse
Comment[de]=Einstellungen vornehmen, welche die Leistungsfähigkeit von KDE erhöhen können
Comment[el]=Αλλάξτε ρυθμίσεις που μπορεί να βελτιώσουν την απόδοση του KDE
Comment[eo]=Agordo de plibonigo de la KDEa potenco
Comment[es]=Configuraciones que puede mejorar el rendimiento de KD
Comment[et]=Siin saad seadistada, kuidas KDE kõigega paremini toime tuleks
Comment[eu]=Konfiguratu Konquerorren performantzia hobe dezaketen ezarpenak
Comment[fa]=تنظیماتی که می‌توانند عملکرد KDE را بهبود بخشند تنظیم کنید
Comment[fi]=Muokkaa KDE:n suorituskykyyn liittyviä asetuksia
Comment[fr]=Configuration de paramètres qui peuvent améliorer les performances de KDE
Comment[fy]=Hjir kinst ynstellingen kiezen die de prestaasjees fan KDE kinne ferbetterje
Comment[ga]=Cumraigh socruithe a chuirfidh feabhas ar fheidhmiúchán KDE
Comment[gl]=Configuración das opcións que poden mellora-lo rendemento de KDE
Comment[he]=הגדר הגדרות שעשויות לשפר את ביצועי KDE
Comment[hi]=विन्यास कॉन्फ़िगर करें ताकि केडीई का कार्य बेहतर हो सके
Comment[hr]=Podešavanje postavi koje mogu poboljšati performanse KDE-a
Comment[hu]=A KDE teljesítményét befolyásoló paraméterek beállítása
Comment[is]=Stillingar sem varða afköst KDE
Comment[it]=Configura le impostazioni che possono migliorare le prestazioni di KDE
Comment[ja]=KDEの性能にあわせた設定
Comment[lt]=Konfigūruoti nustatymus, kurie gali pagerinti KDE veikimo spartą
Comment[lv]=Konfigurē parametrus, kas ietekmē Iekarotāja veiktspēju
Comment[mk]=Конфигурирајте ги поставките кои може да ги подобрат перформансите на KDE
Comment[mn]=Comment=КДЭ чадал сайжруулалтыг тохируулах
Comment[mt]=Ikkonfigura setings li jistgħu itejbu l-veloċità ta' KDE
Comment[nb]=Innstillinger som kan forbedre KDEs ytelse
Comment[nds]=Mit disse Instellen kannst Du de Leisten vun KDE verbetern
Comment[nl]=Hier kunt u instellingen kiezen die de prestaties van KDE kunnen verbeteren
Comment[nn]=Innstillingar som kan forbetra ytinga til KDE
Comment[pa]=ਵਿਵਸਥਾ ਦੀ ਸੰਰਚਨਾ, ਜੋ ਕਿ KDE ਦੀ ਕਾਰਜਕੁਸ਼ਤਾ ਨੂੰ ਵਧਾ ਸਕਦੀ ਹੈ
Comment[pl]=Konfiguracja ustawień, które mogą mieć wpływ na wydajność KDE
Comment[pt]=Configura as opções que podem aumentar a performance do KDE
Comment[pt_BR]=Configurações que podem aumentar a performance do KDE
Comment[ro]=Configurează setări care pot îmbunătăţi performanţa Konqueror
Comment[ru]=Настройка параметров, которые могут повлиять на быстродействие KDE
Comment[se]=Heivehusat mat buoridit KDE:a buvttu
Comment[sk]=Nastavenie, ktoré môže vylepšiť výkon KDE
Comment[sl]=Nastavite možnosti za pohitritev KDE
Comment[sr]=Подешавање поставки које могу да побољшају перформансе KDE-а
Comment[sr@Latn]=Podešavanje postavki koje mogu da poboljšaju performanse KDE-a
Comment[sv]=Anpassa inställningar som kan förbättra KDE:s prestanda
Comment[ta]=KDE செயல்திறனை அதிகப்படுத்தும் அமைப்புகளை அமை
Comment[tg]= Танзимоте ки метавонанд амалкарди KDE-ро беҳбуд бахшанд, танзим кунед
Comment[th]=ปรับแต่งตั้งค่าที่จะช่วยปรับประสิทธิภาพของ KDE
Comment[tr]=KDE'nin performansını artıracak ayarlamaları yap
Comment[uk]=Налаштування параметрів для покращання швидкодії KDE
Comment[uz]=KDE унумдорлигини ошириши мумкин бўлган мосламаларни мослаш
Comment[vi]=Các thiết lập nâng cao khả năng của Konqueror
Comment[xx]=xxConfigure settings that can improve KDE performancexx
Comment[zh_CN]=配置提高 KDE 性能的设置
Comment[zh_TW]=可增進 KDE 效能的設定

Keywords=performance,speed,memory,improve
Keywords[ar]=performance,speed,memory,improve,أداء,سرعة,ذاكرة,تحسين
Keywords[bg]=производителност, памет, скорост, подобряване, подобрение, performance, speed, memory, improve
Keywords[ca]=rendiment,velocitat,memòria,millora
Keywords[cs]=výkon,rychlost,paměť,zlepšení
Keywords[cy]=perfformiad,cyflymder,cof,gwella
Keywords[da]=ydelse,hastighed,hukommelse,forbedre
Keywords[de]=leistung,geschwindigkeit,speichern,optimieren
Keywords[el]=απόδοση,ταχύτητα,μνήμη,βελτίωση
Keywords[eo]=potenco,rapideco,memoro,plibonigo,plibonigi
Keywords[es]=rendimiento,velocidad,memoria,mejora
Keywords[et]=jõudlus,kiirus,mälu,parandamine
Keywords[eu]=performantzia,abiadura,memoria,hobetu
Keywords[fi]=suorituskyky, nopeus, muisti, parannus
Keywords[fr]=performances,vitesse,mémoire,améliorer
Keywords[fy]=fluggens,prestaasjes,ûnthâld,ferbetterje
Keywords[ga]=oibriú,luas,cuimhne,feabhsaigh,feabhsú
Keywords[gl]=rendemento,velocidade,memoria,mellora
Keywords[he]=ביצועים,מהירות,זיכרון,שפר
Keywords[hi]=परफार्मेंस,गति,मेमोरी,बेहतर
Keywords[hu]=teljesítmény,sebesség,memória,hangolás
Keywords[it]=prestazioni,velocità,memoria,migliora
Keywords[ja]=パフォーマンス,速度,メモリ,改善
Keywords[lt]=performance,speed,memory,improve,veikimas,greitis,atmintis,pagerinti
Keywords[lv]=veiktspēja,ātrums,atmiņa,uzlabot
Keywords[mk]=performance,speed,memory,improve,перформанси,брзина,меморија,подобри
Keywords[mn]=чадал,хурд,санах ой,сайжруулалт
Keywords[nb]=ytelse,hastighet,minne,forbedre
Keywords[nds]=performance,Snelligkeit,Spieker,verbetern
Keywords[nl]=snelheid,prestaties,geheugen,verbeteren
Keywords[nn]=yting,fart,minne,forbetra
Keywords[pl]=wydajność,szybkość,pamięć,polepszenie
Keywords[pt]=performance,velocidade,memória,melhorar
Keywords[pt_BR]=performance,velocidade,memória,aumento
Keywords[ro]=performanţă,viteză,memorie,îmbunătăţire
Keywords[se]=buktu,leahttu,muitu,buoridit
Keywords[sl]=zmogljivost,hitrost,pomnilnik,izboljšanje
Keywords[sr]=performance,speed,memory,improve,перформансе,брзина,меморија,унапређивање,унапреди
Keywords[sr@Latn]=performance,speed,memory,improve,performanse,brzina,memorija,unapređivanje,unapredi
Keywords[sv]=prestanda,hastighet,minne,förbättra
Keywords[ta]=செயல்திறன்,வேகம்,நினைவகம்,முன்னேற்றம்
Keywords[th]=ประสิทธิภาพ,ความเร็ว,หน่วยความจำ,ปรับปรุง
Keywords[tr]=performans,hız,bellek,geliştirme
Keywords[uk]=швидкодія,швидкість,пам'ять,покращення
Keywords[uz]=унумдорлик,тезлик,хотира,ошириш
Keywords[vi]=trình diễn,tốc độ,bộ nhớ,nâng cao
Keywords[xx]=xxperformance,speed,memory,improvexx
Keywords[zh_CN]=performance,speed,memory,improve,性能,速度,内存,提高
Keywords[zh_TW]=performance,speed,memory,improve,效能,速度,記憶體,增進

Categories=Qt;KDE;X-KDE-settings-components;
