[Desktop Entry]
Type=Service
Name=About-Page for Konqueror
Name[cs]=O aplikaci Konqueror
Name[da]=Om-side for Konqueror
Name[de]=Über Konqueror
Name[el]=Σελίδα Πληροφοριών για τον Konqueror
Name[eo]=Informpaĝo por Konkeranto
Name[es]=Página Acerca de de Konqueror
Name[et]=Konqueror info
Name[fi]=Konquerorin tietoja-sivu
Name[fr]=À propos de Konqueror
Name[he]=Konqueror לש תודוא דומע
Name[hu]=A Konqueror névjegye
Name[is]=Upplýsingasíða Konqueror
Name[it]=Pagina di informazioni di Konqueror
Name[ja]=Konquerorのバージョン情報ページ
Name[ko]=컹커에 대한 설명
Name[lv]=Par-Lapa priekš Iekarotāja
Name[nl]=Informatiepagina voor Konqueror
Name[no]=Om-side for Konqueror
Name[no_NY]=Om-side Konqueror
Name[pt]=Página Acerca do Konqueror
Name[pt_BR]=Página Sobre do Konqueror
Name[ro]=Pagină credite pentru Konqueror
Name[ru]=Страница сведений о Konqueror
Name[sk]=Stránka o programe Konqueror
Name[sl]=Stran o Konquerorju
Name[sr]=Strana o Konqueroru
Name[sv]=Om-sida för Konqueror
Name[tr]=Konqueror Hakkında Sayfası
Name[uk]=Сторінка "Про" для Konqueror
Name[zh_CN.GB2312]=Konqueror 关于信息页
Name[zh_TW.Big5]=Konqueror 的關於頁面
ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=libkonqaboutpage
