[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=About-Page for Konqueror
Name[af]=About-Page vir Konqueror
Name[ar]=حول كونكيورر
Name[az]=Konqueror Haqqında Səhifəsi
Name[be]=Аб Konqueror
Name[bg]=Страница с информация за Konqueror
Name[bn]=কনকরার পরিচিতি পৃষ্ঠা
Name[bs]=About-stranica za Konqueror
Name[ca]=Pàgina quant al Konqueror
Name[cs]=O aplikaci Konqueror
Name[cy]=Tudalen Ynghylch i Konqueror
Name[da]='Om'-side for Konqueror
Name[de]=Über Konqueror
Name[el]=Σελίδα πληροφοριών για τον Konqueror
Name[eo]=Informpaĝo por Konkeranto
Name[es]=Página 'Acerca de' para Konqueror
Name[et]=Konquerori info
Name[eu]=....ri buruzko orria Konquerorako
Name[fa]=صفحه‌ی درباره کانکر
Name[fi]=Konquerorin tietoja-sivu
Name[fr]=À propos de Konqueror
Name[gl]=Páxina Acerca de Konqueror
Name[he]=דף אודות Konqueror
Name[hi]=के-बारे में पृष्ठ कॉन्क्वेरर हेतु
Name[hr]=O programu Konqueror
Name[hu]=A Konqueror névjegye
Name[id]=Tentang halaman untuk Konqueror
Name[is]=Upplýsingasíða Konqueror
Name[it]=Pagina di informazioni di Konqueror
Name[ja]=Konquerorのバージョン情報ページ
Name[ko]=컹커러에 대한 설명
Name[lo]=ຫນ້າກ່ງວກັບສຳລັບ Konqueror
Name[lt]=Apie Konqueror
Name[lv]=Par-Lapa priekš Iekarotāja
Name[mn]=Конкюрорын тухай
Name[mt]=Paġna dwar Konqueror
Name[nb]=Om-side for Konqueror
Name[nds]=Infosied över Konqueror
Name[nl]=Informatiepagina voor Konqueror
Name[nn]=Om-side Konqueror
Name[nso]=Kaga letlakala la Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਬਾਰੇ ਸਫਾ
Name[pl]=Strona "O programie" Konquerora
Name[pt]=Página Acerca do Konqueror
Name[pt_BR]=Página "Sobre" do Konqueror
Name[ro]=Pagină informaţii pentru Konqueror
Name[ru]=Страница сведений о Konqueror
Name[se]=Diehtusiidu Konqueror várás
Name[sk]=Stránka o programe Konqueror
Name[sl]=Stran o Konquerorju
Name[sr]=Информативна страница о Konqueror-у
Name[sr@Latn]=Informativna stranica o Konqueror-u
Name[sv]=Om-sida för Konqueror
Name[ta]=கான்கொரர்க்கான பக்கம்-பற்றி
Name[tg]=Саҳифаи маълумот дар бораи Konqueror
Name[th]=หน้าเกี่ยวกับคอนเควอร์เรอร์
Name[tr]=Konqueror Hakkında Sayfası
Name[uk]=Сторінка "Про" для Konqueror
Name[uz]=Konqueror ҳақида саҳифа
Name[ven]=Nga ha siatari la Konqueror
Name[vi]=Trang giới thiệu của Konqueror 
Name[xh]=Malunga-Nephepha le Konqueror
Name[xx]=xxAbout-Page for Konquerorxx
Name[zh_CN]=Konqueror 关于信息页
Name[zh_TW]=Konqueror 相關資訊
Name[zu]=Mayelana-nekhasi le-Konqueror
ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=konq_aboutpage
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
