[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=About-Page for Konqueror
Name[af]=About-Page vir konqueror
Name[ar]=حول كونكيورر
Name[az]=Konqueror Haqqında Səhifəsi
Name[bg]=Страница за информация на Konqueror
Name[cs]=O aplikaci Konqueror
Name[da]='Om'-side for Konqueror
Name[de]=Über Konqueror
Name[el]=Σελίδα Πληροφοριών για τον Konqueror
Name[eo]=Informpaĝo por Konkeranto
Name[es]=Página 'Acerca de' para Konqueror
Name[et]=Konquerori info
Name[eu]=....ri buruzko orria Konquerorako
Name[fi]=Konquerorin tietoja-sivu
Name[fr]=À propos de Konqueror
Name[he]=עמוד אודות של Konqueror
Name[hu]=A Konqueror névjegye
Name[id]=Tentang halaman untuk Konqueror
Name[is]=Upplýsingasíða Konqueror
Name[it]=Pagina di informazioni di Konqueror
Name[ja]=Konquerorのバージョン情報ページ
Name[ko]=컹커러에 대한 설명
Name[lt]=Apie Konqueror
Name[lv]=Par-Lapa priekš Iekarotāja
Name[mt]=Paġna dwar Konqueror
Name[nb]=Om-side for Konqueror
Name[nl]=Informatiepagina voor Konqueror
Name[nn]=Om-side Konqueror
Name[pl]=Strona "O programie" Konquerora
Name[pt]=Página Acerca do Konqueror
Name[pt_BR]=Página Sobre do Konqueror
Name[ru]=Страница сведений о Konqueror
Name[sk]=Stránka o programe Konqueror
Name[sl]=Stran o Konquerorju
Name[sr]=Informacije o Konqueroru
Name[sv]=Om-sida för Konqueror
Name[ta]=¸¡ý¦¸¡Ã÷ ÀüÈ¢Â Àì¸õ
Name[th]=หน้าเกี่ยวกับสำหรับ Konqueror
Name[tr]=Konqueror Hakkında Sayfası
Name[uk]=Сторінка "Про" для Konqueror
Name[vi]=Trang 'about' của Konqueror 
Name[xh]=Malunga-nePhepha le Konqueror
Name[xx]=xx
Name[zh_CN]=Konqueror 关于信息页
Name[zh_TW]=Konqueror 關於資訊頁
Name[zu]=Mayelana-nePhepha le Konqueror
ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=libkonqaboutpage
