[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Googlebot/2.1)
Name[az]=İA İzahatı (Googlebot/2.1)
Name[ca]=Descripció UA (Googlebot/2.1)
Name[cs]=Popis agenta (Googlebot/2.1)
Name[de]=User-Agent-Kennung (Googlebot/2.1)
Name[el]=Περιγραφή UA (Googlebot/2.1)
Name[eo]=UA-Priskribo (Googlebot/2.1)
Name[fi]=Käyttäjäagenttikuvaus (Googlebot/2.1)
Name[fr]=Identité du navigateur (Googlebot/2.1)
Name[fy]=GA-omskriuwing (Googlebot/2.1)
Name[hi]=यूए-डिस्क्रिप्शन (गूगलबॉट/2.1)
Name[hu]=Böngészőtípus (Googlebot/2.1)
Name[is]=UAD strengur (Googlebot/2.1)
Name[it]=DescrizioneUA (Googlebot/2.1)
Name[lt]=Vartotojo agento aprašymas (Googlebot/2.1)
Name[lv]=UAApraksts (Googlebot/2.1)
Name[nb]=Brukeragent (Googlebot/2.1)
Name[nds]=User-Agent-Beschrieven (Googlebot/2.1)
Name[nl]=GA-beschrijving (Googlebot/2.1)
Name[nn]=Brukaragent (Googlebot/2.1)
Name[pl]=Opis Programu Użytkownika (Googlebot/2.1)
Name[pt_BR]=Descrição (Googlebot/2.1)
Name[ro]=Descriere UA (Googlebot/2.1)
Name[sl]=UAOpis (Googlebot/2.1)
Name[sv]=AA-beskrivning (Googlebot/2.1)
Name[ta]=UAவிவரம் (Googlebot/2.1)
Name[tr]=UA Tanımı (Googlebot/2.1)
Name[xx]=xxUADescription (Googlebot/2.1)xx
Name[zh_CN]=用户代理描述 (Google 机器人/2.1)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Googlebot/2.1 (+http://www.googlebot.com/bot.html)
X-KDE-UA-NAME=Googlebot
X-KDE-UA-VERSION=2.1
