[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Googlebot/2.1)
Name[fr]=Identité du navigateur (Googlebot/2.1)
Name[x-test]=xxUADescription (Googlebot/2.1)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Googlebot/2.1 (+http://www.googlebot.com/bot.html)
X-KDE-UA-NAME=Googlebot
X-KDE-UA-VERSION=2.1
