[Desktop Entry]
Encoding=UTF-8
Name=UADescription (IE 5.0 on Mac PPC)
Name[af]=Ua-beskrywing (Ie 5.0 op Mac Ppc)
Name[be]=UADescription (IE 5.0 на Mac PPC)
Name[br]=UADescription (IE 5.0 war Mac PPC)
Name[ca]=Descripció de AU (IE 5.0 en Mac PPC)
Name[cs]=Popis agenta (IE 5.0 na Mac PPC)
Name[cy]=UADisgrifiad (IE 5.0 ar Mac PPC)
Name[da]=Brugeragentbeskrivelse (IE 5.0 på Mac PPC)
Name[de]=User-Agent-Kennung (IE 5.0 on Mac PPC)
Name[el]=Περιγραφή UA (IE 5.0 σε Mac PPC)
Name[eo]=UA-Priskribo (IE 5.0 sub Mac-PPC)
Name[es]=Descripción de AU (IE 5.0 en Mac PPC)
Name[et]=UADescription (IE 5.0 MacPPC platvormil)
Name[eu]=UA deskripzioa (IE 5.0 Mac PPC-n)
Name[fa]=UA توضیح IE ۵.۰ روی Mac PPC
Name[fi]=Käyttäjäagenttikuvaus (IE 5.0 Mac PPC:llä)
Name[fr]=Identité du navigateur (IE 5.0 sous Mac PPC)
Name[fy]=GA-omskriuwing (IE 5.0 op Mac PPC)
Name[ga]=UADescription (IE 5.0 ar Mac PPC)
Name[gl]=UADescription (IE 5.0 en Mac PPC)
Name[he]=UADescription (Mac PPCב־ IE 5.0)
Name[hi]=यूएडी-डिस्क्रिप्शन (IE 5.0 मैक पीपीसी पर)
Name[hu]=Böngészőtípus (IE 5.0, Mac PPC)
Name[is]=UAD strengur (IE 5.0 on Mac PPC)
Name[it]=DescrizioneUA (IE 5.0 su Mac PPC)
Name[ko]=UADescription (맥 PPC용 인터넷 익스플로러 5.0)
Name[lt]=Vartotojo agento aprašymas (IE 5.0 ir Mac PPC)
Name[lv]=UAApraksts (IE 5.0 uz Mac PPC)
Name[mk]=UADescription (IE 5.0 на Mac PPC)
Name[mn]=UserAgent-Тодорхойлолт (IE 5.0 on Mac PPC)
Name[mt]=UADescription (IE 5.0 fuq Mac PPC)
Name[nb]=UA-beskrivelse (IE 5.0 på Mac PPC)
Name[nds]=UA-Beschrieven (IE 5.0 op Mac PPC)
Name[nl]=GA-beschrijving (IE 5.0 op Mac PPC)
Name[nn]=Brukaragent (IE 5.0 på Mac PPC)
Name[nso]=UAThlaloso (IE 5.0 go Mac PPC)
Name[pa]=UAਵੇਰਵਾ (ਮੈਕ PPC ਤੇ IE 5.0)
Name[pl]=Opis Programu Użytkownika (IE 5.0 na Mac PPC)
Name[pt]=UADescription (IE 5.0 no Mac PPC)
Name[pt_BR]=Descrição (IE 5.0 no Mac PPC)
Name[ro]=Descriere UA (IE 5.0 pentru Mac PPC)
Name[ru]=UADescription (IE 5.0 на Mac PPC)
Name[sk]=Popis agenta (IE 5.0 na Mac PPC)
Name[sl]=UAopis (IE 5.0 na Mac PPC)
Name[sr]=UADescription (IE 5.0 на Mac PPC)
Name[sr@Latn]=UADescription (IE 5.0 na Mac PPC)
Name[sv]=AA-beskrivning (IE 5.0 på Mac PPC)
Name[ta]=UAவிவரம் (IE 5.0 on Mac PPC)
Name[tg]=ТавзеҳиUA (IE 5.0 ба Mac PPC)
Name[tr]=UA Tanımı (Mac PPC üzerinde IE 5.0)
Name[uk]=UADescription (IE 5.0 на Mac PPC)
Name[uz]=UADescription (Mac PPC билан IE 5.0)
Name[ven]=Thalutshedzo ya UA (IE 5.0 on Mac PPC)
Name[vi]=UADescription (IE 5.0 trên Mac PPC)
Name[xh]=UADescription (IE 5.0 kwi Mac PPC)
Name[xx]=xxUADescription (IE 5.0 on Mac PPC)xx
Name[zh_CN]=用户代理描述 (运行于 Mac PPC 的 IE 5.0)
Name[zh_TW]=使用者代理描述 (IE 5.0 on Mac PPC)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 5.0; Mac_PowerPC)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=5.0
X-KDE-UA-SYSNAME=Mac
X-KDE-UA-SYSRELEASE=PPC
