[Desktop Entry]
Encoding=UTF-8
Name=UADescription (IE 5.5 on Win 98)
Name[af]=Ua-beskrywing (Ie 5.5 op Win 98)
Name[be]=UADescription (IE 5.5 на Win 98)
Name[br]=UADescription (IE 5.5 war Win 98)
Name[ca]=Descripció de AU (IE 5.5 en Windows 98)
Name[cs]=Popis agenta (IE 5.5 na Win 98)
Name[cy]=UADisgrifiad (IE 5.5 ar Win 98) 
Name[da]=Brugeragentbeskrivelse (IE 5.5 på Win 98)
Name[de]=User-Agent-Kennung (IE 5.5 on Win 98)
Name[el]=Περιγραφή UA (IE 5.5 σε Win 98)
Name[eo]=UA-Priskribo (IE 5.5 sub Vindozo 98)
Name[es]=Descripción de AU (IE 5.5 en Windows 98)
Name[et]=UADescription (IE 5.5 Win98 platvormil)
Name[eu]=UA deskripzioa (IE 5.5 Win 98-an)
Name[fa]=UA توضیح IE ۵..۵ روی Win ۹۸
Name[fi]=Käyttäjäagenttikuvaus (IE 5.5 Win 98:lla)
Name[fr]=Identité du navigateur (IE 5.5 sous Windows 98)
Name[fy]=GA-omskriuwing (IE 5.5 op Win 98)
Name[ga]=UADescription (IE 5.5 ar Win 98)
Name[gl]=UADescription (IE 5.5 en Win 98)
Name[he]=UADescription (Win 98ב־ IE 5.5)
Name[hi]=यूएडी-डिस्क्रिप्शन (IE 5.5 विन 98 पर)
Name[hu]=Böngészőtípus (IE 5.5, Win 98)
Name[is]=UAD strengur (IE 5.5 on Win 98)
Name[it]=DescrizioneUA (IE 5.5 su Win 98)
Name[ko]=UADescription (윈도우즈 98용 인터넷 익스플로러 5.5)
Name[lt]=Vartotojo agento aprašymas (IE 5.5 ir Win 98)
Name[lv]=UAApraksts (IE 5.5 uz Win 98)
Name[mk]=UADescription (IE 5.5 на Win 98)
Name[mn]=UserAgent-Тодорхойлолт (IE 5.5 on Win 98)
Name[mt]=UADescription (IE 5.5 fuq Win 98)
Name[nb]=Brukeragent (IE 5.5 på Win 98)
Name[nds]=UA-Beschrieven (IE 5.5 op Win 98)
Name[nl]=GA-beschrijving (IE 5.5 op Win 98)
Name[nn]=Brukaragent (IE 5.5 på Win 98)
Name[nso]=UAThlaloso (IE 5.5 go Win 98)
Name[pa]=UAਵੇਰਵਾ (ਵਿੰਡੋ ੯੮ ਤੇ IE 5.5)
Name[pl]=Opis Programu Użytkownika (IE 5.5 na Win 98)
Name[pt]=UADescription (IE 5.5 no Win 95)
Name[pt_BR]=Descrição (IE 5.5 no Win 98)
Name[ro]=Descriere UA (IE 5.5 pentru Win 98)
Name[ru]=UADescription (IE 5.5 на Win 98)
Name[se]=UA-čilgehus (IE 5.5 ja Win 98)
Name[sk]=Popis agenta (IE 5.5 na Win 98)
Name[sl]=UAOpis (IE 5.5 na Windows 98)
Name[sr]=UADescription (IE 5.5 на Win 98)
Name[sr@Latn]=UADescription (IE 5.5 na Win 98)
Name[sv]=AA-beskrivning (IE 5.5 på Win 98)
Name[ta]=UAவிவரம் (IE 5.5 on Win 98)
Name[tg]=ТавзеҳиUA (IE 5.5 ба Win 98)
Name[tr]=UA Tanımı (Win 98 üzerinde IE 5.5)
Name[uk]=UADescription (IE 5.5 на Win 98)
Name[uz]=UADescription (Win 98 билан IE 5.5)
Name[ven]=Thalutshedzo ya UA (IE 5.5 on Win 98)
Name[vi]=UADescription (IE 5.5 trên Win 98)
Name[xh]=UADescription UA (IE 5.5 kwi Win 98)
Name[xx]=xxUADescription (IE 5.5 on Win 98)xx
Name[zh_CN]=用户代理描述 (运行于 Win 98 的 IE 5.5)
Name[zh_TW]=使用者代理描述 (IE 5.5 on Win 98)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 5.5; Windows 98)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=5.5
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=98
