[Desktop Entry]
Encoding=UTF-8
Name=UADescription (IE 6.0 on current)
Name[ga]=UADescription (IE 6.0 ar an gcóras reatha)
Name[pt]=UADescription (IE 6.0 no sistema actual)
Name[pt_BR]=UADescription (IE 6.0 no sistema actual)
Name[sv]=AA-beskrivning (IE 6.0 på aktuell)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 6.0; appPlatform; appSysName appMachineType) Konqueror/3.4 (KHTML, like Gecko)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=6.0
X-KDE-UA-DYNAMIC-ENTRY=1
