[Desktop Entry]
Encoding=UTF-8
Name=UADescription (IE 6.0 on Win XP)
Name[af]=Ua-beskrywing (Ie 6.0 op Win Xp)
Name[az]=İAİzahatı (Win XP üstündə IE 6.0)
Name[be]=UADescription (IE 6.0 на Win XP)
Name[br]=UADescription (IE 6.0 war Win XP)
Name[bs]=UADescription (IE 5.0 on Win XP)
Name[ca]=Descripció de AU (IE 6.0 en Win XP)
Name[cs]=Popis agenta (IE 6.0 na Win XP)
Name[cy]=UADisgrifiad (IE 6.0 ar Win XP)
Name[da]=Brugeragentbeskrivelse (IE 6.0 på Win XP)
Name[de]=User-Agent-Kennung (IE 6.0 on Win XP)
Name[el]=Περιγραφή UA (IE 6.0 σε Win XP)
Name[eo]=UA-Priskribo (IE 6.0 sub Vindozo XP)
Name[es]=Descripción de AU (IE 6.0 en Win XP)
Name[et]=UADescription (IE 6.0 Win XP platvormil)
Name[eu]=UA deskripzioa (IE 6.0 Win XP-n)
Name[fa]=UA توضیح IE ۶.۰ روی Win XP
Name[fi]=Käyttäjäagenttikuvaus (IE 6.0 Win XP:llä)
Name[fr]=Identité du navigateur (IE 6.0 sous Windows XP)
Name[fy]=GA-omskriuwing (IE 6.0 op Win XP)
Name[ga]=UADescription (IE 6.0 ar Win XP)
Name[gl]=UADescription (IE 6.0 en Win XP)
Name[he]=UADescription (Win XPב־ IE 6.0)
Name[hi]=यूएडी-डिस्क्रिप्शन (IE 6.0 विन एक्सपी पर)
Name[hr]=UADescription (IE 5.0 on Win 95)
Name[hu]=Böngészőtípus (IE 6.0, Win XP)
Name[is]=UAD strengur (IE 5.0 on Win XP)
Name[it]=DescrizioneUA (IE 6.0 su Win XP)
Name[lt]=Vartotojo agento aprašymas (IE 6.0 ir Win XP)
Name[mk]=UADescription (IE 6.0 на Win XP)
Name[mn]=User-Agent-Тодорхойлолт (IE 6.0 on Win XP)
Name[mt]=UADescription (IE 6.0 fuq Win XP)
Name[nb]=UA-beskrivelse (IE 6.0 on Win XP)
Name[nds]=UA-Beschrieven (IE 6.0 op Win XP)
Name[nl]=GA-beschrijving (IE 6.0 op Win XP)
Name[nn]=Brukaragent (IE 6.0 på Win XP)
Name[nso]=UAThlaloso (IE 6.0 go Win XP)
Name[pa]=UAਵੇਰਵਾ (ਵਿੰਡੋ XP ਤੇ IE 6.0)
Name[pl]=Opis Programu Użytkownika (IE 6.0 na Win XP)
Name[pt]=UADescription (IE 6.0 no Win XP)
Name[pt_BR]=Descrição (IE 6.0 no Win XP)
Name[ro]=Descriere UA (IE 5.0 pentru Win XP)
Name[ru]=UADescription (IE 5.0 на Win 95)
Name[sk]=Popis agenta (IE 6.0 na Win XP)
Name[sl]=UAopis (IE 6.0 na Windows XP)
Name[sr]=UADescription (IE 6.0 на Win XP)
Name[sr@Latn]=UADescription (IE 6.0 na Win XP)
Name[sv]=AA-beskrivning (IE 6.0 på Win XP)
Name[ta]=UAவிவரம்(IE 6.0 on Win XP)
Name[tg]=ТавзеҳиUA (IE 6.0 ба Win XP)
Name[tr]=UA Tanımı (Win XP üzerinde IE 6.0)
Name[uk]=UADescription (IE 6.0 на Win XP)
Name[uz]=UADescription (Win XP билан IE 6.0)
Name[ven]=Thalutshedzo ya UA (IE 5.0 kha Win XP)
Name[xh]=UADescription (IE 6.0 kwi Win XP)
Name[xx]=xxUADescription (IE 6.0 on Win XP)xx
Name[zh_CN]=用户代理描述 (运行于 Win XP 的 IE 6.0)
Name[zh_TW]=使用者代理描述 (IE 6.0 on Win XP)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=6.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
