[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Lynx 2.8.3)
Name[x-test]=xxUADescription (Lynx 2.8.3)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Lynx/2.8.3dev.6 libwww-FM/2.14
X-KDE-UA-NAME=Lynx
X-KDE-UA-VERSION=2.8.3dev.6
