[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Lynx 2.8.3)
Name[af]=Ua-beskrywing (Lynx 2.8.3)
Name[ca]=Descripció de AU (Lynx 2.8.3)
Name[cs]=Popis agenta (Lynx 2.8.3)
Name[cy]=UADisgrifiad (Lynx 2.8.3)
Name[da]=Brugeragentbeskrivelse (Lynx 2.8.3)
Name[de]=User-Agent-Kennung (Lynx 2.8.3)
Name[el]=Περιγραφή UA (Lynx 2.8.3)
Name[eo]=UA-Priskribo (Lynx 2.8.3)
Name[es]=Descripción de AU (Lynx 2.8.3)
Name[eu]=UA deskripzioa (Lynx 2.8.3)
Name[fa]=UA توضیح لینکس ۲.۸.۳
Name[fi]=Käyttäjäagenttikuvaus (Lynx 2.8.3)
Name[fr]=Identité du navigateur (Lynx 2.8.3)
Name[fy]=GA-omskriuwing (Lynx 2.8.3)
Name[hi]=यूएडी-डिस्क्रिप्शन (लायनक्स 2.8.3)
Name[hu]=Böngészőtípus (Lynx 2.8.3)
Name[is]=UAD strengur (Lynx 2.8.3)
Name[it]=DescrizioneUA (Lynx 2.8.3)
Name[lt]=Vartotojo agento aprašymas (Lynx 2.8.3)
Name[lv]=UAApraksts (Lynx 2.8.3)
Name[mn]=UserAgent-Тодорхойлолт (Lynx 2.8.3)
Name[nb]=Brukeragent (Lynx 2.8.3)
Name[nds]=UA-Beschrieven (Lynx 2.8.3)
Name[nl]=GA-beschrijving (Lynx 2.8.3)
Name[nn]=Brukaragent (Lynx 2.8.3)
Name[nso]=UAThlaloso (Lynx 2.8.3)
Name[pa]=UAਵੇਰਵਾ (ਲੇਨਕਸ2.8.30)
Name[pl]=Opis Programu Użytkownika (Lynx 2.8.3)
Name[pt_BR]=Descrição (Lynx 2.8.3)
Name[ro]=Descriere UA (Lynx 2.8.3)
Name[se]=UA-čilgehus (Lynx 2.8.3)
Name[sk]=Popis agenta (Lynx 2.8.3)
Name[sl]=UAOpis (Lynx 2.8.3)
Name[sv]=AA-beskrivning (Lynx 2.8.3)
Name[ta]=UAவிவரம் (Lynx 2.8.3)
Name[tg]=ТавзеҳиUA (Линукс 2.8.3)
Name[tr]=UA Tanımı (Lynx 2.8.3)
Name[ven]=Thalutshedzo ya UA (Lynx 2.8.3)
Name[xx]=xxUADescription (Lynx 2.8.3)xx
Name[zh_CN]=用户代理描述 (Lynx 2.8.3)
Name[zh_TW]=使用者代理描述 (Lynx 2.8.3)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Lynx/2.8.3dev.6 libwww-FM/2.14
X-KDE-UA-NAME=Lynx
X-KDE-UA-VERSION=2.8.3dev.6
