[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.7 on Windows XP)
Name[br]=UADescription (Mozilla 1.7 war Windows XP)
Name[ca]=Descripció UA (Mozilla 1.7 a Windows XP)
Name[cs]=Popis agenta (Mozilla 1.7 na Windows XP)
Name[da]=Brugeragentbeskrivelse (Mozilla 1.7 på Windows XP)
Name[de]=User-Agent-Kennung (Mozilla 1.7 on Windows XP)
Name[el]=Περιγραφή UA (Mozilla 1.7 σε Windows XP)
Name[es]=UADescription (Mozilla 1.7 en Windows XP)
Name[et]=UADescription (Mozilla 1.7 Windows XP platvormil)
Name[eu]=UA deskripzioa (Mozilla 1.7  Windows XP-ean)
Name[fi]=Käyttäjäagenttikuvaus (Mozilla 1.7 Windows XP)
Name[fr]=Identité du navigateur (Mozilla 1.7 sous Windows XP)
Name[fy]=GA-omskriuwing (Mozilla 1.7 op Windows XP)
Name[ga]=UADescription (Mozilla 1.7 ar Windows XP)
Name[he]=UADescription (Mozilla 1.7 Windows XPב־)
Name[hu]=Böngészőtípus (Mozilla 1.7, Windows XP)
Name[is]=UAD strengur (Mozilla 1.7 á Windows XP)
Name[it]=DescrizioneUA (Mozilla 1.7 su Windows XP)
Name[lt]=Vartotojo agento aprašymas (Mozilla 1.7 ir Windows XP)
Name[lv]=UAApraksts (Mozilla 1.7 uz Windows XP)
Name[nb]=Brukeragent (Mozilla 1.7 på Windows XP)
Name[nds]=User-Agent-Beschrieven (Mozilla 1.7 op Windows XP)
Name[nl]=GA-beschrijving (Mozilla 1.7 op Windows XP)
Name[nn]=Brukaragent (Mozilla 1.7 på Windows XP)
Name[pa]=UADescription (Windows XP 'ਤੇ Mozilla 1.7)
Name[pl]=Opis Programu Użytkownika (Mozilla 1.7 na Windows XP)
Name[pt]=UADescription (Mozilla 1.7 no Windows XP)
Name[pt_BR]=Descrição (Mozilla 1.7 no Windows XP)
Name[ro]=Descriere UA (Mozilla 1.7 pentru Windows XP)
Name[ru]=UADescription (Mozilla 1.7 на Windows XP)
Name[sl]=UAOpis (Mozilla 1.7 na Windows XP)
Name[sr]=UADescription (Mozilla 1.7 на Windows XP)
Name[sr@Latn]=UADescription (Mozilla 1.7 na Windows XP)
Name[sv]=AA-beskrivning (Mozilla 1.7 på Windows XP)
Name[ta]=UAவிவரம் (Mozilla 1.7 on Windows XP)
Name[tr]=UA Tanımı (Windows XP'de Mozilla 1.7)
Name[uk]=UADescription (Mozilla 1.7 на Windows XP)
Name[xx]=xxUADescription (Mozilla 1.7 on Windows XP)xx
Name[zh_CN]=用户代理描述 (运行于 Windows XP 的 NN 4.7)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; Windows NT 5.1; appLanguage; rv:1.7.3) Gecko/20040916
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.7.3
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
X-KDE-UA-DYNAMIC-ENTRY=1

