[Desktop Entry]
Encoding=UTF-8
Name=UADescription (1.2.1 on Windows 2000)
Name[br]=UADescription (1.2.1 war Windows 2000)
Name[ga]=UADescription (1.2.1 ar Windows 2000)
Name[pt]=UADescription (1.2.1 no Windows 2000)
Name[pt_BR]=UADescription (1.2.1 no Windows 2000)
Name[sv]=AA-beskrivning (1.2.1 på Windows 2000)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; Windows NT 5.0; appLanguage; 1.2.1) Gecko/20021130
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.2.1
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=2000
