[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.2.1 on current)
Name[az]=İAİzahatı (Hazırkı Mozilla 1.2.1)
Name[be]=UADescription (Mozilla 1.2.1 на цякучай)
Name[bs]=UADescription (Mozilla 1.2.1 na trenutnom)
Name[ca]=Descripció de AU (Mozilla 1.2.1 sobre l'actual)
Name[cs]=Popis agenta (Mozilla 1.2.1 na aktuálním)
Name[cy]=UADisgrifiad (Mozilla 1.2.1 ar gyfredol)
Name[da]=Brugeragentbeskrivelse (Mozilla 1.2.1 på denne)
Name[de]=User-Agent-Kennung (Mozilla 1.2.1 on current)
Name[el]=Περιγραφή UA (Mozilla 1.2.1 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Mozilo 1.2.1 sub nuna)
Name[es]=Descripción de AU (Mozilla 1.2.1 en actual
Name[et]=UADescription (Selles masinas töötav Mozilla 1.2.1)
Name[eu]=UA deskriptioa (Mozilla 1.2.1 unekoan)
Name[fa]=UA توضیح موزیلا ۱/۲/۱ روی فعلی
Name[fi]=Käyttäjäagenttikuvaus (Mozilla 1.2.1 nykyisellä)
Name[fr]=Identité du navigateur (Mozilla 1.2.1 sous le système actuel)
Name[fy]=GA-omskriuwing (Mozilla 1.2.1 op hjoeddeisk)
Name[ga]=UADescription (Mozilla 1.2.1 ar an gcóras reatha)
Name[gl]=UADescription (Mozilla 1.2.1 no actual)
Name[he]=UADescription (Mozilla 1.2.1 בנוכחי)
Name[hi]=यूएडी-डिस्क्रिप्शन (मोज़िला 1.2.1 हालिया पर)
Name[hu]=Böngészőtípus (Mozilla 1.2.1)
Name[is]=UAD strengur (Mozilla 1.2.1 on current)
Name[it]=DescrizioneUA(Mozilla 1.2.1 su sistema attuale)
Name[lt]=Vartotojo agento aprašymas (Mozilla 1.2.1 ir esama)
Name[lv]=UAApraksts (Mozilla 1.2.1 uz tekošā)
Name[mk]=UADescription (Mozilla 1.2.1 на тековниот)
Name[mn]=UserAgent-Тодорхойлолт (Мокилла 1.2.1 идэвхитэй)
Name[mt]=UADescription (Mozilla 1.2.1 fuq kurrenti)
Name[nb]=Brukeragent (Mozilla 1.2.1 på denne maskina)
Name[nds]=UA-Beschrieven (Mozilla 1.2.1 op dit Systeem)
Name[nl]=GA-beschrijving (Mozilla 1.2.1 op current)
Name[nn]=Brukaragent (Mozilla 1.2.1 på denne maskina)
Name[pa]=UAਵੇਰਵਾ (ਮੌਜੂਦਾ ਤੇ ਮੌਜੀਲਾ ੧.੨.੧)
Name[pl]=Opis Programu Użytkownika (Mozilla 1.2.1 na aktualnym)
Name[pt]=UADescription (Mozilla 1.2.1 no sistema actual)
Name[pt_BR]=Descrição (Mozilla 1.2.1 no sistema atual)
Name[ro]=Descriere UA (Mozilla 1.2.1 pentru sistemul de operare curent)
Name[ru]=UADescription (Mozilla 1.2.1 на текущей системе)
Name[se]=UA-čilgehus (Mozilla 1.2.1 dan mašiinas)
Name[sk]=UADescription (Mozilla 1.2.1)
Name[sl]=UAOpis (Mozilla 1.2.1 na trenutnem)
Name[sr]=UADescription (Mozilla 1.2.1 на тренутном)
Name[sr@Latn]=UADescription (Mozilla 1.2.1 na trenutnom)
Name[sv]=AA-beskrivning (Mozilla 1.2.1 på aktuell)
Name[ta]=UAவிவரம் (M18 on current)
Name[tg]=ТавзеҳиUA (Mozilla 1.2.1 равон)
Name[tr]=UA Tanımı (güncel üzerinde Mozilla 1.2.1)
Name[uk]=UADescription (Mozilla 1.2.1 на поточній ОС)
Name[uz]=UADescription (жорий билан Mozilla 1.2.1)
Name[vi]=UADescription (Mozilla 1.2.1 trên trình duyệt đang dùng)
Name[xx]=xxUADescription (Mozilla 1.2.1 on current)xx
Name[zh_CN]=用户代理描述 (运行于本机的 Mozilla 1.2.1)
Name[zh_TW]=使用者代理描述 (Mozilla 1.2.1 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (appSysName; U; appLanguage; rv:1.2.1) Gecko/20021130
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.2.1
X-KDE-UA-DYNAMIC-ENTRY=1
