[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.7 on current)
Name[ca]=Descripció UA (Mozilla 1.7 a l'actual)
Name[cs]=Popis agenta (Mozilla 1.7 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Mozilla 1.7 på denne)
Name[es]=UADescription (Mozilla 1.7 en actual)
Name[et]=UADescription (Selles masinas töötav Mozilla 1.7)
Name[fr]=Identité du navigateur (Mozilla 1.7 sous le système actuel)
Name[ga]=UADescription (Mozilla 1.7 ar an gcóras reatha)
Name[he]=UADescription (Mozilla 1.7 בנוכחי)
Name[hu]=Böngészőtípus (Mozilla 1.7)
Name[is]=UAD strengur (Mozilla 1.7 á núverandi)
Name[nb]=UA-beskrivelse (Mozilla 1.7 på nåværende)
Name[nl]=GA-beschrijving (Mozilla 1.7 op current)
Name[nn]=Brukaragent (Mozilla 1.7 på denne)
Name[pt]=UADescription (Mozilla 1.7 no sistema actual)
Name[pt_BR]=Descrição (Mozilla 1.7 no sistema atual)
Name[ru]=UADescription (Mozilla 1.7 на текущей)
Name[sv]=AA-beskrivning (Mozilla 1.7 på aktuell)
Name[tr]=UA Tanımı (bulunulanda Mozilla 1.6)
Name[uk]=UADescription (Mozilla 1.7 на поточній)
Name[xx]=xxUADescription (Mozilla 1.7 on current)xx
Name[zh_CN]=用户代理描述 (运行于本机的 Mozilla 1.7)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appSysName appMachineType; appLanguage; rv:1.7.3) Gecko/20040916
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.7.3
X-KDE-UA-DYNAMIC-ENTRY=1
