[Desktop Entry]
Encoding=UTF-8
Name=UADescription (1.2.1 on WinNT 4.0)
Name[az]=İAİzahatı (WinNT 4.0 üstündə 1.2.1)
Name[be]=UADescription (1.2.1 на WinNT 4.0)
Name[bs]=UADescription (1.2.1 na WinNT 4.0)
Name[ca]=Descripció de AU (1.2.1 en WinNT 4.0)
Name[cs]=Popis agenta (1.2.1 na WinNT 4.0)
Name[cy]=UADisgrifiad (1.2.1 ar WinNT 4.0)
Name[da]=Brugeragentbeskrivelse (1.2.1 på WinNT 4.0)
Name[de]=User-Agent-Kennung (1.2.1 auf WinNT 4.0)
Name[el]=UADescription (1.2.1 σε WinNT 4.0)
Name[eo]=UA-Priskribo (1.2.1 sub Vindozo NT 4.0)
Name[es]=Descripción de AU (1.2.1 en Windows NT 4.0)
Name[et]=UADescription (Mozilla 1.2.1 WinNT 4.0 platvormil)
Name[eu]=UADescription (1.2.1 WinNT 4.0en)
Name[fa]=UA توضیح ۱/۲/۱ روی WinNT ۴/۰
Name[fi]=Käyttäjäagenttikuvaus (1.2.1 WinNT 4.0:lla)
Name[fr]=Identité du navigateur (1.2.1 sous Windows NT 4.0)
Name[gl]=UADescription (1.2.1 en WinNT 4.0)
Name[hi]=यूएडी-डिस्क्रिप्शन (1.2.1 विन-एनटी 4.0  पर)
Name[hr]=UADescription (1.2.1 na WinNT 4.0)
Name[hu]=Böngészőtípus (Mozilla 1.2.1, Win NT 4.0)
Name[it]=DescrizioneUA (1.2.1 su WinNT 4.0)
Name[mn]=UserAgent-Тодорхойлолт (1.2.1 WinNT 4.0-д)
Name[nb]=UA-beskrivelse (1.2.1 på WinNT 4.0)
Name[nl]=GA-beschrijving (1.2.1 op WinNT 4.0)
Name[nn]=UA-skildring (1.2.1 på WinNT 4.0)
Name[pl]=Opis Programu Użytkownika  (1.2.1 na WinNT 4.0)
Name[pt]=UADescription (1.2.1 no WinNT 4.0)
Name[pt_BR]=Descrição (1.2.1 no WinNT 4.0)
Name[ro]=Descriere UA (1.2.1 pentru WinNT 4.0)
Name[sk]=UADescription (1.2.1 na WinNT 4.0)
Name[sl]=UAopis (1.2.1 na Windows NT 4.0)
Name[sr]=UADescription (1.2.1 на WinNT 4.0)
Name[sv]=AAbeskrivning (1.2.1 på WinNT 4.0)
Name[ta]=UADescription (M18 on WinNT 4.0)
Name[tr]=UA Tanımı (WinNT 4.0 üzerinde 1.2.1)
Name[uk]=UADescription (1.2.1 на WinNT 4.0)
Name[vi]=UADescription (1.2.1 trên WinNT 4.0)
Name[xx]=xxUADescription (1.2.1 on WinNT 4.0)xx
Name[zh_CN]=用户代理描述 (运行于 WinNT 4.0 的 1.2.1)
Name[zh_TW]=使用者代理描述 (1.2.1 on WinNT 4.0)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; WinNT4.0; en-US; 1.2.1) Gecko/20021130
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.2.1
X-KDE-UA-SYSNAME=Windows NT
X-KDE-UA-SYSRELEASE=4.0
