[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.7 on Windows XP)
Name[br]=UADescription (Mozilla 1.7 war Windows XP)
Name[ca]=Descripció UA (Mozilla 1.7 a Windows XP)
Name[cs]=Popis agenta (Mozilla 1.7 na Windows XP)
Name[da]=Brugeragentbeskrivelse (Mozilla 1.7 på Windows XP)
Name[es]=UADescription (Mozilla 1.7 en Windows XP)
Name[et]=UADescription (Mozilla 1.7 Windows XP platvormil)
Name[fr]=Identité du navigateur (Mozilla 1.7 sous Windows XP)
Name[ga]=UADescription (Mozilla 1.7 ar Windows XP)
Name[he]=UADescription (Mozilla 1.7 Windows XPב־)
Name[hu]=Böngészőtípus (Mozilla 1.7, Windows XP)
Name[is]=UAD strengur (Mozilla 1.7 á Windows XP)
Name[nb]=UA-beskrivelse (Mozilla 1.7 på Windows XP)
Name[nl]=GA-beschrijving (Mozilla 1.7 op Windows XP)
Name[nn]=Brukaragent (Mozilla 1.7 på Windows XP)
Name[pt]=UADescription (Mozilla 1.7 no Windows XP)
Name[pt_BR]=Descrição (Mozilla 1.7 no Windows XP)
Name[ru]=UADescription (Mozilla 1.7 на Windows XP)
Name[sv]=AA-beskrivning (Mozilla 1.7 på Windows XP)
Name[tr]=UA Tanımı (Windows XP'de Mozilla 1.7)
Name[uk]=UADescription (Mozilla 1.7 на Windows XP)
Name[xx]=xxUADescription (Mozilla 1.7 on Windows XP)xx
Name[zh_CN]=用户代理描述 (运行于 Windows XP 的 NN 4.7)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; Windows NT 5.1; appLanguage; rv:1.7.3) Gecko/20040916
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.7.3
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
