[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.2.1 on current)
Name[af]=Ua-beskrywing (1.2.1 op huidige)
Name[be]=UADescription (1.2.1 на цякучай)
Name[ca]=Descripció de AU (1.2.1 en actual)
Name[cs]=Popis agenta (1.2.1 na aktuálním)
Name[da]=Brugeragentbeskrivelse (1.2.1 på nuværende)
Name[de]=UserAgent-Kennung (1.2.1 on current)
Name[el]=Περιγραφή UA (1.2.1 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (1.2.1 sub nuna)
Name[es]=Descripción de AU (1.2.1 en actual)
Name[et]=UADescription (Selles masinas töötav Mozilla 1.2.1)
Name[fa]=UADescription (1.2.1 روی فعلی)
Name[fi]=Käyttäjäagenttikuvaus (1.2.1 on current)
Name[fr]=Identité du navigateur (1.2.1 sous le système actuel)
Name[hu]=Böngészőtípus (1.2.1)
Name[is]=UAD strengur (1.2.1 on current)
Name[it]=DescrizioneUA (1.2.1)
Name[lt]=Vartotojo agento apibrėžimas (1.2.1 ir esama OS)
Name[lv]=UAApraksts (1.2.1 uz tekošā)
Name[nb]=UA-beskrivelse (1.2.1 på nåværende)
Name[nl]=GA-beschrijving (1.2.1 op huidige)
Name[nn]=UA-skildring (1.2.1 på denne)
Name[nso]=UAThlaloso (1.2.1 go ya bjale)
Name[pl]=Opis Programu Użytkownika (1.2.1 na bieżącym)
Name[pt]=UADescription (1.2.1 actualmente)
Name[pt_BR]=Descrição (1.2.1 no atual)
Name[ro]=Descriere UA (1.2.1 pentru sistemul de operare curent)
Name[ru]=UADescription (1.2.1 на текущей)
Name[sk]=Popis agenta (1.2.1 na aktuálnom)
Name[sl]=UAopis (1.2.1 na trenutnem)
Name[sr]=UADescription (1.2.1 na trenutnom)
Name[sv]=AAbeskrivning (1.2.1 på aktuell)
Name[tr]=UA Tanımı (güncel üzerinde 1.2.1)
Name[uk]=UADescription (1.2.1 на поточній ОС)
Name[ven]=Thalutshedzo ya UA (1.2.1 kha ya zwino)
Name[vi]=UADescription (1.2.1 trên trình duyệt đang dùng)
Name[xh]=UADescription (1.2.1 okwangoku)
Name[zh_CN]=用户代理描述 (1.2.1 运行于当前机器)
Name[zh_TW]=使用者代理描述 (1.2.1 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (appSysName; U; appLanguage; rv:1.2.1) Gecko/20021130
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.2.1
X-KDE-UA-DYNAMIC-ENTRY=1
