[Desktop Entry]
Encoding=UTF-8
Name=UADescription (1.2.1 on WinNT 5.0)
Name[af]=Ua-beskrywing (1.2.1 op WinNT 5.0)
Name[be]=UADescription (1.2.1 на WinNT 5.0)
Name[bg]=UADescription (1.2.1 на WinNT 5.0)
Name[ca]=Descripció de AU (1.2.1 en Windows NT 5.0)
Name[cs]=Popis agenta (1.2.1 na WinNT 5.0)
Name[da]=Brugeragentbeskrivelse (1.2.1 på WinNT 5.0)
Name[de]=UserAgent-Kennung (1.2.1 on WinNT 5.0)
Name[el]=Περιγραφή UA (1.2.1 σε WinNT 5.0)
Name[eo]=UA-Priskribo (1.2.1 sub Vindozo NT 5.0)
Name[es]=Descripción de AU (1.2.1 en Windows NT 5.0)
Name[et]=UADescription (Mozilla 1.2.1 WinNT 5.0 platvormil)
Name[eu]=UADescription (1.2.1 WinNT 5.0-ean)
Name[fa]=UADescription (1.2.1 روی WinNT ۴.۰)
Name[fi]=Käyttäjäagenttikuvaus (1.2.1 on WinNT 5.0)
Name[fr]=Identité du navigateur (1.2.1 sous Windows NT 5.0)
Name[he]=UADescription (WinNT 5.0-ב 1.2.1)
Name[hu]=Böngészőtípus (1.2.1, Win NT 5.0)
Name[is]=UAD strengur (1.2.1 on WinNT 5.0)
Name[it]=DescrizioneUA (1.2.1 su WinNT 5.0)
Name[lt]=Vartotojo agento apibrėžimas (1.2.1 ir WinNT 5.0)
Name[lv]=UAApraksts (1.2.1 uz WinNT 5.0)
Name[nb]=UA-beskrivelse (1.2.1 på WinNT 5.0)
Name[nl]=GA-beschrijving (1.2.1 op WinNT 5.0)
Name[nn]=UA-skildring (1.2.1 på WinNT 5.0)
Name[nso]=UAThlaloso (1.2.1 go WinNT 5.0)
Name[pl]=Opis Programu Użytkownika (1.2.1 na WinNT 5.0)
Name[pt]=UADescription (1.2.1 no WinNT 5.0)
Name[pt_BR]=Descrição (1.2.1 no WinNT 5.0)
Name[ro]=Descriere UA (1.2.1 pentru WinNT 5.0)
Name[ru]=UADescription (1.2.1 на WinNT 5.0)
Name[sk]=Popis agenta (1.2.1 na WinNT 5.0)
Name[sl]=UAopis (1.2.1 na Windows NT 5.0)
Name[sr]=UADescription (1.2.1 na WinNT-u 4.0)
Name[sv]=AAbeskrivning (1.2.1 på WinNT 5.0)
Name[tr]=UA Tanımı (WinNT 5.0 üzerinde 1.2.1)
Name[uk]=UADescription (1.2.1 на WinNT 5.0)
Name[ven]=Thalutshedzo ya UA (1.2.1 kha WinNT 5.0)
Name[vi]=UADescription (1.2.1 trên WinNT 5.0)
Name[xh]=UADescription (1.2.1 kwi WinNT 5.0)
Name[zh_CN]=用户代理描述 (1.2.1 运行于 WinNT 5.0)
Name[zh_TW]=使用者代理描述 (1.2.1 on WinNT 5.0)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; WinNT5.0; en-US; 1.2.1) Gecko/20021130
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.2.1
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=2000
