[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.7 on Windows XP)
Name[fr]=Identité du navigateur (Mozilla 1.7 sous Windows XP)
Name[x-test]=xxUADescription (Mozilla 1.7 on Windows XP)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; Windows NT 5.1; appLanguage; rv:1.7.3) Gecko/20040916
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.7.3
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
X-KDE-UA-DYNAMIC-ENTRY=1

