[Desktop Entry]
Name=UADescription (NN 3.01 on current)
Name[af]=UA-BESKRYWING (NN 3.01 OP HUIDIGE)
Name[cs]=Popis agenta (NN 3.01 na aktuálním)
Name[da]=Brugeragentbeskrivelse (NN 3.01 på nuværende)
Name[de]=UserAgent-Beschreibung (NN 3.01 on current)
Name[el]=Περιγραφή UA(NN 3.01 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (NN 3.01 sub nuna)
Name[es]=Descripción de AU (NN 3.01 en actual)
Name[et]=UADescription (Selles masinas töötav Netscape 3.01)
Name[fi]=Käyttäjäagenttikuvaus (NN 3.01 on current)
Name[fr]=Identité du navigateur (Navigator 3.01 sous le système actuel)
Name[hu]=Böngészőtípus (NN 3.01)
Name[is]=UAD strengur (NN 3.01 on current)
Name[it]=DescrizioneUA (NN 3.01)
Name[lt]=Vartotojo agento apibrėžimas (NN 3.01 ir esama OS)
Name[lv]=UAApraksts (NN 3.01 uz tekošā)
Name[nl]=GA-beschrijving (NN 3.01 op huidige)
Name[pl]=Opis Programu Użytkownika (NN 3.01 na bieżącym)
Name[pt_BR]=UADescription (NN 3.01 actualmente)
Name[pt]=UADescription (NN 3.01 actualmente)
Name[sk]=Popis agenta (NN 3.01 na aktuálnom)
Name[sl]=UAopis (NN 3.01 na trenutnem)
Name[sv]=AAbeskrivning (NN 3.01 på current)
Name[tr]=UA Tanımı (güncel üzerinde NN 3.01)
Name[uk]=UADescription (NN 3.01  на поточній ОС)
Name[vi]=UADescription (NN 3.01 trên trình duyệt đang dùng) 
Name[zh_CN.GB2312]=用户代理描述 (NN 3.01 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/3.01 (appPlatform; I; appSysName appSysRelease appMachineType)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=3.01
X-KDE-UA-DYNAMIC-ENTRY=1
