[Desktop Entry]
Encoding=UTF-8
Name=UADescription (NN 4.7 on Windows 95)
Name[af]=Ua-beskrywing (Nn 4.7 op Vensters 95)
Name[be]=UADescription (NN 4.7 на Windows 95)
Name[br]=UADescription (NN 4.7 war Windows 95)
Name[bs]=UADescription (NN 4.7 na Windows 95)
Name[ca]=Descripció de AU (NN 4.7 en Windows 95)
Name[cs]=Popis agenta (NN 4.7 na Windows 95)
Name[cy]=UADisgrifiad (NN4.7 ar Windows 95)
Name[da]=Brugeragentbeskrivelse (NN 4.7 på Windows 95)
Name[de]=User-Agent-Kennung (NN 4.7 on Windows 95)
Name[el]=Περιγραφή UA (NN 4.7 σε Windows 95)
Name[eo]=UA-Priskribo (NN 4.7 sub Vindozo 95)
Name[es]=Descripción de AU (NN 4.7 en Windows 95)
Name[et]=UADescription (Netscape 4.7 Win95 platvormil)
Name[eu]=UA deskripzioa (NN 4.7  Windows 95-ean)
Name[fa]=UA توضیح NN ۴.۷ روی ویندوز ۹۵
Name[fi]=Käyttäjäagenttikuvaus (NN 4.7 Windows 95:lla)
Name[fr]=Identité du navigateur (Navigator 4.7 sous Windows 95)
Name[fy]=GA-omskriuwing (NN 4.76 op Windows 95)
Name[gl]=UADescription (NN 4.7 en Windows 95)
Name[he]=UADescription (Windows 95ב־ NN 4.7)
Name[hi]=यूएडी-डिस्क्रिप्शन (एनएन 4.7 विंडोज़ 95 पर)
Name[hu]=Böngészőtípus (NN 4.7, Win 95)
Name[is]=UAD strengur (NN 4.7 on Windows 95)
Name[it]=DescrizioneUA (NN 4.7 su Windows 95)
Name[lt]=Vartotojo agento aprašymas (NN 4.7 ir Windows 95)
Name[lv]=UAApraksts (NN 4.7 uz Windows 95)
Name[mk]=UADescription (NN 4.7 на Windows 95)
Name[mn]=UserAgent-Тодорхойлолт (NN 4.7 on Windows 95)
Name[mt]=UADescription (NN 4.7 fuq Windows 95)
Name[nb]=Brukeragent (NN 4.7 på Windows 95)
Name[nds]=UA-Beschrieven (NN 4.7 op Windows 95)
Name[nl]=GA-beschrijving (NN 4.76 op Windows 95)
Name[nn]=Brukaragent (NN 4.7 på Windows 95)
Name[nso]=UAThlaloso (NN4.7 go Windows 95)
Name[pa]=UADescription (ਵਿੰਡੋ ੯੫ ਤੇ ਤੇ4.73.01)
Name[pl]=Opis Programu Użytkownika (NN 4.7 na Windows 95)
Name[pt]=UADescription (NN 4.7 no Windows 95)
Name[pt_BR]=Descrição (NN 4.7 no Windows 95)
Name[ro]=Descriere UA (NN 4.7 pentru Windows 95)
Name[ru]=UADescription (NN 4.7 на Windows 95)
Name[se]=UA-čilgehus (NN 4.7 ja Windows 95)
Name[sk]=Popis agenta (NN 4.7 na Windows 95)
Name[sl]=UAOpis (NN 4.7 na Windows 95)
Name[sr]=UADescription (NN 4.7 на Windows 95)
Name[sr@Latn]=UADescription (NN 4.7 na Windows 95)
Name[sv]=AA-beskrivning (NN 4.7 på Windows 95)
Name[ta]=UAவிவரம் (NN 4.7 on Windows 95)
Name[tg]=ТавзеҳиUA (NN 4.7 ба Windows 95)
Name[tr]=UA Tanımı (Windows 95 üzerinde NN 4.7)
Name[uk]=UADescription (NN 4.7 на Windows 95)
Name[uz]=UADescription (Windows 95 билан NN 4.7)
Name[ven]=Thalutshedzo ya UA (NN 4.7 kha 95)
Name[vi]=UADescription (NN 4.7 trên Windows 95)
Name[xh]=UADescription (NN 4.7 kwi Windows.95)
Name[xx]=xxUADescription (NN 4.7 on Windows 95)xx
Name[zh_CN]=用户代理描述 (运行于 Windows 95 的 NN 4.7)
Name[zh_TW]=使用者代理描述 (NN 4.7 on Windows 95)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.7 [appLanguage] (Win95; U)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=95
X-KDE-UA-DYNAMIC-ENTRY=1
