[Desktop Entry]
Encoding=UTF-8
Name=UADescription (NN 4.7 on Windows 95)
Name[fr]=Identité du navigateur (Navigator 4.7 sous Windows 95)
Name[x-test]=xxUADescription (NN 4.7 on Windows 95)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.7 [appLanguage] (Win95; U)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=95
X-KDE-UA-DYNAMIC-ENTRY=1
