[Desktop Entry]
Encoding=UTF-8
Name=UADescription (NN 4.76 on current)
Name[af]=Ua-beskrywing (Nn 4.76 op huidige)
Name[be]=UADescription (NN 4.76 на цякучай)
Name[bs]=UADescription (NN 4.76 na trenutnom)
Name[ca]=Descripció de AU (NN 4.76 sobre l'actual)
Name[cs]=Popis agenta (NN 4.76 na aktuálním)
Name[cy]=UADisgrifiad (NN 4.76 ar gyfredol)
Name[da]=Brugeragentbeskrivelse (NN 4.76 på denne)
Name[de]=User-Agent-Kennung (NN 4.76 on current)
Name[el]=Περιγραφή UA (NN 4.76 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (NN 4.76 sub nuna)
Name[es]=Descripción de AU (NN 4.76 en actual)
Name[et]=UADescription (Selles masinas töötav Netscape 4.76)
Name[eu]=UA deskripzioa (NN 4.76 unekoan)
Name[fa]=UA توضیحNN ۴.۷۶ روی فعلی
Name[fi]=Käyttäjäagenttikuvaus (NN 4.76 nykyisellä)
Name[fr]=Identité du navigateur (Navigator 4.76 sous le système actuel)
Name[fy]=GA-omskriuwing (NN 4.76 op hjoeddeisk)
Name[ga]=UADescription (NN 4.76 ar an gcóras reatha)
Name[gl]=UADescription (NN 4.76 no actual)
Name[he]=UADescription (NN 4.76 בנוכחי)
Name[hi]=यूएडी-डिस्क्रिप्शन (एनएन 4.76 हालिया पर)
Name[hu]=Böngészőtípus (NN 4.76)
Name[is]=UAD strengur (NN 4.76 on current)
Name[it]=DescrizioneUA (NN 4.76)
Name[lt]=Vartotojo agento aprašymas (NN 4.76 ir esama)
Name[lv]=UAApraksts (NN 4.76 uz tekošā)
Name[mk]=UADescription (NN 4.76 на тековен)
Name[mn]=UserAgent-Тодорхойлолт (NN 4.76 on current)
Name[mt]=UADescription (NN 4.76 fuq kurrenti)
Name[nb]=Brukeragent (NN 4.76 på denne)
Name[nds]=UA-Beschrieven (NN 4.76 op dit Systeem)
Name[nl]=GA-beschrijving (NN 4.76 op huidige)
Name[nn]=Brukaragent (NN 4.76 på denne)
Name[nso]=UAThlaloso (NN 4.76 go ya bjale)
Name[pa]=UAਵੇਰਵਾ (ਮੌਜੂਦਾ ਤੇ NN 4.76)
Name[pl]=Opis Programu Użytkownika (NN 4.76 na bieżącym)
Name[pt]=UADescription (NN 4.76 no sistema actual)
Name[pt_BR]=Descrição (NN 4.76 no sistema atual)
Name[ro]=Descriere UA (NN 4.76 pentru sistemul de operare curent)
Name[ru]=UADescription (NN 4.76 на текущей)
Name[se]=UA-čilgehus (NN 4.76 dás)
Name[sk]=Popis agenta (NN 4.76 na aktuálnom)
Name[sl]=UAOpis (NN 4.76 na trenutnem)
Name[sr]=UADescription (NN 4.76 на тренутном)
Name[sr@Latn]=UADescription (NN 4.76 na trenutnom)
Name[sv]=AA-beskrivning (NN 4.76 på aktuell)
Name[ta]=UAவிவரம் (NN 4.76 on current)
Name[tg]=ТавзеҳиUA (NN 4.76 равон)
Name[tr]=UA Tanımı (güncel üzerinde NN 4.76)
Name[uk]=UADescription (NN 4.76  на поточній ОС)
Name[uz]=UADescription (жорий билан NN 4.76)
Name[ven]=Thalutshedzo ya UA (NN 4.76 zwa zwino)
Name[vi]=UADescription (NN 4.76 trên trình duyệt đang dùng)
Name[xh]=UADescription (NN 4.76 okwangoku)
Name[xx]=xxUADescription (NN 4.76 on current)xx
Name[zh_CN]=用户代理描述 (运行于本机的 NN 4.76)
Name[zh_TW]=使用者代理描述 (NN 4.76 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.76 (appPlatform; U; appSysName appSysRelease appMachineType)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-DYNAMIC-ENTRY=1
