[Desktop Entry]
Name=UADescription (NN 4.76 on current)
Name[af]=UA-BESKRYWING (NN 4.76 OP HUIDIGE)
Name[cs]=Popis agenta (NN 4.76 na aktuálním)
Name[da]=Brugeragentbeskrivelse (NN 4.76 på nuværende)
Name[de]=UserAgent-Beschreibung (NN 4.76 on current)
Name[el]=Περιγραφή UA (NN 4.76 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (NN 4.76 sub nuna)
Name[es]=Descripción de AU (NN 4.76 en actual)
Name[et]=UADescription (Selles masinas töötav Netscape 4.76)
Name[fi]=Käyttäjäagenttikuvaus (NN 4.76 on current)
Name[fr]=Identité du navigateur (Navigator 4.76 sous le système actuel)
Name[hu]=Böngészőtípus (NN 4.76)
Name[is]=UAD strengur (NN 4.76 on current)
Name[it]=DescrizioneUA (NN 4.76)
Name[lt]=Vartotojo agento apibrėžimas (NN 4.76 ir esama OS)
Name[lv]=UAApraksts (NN 4.76 uz tekošā)
Name[nl]=GA-beschrijving (NN 4.76 op huidige)
Name[pl]=Opis Programu Użytkownika (NN 4.76 na bieżącym)
Name[pt_BR]=UADescription (NN 4.76 actualmente)
Name[pt]=UADescription (NN 4.76 actualmente)
Name[sk]=Popis agenta (NN 4.76 na aktuálnom)
Name[sl]=UAopis (NN 4.76 na trenutnem)
Name[sv]=AAbeskrivning (NN 4.76 på aktuell)
Name[tr]=UA Tanımı (güncel üzerinde NN 4.76)
Name[uk]=UADescription (NN 4.76  на поточній ОС)
Name[vi]=UADescription (NN 4.76 trên trình duyệt đang dùng)
Name[zh_CN.GB2312]=用户代理描述 (NN 4.76 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.76 (appPlatform; U; appSysName appSysRelease appMachineType)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-DYNAMIC-ENTRY=1
