[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Netscape 7.1 on current)
Name[az]=İA İzahatı (Netscape 7.1 on current)
Name[ca]=Descripció UA (Netscape 7.1 a l'actual)
Name[cs]=Popis agenta (Netscape 7.1 na aktuálním)
Name[da]=UADescription (Netscape 7.1 på denne)
Name[de]=User-Agent-Kennung (Netscape 7.1 on current)
Name[eo]=UA-Priskribo (Netskapo 7.1 sub nuna)
Name[es]=UADescription (Netscape 7.1 en actual)
Name[et]=UADescription (Selles masinas töötav Netscape 7.1)
Name[fi]=Käyttäjäagenttikuvaus (Netscape 7.1 nykyisellä)
Name[fr]=Identité du navigateur (Netscape 7.1 sous le système actuel)
Name[fy]=GA-omskriuwing (Netscape 7.1 op hjoeddeisk)
Name[ga]=UADescription (Netscape 7.1 ar an gcóras reatha)
Name[he]=UADescription (Netscape 7.1 בנוכחי)
Name[hi]=यूए-डिस्क्रिप्शन (मौजूदा में नेटस्केप 7.1)
Name[hu]=Böngészőtípus (Netscape 7.1)
Name[is]=UAD strengur (Netscape 7.1 á núverandi)
Name[it]=DescrizioneUA (Netscape 7.1 su sistema attuale)
Name[lt]=Vartotojo agento aprašymas (Netscape 7.1 ir esama)
Name[mk]=UADescription (Netscape 7.1 на тековно)
Name[mt]=UADescription (NN 3.01 fuq kurrenti)
Name[nb]=Brukeragent (Netscape 7.1 på denne)
Name[nl]=GA-beschrijving (Netscape 7.1 op current)
Name[nn]=Brukaragent (Netscape 7.1 på denne)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਤੇ Netscape 7.1)
Name[pl]=Opis Programu Użytkownika (Netscape 7.1)
Name[pt]=UADescription (Netscape 7.1 no sistema actual)
Name[pt_BR]=Descrição (Netscape 7.1 no sistema atual)
Name[ru]=UADescription (Netscape 7.1 на текущей)
Name[sl]=UAOpis (Netscape 7.1 na trenutnem)
Name[sr]=UADescription (Netscape 7.1 на тренутном)
Name[sr@Latn]=UADescription (Netscape 7.1 на тренутном)
Name[sv]=AA-beskrivning (Netscape 7.1 på aktuell)
Name[ta]=UAவிவரம் (நடப்பில் 3.01 நெட்ஸ்கேப்)
Name[tr]=UA Tanımı (Netscape 7.1)
Name[xx]=xxUADescription (Netscape 7.1 on current)xx
Name[zh_CN]=用户代理描述 (运行于本机的 Netscape 7.1)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appSysName appMachineType; en-CA; rv:1.4) Gecko/20030624 Netscape/7.1 (ax)
X-KDE-UA-NAME=Netscape
X-KDE-UA-VERSION=7.1
X-KDE-UA-DYNAMIC-ENTRY=1
