[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 4.03 on NT)
Name[fr]=Identité du navigateur (Opera 4.03 sous Windows NT)
Name[x-test]=xxUADescription (Opera 4.03 on NT)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/4.03 (Windows NT 4.0; U)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=4.03
X-KDE-UA-SYSNAME=Windows NT
X-KDE-UA-SYSRELEASE=4.0
