[Desktop Entry]
Encoding=UTF-8
Name=UADescription (M18 on current)
Name[af]=Ua-beskrywing (M18 op huidige)
Name[be]=UADescription (M18 на цякучай)
Name[ca]=Descripció de AU (M18 sobre l'actual)
Name[cs]=Popis agenta (M18 na aktuálním)
Name[cy]=UADisgrifiad (M18 ar gyfredol)
Name[da]=Brugeragentbeskrivelse (M18 på nuværende)
Name[de]=User-Agent-Kennung (M18 on current)
Name[el]=Περιγραφή UA (M18 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (M18 sub nuna)
Name[es]=Descripción de AU (M18 en actual)
Name[et]=UADescription (Selles masinas töötav Mozilla M18)
Name[fa]=UA توضیح M۱۸ روی فعلی
Name[fi]=Käyttäjäagenttikuvaus (M18 nykyisellä)
Name[fr]=Identité du navigateur (M18 sous le système actuel)
Name[gl]=UADescription (M18 no actual)
Name[hi]=यूएडी-डिस्क्रिप्शन (एम18 हालिया पर)
Name[hu]=Böngészőtípus (M18)
Name[is]=UAD strengur (M18 on current)
Name[it]=DescrizioneUA (M18)
Name[lt]=Vartotojo agento apibrėžimas (M18 ir esama OS)
Name[lv]=UAApraksts (M18 uz tekošā)
Name[mn]=UserAgent-Тодорхойлолт (M18 on current)
Name[nb]=UA-beskrivelse (M18 på nåværende)
Name[nl]=GA-beschrijving (M18 op huidige)
Name[nn]=UA-skildring (M18 på denne)
Name[nso]=UAThlaloso (M18 go ya bjale)
Name[pl]=Opis Programu Użytkownika (M18 na bieżącym)
Name[pt]=UADescription (M18 actualmente)
Name[pt_BR]=Descrição (M18 no sistema atual)
Name[ro]=Descriere UA (M18 pentru sistemul de operare curent)
Name[ru]=UADescription (M18 на текущей)
Name[se]=UA-čilgehus (M18 dás)
Name[sk]=Popis agenta (M18 na aktuálnom)
Name[sl]=UAopis (M18 na trenutnem)
Name[sr]=UADescription (М18 на тренутном)
Name[sv]=AAbeskrivning (M18 på aktuell)
Name[tr]=UA Tanımı (güncel üzerinde M18)
Name[uk]=UADescription (M18 на поточній ОС)
Name[ven]=Thalutshedzo ya UA (M18 kha ya zwino)
Name[vi]=UADescription (M18 trên trình duyệt đang dùng)
Name[xh]=UADescription (M18 okwangoku)
Name[xx]=xxUADescription (M18 on current)xx
Name[zh_CN]=用户代理描述 (运行于本机的 M18)
Name[zh_TW]=使用者代理描述 (M18 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X; en-us) AppleWebKit/48 (like Gecko) Safari/48
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=1.0
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
