[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Safari 1.2 on MacOS X)
Name[br]=UADescription (Safari 1.2 war MacOS X)
Name[ca]=Descripció UA (Safari 1.2 a MacOS X)
Name[cs]=Popis agenta (Safari 1.2 na MacOS X)
Name[da]=UADescription (Safari 1.2 på MacOS X)
Name[de]=UA-Beschreibung (Safari 1.2 on MacOS X)
Name[el]=Περιγραφή UA (Safari 1.2 σε MacOS X)
Name[es]=UADescription (Safari 1.2 en MacOS X)
Name[et]=UADescription (Safari 1.2 MacOS X platvormil)
Name[eu]=UA deskripzioa (Safari 1.2  MacOS X-en)
Name[fi]=Käyttäjäagenttikuvaus (Safari 1.2 MacOS X:llä)
Name[fr]=Identité du navigateur (Safari 1.2 sous MacOS X)
Name[fy]=GA-omskriuwing (Safari 1.2 op MacOS X)
Name[ga]=UADescription (Safari 1.2 ar MacOS X)
Name[he]=UADescription (Safari על MacOS X)
Name[hu]=Böngészőtípus (Safari 1.2, MacOS X)
Name[is]=UAD strengur (Safari 1.2 á MacOS X)
Name[it]=DescrizioneUA (Safari 1.2 su MacOS X)
Name[lt]=Vartotojo agento aprašymas (Safari 1.2 ir MacOS X)
Name[lv]=UAApraksts (Safari 1.2 uz MacOS X)
Name[nb]=Brukeragent (Safari 1.2 på MacOS X)
Name[nds]=User-Agent-Beschrieven (Safari 1.2 op MacOS X)
Name[nl]=GA-beschrijving (Safari 1.2 op MacOS X)
Name[nn]=Brukaragent (Safari 1.2 på MacOS X)
Name[pa]=UADescription (MacOS X ਤੇ Safari 1.2)
Name[pl]=UADescription (Safari 1.2 na MacOS X)
Name[pt]=UADescription (Safari 1.2 no MacOS X)
Name[pt_BR]=Descrição (Safari 1.2 no MacOS X)
Name[ro]=Descriere UA (Safari 1.2 pentru MacOS X)
Name[ru]=UADescription (Safari 1.2 на Mac MacOS X)
Name[sl]=UAOpis (Safari 1.2 na MacOS X)
Name[sr]=UADescription (Safari 1.2 на MacOS X)
Name[sr@Latn]=UADescription (Safari 1.2 na MacOS X)
Name[sv]=AA-beskrivning (Safari 1.2 på MacOS X)
Name[ta]=UAவிவரம் (Safari 1.2 on MacOS X)
Name[tr]=UA Tanımı (MacOS X'de Safari 1.2)
Name[uk]=UADescription (Safari 1.2 на MacOS X)
Name[xx]=xxUADescription (Safari 1.2 on MacOS X)xx
Name[zh_CN]=用户代理描述 (运行于 MacOS X 的 Safari 1.2)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X; appLanguage) AppleWebKit/125.5.5 (KHTML, like Gecko) Safari/125.11
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=1.2.4
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
