[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Safari 1.2 on MacOS X)
Name[br]=UADescription (Safari 1.2 war MacOS X)
Name[ga]=UADescription (Safari 1.2 ar MacOS X)
Name[pt]=UADescription (Safari 1.2 no MacOS X)
Name[pt_BR]=UADescription (Safari 1.2 no MacOS X)
Name[sv]=AA-beskrivning (Safari 1.2 på MacOS X)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X; appLanguage) AppleWebKit/125.5.5 (KHTML, like Gecko) Safari/125.11
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=1.2.4
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
