[Desktop Entry]
Encoding=UTF-8
Name=UADescription (w3m 0.1.9)
Name[af]=Ua-beskrywing (w3m 0.1.9)
Name[ca]=Descripció de AU (w3m 0.1.9)
Name[cs]=Popis agenta (w3m 0.1.9)
Name[cy]=UADisgrifiad (w3m 0.1.9)
Name[da]=Brugeragentbeskrivelse (w3m 0.1.9)
Name[de]=User-Agent-Kennung (w3m 0.1.9)
Name[el]=Περιγραφή UA (w3m 0.1.9)
Name[eo]=UA-Priskribo (w3m 0.1.9)
Name[es]=Descripción de AU (w3m 0.1.9)
Name[eu]=UA deskripzioa (w3m 0.1.9)
Name[fa]=UA توضیحw3m ۰.۱.۹
Name[fi]=Käyttäjäagenttikuvaus (w3m 0.1.9)
Name[fr]=Identité du navigateur (w3m 0.1.9)
Name[fy]=GA-omskriuwing (w3m 0.1.9)
Name[hi]=यूएडी-डिस्क्रिप्शन (डब्ल्यू3एम 0.1.9)
Name[hu]=Böngészőtípus (w3m 0.1.9)
Name[is]=UAD strengur (w3m 0.1.9)
Name[it]=DescrizioneUA (w3m 0.1.9)
Name[lt]=Vartotojo agento aprašymas (w3m 0.1.9)
Name[lv]=UAApraksts (w3m 0.1.9)
Name[mn]=UserAgent-Тодорхойлолт (w3m 0.1.9)
Name[nb]=UA-beskrivelse (w3m 0.1.9)
Name[nds]=UA-Beschrieven (w3m 0.1.9)
Name[nl]=GA-beschrijving (w3m 0.1.9)
Name[nn]=Brukaragent (w3m 0.1.9)
Name[nso]=UAThlaloso (w3m 0.1.9)
Name[pa]=UAਵੇਰਵਾ (w3m 0.1.9)
Name[pl]=Opis Programu Użytkownika (w3m 0.1.9)
Name[pt_BR]=Descrição (w3m 0.1.9)
Name[ro]=Descriere UA (w3m 0.1.9)
Name[sk]=Popis agenta (w3m 0.1.9)
Name[sl]=UAopis (w3m 0.1.9)
Name[sv]=AA-beskrivning (w3m 0.1.9)
Name[ta]=UAவிவரம் (w3m 0.1.9)
Name[tg]=ТавзеҳиUA (w3m 0.1.9)
Name[tr]=UA Tanımı (w3m 0.1.9)
Name[ven]=Thalutshedzo ya UA (w3m 0.1.9)
Name[xx]=xxUADescription (w3m 0.1.9)xx
Name[zh_CN]=用户代理描述 (w3m 0.1.9)
Name[zh_TW]=使用者代理描述 (w3m 0.1.9)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=w3m/0.1.9
X-KDE-UA-NAME=w3m
X-KDE-UA-VERSION=0.1.9
