[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Wget 1.5.3)
Name[fr]=Identité du navigateur (Wget 1.5.3)
Name[x-test]=xxUADescription (Wget 1.5.3)xx
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Wget/1.5.3
X-KDE-UA-NAME=Wget
X-KDE-UA-VERSION=1.5.3
