[Desktop Entry]
Name=UADescription (Wget 1.5.3)
Name[af]=UA-BESKRYWING (WGET 1.5.3)
Name[cs]=Popis agenta (Wget 1.5.3)
Name[da]=Brugeragentbeskrivelse (Wget 1.5.3)
Name[de]=UserAgent-Beschreibung (Wget 1.5.3)
Name[el]=Περιγραφή UA (Wget 1.5.3)
Name[eo]=UA-Priskribo (Wget 1.5.3)
Name[es]=Descripción de AU (Wget 1.5.3)
Name[fi]=Käyttäjäagenttikuvaus (Wget 1.5.3)
Name[fr]=Identité du navigateur (Wget 1.5.3)
Name[hu]=Böngészőtípus (Wget 1.5.3)
Name[is]=UAD strengur (Wget 1.5.3)
Name[it]=DescrizioneUA (Wget 1.5.3)
Name[lt]=Vartotojo agento apibrėžimas (Wget 1.5.3)
Name[lv]=UAApraksts (Wget 1.5.3)
Name[nl]=GA-beschrijving (Wget 1.5.3)
Name[pl]=Opis Programu Użytkownika (Wget 1.5.3)
Name[sk]=Popis agenta (Wget 1.5.3)
Name[sl]=UAopis (Wget 1.5.3)
Name[sv]=AAbeskrivning (Wget 1.5.3)
Name[tr]=UA Tanımı (Wget 1.5.3)
Name[zh_CN.GB2312]=用户代理描述 (Wget 1.5.3)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Wget/1.5.3
X-KDE-UA-NAME=Wget
X-KDE-UA-VERSION=1.5.3
