[Desktop Entry]
Type=Link
URL=ftp://ftp.kde.org/pub/kde
Icon=ftp
Name=KDE Official FTP
Name[af]=KDE AMPTELIKE FTP
Name[az]=KDE FTP vericisi
Name[bg]=Основен FTP-сървър на KDE
Name[br]=FTP ofisiel KDE
Name[bs]=KDE službeni FTP
Name[ca]=FTP oficial del KDE
Name[cs]=Oficiální FTP projektu KDE
Name[da]=KDE officiel Ftp
Name[de]=Offizieller FTP-Bereich von KDE
Name[el]=Επίσημο FTP του KDE
Name[eo]=Oficiala FTP-arĥivo de KDE
Name[es]=FTP oficial de KDE
Name[et]=KDE ametlik FTP sait
Name[eu]=KDE FTP Ofiziala
Name[fi]=KDE:n virallinen FTP
Name[fr]=Site FTP officiel de KDE
Name[gl]=FTP Oficial de KDE
Name[he]=KDE לש ימשרה FTP-ה
Name[hr]=KDE službeni FTP
Name[hu]=Hivatalos KDE FTP
Name[is]=FTP gagnabanki KDE
Name[it]=FTP ufficiale di KDE
Name[ja]=KDE 公式FTP
Name[ko]=KDE 공식 FTP
Name[lt]=KDE Oficialus FTP
Name[lv]=KDE Oficiālais FTP
Name[mi]=FTP KDE no te ture
Name[mk]=Официјален KDE FTP
Name[mt]=FTP Uffiċjali tal-KDE
Name[nl]=KDE's Officiële ftp
Name[no]=KDEs offisielle FTP
Name[no_NY]=Offisiell KDE-FTP
Name[oc]=FTP oficial dèu KDE
Name[pl]=Oficjalny serwer FTP dla KDE
Name[pt_BR]=FTP oficial do KDE
Name[pt]=FTP Oficial do KDE
Name[ru]=Основной FTP-сервер KDE
Name[sk]=Oficiálne FTP KDE
Name[sl]=Uradni FTP za KDE
Name[sr]=Zvanočni KDE FTP
Name[sv]=KDE:s officiella FTP-server
Name[ta]=KDE ¯ò¾¢§Â¡¸â÷Å FTP 
Name[tr]=KDE FTP sunucusu
Name[uk]=Офіціальний FTP KDE
Name[vi]=FTP chính thức của KDE 
Name[zh_CN.GB2312]=KDE 官方 FTP 站点
Name[zh_TW.Big5]=KDE 官方 FTP 站
Open=false
X-KDE-TreeModule=Directory
