[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/ebrowsing/index.html
Icon=enhanced_browsing
Exec=kcmshell ebrowsing


X-KDE-Library=kurifilt
X-KDE-FactoryName=kurifilt
X-KDE-ParentApp=kcontrol

Name=Web Shortcuts
Name[af]=Web Kortpaaie
Name[ar]=اختصارات الويب
Name[az]=Veb Qısa Yolları
Name[bg]=Уеб съкращения
Name[bn]=ওয়েব শর্টকাট
Name[br]=Berradennoù ar gwiad
Name[bs]=Web kratice
Name[ca]=Dreceres web
Name[cs]=Webové zkratky
Name[cy]=Byr-lwybrau Gwe
Name[da]=Net-genveje
Name[de]=Web-Tastenkürzel
Name[el]=Συντομεύσεις Ιστού
Name[eo]=TTT Klavokombinoj
Name[es]=Accesos rápidos para web
Name[et]=Veebi kiirkorraldused
Name[eu]=Web lasterbideak
Name[fa]=میانبرهای وب
Name[fi]=WWW-pikavalinnat
Name[fr]=Raccourcis Web
Name[fy]=Webskeakels
Name[ga]=Aicearraí Gréasáin
Name[gl]=Atallos Web
Name[he]=קיצורי דרך אינטרנטיים
Name[hi]=वेब शॉर्टकट
Name[hr]=Web Prečice
Name[hu]=Keresési azonosítók
Name[is]=Vefskammstafanir
Name[it]=Scorciatoie del web
Name[ja]=Webショートカット
Name[lo]=ປຸ່ມພິມພັລດ
Name[lt]=Žiniatinklio trumpės
Name[lv]=Tīmekļa īsinājumikonas
Name[mk]=Интернет-кратенки
Name[mn]=Вэб-богино товчилуур
Name[nb]=Nettsnarveier
Name[nds]=Söökafkörten
Name[nl]=Webkoppelingen
Name[nn]=Vevsnarvegar
Name[nso]=Ditselakopana tsa Web
Name[pa]=ਵੈਬ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty sieciowe
Name[pt]=Atalhos Web
Name[pt_BR]=Atalhos da Web
Name[ro]=Acceleratori de web
Name[ru]=Сокращения Веб
Name[se]=Fierpmádatlávkestagat
Name[sk]=Internetové skratky
Name[sl]=Spletne bližnjice
Name[sr]=Веб пречице
Name[sr@Latn]=Veb prečice
Name[ss]=Tindlela letimfunshane te web 
Name[sv]=Webbgenvägar
Name[ta]=வலை குறுக்கு வழிகள்
Name[tg]=Мухтасаркунии Вэб
Name[th]=ทางลัดเว็บ
Name[tr]=Web Kısayolları
Name[uk]=Скорочення Тенет
Name[uz]=Веб-қисқартмалари
Name[ven]=Tshikhau tsha webu
Name[wa]=Rascourtis waibe
Name[xh]=Ezimfutshane ze Web
Name[xx]=xxWeb Shortcutsxx
Name[zh_CN]=网页缩写
Name[zh_TW]=網頁捷徑
Name[zu]=Izindlela Ezimfishane ze-Web

Comment=Configure enhanced browsing
Comment[af]=Konfigureer verbeterde blaaiïng
Comment[ar]=قم بإعداد التصفح المحسّن
Comment[az]=Təkmilləşdirilmiş gəzintini quraşdır
Comment[bg]=Настройки на уеб съкращения и бързи препратки
Comment[bn]=বর্ধিত ব্রাউজিং কনফিগার করুন
Comment[bs]=Podesite napredno pregledavanje
Comment[ca]=Aquí podeu configurar la navegació millorada
Comment[cs]=Nastavení rozšířeného prohledávání
Comment[cy]=Ffurfweddu pori uchel
Comment[da]=Indstil udvidet netsøgning
Comment[de]=Die Verwendung von Internet-Suchwörtern einrichten
Comment[el]=Ρυθμίστε την εμπλουτισμένη περιήγηση
Comment[eo]=Agordo de rapidserĉo, ŝlosilvortoj ktp.
Comment[es]=Configuración de la navegación mejorada
Comment[et]=Täiustatud lehitsemise konfigureerimine
Comment[eu]=Konfiguratu arakatze hobetua
Comment[fa]=مرور پیشرفته‌ی خود را تنظیم کنید
Comment[fi]=Muokkaa selaimen lisäasetuksia
Comment[fr]=Configuration de la navigation avancée
Comment[fy]=Hjir kinst avansearre blêdzjen ynstelle
Comment[ga]=Cumraigh brabhsáil fheabhsaithe
Comment[gl]=Configura-la Navegación Mellorada
Comment[he]=שינוי הגדרות הגלישה המשופרת
Comment[hi]=एनहेंस्ड ब्राउज़िंग कॉन्फ़िगर करें
Comment[hr]=Ovdje možete namjestiti napredno pregledavanje
Comment[hu]=A keresési beállításokat lehet módosítani
Comment[is]=Hér getur þú stillt endurbætur á vefskoðara
Comment[it]=Configurazione della navigazione avanzata
Comment[ja]=拡張ブラウズの設定
Comment[lo]=ທ່ານສາມາດປັບແຕ່ງການຮງກເບິ່ງເວບເພດຈ໌ຂັ້ນກ້າວຫນ້າໄດ້ດັ່ງນີ້
Comment[lt]=Konfigūruoti išplėstinį naršymą
Comment[lv]=Šeit Jūs varat nokonfigurēt Uzlaboto Pārlūkošanu
Comment[mk]=Конфигурирајте го унапреденото прелистување
Comment[mn]=Интернэт-хайлттай нэгжилт тохируулах
Comment[mt]=Ikkonfigura l-browsing estiż
Comment[nb]=Oppsett av utvidet surfing
Comment[nds]=Söökafkörten för't gaue Söken in't Nett inrichten
Comment[nl]=Hier kunt u het geavanceerd browsen instellen
Comment[nn]=Oppsett av utvida surfing
Comment[nso]=Beakanya boinyakisi bjo bo hlohleleditswego
Comment[pa]=ਸਹਾਇਕ ਝਲਕਾਰਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja rozszerzonych cech przeglądania
Comment[pt]=Configuração da navegação melhorada
Comment[pt_BR]=Configura a navegação melhorada
Comment[ro]=Configurează navigarea de web avansată
Comment[ru]=Сокращения, используемые при просмотре Веб
Comment[se]=Heivet viiddiduvvon fierbmegolgama
Comment[sk]=Nastaenie rozšíreného prehliadača
Comment[sl]=Nastavite izboljšano brskanje
Comment[sr]=Подешавање побољшаног прегледања
Comment[sr@Latn]=Podešavanje poboljšanog pregledanja
Comment[sv]=Anpassa utökad webbläsning
Comment[ta]= மேம்படுத்தப்பட்ட தேடுதலை அமை
Comment[tg]=Мухтасаркунӣ, дар вақти тасвири Вэб истифода мешаванд
Comment[th]=ปรับแต่งการเรียกดูเว็บเพจขั้นก้าวหน้า
Comment[tr]=Gelişkin taramayı buradan yapılandırabilirsiniz
Comment[uk]=Налаштування спецфункцій навігації
Comment[uz]=Тезлаштирилган веб-кўришни мослаш
Comment[ven]=Dzudzanyani burausu yo engedzhwaho
Comment[vi]=Cấu hình duyệt nâng cao
Comment[wa]=Apontyî li naiviaedje waibe avancî
Comment[xh]=Qwalasela ukhangelo lwencwadi olongezelelweyo
Comment[xx]=xxConfigure enhanced browsingxx
Comment[zh_CN]=配置增强浏览特性
Comment[zh_TW]=設定增強式瀏覽
Comment[zu]=Hlannganisela ukucinga okujulile

Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
Keywords[af]=Verbeterde Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
Keywords[ar]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,التصفح المحسن,التصفح,الشبكة العالمية,الإنترنت مفاتيح الإنترنت,فلاتر الإنترنت,شبكة,الشبكة,محركات البحث,اختصارات,الاختصارات
Keywords[az]=Təkmilləşmiş Darama,Darama,WWW,İnternet,İnternet Açar Kəliimələri,İnternet Süzgəcləri,Şəbəkə,Qısa yollar,Qısa yol düymələri
Keywords[bg]=съкращения, сърфиране, разширено, уеб, препратка, връзка, хипервръзка, Enhanced Browsing, Browsing, WWW, Internet, Internet Keywords, Internet Filters, Network, Search Engines, Shortcuts
Keywords[ca]=Navegació millorada,Navegació,WWW,Internet,Paraules clau d'Internet,Filtres d'Internet,Xarxa,Motors de recerca,Dreceres
Keywords[cs]=Rozšířené procházení,Procházení,WWW,Internet,Klíčová slova internetu,Internetové filtry,Síť,Zkratky,Vyhledávací stroje
Keywords[cy]=Pori Uchel,Pori,WWW,Rhyngrwyd,Allweddair Rhyngrwyd,Hidl Rhyngrwyd,Rhwydwaith,Peiriannau Chwilio,Llwybrau Byr
Keywords[da]=Udvidet netsøgning,Netsøgning,www,Internet,Internet-nøgleord,Internet-filtre,Søgemaskiner,Genveje
Keywords[de]=Browsen,Erweitertes Browsen,WWW,Internet,Stichwörter,Filter,Netz,Internet-Filter,Suchmaschinen,Kurzbefehle,Netzwerk
Keywords[el]=Εμπλουτισμένη περιήγηση,Περιήγηση,WWW,Διαδίκτυο,Λέξεις κλειδιά διαδικτύου,Φίλτρα διαδικτύου,Δίκτυο,Μηχανές αναζήτησης,Συντομεύσεις
Keywords[eo]=progresintoj,TTT,krozado,WWW,Interreto,filtrilo,reto,serĉiloj,mallongigoj
Keywords[es]=Navegación Mejorada,Navegación,WWW,Internet,Palabras clave de Internet,Filtros de Internet,Red,Motores de búsqueda,Accesos directos
Keywords[et]=Täiustatud lehitsemine,lehitsemine,WWW,internet,interneti võtmesõnad,interneti filtrid,võrk,otsingumootorid,kiirkorraldused
Keywords[eu]=Arakatze hobetua,Arakatzea,WWW,Internet,Interneteko hitz gakoak, Interneteko irakazkiak,Sarea,Bilaketa motorea,Lasterbideak
Keywords[fa]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,مرور پیشرفته
Keywords[fi]=Edistynyt selailu,selailu,WWW,Internet,Internet-hakusanat,Internet suodattimet,Verkko,Hakukoneet,Pikavalinnat
Keywords[fr]=navigation avancée,navigation,www,web,internet,mots-clés internet,filtres internet,réseau,moteurs de recherche,raccourcis
Keywords[fy]=avansearre browsen,browsing,blêdzje,blêdzjen,www,ynternet,ynternet kaaiwurden,surfen,ynternetsykwurden,sykmasines,sykmotors, snelskeakels,ynternetfilters,Netwurk,blêdzje avensearre
Keywords[ga]=Brabhsáil Fheabhsaithe,Brabhsáil,WWW,Idirlíon,Eochairfhocail Idirlín,Scagairí Idirlín,Líonra,Innill Chuardaigh,Aicearraí
Keywords[gl]=Navegación Mellorada,Navegación,WWW,Internet,Palabras chave de Internet,Filtros de Internet,Rede,Ferramentas de Procura,Atallos
Keywords[he]=מילות מפתח אינטרנטיות,מסננים אינטרנטיים,רשת,מנועי חיפוש,קיצורי דרך,WWW,גלישה משופרת,גלישה,רשת,אינטרנט
Keywords[hi]=एनहैंस्ड ब्राउज़िंग,ब्राउज़िंग,डब्ल्यूडब्ल्यूडब्ल्यू,इंटरनेट,इंटरनेट की-वर्ड्स,इंटरनेट फ़िल्टर्स,नेटवर्क,सर्च इंजिन्स,शॉर्टकट्स
Keywords[hu]=böngészéskönnyítés,böngészés,WWW,internet,internetes kulcsszavak,internetes szűrők,hálózat,keresőszolgáltatók,keresési azonosítók
Keywords[id]=Browsing yang disempurnakan,browsing,WWW,Internet,Intranet Keywords,Internet Filter,Jaringan,Search Engines,Shortcuts
Keywords[is]=endurbætur,vefskoðun,vafri,flakka,WWW,Internet,Internet leitarorð,net,tenglar,tengill,hlekkur,hlekkir,leitarvél,internet
Keywords[it]=navigazione avanzata,navigazione,WWW,Internet,parole chiave Internet,filtri Internet,rete,scorciatoie,motori di ricerca
Keywords[ja]=拡張ブラウズ,ブラウズ,WWW,インターネット,インターネットキーワード,インターネットフィルタ,ネットワーク,検索エンジン,ショートカット
Keywords[ko]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,향상된,향상,더 나은,나은,브라우징,브라우저,웹,인터넷,거르개,네트웍,홈페이지,탐색,찾아가기,찾기
Keywords[lt]=Enhanced Browsing,Išplėstinis naršymas,WWW,voratinklis,Internet,Internetas,Internet Keywords,Interneto raktažodžiai,Internet Filters,Interneto filtrai,Network,tinklas,Search Engines,paieškos stotys,Shortcuts,nuorodos
Keywords[lv]=Uzlabota Pārlūkošana,Pārlūkošana,WWW,Internets,Interneta Atslēgas vārdi,Interneta Filtri,Tīkls,Meklēšanas dzinēji,ĪsinājumIkonas
Keywords[mk]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,унапредено прелистување,Прелистување,Интернет,Клучни Интернет зборови,Интернет филтри,Мрежа,Пребарувачки сервиси,Кратенки
Keywords[mn]=Нэгжих,Өргөтгөсөн нэгжилт,WWW,Интернэт,Түлхүүр үг,Шүүлт,Сүлжээ, Интернэт-Шүүлт, Хайлтын машин,Богино тушаал,Сүлжээ
Keywords[nb]=utvidet surfing,surfing,WWW,internett,internettnøkkelord,internettfilter,nettverk,verdensveven,søkemotorar,søking,snarveier
Keywords[nds]=Enhanced Browsing,Stövern,WWW,Internet,Internet Slötelwöör,Internet Filter,Nettwark,Söökmaschinen,Afkörten,Söökafkörten
Keywords[nl]=geavanceerd browsen,browsing,www,internet,internet keywords,surfen,internetzoektermen,zoekmachines,search engines,snelkoppelingen,internetfilters,Netwerk,verbeterd browsen
Keywords[nn]=utvida surfing,surfing,WWW,internett,internettnøkkelord,internettfilter,nettverk,verdsveven,søkjemotorar,søkjing,snarvegar
Keywords[nso]=Boinyakisi bjo bo Hlohleleditswego,Boinyakisi,WWW,Internet, Mantsuhlokwa a Internet ,Disekodi tsa Internet,Kgokagano,Di-Engine tsa Nyako, Ditselakopana
Keywords[pa]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts, ਇੰਟਰਨੈਟ, ਇੰਟਰਨੈਟ ਸ਼ਬਦ, ਇੰਟਰਨੈਟ ਫਿਲਟਰ, ਨੈਟਵਰਕ
Keywords[pl]=Rozszerzone przeglądanie,przeglądanie,WWW,Internet,słowa kluczowe w Internecie,filtry w Internecie,sieć,przeszukiwarki,skróty
Keywords[pt]=navegação melhorada,navegação,WWW,internet,palavras-chave da internet,filtros internet,rede,motores de busca,atalhos
Keywords[pt_BR]=navegação melhorada,navegação,WWW,Internet,palavras-chave Internet, filtros Internet,rede,mecanismos de procura,atalhos
Keywords[ro]=navigare avansată,răsfoire,WWW,Internet,cuvinte cheie Internet,filtre Internet,reţea,motoare de căutare,acceleratori
Keywords[sk]=Rozšírené prehliadanie,Prehliadač,Prehliadanie,WWW,Internet, Sieť,Klávesové skratky,Internetové kľúčové slová,Vyhľadávacie stroje,Skratky
Keywords[sl]=izboljšano brskanje,brskanje,WWW,splet,internet,ključne besede interneta,filtri interneta,omrežje,iskalni stroji,bližnjice
Keywords[sr]=Enhanced Browsing,Browsing,WWW,Интернет,Интернет Keywords,Интернет Filters,Network,Search Engines,Shortcuts,Прегледање,Мрежа,Пречице
Keywords[sr@Latn]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,Pregledanje,Mreža,Prečice
Keywords[sv]=Utökad webbläsning,Surfning,WWW,Internet,Internetsökord,Nätverk,Sökmotorer,Internetfilter,Genvägar
Keywords[ta]= அதிகப்படுத்தப்பட்ட உலாவுதல்,உலாவுதல்,WWW,இணைதளம்,இணைய முக்கிய வார்த்தைகள்,இணையதள வடிகட்டிகள்,வலைப்பின்னல்,தேடு இயந்திரங்கள்,குறுக்கு வழிகள்
Keywords[tr]=Gelişkin Tarama,Tarama,WWW,İnternet,İnternet Anahtar Kelimeleri,İnternet Süzgeçleri,Ağ,Kısayollar,Kısayol tuşları
Keywords[uk]=додаткова навігація,навігація,Browsing,WWW,Інтернет,Тенета,Internet,Мережа,машини пошуку,фільтри Інтернет,посилання
Keywords[uz]=Тезлаштирилган веб-кўриш,Қисқартмалар,WWW,Интернет,Интернет калит сўзлари,Интернет филтерлари,Тармоқ,Қидириш воситаси,Қисқартмалар
Keywords[ven]=Burausu yo Engedzhaho,WWW,Inithanete,Khii dza maipfi dza Inithanete,Dzifilithara dza Inithanethe,Vhukwamani,Mutshini wau toda,Zwa tshikhau 
Keywords[vi]=Duyệt nâng cao,duyệt,WWW,Internet,từ khoá Internet, Bộ lọc Internet,Mạng, Dụng cụ tìm kiếm,Shortcuts
Keywords[wa]=Naiviaedje waibe avancî,naivyî,naiviaedje,betchteu,waibe,WWW,internet,daegntoele,rascourtis waibe,passetes waibe,rantoele,ricwerreces,rascourtis
Keywords[xh]=Ukhangelo zincwadi olomeleziweyo,Khangela iincwadi,WWW,Amagama angundoqo e Internet,Amacebo okucoca ulwelo e Internet,Umsebenzi womnatha,Iinjini Zophendlo,Iindlela ezimfutshane
Keywords[xx]=xxEnhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcutsxx
Keywords[zh_CN]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,增强浏览,浏览,Internet 关键字,Internet 过滤,网络,搜索引擎,快捷方式
Keywords[zh_TW]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,增強瀏覽,瀏覽,網際網路,網路,搜尋引擎,捷徑
Keywords[zu]=Ukucinga okujulile,Ukucinga,WWW,Internet,Amagama abalulekile e-Internet,Amahluzo,Uxhumano olusakazekile,Izinjini zokusesha, Izindlela ezimfushane

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
