[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=kcontrol/ebrowsing/index.html
Icon=enhanced_browsing
Exec=kcmshell ebrowsing


X-KDE-Library=kurifilt
X-KDE-FactoryName=kurifilt
X-KDE-ParentApp=kcontrol

Name=Web Shortcuts
Name[x-test]=xxWeb Shortcutsxx

Comment=Configure enhanced browsing
Comment[x-test]=xxConfigure enhanced browsingxx

Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
Keywords[x-test]=xxEnhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcutsxx

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
