[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=FileViewVersionControlPlugin
Comment=Version Control Plugin for File Views
Comment[en_GB]=Version Control Plugin for File Views
Comment[et]=Failivaadete versioonikontrolli plugin
Comment[nl]=Plugin voor versiecontrole op bestandoverzichten
Comment[pt]='Plugin' de Controlo de Versões para as Áreas de Ficheiros
Comment[sv]=Insticksprogram för versionskontroll i filvyer
Comment[tr]=Dosya Görünümleri için Sürüm Kontrol Eklentisi
Comment[uk]=Додаток керування версіями для панелей перегляду файлів
Comment[x-test]=xxVersion Control Plugin for File Viewsxx
Comment[zh_TW]=檔案檢視的版本控制外掛程式
