[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=FileViewVersionControlPlugin
Comment=Version Control Plugin for File Views
Comment[nl]=Plugin voor versiecontrole op bestandoverzichten
Comment[pt]='Plugin' de Controlo de Versões para as Áreas de Ficheiros
Comment[sv]=Insticksprogram för versionskontroll i filvyer
Comment[uk]=Додаток керування версіями для панелей перегляду файлів
Comment[x-test]=xxVersion Control Plugin for File Viewsxx
