[Desktop Entry]
Type=Service
Name=Subversion
Name[bg]=Subversion
Name[ca]=Subversió
Name[csb]=Pòdwersëjô
Name[da]=Subversion
Name[de]=Subversion
Name[el]=Υποέκδοση
Name[en_GB]=Subversion
Name[eo]=Subversion
Name[es]=Subversion
Name[et]=Subversion
Name[eu]=Subversion
Name[gl]=Subversion
Name[gu]=સબવર્ઝન
Name[he]=תת-גרסה
Name[hr]=Subversion
Name[id]=Subversion
Name[is]=Subversion
Name[kk]=Subversion
Name[lt]=Subversion
Name[lv]=Subversion
Name[ms]=Subversion
Name[nb]=Subversion
Name[nds]=Subversion
Name[nl]=Subversion
Name[pl]=Subversion
Name[pt]=Subversion
Name[pt_BR]=Subversion
Name[ro]=Subversion
Name[ru]=Subversion
Name[sl]=Subversion
Name[sv]=Subversion
Name[tr]=Subversion
Name[uk]=Subversion
Name[wa]=Subversion
Name[x-test]=xxSubversionxx
Name[zh_TW]=Subversion
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewsvnplugin
