[Desktop Entry]
Type=Service
Name=Subversion
Name[bg]=Subversion
Name[ca]=Subversió
Name[ca@valencia]=Subversió
Name[cs]=Subversion
Name[csb]=Pòdwersëjô
Name[da]=Subversion
Name[de]=Subversion
Name[el]=Υποέκδοση
Name[en_GB]=Subversion
Name[eo]=Subversion
Name[es]=Subversion
Name[et]=Subversion
Name[eu]=Subversion
Name[fi]=Subversion
Name[fr]=Subversion
Name[fy]=Sub-ferzje
Name[gl]=Subversion
Name[gu]=સબવર્ઝન
Name[he]=תת-גרסה
Name[hi]=सबवर्शन
Name[hr]=Subversion
Name[hu]=Subversion
Name[id]=Subversion
Name[is]=Subversion
Name[it]=Subversion
Name[ja]=Subversion
Name[kk]=Subversion
Name[km]=Subversion
Name[kn]=ಸಬ್‌ವರ್ಶನ್
Name[ko]=서브버전
Name[lt]=Subversion
Name[lv]=Subversion
Name[mk]=Subversion
Name[ml]=സബ്‌വേര്‍ഷന്‍
Name[ms]=Subversion
Name[nb]=Subversion
Name[nds]=Subversion
Name[nl]=Subversion
Name[nn]=Subversion
Name[pa]=ਸਬਵਰਜਨ
Name[pl]=Subversion
Name[pt]=Subversion
Name[pt_BR]=Subversion
Name[ro]=Subversion
Name[ru]=Subversion
Name[si]=අනුසංස්කරණය
Name[sk]=Subversion
Name[sl]=Subversion
Name[sr]=Субверзија
Name[sr@ijekavian]=Субверзија
Name[sr@ijekavianlatin]=Subversion
Name[sr@latin]=Subversion
Name[sv]=Subversion
Name[tg]=Subversion
Name[tr]=Subversion
Name[uk]=Subversion
Name[wa]=Subversion
Name[x-test]=xxSubversionxx
Name[zh_CN]=Subversion
Name[zh_TW]=Subversion
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewsvnplugin
