[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=FileViewVersionControlPlugin
Comment=Version Control Plugin for File Views
Comment[csb]=Wtëkôcz kòntrolë wersëji dlô pòdzerków lopków
Comment[da]=versionsstyring-plugin til filvisninger
Comment[de]=Versionskontroll-Modul für Dateiansichten
Comment[el]=Έλεγχος εκδόσεων πρόσθετων για την προβολή των αρχείων
Comment[en_GB]=Version Control Plugin for File Views
Comment[eo]=Kromprogramo de versia kontrolo por dosiervidilo
Comment[es]=Complemento de control de versiones para vistas de archivos
Comment[et]=Failivaadete versioonikontrolli plugin
Comment[eu]=Bertsio kontrol plugina fitxategi ikuspegietarako
Comment[hr]=Priključak datotečnog prikaza za upravljanje inačicama
Comment[is]=Útgáfustýringar-íforrit fyrir skráasýnir
Comment[kk]=Файл көрнісіне арналған Нұсқаларды басқару плагины
Comment[lv]=Versiju kontroles spraudnis Failu skatiem
Comment[nb]=Versjonskontrollmodul for filvisninger
Comment[nds]=Verschoonkuntrull-Moduul för Dateiansichten
Comment[nl]=Plugin voor versiecontrole op bestandoverzichten
Comment[pt]='Plugin' de Controlo de Versões para as Áreas de Ficheiros
Comment[pt_BR]=Plug-in de controle de versões para as visualizações de arquivos
Comment[ro]=Modul de control al versiunii pentru Vizualizări fișiere
Comment[sv]=Insticksprogram för versionskontroll i filvyer
Comment[tr]=Dosya Görünümleri için Sürüm Kontrol Eklentisi
Comment[uk]=Додаток керування версіями для панелей перегляду файлів
Comment[wa]=Tchôke-divins di controle del modêye po les Vuwes des fitchîs
Comment[x-test]=xxVersion Control Plugin for File Viewsxx
Comment[zh_TW]=檔案檢視的版本控制外掛程式
