[Desktop Entry]
Encoding=UTF-8
Exec=kfind %f
Icon=kfind
DocPath=kfind/index.html
Path=
Type=Application
Terminal=false
Name=Find Files/Folders
Name[bg]=Търсене на файлове
Name[bn]=ফাইল/ফোল্ডার অনুসন্ধান
Name[ca]=Cerca fitxers i carpetes
Name[cs]=Najít soubory/složky
Name[da]=Find filer/mapper
Name[es]=Buscar archivos/carpetas
Name[et]=Failide/kataloogide otsimine
Name[fr]=Recherche de fichiers/dossiers
Name[ga]=Aimsigh Comhaid/Comhadlanna
Name[he]=חפש קבצים או תיקיות
Name[hu]=Fájlkereső
Name[is]=Finna skrár/möppur
Name[nb]=Finn filer/mapper
Name[nl]=Bestanden/mappen zoeken
Name[nn]=Finn filer/mapper
Name[pt]=Procurar Ficheiros/Pastas
Name[pt_BR]=Procurar arquivos/pastas
Name[ru]=Поиск файлов и папок
Name[sv]=Hitta filer eller kataloger
Name[ta]=கோப்புகள்/அடைவுகளைக் கண்டுபிடி
Name[tr]=Dosya/Dizin Bul
Name[uk]=Пошук файлів та тек
Name[xx]=xxFind Files/Foldersxx
Name[zh_CN]=查找文件/文件夹
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Core;
