[Desktop Entry]
Encoding=UTF-8
Exec=kfind %f
Icon=kfind
DocPath=kfind/index.html
Path=
Type=Application
Terminal=false
Name=Find Files/Folders
Name[fr]=Recherche de fichiers/dossiers
Name[x-test]=xxFind Files/Foldersxx
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Core;
