[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Find Part
Name[af]=soek deel
Name[ar]=ابحث عن جزء
Name[az]=Parça tap
Name[bg]=Търсене по съдържание
Name[bs]=Nađi dio
Name[cs]=Najít soubor
Name[da]=Find del
Name[de]=Einbettbares Programm suchen
Name[eo]=Trovokomponento
Name[es]=Buscar parte
Name[et]=Failide otsimise komponent
Name[fi]=Etsi osa
Name[fr]=Composant de recherche
Name[he]=רכיב חיפוש
Name[hu]=Keresési objektum
Name[id]=Cari bagian
Name[is]=Finna hluta
Name[it]=Part per la ricerca
Name[ja]=Part 検索
Name[ko]=부분 찾기
Name[lt]=Surasti dalį
Name[lv]=Meklēt Daļu
Name[mt]=Sib Parti
Name[nb]=Finn del
Name[nl]=Part zoeken
Name[nn]=Finn del
Name[pl]=Moduł szukania
Name[pt]=Componente de Pesquisa
Name[pt_BR]=Encontrar parte
Name[ru]=Поиск по содержимому
Name[sk]=Nájsť Part
Name[sl]=Najdi del
Name[sr]=Pronađi deo
Name[sv]=Sökdel
Name[ta]=ÀÌ¾¢¨Âì ¸ñÎÀ¢Ê
Name[th]=ค้นหาบางส่วน
Name[tr]=Parça bul
Name[uk]=Знайти складову
Name[vi]=Tìm phần 
Name[xh]=Fumana iqela
Name[xx]=xx
Name[zh_CN]=查找部件
Name[zh_TW]=尋找元件
Name[zu]=Thola Ingxenye
MimeType=
ServiceTypes=Konqueror/FindPart
X-KDE-Library=libkfindpart
X-KDE-BrowserView-AllowAsDefault=true
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
InitialPreference=10
