[Desktop Entry]
Type=Service
Name=History
Name[af]=GESKIEDENIS
Name[az]=Keçmiş
Name[bg]=История
Name[cs]=Historie
Name[da]=Historik
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[fi]=Historia
Name[fr]=Historique
Name[he]=הירוטסיה
Name[hu]=Napló
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[lt]=Žurnalas
Name[lv]=Vēsture
Name[mt]=Kronoloġija
Name[nl]=Geschiedenis
Name[no]=Historie
Name[no_NY]=Historie
Name[pl]=Historia
Name[pt_BR]=Histórico
Name[pt]=Historial
Name[ru]=Журнал
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Istorija
Name[sv]=Historik
Name[ta]=ÅÃÄ¡Ú
Name[tr]=Geçmiş
Name[uk]=Історія
Name[vi]=Lịch sử 
Name[zh_CN.GB2312]=历史
Name[zh_TW.Big5]=歷程記錄
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqhistory
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-LinkedView=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
