[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=History
Name[af]=geskiedenis
Name[ar]=التاريخ
Name[az]=Keçmiş
Name[be]=Гісторыя
Name[bg]=История
Name[bs]=Historija
Name[cs]=Historie
Name[da]=Historik
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[eu]=Historiala
Name[fi]=Historia
Name[fr]=Historique
Name[he]=היסטוריה
Name[hu]=Napló
Name[id]=Sejarah
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mt]=Kronoloġija
Name[nb]=Historie
Name[nl]=Geschiedenis
Name[nn]=Historie
Name[pl]=Historia
Name[pt]=Historial
Name[pt_BR]=Histórico
Name[ro]=Istoric
Name[ru]=Журнал
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Istorijat
Name[sv]=Historik
Name[ta]=ÅÃÄ¡Ú
Name[th]=ประวัติการใช้งาน
Name[tr]=Geçmiş
Name[uk]=Історія
Name[ven]=Divhazwakale
Name[vi]=Lịch sử 
Name[xh]=Imbali
Name[xx]=xx
Name[zh_CN]=历史
Name[zh_TW]=歷史紀錄
Name[zu]=Umlando
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_history
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-LinkedView=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
