[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=applications:/
Icon=kmenu
Name=Applications
Name[x-test]=xxApplicationsxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
