[Desktop Entry]
Type=Link
URL=audiocd:/
Icon=cdaudio_unmount
Name=Audio CD Browser
Name[az]=Audio CD Səyyahı
Name[da]=Audio CD Søger
Name[de]=Audio-CD-Browser
Name[eo]=Rigardilo por muzikaj lumdiskoj
Name[es]=Navegador de CD Audio
Name[fi]=Audio CD:n selain
Name[he]=עמש ירוטילקת
Name[hu]=HangCD-nézegető
Name[ja]=Audio CD ブラウザ
Name[ko]=소리 CD 탐색기
Name[lv]=Audio CD Pārlūks
Name[no_NY]=Lyd-CD-lesar
Name[pl]=Przeglądarka audio CD
Name[pt_BR]=Navegador de CDs Áudio
Name[pt]=Navegador de CDs Áudio
Name[ro]=Navigator CD audio
Name[ru]=Просмотрщик аудио CD
Name[sk]=Prehliadač zvukových CD
Name[sl]=Avdio CD brskalnik
Name[sv]=Ljud-CD bläddare
Name[uk]=Переглядач аудіо КД
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
