[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=lan:/
Icon=network
Name=LAN Browser
Name[af]=Lan Blaaier
Name[az]=LAN Səhhayı
Name[bg]=Преглед на локална мрежа(LAN)
Name[bs]=LAN preglednik
Name[ca]=Navegador LAN
Name[cs]=Prohlížení lokální sítě
Name[da]=LAN-søger
Name[de]=LAN-Browser
Name[el]=Περιηγητής LAN
Name[eo]=Rigardilo por loka reto
Name[es]=Navegador LAN
Name[et]=LANi lehitsemine
Name[eu]=LAN Arakatzailea
Name[fa]=مرورگر شبکه داخلی
Name[fi]=LAN-selailu
Name[fr]=Navigateur dans le réseau local
Name[he]=רשת מקומית
Name[hr]=Preglednik LAN-a
Name[hu]=A helyi hálózat böngészése
Name[it]=Navigazione della rete locale
Name[ja]=LAN ブラウザ
Name[lt]=Vietinio tinklo naršyklė
Name[lv]=LAN Pārlūks
Name[mt]=Browsing tal-LAN
Name[nb]=LAN-navigering
Name[nl]=LAN-Browser
Name[nn]=LAN-surfing
Name[nso]=Seinyakisi sa LAN
Name[pl]=Przeglądarka sieci lokalnej
Name[pt]=Navegador da LAN
Name[pt_BR]=Navegação LAN
Name[ro]=Navigator LAN
Name[ru]=Просмотр локальной сети
Name[sk]=Prehliadanie siete LAN
Name[sl]=Brskalnik po LAN
Name[ss]=I-brawuza ye LAN
Name[sv]=Lan-bläddrare
Name[ta]=LAN ¯Ä¡Å¢
Name[th]=การเรียกดูระบบแลน
Name[tr]=Yerel Ağ Tarama
Name[uk]=Навігація ЛОМ
Name[ven]=Buronza ya LAN
Name[vi]=Duyệt LAN 
Name[xh]=Umkhangeli zincwadi we LAN
Name[zh_CN]=LAN 浏览器
Name[zh_TW]=區域網路瀏覽器
Name[zu]=Umcingi we-LAN
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-ConfiguredURL=kio_lanrc:noGroup:sidebarURL
