[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=media:/
Icon=system
Name=Storage Media
Name[bg]=Съхраняващи устройства
Name[bn]=স্টোরেজ মিডিয়া
Name[ca]=Suport d'emmagatzematge
Name[cs]=Úložná zařízení
Name[da]=Opbevaringsmedie
Name[eo]=Konservejo
Name[es]=Dispositivos de almacenamiento
Name[et]=Andmekandjad
Name[fr]=Support de stockage
Name[fy]=Opslachapparaten
Name[he]=התקנים
Name[hu]=Tárolóeszköz
Name[is]=Geymslumiðill
Name[nb]=Lagringsmedia
Name[nl]=Opslagapparaten
Name[nn]=Lagringsmedium
Name[pt]=Dispositivos de Armazenamento
Name[pt_BR]=Mídia
Name[ru]=Устройства хранения данных
Name[sv]=Lagringsmedia
Name[ta]=சேகரிப்பு ஊடகம்
Name[tr]=Depolama Ortamı
Name[uk]=Пристрої зберігання інформації
Name[xx]=xxStorage Mediaxx
Name[zh_CN]=存储介质
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
