[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=devices:/
Icon=kfm
Name=Media
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
