[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=media:/
Icon=system
Name=Storage Media
Name[bg]=Съхраняващи устройства
Name[bn]=স্টোরেজ মিডিয়া
Name[ca]=Suports d'emmagatzematge
Name[cs]=Úložná zařízení
Name[da]=Opbevaringsmedie
Name[de]=Speichermedien
Name[eo]=Konservejo
Name[es]=Dispositivos de almacenamiento
Name[et]=Andmekandjad
Name[fi]=Tallennusmedia
Name[fr]=Support de stockage
Name[fy]=Opslachapparaten
Name[he]=התקנים
Name[hi]=भंडार मीडिया
Name[hu]=Tárolóeszköz
Name[is]=Geymslumiðill
Name[it]=Dispositivi di archiviazione
Name[lt]=Informacijos saugojimo įrenginiai
Name[nb]=Lagringsenheter
Name[nl]=Opslagapparaten
Name[nn]=Lagringsmedium
Name[pa]=ਸੰਭਾਲ ਮਾਧਿਅਮ
Name[pl]=Urządzenia przechowywania danych
Name[pt]=Dispositivos de Armazenamento
Name[pt_BR]=Mídia
Name[ru]=Устройства хранения данных
Name[sl]=Medij za shranjevanje
Name[sr]=Складишни медијуми
Name[sr@Latn]=Складишни медијуми
Name[sv]=Lagringsmedia
Name[ta]=சேகரிப்பு ஊடகம்
Name[tr]=Depolama Ortamı
Name[uk]=Пристрої зберігання інформації
Name[xx]=xxStorage Mediaxx
Name[zh_CN]=存储介质
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
