[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=print:/
Icon=fileprint
Name=Print System Browser
Name[af]=Druk Stelsel Blaaier
Name[ar]=متصفح نظام  الطباعة
Name[az]=Çap Sistemi Səyyahı
Name[bg]=Система за печат
Name[bn]=মুদ্রণ ব্যবস্থা ব্রাউজার
Name[bs]=Preglednik sistema štampe
Name[ca]=Navegador del sistema d'impressió
Name[cs]=Prohlížeč tiskového systému
Name[cy]=Porydd y Cysawd Argraffu
Name[da]=Udskriftssystemsøger
Name[de]=Drucksystem-Browser
Name[el]=Προβολέας συστήματος εκτύπωσης
Name[eo]=Rigardilo por presosistemo
Name[es]=Navegador del sistema de impresión
Name[et]=Trükkimissüsteemi brauser
Name[eu]=Inprimaketa sistemaren arakatzailea
Name[fa]=چاپ مرورگر سیستم
Name[fi]=Tulostusjärjestelmän selailu
Name[fr]=Navigateur dans le système d'impression
Name[ga]=Brabhsálaí an Chóras Priontála
Name[gl]=Navegador da Impresión do Sistema
Name[he]=מערכות הדפסה
Name[hi]=मुद्ण तंत्र ब्राउज़र
Name[hr]=Preglednik sustava za ispisivanje
Name[hu]=A nyomtatók böngészése
Name[is]=Prentaraflakk
Name[it]=Navigazione del sistema di stampa
Name[ja]=印刷システムブラウザ
Name[lo]=ການຮງກເບິ່ງລະບົບການພິມ
Name[lt]=Spausdinimo sistemos naršyklė
Name[lv]=Drukas Sistēmas Pārlūks
Name[mk]=Прелистувач на печатарскиот систем
Name[mn]=Хэдлэх системийн хөтөч
Name[mt]=Browser tas-sistema ta' pprintjar
Name[nb]=Skrivesystem-navigering
Name[nds]=Drucksysteem bekieken
Name[nl]=Afdruksysteembrowser
Name[nn]=Vising av utskriftssystem
Name[nso]=Seinyakisi sa System ya Kgatiso
Name[pa]=ਪ੍ਰਿੰਟ ਸਿਸਟਮ ਝਲਕਾਰਾ
Name[pl]=Przeglądarka systemu drukowania
Name[pt]=Navegador do Sistema de Impressão
Name[pt_BR]=Sistema de Impressão
Name[ro]=Navigator sistem tipărire
Name[ru]=Просмотр системы печати
Name[se]=Čájet čálihanvuogádaga
Name[sk]=Prehliadač tlačového systému
Name[sl]=Brskalnik po tiskalniškem sistemu
Name[sr]=Претраживач система за штампу
Name[sr@Latn]=Pretraživač sistema za štampu
Name[sv]=Bläddrare för utskriftssystem
Name[ta]=அச்சு அமைப்பு உலாவி
Name[tg]=Чопи тафсири система
Name[th]=เรียกดูระบบการพิมพ์
Name[tr]=Yazdırma Sistemi Tarayıcı
Name[uk]=Навігація системи друку
Name[uz]=Босиб чиқариш тизим браузери
Name[ven]=Buronza ya maitele au phirintha
Name[vi]=Duyệt hệ thống in
Name[wa]=Foyteuse do sistinme d' imprimaedje
Name[xh]=Shicilela Umkhangeli zincwadi Wendlela
Name[xx]=xxPrint System Browserxx
Name[zh_TW]=列印系統瀏覽器
Name[zu]=Umcingi wesistimu yokushicilela
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
