[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=settings:/
Icon=kcontrol
Name=Settings
Name[ar]=الإعدادات
Name[az]=Qurğular
Name[be]=Настройкі
Name[bg]=Настройки
Name[bn]=সেটিংস
Name[br]=Dibarzhoù
Name[bs]=Postavke
Name[ca]=Preferències
Name[cs]=Nastavení
Name[cy]=Gosodiadau
Name[da]=Opsætning
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[eo]=Agordo
Name[es]=Preferencias
Name[et]=Seadistused
Name[eu]=Ezarpenak
Name[fi]=Asetukset
Name[fr]=Configuration
Name[fy]=Ynstellingen
Name[ga]=Socruithe
Name[gl]=Opcións
Name[he]=הגדרות
Name[hi]=विन्यास
Name[hr]=Postavke
Name[hsb]=Nastajenja
Name[hu]=Beállítások
Name[is]=Stillingar
Name[it]=Impostazioni
Name[ja]=設定
Name[ko]=설정
Name[lt]=Parinktys
Name[mk]=Поставувања
Name[mn]=Тохируулга
Name[ms]=Tempatan
Name[nb]=Innstillinger
Name[nds]=Instellen
Name[nl]=Instellingen
Name[nn]=Innstillingar
Name[pa]=ਵਿਵਸਥਾ
Name[pl]=Ustawienia
Name[pt]=Preferências
Name[pt_BR]=Configurações
Name[ro]=Setări
Name[ru]=Настройка
Name[sk]=Nastavenia
Name[sl]=Nastavitve
Name[sr]=Поставке
Name[sr@Latn]=Postavke
Name[sv]=Inställningar
Name[ta]=அமைப்புகள்
Name[tg]=Танзимот
Name[th]=ตั้งค่า
Name[tr]=Ayarlar
Name[uk]=Установки
Name[uz]=Мосламалар
Name[vi]=Thiết lập
Name[wa]=Apontiaedjes
Name[xx]=xxSettingsxx
Name[zh_CN]=设置
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
