[Desktop Entry]
Encoding=UTF-8
Icon=filetypes
Type=Service
ServiceTypes=KCModule
Exec=kcmshell filetypes
DocPath=kcontrol/filetypes/index.html

X-KDE-Library=kcm_filetypes
X-KDE-ParentApp=kcontrol

Name=File Associations
Name[fr]=Associations de fichiers
Name[x-test]=xxFile Associationsxx

Comment=Configure file associations
Comment[fr]=Configuration des associations de fichiers
Comment[x-test]=xxConfigure file associationsxx

Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[fr]=types de fichiers,associations de fichiers,types MIME,motifs de fichier,fichiers,motif,extension,extensions de fichiers,applications
Keywords[x-test]=xxFiletypes,File Associations,Mime Types,File Patterns,Files,Patternxx
