[Desktop Entry]
Encoding=UTF-8
Icon=filetypes
Type=Application
Exec=kcmshell filetypes
DocPath=kcontrol/filetypes/index.html
Categories=Qt;KDE;X-KDE-settings-components;


X-KDE-Library=filetypes
X-KDE-ParentApp=kcontrol

Name=File Associations
Name[af]=Lêer Assosiasies
Name[ar]=ارتباطات الملفات
Name[az]=Fayl Əlaqələri
Name[bg]=Файлови асоциации
Name[bn]=ফাইল অ্যাসোসিয়েশন
Name[br]=Kevreañ restroù
Name[bs]=Asociranje datoteka
Name[ca]=Associacions de fitxers
Name[cs]=Asociace souborů
Name[cy]=Cysylltiadau Ffeiliau
Name[da]=Filassociationer
Name[de]=Dateizuordnungen
Name[el]=Συσχετίσεις αρχείων
Name[eo]=Dosiertipoj
Name[es]=Asociaciones de archivo
Name[et]=Failide seosed
Name[eu]=Fitxategi elkarketak
Name[fa]=وابستگان پرونده
Name[fi]=Tiedostosidokset
Name[fr]=Associations de fichiers
Name[fy]=Triemassosjaasjes
Name[gl]=Asociacións de Ficheiros
Name[he]=שיוכי קבצים
Name[hi]=फ़ाइल असोसिएशन
Name[hr]=Asociranje datoteka
Name[hu]=Fájltársítások
Name[id]=Asosiasi File
Name[is]=Skráavensl
Name[it]=Associazioni file
Name[ja]=ファイルの関連付け
Name[ko]=파일 접근 권한
Name[lo]=ການກຳນົດໃຊ້ແຟ້ມ
Name[lt]=Bylų asociacijos
Name[lv]=Failu Asociācijas
Name[mk]=Асоцијации на датотеки
Name[mn]=Файл холбоосууд
Name[mt]=Assoċjazzjonijiet tal-Fajls
Name[nb]=Filtilknytninger
Name[nds]=Datei-Tohören
Name[nl]=Bestandsassociaties
Name[nn]=Filtilknytingar
Name[nso]=Dikopantsho tsa Difaele
Name[oc]=Associacions de fiquièrs
Name[pa]=ਫਾਇਲ ਸੰਬੰਧ
Name[pl]=Skojarzenia plików
Name[pt]=Associação de Ficheiros
Name[pt_BR]=Associações de arquivos
Name[ro]=Asociere fişiere
Name[ru]=Привязки файлов
Name[se]=Fiilačatnagasat
Name[sk]=Asociácie súborov
Name[sl]=Datotečne povezave
Name[sr]=Придружења фајловима
Name[sr@Latn]=Pridruženja fajlovima
Name[sv]=Filbindningar
Name[ta]=கோப்பு ஒருங்கமைப்புகள்
Name[tg]=Вобастагонии Файл
Name[th]=กำหนดการใช้แฟ้ม
Name[tr]=Dosya İlişkileri
Name[uk]=Асоціації файлів
Name[uz]=Файл тури билан боғлиқлари
Name[ven]=U fanyisa faela
Name[vi]=Gắn kết tệp tin
Name[xh]=Uyelemaniso Lwefayile
Name[xx]=xxFile Associationsxx
Name[zh_CN]=文件关联
Name[zh_TW]=檔案關聯
Name[zu]=Ubudlelwano befayela

Comment=Configure file associations
Comment[af]=Konfigureer lêer assosiasies
Comment[ar]=قم بتهيئة ارتباطات الملفات
Comment[az]=Fayl əlaqələrini quraşdır
Comment[bg]=Настройки и асоцииране на файлови типове с програми
Comment[bn]=ফাইল অ্যাসোসিয়েশন কনফিগার করুন
Comment[br]=Kefluniañ kevreañ restroù
Comment[bs]=Podesite asocijacije datoteka
Comment[ca]=Configura les associacions de fitxers
Comment[cs]=Nastavení asociací souborů
Comment[cy]=Ffurfweddu cysylltiadau ffeiliau
Comment[da]=Indstil filassociationer
Comment[de]=Dateizuordnungen vornehmen
Comment[el]=Ρύθμιση των συσχετίσεων αρχείων
Comment[eo]=Agordu de ligo de programoj al dosiertipoj
Comment[es]=Configuración de asociaciones de archivos
Comment[et]=Failide seoste seadistamine
Comment[eu]=Fitxategi elkarketak konfiguratzen ditu
Comment[fa]=تنظیم وابستگان پرونده
Comment[fi]=Tiedostosidokset
Comment[fr]=Configuration des associations de fichiers
Comment[fy]=Hjir kinne jo de triemassosjaasjes ynstelle
Comment[gl]=Configura-las asociacións de ficheiros
Comment[he]=שינוי הגדרות שיוכי הקבצים
Comment[hi]=फ़ाइल असोसिएशन कॉन्फ़िगर करें
Comment[hr]=Podešavanje asocijacija datoteka
Comment[hu]=A fájlhozzárendelések módosítása
Comment[is]=Stilla skráavensl
Comment[it]=Configura associazioni dei file
Comment[ja]=ファイルの関連付けの設定
Comment[lo]=ບັນທຶກຄ່າປັບແຕ່ງຂອງການເລີ່ມລະບົບ
Comment[lt]=Konfigūruoti bylų sietis
Comment[lv]=Konfigurēt failu asociācijas
Comment[mk]=Кофигурирај асоцијации на датотеки
Comment[mn]=Файлын холбоосуудыг тохируулах
Comment[mt]=Ikkonfigura assoċjazzjoni ta' fajls
Comment[nb]=Sette opp filtilknytninger
Comment[nds]=Instellen, welke Datei-Typen to welke Programmen tohören
Comment[nl]=Hier kunt u de bestandsassociaties instellen
Comment[nn]=Set opp filassosiasjonar
Comment[nso]=Beakanya dikopantsho tsa difaele
Comment[pa]=ਫਾਇਲ ਸੰਬੰਧ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja skojarzeń plików
Comment[pt]=Configuração das associações de ficheiros
Comment[pt_BR]=Configura associações de arquivos
Comment[ro]=Configurează asocierea fişierelor cu aplicaţii
Comment[ru]=Настройка привязки файлов
Comment[se]=Heivet fiilačatnagasaid
Comment[sk]=Nastavenie asociácií súborov
Comment[sl]=Nastavi datotečne povezave
Comment[sr]=Подешавање придружења фајловима
Comment[sr@Latn]=Podešavanje pridruženja fajlovima
Comment[sv]=Anpassa filbindningar
Comment[ta]=ஒருங்கிணைப்புகளை வடிவமை
Comment[tg]=Танзими вобастагони Файл
Comment[th]=ปรับแต่งการเรียกใช้งานแฟ้ม
Comment[tr]=Dosya bağıntılarını yapılandır
Comment[uk]=Налаштування асоціацій файлів
Comment[uz]=Файл тури билан боғлиқларни мослаш
Comment[ven]=Nzudzanyo yau fanyisa ha faela
Comment[vi]=Cấu hình gắn kết tệp tin
Comment[xh]=Qwalasela uloyamiso lwefayile
Comment[xx]=xxConfigure file associationsxx
Comment[zh_CN]=配置文件关联
Comment[zh_TW]=設定檔案關聯
Comment[zu]=Hlanganisela ubudlelwano befayela

Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[ar]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,ملفات,أنواع الملفات, أنواع Mime,ارتباطات الملفات,ملفات,الملفات,نسق,الأنساق,النسق.
Keywords[az]=Fayl Növləri,Fayl Əlaqələri,Mime Növləri,Fayl Qəlibləri,Fayllar
Keywords[bg]=файл, файлове, асоциация, асоциации, връзки, изпълнение, връзка, програма, тип на файл, тип, Filetypes, File Associations, Mime Types, File Patterns, Files, Pattern
Keywords[ca]=Tipus de fitxer,Associacions de fitxers,Tipus Mime,Patrons de fitxer,Fitxers,Patró
Keywords[cs]=Typy souborů,Asociace souborů,MIME typy,Vzory souborů,Soubory,Vzor
Keywords[cy]=Mathau o Ffeiliau,Cysylltiadau Ffeil,Mathau o Mime,Patrymau Ffeil,Ffeiliau,Patrwm
Keywords[da]=Filtyper,Filassociationer,Mimetyper,Filmønstre,Filer,mønstre
Keywords[de]=Dateitypen,Dateizuordnungen,MIME-Typen,Dateimuster,Filter,Muster,Dateien
Keywords[el]=Τύποι αρχείων,Συσχετίσεις αρχείων,Τύποι mime,Μοτίβα αρχείων,Αρχεία,Μοτίβο
Keywords[eo]=dosiertipoj,asocioj,MIME,dosieroj,ŝablonoj,dosieroj,MIME-tipoj
Keywords[es]=Tipos de archivo,Asociaciones de archivo,Tipos MIME,Patrones de archivo,Archivos,Patrón
Keywords[et]=Failitüübid,Failide seosed,MIME tüübid,failimustrid,failid,mustrid
Keywords[eu]=Fitxategi motak,Fitxategi elkarketak,Mime motak, Fitxategi ereduak,Fitxategiak,Eredua
Keywords[fa]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,قالب‌هایی پرونده، وابستگان
Keywords[fi]=Tiedostotyypit,Tiedostosidokset,Mimetyypit,Tiedostokuviot,Tiedostot,Kuvio
Keywords[fo]=fíla,fílir,fíluslag
Keywords[fr]=types de fichiers,associations de fichiers,types MIME,motifs de fichier,fichiers,motif,extension,extensions de fichiers,applications
Keywords[fy]=Triemtypen,Triemtaheaksels,Triemassosjaasjes,mime types,Triempatroanen,Taheaksels,Triemen
Keywords[gl]=Tipos de ficheiro, Asociacións de ficheiro,Tipos Mime,Patróns de Ficheiro,Ficheiros,Patrón
Keywords[he]=תבניות קבצים,קבצים,תבנית,סוגי קבצים,שיוכי קבצים,טיפוסי Mime
Keywords[hi]=फ़ाइल क़िस्म,फ़ाइल असोसिएशन,माइम क़िस्म,फ़ाइल पैटर्न,फ़ाइलें,पैटर्न
Keywords[hr]=Tipovi datoteka,Asocijacije datoteka,Mime tipovi,Datoteke
Keywords[hu]=fájltípusok,fájlhozzárendelések,MIME-típusok,fájlminták,fájlok,minta
Keywords[id]=TipeFile,Asosiasi File,Mime Types,Pattern File,Files,Pattern
Keywords[is]=Skráartegund,Skráavensl,Samhengi skráa,skráarbindingar,Mime-tög,síur,skrár,mynstur
Keywords[it]=tipi di file,associazioni file,tipi MIME,MIME,pattern dei file,file,motivi dei file,schemi
Keywords[ja]=ファイルタイプ,ファイルの関連付け,マイムタイプ,ファイルパターン,ファイル,パターン
Keywords[ko]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,파일 타입,파일 꼴,파일 모음,마임,마임 타입,파일 패턴,파일,패턴,꼴,모음
Keywords[lt]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Bylų tipai,Bylų Asociacijos,Mime Tipai,Bylų modeliai,Bylos,Modeliai, bylų sietys
Keywords[lv]=Failutipi,Failu Asociācijas,Maime Tipi,Failu Maskas,Faili,Maskas
Keywords[mk]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Типови на датотеки,Асоцијации на датотеки,типови,Датотеки
Keywords[mn]=Файлын төрөл,Файлын холбоос,MIME-төрөл,Файл загвар,Шүүлтүүр,Загвар,Файлууд
Keywords[mt]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Fajls,Assoċjazzjoni,Assoċjazzjonijiet
Keywords[nb]=Filtyper,Filtilknytninger,Mime-typer,Filmønster,filer
Keywords[nds]=Dateitypen,Datei-Tohören,Mime Typen,Dateimuster,Datei,Muster
Keywords[nl]=bestandstypen,bestandsextensies,bestandsassociaties,mime types,bestandspatronen,extensies,bestanden
Keywords[nn]=filtypar,filtilknytingar,mime-typar,filmønster,filer,mønster
Keywords[nso]=Mehuta ya difaele,Dikopantsho tsa Difaele,Mehuta ya Kekiso,Mekgwa ya Difaele,Difaele,Mokgwa
Keywords[pa]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern, ਫਾਇਲ ਕਿਸਮ, ਫਾਇਲ ਸਬੰਧ
Keywords[pl]=Typy plików,skojarzenia plików,typy MIME,wzorce plików,pliki,wzorzec
Keywords[pt]=tipos de ficheiros,associações a ficheiros,tipos mime,padrões de ficheiros,ficheiros,padrão
Keywords[pt_BR]=tipos de arquivo,associações de arquivo,tipos MIME,padrões de arquivo,arquivos,MIME,padrão
Keywords[ro]=tipuri de fişiere,asocieri fişiere,tipuri MIME,modele de fişiere,fişiere
Keywords[se]=Fiilašlájat,Fiilačatnagasat,Mime-šlájat,Fiilaminsttar, fiillat,minsttar
Keywords[sk]=Typy súborov,Prípony,Mime typy,Súbory,Vzorky,Vzorky súborov
Keywords[sl]=vrste datotek,vezi datotek,vzorci datotek,datoteke,vzorec
Keywords[sr]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,врсте фајлова,узорци фајлова,узорак,придружење,MIME типови
Keywords[sr@Latn]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,vrste fajlova,uzorci fajlova,uzorak,pridruženje,MIME tipovi
Keywords[sv]=Filtyper,Filbindningar,Mime-typer,Filmönster,Filer,Mönster
Keywords[ta]=கோப்பு வகைகள்,கோப்பு சேர்ப்புகள், மைம் வகைகள், கோப்பு மாதிரிகள்,கோப்புகள்,மாதிரிகள்
Keywords[th]=ประเภทแฟ้ม,กำหนดการใช้แฟ้ม,ประเภท Mime,รูปแบบแฟ้ม,แฟ้ม,รูปแบบ
Keywords[tr]=Dosya Türleri,Dosya İlişkileri,Mime Türleri,Dosya Kalıpları,Dosyalar
Keywords[uk]=типи файлів,асоціації файлів,типи MIME,MIME,шаблони файлів,файли,взірці,файли
Keywords[uz]=Файл турлари,Файл билан боғланган дастурлар,MIME турлари,Файл намуналари,Файллар,Намуна
Keywords[ven]=Tshakha dza faela,U fanyisa ha Faela,Tshakha dza Maimi,Phathene ya Faela,Dzifaela,Phathene
Keywords[vi]=Kiểu tệp,Gắn kết tệp,Kiểu MIME,Mẫu tệp, Tệp, Mẫu
Keywords[xh]=Iindidi zefayile,Unxubelelaniso lwefayile,Iindidi zeMime,Imilinganiselo yefayile,Iifayile,Umlinganiselo
Keywords[xx]=xxFiletypes,File Associations,Mime Types,File Patterns,Files,Patternxx
Keywords[zh_CN]=Filetypes,File Associations,Mime Types,File Patterns,Files,文件类型,文件关联,Mime 类型,文件模式,文件
Keywords[zh_TW]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,檔案類型,檔案關聯,MIME 類型,檔案樣式,檔案,樣式
Keywords[zu]=Izinhlobo zamafayela, Ubudlelwano bamafayela,Izinhlobo zamafayela,Amaphethini amafayela,Iphethini

