[Desktop Entry]
Encoding=UTF-8
Icon=filetypes
Type=Application
Exec=kcmshell filetypes
DocPath=kcontrol/filetypes/index.html
Categories=Qt;KDE;X-KDE-settings-components;


X-KDE-Library=filetypes
X-KDE-ParentApp=kcontrol

Name=File Associations
Name[x-test]=xxFile Associationsxx

Comment=Configure file associations
Comment[x-test]=xxConfigure file associationsxx

Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[x-test]=xxFiletypes,File Associations,Mime Types,File Patterns,Files,Patternxx

