[Desktop Entry]
ServiceTypes=application/asx,audio/*
Actions=appendToPlaylist;appendAndPlay;queueTrack;
X-KDE-Submenu=Amarok
X-KDE-Submenu[bn]=আমারক
X-KDE-Submenu[pa]=ਅਮਰੋਕ
X-KDE-Submenu[xx]=xxAmarokxx

[Desktop Action appendToPlaylist]
Name=Append to Playlist
Name[bg]=Добавяне към списъка с песни
Name[bn]=সঙ্গীত-তালিকাতে সংযোজন করো
Name[br]=Ouzhpennañ d'ar roll tonioù
Name[cs]=Přidat do seznamu skladeb
Name[da]=Tilføj til spilleliste
Name[de]=An Amarok-Wiedergabeliste anhängen
Name[el]=Προσθήκη στη λίστα αναπαραγωγής
Name[et]=Lisa lugude nimekirja
Name[fi]=Lisää soittolistaan
Name[fr]=Ajouter à la liste de lecture
Name[ga]=Iarcheangail le Seinmliosta
Name[it]=Aggiungi alla playlist
Name[ja]=プレイリストに追加
Name[km]=បន្ថែម​ទៅ​ខាង​ចុង​បញ្ជីចាក់
Name[nl]=Toevoegen aanafspeellijst
Name[pa]=ਸੰਗੀਤ-ਸੂਚੀ 'ਚ ਸ਼ਾਮਲ
Name[pl]=Dołącz do listy odtwarzania
Name[pt]=Adicionar à Lista do Amarok
Name[pt_BR]=Anexar à Lista de Músicas
Name[sv]=Lägg till i spellistan
Name[uk]=Додати до списку композицій
Name[uz]=Қўшиқ рўйхатига қўшиш
Name[xx]=xxAppend to Playlistxx
Name[zh_CN]=追加到播放列表
Icon=amarok
Exec=amarok -e %U

[Desktop Action appendAndPlay]
Name=Append & Play
Name[bg]=Добавяне и възпроизвеждане
Name[bn]=সংযোজন করো এবং বাজাও
Name[br]=Ouzhpennañ ha seniñ
Name[cs]=Připojit a hrát
Name[da]=Tilføj og spil
Name[de]=Anhängen und abspielen
Name[el]=Προσθήκη & αναπαραγωγή
Name[et]=Lisa ja esita
Name[fi]=Lisää soittolistaan ja toista
Name[fr]=Ajouter & Écouter
Name[ga]=Iarcheangail & Seinn
Name[it]=Aggiungi & Riproduci
Name[ja]=追加して再生
Name[km]=បន្ថែម​ខាង​ចុង & ចាក់
Name[nl]=Toevoegen en afspelen
Name[pa]=ਜੋੜੋ ਅਤੇ ਚਲਾਓ
Name[pl]=Dołącz i odtwórz
Name[pt]=Adicionar & Reproduzir
Name[pt_BR]=Anexar & Reproduzir
Name[sv]=Lägg till och spela
Name[uk]=Додати і програти
Name[uz]=Қўшиш ва ўйнаш
Name[xx]=xxAppend & Playxx
Name[zh_CN]=追加并播放
Icon=amarok
Exec=dcop amarok playlist playMedia %U

[Desktop Action queueTrack]
Name=Queue Track
Name[bg]=Добавяне и възпроизвеждане
Name[bn]=গান সারিবদ্ধ করো
Name[cs]=Zařadit skladbu
Name[da]=Sæt spor i kø
Name[de]=Stück in Warteschlange einstellen
Name[el]=Εισαγωγή του κομματιού στην ουρά
Name[et]=Sea pala järjekorda
Name[fi]=Lisää jonoon
Name[fr]=Ajouter à la file d'attente
Name[ga]=Ciúáil Amhrán
Name[it]=Accoda traccia
Name[ja]=トラックをキュー
Name[km]=ដាក់​បទ​ក្នុង​ជួរ
Name[nl]=Track in wachtrij plaatsen
Name[pa]=ਟਰੈਕ ਕਤਾਰ 'ਚ
Name[pl]=Wstaw utwór do kolejki
Name[pt]=Pôr a Faixa na Fila
Name[pt_BR]=Faixa para Fila
Name[sv]=Köa spår
Name[uk]=Додати доріжку в чергу
Name[uz]=Навбатга қўйиш
Name[xx]=xxQueue Trackxx
Name[zh_CN]=音轨排队
Icon=amarok
Exec=amarok --queue %U
