[Desktop Entry]
ServiceTypes=application/asx,audio/*
Actions=appendToPlaylist;appendAndPlay;queueTrack;
X-KDE-Submenu=Amarok

[Desktop Action appendToPlaylist]
Name=Append to Playlist
Name[da]=Tilføj til spillelisten
Name[de]=An Wiedergabeliste anhängen
Name[es]=Añadir a la lista de reproducción
Name[ja]=プレイリストに追加
Name[nl]=Aan afspeellijst toevoegen
Name[pt]=Adicionar à Lista de Reprodução
Name[sv]=Lägg till i spellistan
Icon=amarok
Exec=amarok -e %U

[Desktop Action appendAndPlay]
Name=Append & Play
Name[da]=Tilføj og spil
Name[de]=Anhängen & abspielen
Name[es]=Añadir y reproducir
Name[ja]=追加して再生
Name[nl]=Toevoegen en afspelen
Name[pt]=Adicionar e Reproduzir
Name[sv]=Lägg till och spela
Icon=amarok
Exec=dcop amarok playlist playMedia %U

[Desktop Action queueTrack]
Name=Queue Track
Name[da]=Sæt spor i kø
Name[de]=Stück in Warteschlange einstellen
Name[es]=Encolar pista
Name[ja]=トラックをキュー
Name[nl]=Track in wachtrij plaatsen
Name[pt]=Colocar a Faixa em Espera
Name[sv]=Köa spår
Icon=amarok
Exec=amarok --queue %U
