[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
ServiceTypes=application/x-tbz,application/x-tgz
Actions=extractHere

[Desktop Action extractHere]
Name=Extract Here
Name[da]=Pak ud her
Name[de]=Hier entpacken
Name[ja]=ここに展開
Name[pt]=Extrair Aqui
Name[sv]=Packa upp här
Exec=ark --extract-to %d %u
Icon=ark


