[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-bzip-compressed-tar,application/x-compressed-tar
Actions=extractHere;

[Desktop Action extractHere]
Name=Extract Here
Name[be]=Выняць тут
Name[bg]=Извличане тук
Name[csb]=Rozpakùjë tuwò
Name[de]=Hier entpacken
Name[el]=Αποσυμπίεση εδώ
Name[es]=Extraer aquí
Name[fa]=جمع کردن اینجا
Name[ga]=Bain Amach San Áit Seo
Name[ja]=ここに展開
Name[nds]=Hier ruttrecken
Name[nl]=Hier uitpakken
Name[pa]=ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pt]=Extrair para Aqui
Name[pt_BR]=Extrair Aqui
Name[sr]=Извуци овде
Name[sr@latin]=Извуци овде
Name[sv]=Packa upp här
Name[th]=คลายไว้ที่นี่
Name[uk]=Розпакувати сюди
Name[x-test]=xxExtract Herexx
Name[zh_TW]=在此解開
Exec=ark --extract-to %d %u
Icon=ark


