[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=compressHere

[Desktop Action compressHere]
Name=Compress Here
Name[bg]=Компресиране тук
Name[csb]=Kòmpresëjë tuwò
Name[de]=Hier komprimieren
Name[el]=Συμπίεση εδώ
Name[es]=Comprimir aquí
Name[ja]=ここに圧縮
Name[nds]=Hier komprimeren
Name[sv]=Komprimera här
Name[x-test]=xxCompress Herexx
Name[zh_TW]=在此壓縮
Exec=ark --add-to %u %u.tar.gz
Icon=ark
