[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=compressHere

[Desktop Action compressHere]
Name=Compress Here
Name[el]=Συμπίεση εδώ
Name[nds]=Hier komprimeren
Name[x-test]=xxCompress Herexx
Exec=ark --add-to %u %u.tar.gz
Icon=ark
