[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
ServiceTypes=application/x-bzip-compressed-tar,application/x-compressed-tar
Actions=extractHere

[Desktop Action extractHere]
Name=Extract Here
Name[de]=Hier entpacken
Name[el]=Αποσυμπίεση εδώ
Name[ja]=ここに展開
Name[nds]=Hier ruttrecken
Name[x-test]=xxExtract Herexx
Exec=ark --extract-to %d %u
Icon=ark


