[Desktop Entry]
ServiceTypes=inode/directory
Actions=DolphinSU;

[Desktop Action DolphinSU]
ServiceTypes=inode/directory
Name=Open as Root
Name[da]=Åbn som systemadministrator
Name[de]=Als Systemverwalter öffnen
Name[el]=Άνοιγμα ως υπερχρήστης
Name[es]=Abrir como root
Name[ja]=root として開く
Name[nl]=Als root openen
Name[pt]=Abrir como 'Root'
Name[sv]=Öppna som systemadministratör
Icon=dolphin
Exec=kdesu -c 'dolphin %U'
