[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=DolphinSU;

[Desktop Action DolphinSU]
ServiceTypes=inode/directory
Name=Open as Root
Name[be]=Адкрыць як каранёвую
Name[bg]=Отваряне като администратор
Name[csb]=Òtemkni jakno sprôwnik (root)
Name[de]=Als Systemverwalter öffnen
Name[el]=Άνοιγμα ως υπερχρήστης
Name[es]=Abrir como root
Name[fa]=باز کردن به عنوان کاربر ارشد
Name[ja]=root 権限で開く
Name[nds]=As Systeempleger opmaken
Name[nl]=Als root openen
Name[pa]=root ਵਾਂਗ ਖੋਲ੍ਹੋ
Name[pt]=Abrir como 'Root'
Name[pt_BR]=Abrir como Root
Name[sr]=Отвори као корен
Name[sr@latin]=Отвори као корен
Name[sv]=Öppna som systemadministratör
Name[th]=เปิดด้วยสิทธิ์ Root
Name[uk]=Відкрити як адміністратор
Name[x-test]=xxOpen as Rootxx
Name[zh_TW]=以 Root 身份開啟
Icon=dolphin
Exec=kdesu -c 'dolphin %U'
