[Desktop Entry]
ServiceTypes=inode/directory
Actions=DolphinSU;

[Desktop Action DolphinSU]
ServiceTypes=inode/directory
Name=Open as Root
Name[da]=Åbn som systemadministrator
Name[pt]=Abrir como 'Root'
Name[sv]=Öppna som systemadministratör
Icon=dolphin
Exec=kdesu -c 'dolphin %U'
