[Desktop Action Format]
Encoding=UTF-8
Exec=kfloppy %u
Icon=kfloppy
Name=Format
Name[af]=Formaat
Name[be]=Фармат
Name[bg]=Формат
Name[br]=Furmadiñ
Name[cs]=Formát
Name[csb]=Fòrmat
Name[cy]=Fformat
Name[de]=Formatieren
Name[el]=Μορφοποίηση
Name[eo]=Formato
Name[es]=Formato
Name[et]=Vorming
Name[eu]=Formatua
Name[fa]=قالب
Name[fi]=Formatoi
Name[fy]=Formattearje
Name[ga]=Formáid
Name[gl]=Formato
Name[he]=אתחל
Name[hr]=Oblik
Name[hu]=Formázás
Name[is]=Snið
Name[it]=Formatta
Name[ja]=フォーマット
Name[ka]=ფორმატი
Name[kk]=Пішін
Name[km]=ទ្រង់ទ្រាយ​
Name[lt]=Formatuoti
Name[lv]=Formatēt
Name[mk]=Формат
Name[nds]=Formateren
Name[ne]=ढाँचा
Name[nl]=Formatteren
Name[pa]=ਫਾਰਮੈਟ
Name[pt]=Formatar
Name[pt_BR]=Formatar
Name[ru]=Формат
Name[se]=Formáhtta
Name[sl]=Oblika
Name[sr]=Формат
Name[ta]=வடிவம்
Name[te]=ఫార్మెట్
Name[tg]=Андоза
Name[th]=รูปแบบ
Name[tr]=Biçim
Name[uk]=Формат
Name[uz]=Формат қилиш
Name[vi]=Định dạng
Name[wa]=Abwesner
Name[x-test]=xxFormatxx
Name[xh]=Ifomati
Name[zh_CN]=格式
Name[zh_TW]=格式化

[Desktop Entry]
Actions=Format;
ServiceTypes=media/floppy_unmounted,media/floppy5_unmounted
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
