[Desktop Action Format]
Exec=kfloppy %u
Icon=kfloppy
Name=Format
Name[el]=Τύπος
Name[es]=Formato
Name[et]=Vorminda
Name[ga]=Formáid
Name[ja]=フォーマット
Name[nl]=Formatteren
Name[pt]=Formato
Name[pt_BR]=Formato

[Desktop Entry]
Actions=Format;
ServiceTypes=media/floppy_unmounted,media/floppy5_unmounted
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
