#
# Servicemenu image converter, by Jens Benecke <jens-kde@spamfreemail.de>.
# Released under the same license as the KDE core distribution (GPL 2.0).
#
[Desktop Entry]
ServiceTypes=image/*
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
X-KDE-Submenu[de]=Umwandeln in
X-KDE-Submenu[el]=Μετατροπή σε
X-KDE-Submenu[ja]=変換
X-KDE-Submenu[nds]=Ümwanneln na
X-KDE-Submenu[x-test]=xxConvert Toxx
X-KDE-Submenu[zh_TW]=轉換到
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Name[x-test]=xxJPEGxx
Icon=image
Exec=convert %f "`echo %f | perl -pe 's/\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Name[x-test]=xxPNGxx
Icon=image
Exec=convert %f "`echo %f | perl -pe 's/\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIF
Name[x-test]=xxTIFxx
Icon=image
Exec=convert %f "`echo %f | perl -pe 's/\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Name[x-test]=xxGIFxx
Icon=image
Exec=convert %f "`echo %f | perl -pe 's/\.[^.]+$//'`.gif"

