[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-font-ttf,application/x-font-type1,application/x-font-speedo,application/x-font-bdf,application/x-font-pcf,application/x-font-snf,application/x-font-otf,application/x-font-ttf,application/x-font-afm
Actions=installFont;
[Desktop Action installFont]
Name=Install
Name[af]=Installeer
Name[ar]=ثبّت
Name[be]=Устанавіць
Name[bg]=Инсталиране
Name[br]=Staliañ
Name[ca]=Instal·la
Name[cs]=Instalovat
Name[csb]=Instalëjë
Name[cy]=Gosod
Name[da]=Installér
Name[de]=Installieren
Name[el]=Εγκατάσταση
Name[eo]=Instalu
Name[es]=Instalar
Name[et]=Paigaldamine
Name[eu]=Instalatu
Name[fa]=نصب
Name[fi]=Asenna
Name[fr]=Installer
Name[fy]=Ynstallearje
Name[ga]=Suiteáil
Name[gl]=Instalar
Name[he]=התקנה
Name[hr]=Instaliraj
Name[hu]=Telepítő
Name[is]=Setja upp
Name[it]=Installa
Name[ja]=インストール
Name[ka]=ინსტალაცია
Name[kk]=Орнату
Name[km]=ដំឡើង
Name[lt]=Įdiegti
Name[lv]=Instalēt
Name[mk]=Инсталирај
Name[ms]=Pasang
Name[nb]=Installer
Name[nds]=Installeren
Name[ne]=स्थापना गर्नुहोस्
Name[nl]=Installeren
Name[nn]=Installer
Name[pa]=ਇੰਸਟਾਲ
Name[pl]=Instaluj
Name[pt]=Instalar
Name[pt_BR]=Instalar
Name[ro]=Instalare
Name[ru]=Установка
Name[se]=Sajáiduhte
Name[sl]=Namesti
Name[sr]=Инсталирај
Name[sr@latin]=Instaliraj
Name[sv]=Installera
Name[ta]=நிறுவி
Name[tg]=Гузоштан
Name[th]=ติดตั้ง
Name[tr]=Kur
Name[uk]=Встановлення
Name[uz]=Ўрнатиш
Name[vi]=Cài đặt
Name[x-test]=xxInstallxx
Name[zh_CN]=安装
Name[zh_TW]=安裝
Icon=fonts
Exec=kfmclient copy %U fonts:/

