[Desktop Entry]
Encoding=UTF-8
Actions=OpenISO
ServiceTypes=inode/blockdevice,application/x-iso

[Desktop Action OpenISO]
Comment=ISO9660 View
Comment[da]=ISO9660-visning
Comment[de]=Ansicht in ISO-9660
Comment[el]=Προβολή ISO9660
Comment[es]=Vista ISO9660
Comment[et]=ISO9660 vaade
Comment[ga]=Amharc ISO9660
Comment[ja]=ISO9660 ビュー
Comment[nl]=ISO9660-weergave
Comment[pt]=Vista de ISO9660
Comment[pt_BR]=Vista de ISO9660
Comment[sv]=ISO9660-vy
Icon=cd
Name=ISO9660 View
Name[da]=ISO9660-visning
Name[de]=Ansicht als ISO-9660
Name[el]=Προβολή ISO9660
Name[es]=Vista ISO9660
Name[et]=ISO9660 vaade
Name[ga]=Amharc ISO9660
Name[ja]=ISO9660 ビュー
Name[nl]=ISO9660-weergave
Name[pt]=Vista de ISO9660
Name[pt_BR]=Vista de ISO9660
Name[sv]=ISO9660-vy
Exec=
