[Desktop Entry]
Encoding=UTF-8
Actions=OpenISO
ServiceTypes=inode/blockdevice,application/x-cd-image

[Desktop Action OpenISO]
Comment=ISO9660 View
Comment[el]=Προβολή ISO9660
Comment[nds]=ISO9660-Ansicht
Comment[x-test]=xxISO9660 Viewxx
Icon=cd
Name=ISO9660 View
Name[el]=Προβολή ISO9660
Name[nds]=ISO9660-Ansicht
Name[x-test]=xxISO9660 Viewxx
Exec=
