[Desktop Entry]
Encoding=UTF-8
Actions=OpenISO
ServiceTypes=inode/blockdevice,application/x-iso

[Desktop Action OpenISO]
Comment=ISO9660 View
Icon=cd
Name=ISO9660 View
Exec=
