[Desktop Entry]
Encoding=UTF-8
ServiceTypes=image/jpeg
Actions=jpegRot90;jpegRot270;jpegFlipV;jpegFlipH;
X-KDE-Submenu=Transform Image
X-KDE-Submenu[be]=Змяніць відарыс
X-KDE-Submenu[bg]=Трансформиране на изображение
X-KDE-Submenu[csb]=Przesztôłcë òbrôzk
X-KDE-Submenu[de]=Bild umwandeln
X-KDE-Submenu[el]=Μετασχηματισμός εικόνας
X-KDE-Submenu[es]=Transformar la imagen
X-KDE-Submenu[ga]=Trasfhoirmigh Íomhá
X-KDE-Submenu[ja]=画像を変形
X-KDE-Submenu[nds]=Bild ümwanneln
X-KDE-Submenu[nl]=Afbeelding omzetten
X-KDE-Submenu[pt]=Transformar a Imagem
X-KDE-Submenu[pt_BR]=Transformar a Imagem
X-KDE-Submenu[sv]=Omvandla bild
X-KDE-Submenu[th]=เปลี่ยนแปลงภาพ
X-KDE-Submenu[x-test]=xxTransform Imagexx
X-KDE-Submenu[zh_TW]=轉換影像
X-KDE-Require=Write

[Desktop Action jpegRot90]
Name=Rotate Clockwise
Name[be]=Павярнуць па гадзіннай стрэлцы
Name[bg]=Въртене по час. стрелка
Name[csb]=Òbrócë zgódno z czérënkã wskôzów zédżera
Name[de]=Rechts drehen
Name[el]=Περιστροφή με τη Φορά του Ρολογιού
Name[es]=Rotar en sentido horario
Name[ga]=Rothlaigh go Deisealach
Name[ja]=時計回りに回転
Name[nds]=Na rechts dreihen
Name[nl]=Rechtsom draaien
Name[pt]=Rodar no Sentido Horário
Name[pt_BR]=Rodar no Sentido Horário
Name[sv]=Rotera medurs
Name[th]=หมุนตามเข็มนาฬิกา
Name[x-test]=xxRotate Clockwisexx
Name[zh_TW]=順時針旋轉
Icon=rotate_cw
Exec=jpegorient +90 %F

[Desktop Action jpegRot270]
Name=Rotate Counter-Clockwise
Name[be]=Павярнуць супаць гадзіннай стрэлкі
Name[bg]=Въртене обратно на час. стрелка
Name[csb]=Òbrócë promcëmno do wskôzów zédżera
Name[de]=Links drehen
Name[el]=Περιστροφή ανάποδα από τη Φορά του Ρολογιού
Name[es]=Rotar en sentido antihorario
Name[ga]=Rothlaigh go Tuathalach
Name[ja]=反時計回りに回転
Name[nds]=Na links dreihen
Name[nl]=Linksom draaien
Name[pt]=Rodar no Sentido Anti-Horário
Name[pt_BR]=Rodar no Sentido Anti-Horário
Name[sv]=Rotera moturs
Name[th]=หมุนทวนเข็มนาฬิกา
Name[x-test]=xxRotate Counter-Clockwisexx
Name[zh_TW]=逆時針旋轉
Icon=rotate_ccw
Exec=jpegorient +270 %F

#[Desktop Action jpegRot180]
#Name=Rotate 180
#Icon=misc
#Exec=jpegorient +180 %F

[Desktop Action jpegFlipV]
Name=Flip Vertically
Name[be]=Адбіць па вертыкалі
Name[csb]=Òbrócë wertikalno
Name[de]=Vertikal spiegeln
Name[el]=Αναστροφή κατακόρυφα
Name[es]=Voltear verticalmente
Name[ga]=Smeach go hIngearach
Name[ja]=上下反転
Name[nds]=Pielliek ümdreihen
Name[nl]=Verticaal spiegelen
Name[pt]=Inverter Verticalmente
Name[pt_BR]=Inverter Verticalmente
Name[sv]=Vänd vertikalt
Name[th]=พลิกตามแนวตั้ง
Name[x-test]=xxFlip Verticallyxx
Name[zh_TW]=垂直分割
Icon=2uparrow
Exec=jpegorient v %F

[Desktop Action jpegFlipH]
Name=Flip Horizontally
Name[be]=Адбіць па гарызанталі
Name[csb]=Òbrocë hòrizontalno
Name[de]=Horizontal spiegeln
Name[el]=Αναστροφή οριζόντια
Name[es]=Voltear horizontalmente
Name[ga]=Smeach go Cothrománach
Name[ja]=左右反転
Name[nds]=Waagrecht ümdreihen
Name[nl]=Horizontaal spiegelen
Name[pt]=Inverter Horizontalmente
Name[pt_BR]=Inverter Horizontalmente
Name[sv]=Vänd horisontellt
Name[th]=พลิกตามแนวนอน
Name[x-test]=xxFlip Horizontallyxx
Name[zh_TW]=水平分割
Icon=2rightarrow
Exec=jpegorient h %F
