[Desktop Entry]
ServiceTypes=image/jpeg
Actions=jpegRot90;jpegRot270;jpegFlipV;jpegFlipH;
X-KDE-Submenu=Transform Image
X-KDE-Submenu[bg]=Трансформиране на изображение
X-KDE-Submenu[csb]=Przesztôłcë òbrôzk
X-KDE-Submenu[de]=Bild umwandeln
X-KDE-Submenu[el]=Μετασχηματισμός εικόνας
X-KDE-Submenu[es]=Transformar la imagen
X-KDE-Submenu[ja]=画像を変形
X-KDE-Submenu[nds]=Bild ümwanneln
X-KDE-Submenu[sv]=Omvandla bild
X-KDE-Submenu[x-test]=xxTransform Imagexx
X-KDE-Submenu[zh_TW]=轉換影像
X-KDE-Require=Write

[Desktop Action jpegRot90]
Name=Rotate Clockwise
Name[bg]=Въртене по час. стрелка
Name[csb]=Òbrócë zgódno z czérënkã wskôzów zédżera
Name[de]=Rechts drehen
Name[el]=Περιστροφή με τη Φορά του Ρολογιού
Name[es]=Rotar en sentido horario
Name[ja]=時計回りに回転
Name[nds]=Na rechts dreihen
Name[sv]=Rotera medurs
Name[x-test]=xxRotate Clockwisexx
Name[zh_TW]=順時針旋轉
Icon=rotate_cw
Exec=jpegorient +90 %F

[Desktop Action jpegRot270]
Name=Rotate Counter-Clockwise
Name[bg]=Въртене обратно на час. стрелка
Name[csb]=Òbrócë promcëmno do wskôzów zédżera
Name[de]=Links drehen
Name[el]=Περιστροφή ανάποδα από τη Φορά του Ρολογιού
Name[es]=Rotar en sentido antihorario
Name[ja]=反時計回りに回転
Name[nds]=Na links dreihen
Name[sv]=Rotera moturs
Name[x-test]=xxRotate Counter-Clockwisexx
Name[zh_TW]=逆時針旋轉
Icon=rotate_ccw
Exec=jpegorient +270 %F

#[Desktop Action jpegRot180]
#Name=Rotate 180
#Icon=misc
#Exec=jpegorient +180 %F

[Desktop Action jpegFlipV]
Name=Flip Vertically
Name[csb]=Òbrócë wertikalno
Name[de]=Vertikal spiegeln
Name[el]=Αναστροφή κατακόρυφα
Name[es]=Voltear verticalmente
Name[ja]=上下反転
Name[nds]=Pielliek ümdreihen
Name[sv]=Vänd vertikalt
Name[x-test]=xxFlip Verticallyxx
Name[zh_TW]=垂直分割
Icon=2uparrow
Exec=jpegorient v %F

[Desktop Action jpegFlipH]
Name=Flip Horizontally
Name[csb]=Òbrocë hòrizontalno
Name[de]=Horizontal spiegeln
Name[el]=Αναστροφή οριζόντια
Name[es]=Voltear horizontalmente
Name[ja]=左右反転
Name[nds]=Waagrecht ümdreihen
Name[sv]=Vänd horisontellt
Name[x-test]=xxFlip Horizontallyxx
Name[zh_TW]=水平分割
Icon=2rightarrow
Exec=jpegorient h %F
