[Desktop Entry]
ServiceTypes=image/jpeg
Actions=jpegRot90;jpegRot270;jpegFlipV;jpegFlipH;
X-KDE-Submenu=Transform Image
X-KDE-Submenu[da]=Ændr billede
X-KDE-Submenu[de]=Bild transformieren
X-KDE-Submenu[pt]=Transformar a Imagem
X-KDE-Submenu[sv]=Ändra bild
X-KDE-Require=Write

[Desktop Action jpegRot90]
Name=Rotate Clockwise
Name[da]=Rotér med uret
Name[de]=Im Uhrzeigersinn drehen
Name[pt]=Rodar no Sentido Horário
Name[sv]=Rotera medurs
Icon=rotate_cw
Exec=jpegorient +90 %F

[Desktop Action jpegRot270]
Name=Rotate Counter-Clockwise
Name[da]=Rotér mod uret
Name[de]=Gegen den Uhrzeigersinn drehen
Name[pt]=Rodar no Sentido Anti-Horário
Name[sv]=Rotera moturs
Icon=rotate_ccw
Exec=jpegorient +270 %F

#[Desktop Action jpegRot180]
#Name=Rotate 180
#Icon=misc
#Exec=jpegorient +180 %F

[Desktop Action jpegFlipV]
Name=Flip Vertically
Name[da]=Flip lodret
Name[de]=Vertikal spiegeln
Name[pt]=Inverter Verticalmente
Name[sv]=Vänd vertikalt
Icon=2uparrow
Exec=jpegorient v %F

[Desktop Action jpegFlipH]
Name=Flip Horizontally
Name[da]=Flip vandret
Name[de]=Horizontal spiegeln
Name[pt]=Inverter Horizontalmente
Name[sv]=Vänd horisontellt
Icon=2rightarrow
Exec=jpegorient h %F
