[Desktop Entry]
Actions=WriteCdImage;
Encoding=UTF-8
ServiceTypes=application/x-cue
[Desktop Action WriteCdImage]
Exec=k3b --cdimage %F
Name=Write CD Image with K3b...
Name[be]=Запісаць адбітак CD пры дапамозе K3b
Name[bg]=Запис на CD образ с K3b...
Name[csb]=Wëpôlë òbrôz CD w K3B...
Name[de]=CD-Abbild mit K3b brennen ...
Name[el]=Δημιουργία εικόνας CD με το K3b...
Name[es]=Escribir imagen de CD con K3b...
Name[ja]=K3b で CD イメージを書き込み...
Name[nds]=CD-Afbild mit K3b brennen...
Name[nl]=CD-image branden met K3b...
Name[pt]=Gravar uma Imagem de CD com o K3b...
Name[pt_BR]=Gravar uma Imagem de CD com o K3b...
Name[sv]=Skriv cd-avbild med K3b...
Name[th]=สร้างแฟ้มอิมเมจของ CD ด้วย K3b
Name[x-test]=xxWrite CD Image with K3b...xx
Name[zh_TW]=用 K3b 寫入光碟映像檔...
Icon=k3b

