[Desktop Entry]
Actions=CreateK3bVcdProject;
Encoding=UTF-8
ServiceTypes=video/mpeg

X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b...
Name[af]=Skep video CD met K3b...
Name[bg]=Създаване на видео CD с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে ভিডিও সিডি তৈরি করো...
Name[br]=Krouiñ ur CD video gant K3b ...
Name[bs]=Napravi video CD koristeći K3b...
Name[ca]=Crea CD de vídeo amb K3b...
Name[cs]=Vytvořit video CD...
#SUSE-Overwrite Name[da]=Lav video-cd med K3b...
Name[da]=Lav Video CD med K3b...
Name[de]=Video-CD mit K3b erstellen ...
Name[el]=Δημιουργία Video CD με το K3b...
Name[es]=Crear Video CD con K3b...
Name[et]=Kirjuta video-CD K3b abil...
Name[eu]=Sortu Bideo CDak K3b-rekin...
Name[fr]=Créer un CD vidéo avec K3b...
Name[he]=צור תקליטורי וידאו VCD בעזרת K3b...
Name[hi]=के3बी के साथ वीडियो सीडी बनाए...
Name[hu]=Video-CD létrehozása a K3b-vel...
Name[is]=Búa til vídeódisk með K3b...
Name[it]=Crea Video CD con K3b...
#SUSE-Overwrite Name[ja]=Video CD を K3b で作成...
Name[ja]=K3bによるビデオCDの作成...
Name[lt]=Kurkite video CD su K3b...
Name[mk]=Креирајте видео-CD со K3b...
#SUSE-Overwrite Name[nb]=Lag video-CD med K3b . . .
Name[nb]=Brenn video-CD-er med K3b...
Name[nl]=Video-cd aanmaken K3b...
#SUSE-Overwrite Name[pa]=K3b ਨਾਲ ਵੀਡਿਓ CD ਬਣਾਓ...
Name[pa]=K3b ਨਾਲ ਵੀਡਿਓ CD ਬਣਾਓ
Name[pl]=Stwórz płytę Video CD za pomocą K3b...
Name[pt]=Criar um Video CD com o K3b...
Name[pt_BR]=Criar CD de Vídeo com K3b...
Name[ru]=Записать видео компакт-диск, используя K3b...
Name[sl]=Ustvari video CD s K3b ...
Name[sr]=Направи видео CD помоћу K3b-а...
Name[sr@Latn]=Napravi video CD pomoću K3b-a...
Name[sv]=Skapa video-cd med K3b...
Name[ta]=ஒளிக் குறுந்தகட்டோடு K3bஐ உருவாக்குக...
Name[tr]=K3b ile Video CD'si oluştur...
Name[uk]=Створити відео-КД за допомогою K3b...
Name[zh_CN]=用 K3b 创建视频 CD...
Icon=k3b

Name[fi]=Luo video-CD K3b:llä
Name[km]=បង្កើត​ស៊ីឌី​វីដេអូ​ជាមួយ K3b...
Name[zh_TW]=以 K3b 建立視訊 CD...
