[Desktop Entry]
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=audio/mpeg,audio/x-vorbis+ogg,application/ogg,audio/x-mp2,audio/x-mpegurl,audio/x-wav,media/blankcd
[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %U
Name=Create Audio CD with K3b...
Name[be]=Стварыць Аўдыё-CD пры дапамозе K3b...
Name[bg]=Създаване на аудио CD с K3b...
Name[csb]=Ùsadzë CD Audio w K3B...
Name[de]=Audio-CD mit K3b erstellen ...
Name[el]=Δημιουργία CD ήχου με το K3b...
Name[es]=Crear CD de audio con K3b...
Name[ga]=Cruthaigh CD Fuaime le K3b...
Name[ja]=K3b でオーディオ CD を作成...
Name[nds]=Audio-CD mit K3b opstellen...
Name[nl]=Audio-cd aanmaken met K3b...
Name[pt]=Criar um CD de Áudio com o K3b...
Name[pt_BR]=Criar um CD de Áudio com o K3b...
Name[sv]=Skapa ljud-cd med K3b...
Name[th]=สร้าง CD บันทึกเสียงด้วย K3b...
Name[x-test]=xxCreate Audio CD with K3b...xx
Name[zh_TW]=用 K3b 建立音樂光碟...
Icon=k3b

