[Desktop Entry]
Encoding=UTF-8
ServiceTypes=all/allfiles
Actions=mail_as_attachment;

[Desktop Action mail_as_attachment]
Name=Mail as Attachment...
Name[be]=Даслаць як далучэнне...
Name[bg]=Изпращане по е-поща като прикрепен файл...
Name[csb]=Wëslë jakno przëdôwk...
Name[de]=Als E-Mail-Anhang senden ...
Name[el]=Αποστολή ως συνημμένο...
Name[es]=Enviar por correo como adjunto...
Name[fa]=نامه به عنوان پیوست...
Name[ga]=Seol mar Iatán...
Name[ja]=メールに添付して送る...
Name[km]=សំបុត្រ​ជា​ឯកសារ​ភ្ជាប់...
Name[nds]=As Nettpost-Bilaag sennen...
Name[nl]=Als bijlage e-mailen...
Name[pa]=ਮੇਲ ਵਾਂਗ ਨੱਥੀ ਕਰੋ...
Name[pt]=Enviar como Anexo...
Name[pt_BR]=Enviar como Anexo...
Name[sr]=Пошаљи као прилог...
Name[sr@latin]=Пошаљи као прилог...
Name[sv]=E-posta som bilaga...
Name[th]=ส่งเมลเป็นแฟ้มแนบ...
Name[x-test]=xxMail as Attachment...xx
Name[zh_TW]=當成附加檔郵寄...
Icon=mail_send
Exec=kmail --attach %U
