[Desktop Entry]
ServiceTypes=media/removable_mounted,media/removable_unmounted,media/camera_mounted,media/camera_unmounted
Actions=MediaSafelyRemove;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true

X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
[Desktop Action MediaSafelyRemove]
Name=Safely Remove
Name[af]=Verwyder veilig
Name[bg]=Безопасно изваждане
Name[bn]=নিরাপদভাবে সরাও
Name[ca]=Extreu amb seguretat
Name[cs]=Bezpečně odstranit
Name[da]=Fjern sikkert
Name[de]=Sicher entfernen
Name[el]=Ασφαλής αφαίρεση
Name[es]=Extracción segura
Name[et]=Eemalda turvaliselt
Name[eu]=Atera arriskurik gabe
Name[fi]=Poista turvallisesti
Name[fr]=Enlever en toute sécurité
Name[fy]=Feilich ferwiderje
Name[gl]=Eliminar de Maneira Segura
Name[he]=שליפה בבטחה
Name[hu]=Biztonságos leválasztás
Name[is]=Fjarlægja öruggt
Name[it]=Rimozione sicura
Name[ja]=安全に取り除く
#SUSE-Overwrite Name[km]=យកចេញ​ដោយ​សុវត្ថិភាព
Name[km]=យក​ចេញ​ដោយ​សុវត្ថិភាព
Name[lt]=Saugiai pašalinti
Name[mk]=Отстрани безбедно
Name[ms]=Buang Dengan Selamat
Name[nb]=Sikker fjerning
Name[nds]=Seker rutnehmen
Name[nl]=Veilig verwijderen
Name[nn]=Trygg fjerning
#SUSE-Overwrite Name[pa]=ਸੁਰੱਖਿਅਤ ਹਟਾਓ
Name[pa]=ਸੁਰੱਖਿਅਤ ਰੂਪ 'ਚ ਹਟਾਓ
Name[pl]=Usuń w sposób bezpieczny
Name[pt]=Retirar com Segurança
Name[pt_BR]=Remover de Modo Seguro
Name[ro]=Scoate în siguranţă
Name[ru]=Безопасно извлечь
Name[rw]=Gukuramo Neza
Name[se]=Dorvvošlaš eretváldin
Name[sl]=Varno odstrani
Name[sr]=Безбедно уклони
Name[sr@Latn]=Bezbedno ukloni
Name[sv]=Säker urkoppling
Name[ta]=பாதுகாப்பாக நீக்கு
Name[th]=ถอดออกได้อย่างปลอดภัย
Name[tr]=Güvenli Kaldır
Name[tt]=İmin Çığaru
Name[uk]=Безпечно вилучити
Name[uz]=Эҳтиётлик билан узиш
Name[zh_CN]=安全删除
Name[zh_TW]=安全的移除
Exec=kio_media_mounthelper -s %u


