[Desktop Entry]
ServiceTypes=media/cdrom_mounted,media/cdwriter_mounted,media/dvd_mounted,media/floppy5_mounted,media/floppy_mounted,media/hdd_mounted,media/nfs_mounted,media/smb_mounted,media/removable_mounted,media/zip_mounted
Actions=MediaRealFolder
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
[Desktop Action MediaRealFolder]
Name=Open Medium System Folder
Name[bg]=Отваряне системната директория на носителя
Name[csb]=Systemòwi katalog Ôpen Mediów
Name[de]=Systemordner des Mediums öffnen
Name[el]=άνοιγμα του φακέλου συστήματος μέσων
Name[es]=Abrir carpeta del sistema
Name[ja]=メディアシステムフォルダを開く
Name[nds]=Systeem-Medienorner opmaken
Name[nl]=Medium-systeemmap openen
Name[sv]=Öppna systemkatalog på medium
Name[th]=เปิดโฟลเดอร์ระบบของสื่อ
Name[x-test]=xxOpen Medium System Folderxx
Name[zh_TW]=開啟媒體系統資料夾
Exec=kio_media_realfolder %u


