[Desktop Entry]
ServiceTypes=media/cdrom_mounted,media/cdrom_unmounted,media/cdwriter_mounted,media/cdwriter_unmounted,media/dvd_mounted,media/dvd_unmounted,media/audiocd,media/blankcd,media/blankdvd,media/dvdvideo,media/svcd,media/vcd
Actions=MediaEject;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
[Desktop Action MediaEject]
Name=Eject
Name[af]=Uitskiet
Name[ar]=أقذف
Name[be]=Выштурхнуць
Name[bg]=Изваждане
Name[br]=Stlepel
Name[ca]=Expulsa
Name[cs]=Vysunout
Name[csb]=Wësënie
Name[cy]=Allfwrw
Name[da]=Skub ud
Name[de]=Auswerfen
Name[el]=Εξαγωγή
Name[eo]=Eligo
Name[es]=Expulsar
Name[et]=Väljastamine
Name[eu]=Egotzi
Name[fa]=پس زدن
Name[fi]=Poista
Name[fr]=Éjecter
Name[fy]=Utsmytknop
Name[ga]=Díchuir
Name[gl]=Expulsar
Name[he]=הוצא
Name[hr]=Izbaci
Name[hu]=Kidobás
Name[is]=Henda út
Name[it]=Espelli
Name[ja]=取り出し
Name[ka]=CD-ს ამოღება
Name[kk]=Алып-шығару
Name[km]=ច្រាន​ចេញ
Name[ko]=꺼내기
Name[lt]=Išmesti
Name[lv]=Izņemt
Name[mk]=Извади
Name[ms]=Lenting
Name[nb]=Løs ut
Name[nds]=Rutsmieten
Name[ne]=निकाल्नुहोस्
Name[nl]=Uitwerpen
Name[nn]=Løys ut
Name[pa]=ਬਾਹਰ ਕੱਢੋ
Name[pl]=Wysuń
Name[pt]=Ejectar
Name[pt_BR]=Ejetar
Name[ro]=Ejectează
Name[ru]=Извлечь CD
Name[se]=Bálkes olggos
Name[sl]=Izvrzi
Name[sr]=Избаци
Name[sr@Latn]=Izbaci
Name[sv]=Mata ut
Name[ta]=வெளித்தள்
Name[te]=ఎజెక్ట్
Name[tg]=Ихроҷ
Name[tr]=Çıkart
Name[uk]=Виштовхнути
Name[uz]=Чиқариш
Name[x-test]=xxEjectxx
Name[xh]=Khuphela ngaphandle
Name[zh_TW]=退出
Exec=kio_media_mounthelper -e %u


