[Desktop Entry]
ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/dvd_unmounted,media/floppy5_unmounted,media/floppy_unmounted,media/hdd_unmounted,media/nfs_unmounted,media/removable_unmounted,media/smb_unmounted,media/zip_unmounted,media/camera_unmounted
Actions=MediaMount;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true

X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
[Desktop Action MediaMount]
Name=Mount
Name[af]=Koppel
Name[ar]=حمّل
Name[az]=Bağla
Name[bg]=Монтиране
Name[bn]=মাউন্ট
Name[br]=Marc'hañ
Name[bs]=Montiraj
Name[ca]=Munta
Name[cs]=Připojit
Name[cy]=Gosod
Name[da]=Montér
Name[de]=Laufwerk einbinden
Name[el]=Προσάρτηση
Name[eo]=Kroĉo
Name[es]=Montar
Name[et]=Ühenda
Name[eu]=Muntatu
Name[fa]=سوارکردن
Name[fi]=Liitä
Name[fr]=Monter
Name[fy]=Oankeppelje (mount)
Name[ga]=Feistigh
Name[gl]=Montar
Name[he]=חבר
Name[hi]=माउन्ट
Name[hr]=Montiraj
Name[hsb]=montować
Name[hu]=Csatlakoztatás
Name[is]=Tengja
Name[it]=Monta
Name[ja]=マウント
#SUSE-Overwrite Name[km]=រៀបចំ
Name[km]=ម៉ោន
Name[lo]=ຈໍພາບ
Name[lt]=Montuoti
Name[lv]=Piemontēt
Name[mk]=Монтирај
Name[mn]=Залгах
Name[ms]=Lekap
Name[mt]=Immonta
Name[nb]=Monter
Name[nds]=Inhangen
Name[nl]=Aankoppelen (mount)
Name[nn]=Monter
Name[nso]=Nameletsa
#SUSE-Overwrite Name[pa]=ਮਾਊਟ
Name[pa]=ਮਾਊਂਟ
Name[pl]=Zamontuj
Name[pt]=Montar
Name[pt_BR]=Montar
Name[ro]=Montează
Name[ru]=Монтировать
Name[rw]=Gushyiramo
Name[se]=Čana
Name[sk]=Pripojiť
Name[sl]=Priklopi
Name[sr]=Монтирај
Name[sr@Latn]=Montiraj
Name[sv]=Montera
Name[ta]=ஏற்று
Name[tg]=Васл кунӣ
Name[th]=เม้าทน์
Name[tr]=Bağla
Name[tt]=Bäyläp quy
Name[uk]=Змонтувати
Name[uz]=Улаш
Name[ven]=Gonya
Name[vi]=Gắn kết
Name[wa]=Monter
Name[xh]=Layisha
Name[zh_CN]=挂载
Name[zh_TW]=掛載
Name[zu]=Yenyusa
Exec=kio_media_mounthelper -m %u


