[Desktop Entry]
Encoding=UTF-8
ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/dvd_unmounted,media/floppy5_unmounted,media/floppy_unmounted,media/hdd_unmounted,media/nfs_unmounted,media/removable_unmounted,media/smb_unmounted,media/zip_unmounted,media/camera_unmounted
Actions=MediaMount;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
[Desktop Action MediaMount]
Name=Mount
Name[af]=Koppel
Name[be]=Прымацаваць
Name[bg]=Монтиране
Name[br]=Marc'hañ
Name[ca]=Munta
Name[cs]=Připojit
Name[csb]=Mòntëjë
Name[cy]=Gosod
Name[da]=Montér
Name[de]=Laufwerk einbinden
Name[el]=Προσάρτηση
Name[eo]=Kroĉo
Name[es]=Montar
Name[et]=Ühenda
Name[eu]=Muntatu
Name[fa]=سوار کردن
Name[fi]=Liitä
Name[fr]=Monter
Name[fy]=Oankeppelje (mount)
Name[ga]=Feistigh
Name[gl]=Montar
Name[he]=חבר
Name[hr]=Pristupi
Name[hu]=Csatlakoztatás
Name[is]=Tengja
Name[it]=Monta
Name[ja]=マウント
Name[ka]=მონტირება
Name[kk]=Тіркеу
Name[km]=រៀបចំ
Name[lt]=Montuoti
Name[lv]=Piemontēt
Name[mk]=Монтирај
Name[ms]=Lekap
Name[nb]=Monter
Name[nds]=Inhangen
Name[ne]=माउन्ट
Name[nl]=Aankoppelen (mount)
Name[nn]=Monter
Name[pa]=ਮਾਊਟ
Name[pl]=Zamontuj
Name[pt]=Montar
Name[pt_BR]=Montar
Name[ro]=Montează
Name[ru]=Монтировать
Name[se]=Čana
Name[sl]=Priklopi
Name[sr]=Монтирај
Name[sr@latin]=Montiraj
Name[sv]=Montera
Name[ta]=ஏற்று
Name[tg]=Васл кунӣ
Name[th]=เม้านท์
Name[tr]=Bağla
Name[uk]=Змонтувати
Name[uz]=Улаш
Name[wa]=Monter
Name[x-test]=xxMountxx
Name[xh]=Layisha
Name[zh_TW]=掛載
Exec=kio_media_mounthelper -m %u
