[Desktop Entry]
ServiceTypes=media/cdrom_mounted,media/cdwriter_mounted,media/dvd_mounted,media/floppy5_mounted,media/floppy_mounted,media/hdd_mounted,media/nfs_mounted,media/smb_mounted,media/zip_mounted,media/vcd,media/svcd,media/dvdvideo
Actions=MediaUnmount;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true

X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
[Desktop Action MediaUnmount]
Name=Unmount
Name[af]=Ontkoppel
Name[ar]=أزل التركيب
Name[be]=Адмацаваць
Name[bg]=Демонтиране
Name[br]=Divarc'hañ
Name[ca]= Desmunta
Name[cs]=Odpojit
Name[csb]=Òdmòntujë
Name[cy]=Dadosod
Name[da]=Afmontér
Name[de]=Laufwerkeinbindung lösen
Name[el]=Αποπροσάρτηση
Name[eo]=Malkroĉo
Name[es]=Desmontar
Name[et]=Lahuta
Name[eu]=Desmuntatu
Name[fa]=پیاده کردن
Name[fi]=Irrota
Name[fr]=Démonter (enlever de l'arborescence Linux)
Name[fy]=Ofkeppelje (unmount)
Name[ga]=Dífheistigh
Name[gl]=Desmontar
Name[he]=נתק
Name[hr]=Napusti
Name[hu]=Leválasztás
Name[is]=Aftengja
Name[it]=Smonta
Name[ja]=マウント解除
Name[ka]=დემონტირება
Name[kk]=Тіркеуден шығару
Name[km]=មិន​រៀបចំ
Name[lt]=Išmontuoti
Name[lv]=Nomontēt
Name[mk]=Одмонтирај
Name[ms]=Nyahlekap
Name[nb]=Avmonter
Name[nds]=Afhangen
Name[ne]=अनमाउन्ट
Name[nl]=Afkoppelen (unmount)
Name[nn]=Avmonter
Name[pa]=ਅਨਮਾਉਟ
Name[pl]=Odmontuj
Name[pt]=Desmontar
Name[pt_BR]=Desmontar
Name[ro]=Demontează
Name[ru]=Отмонтировать
Name[se]=Gálgga
Name[sl]=Odklopi
Name[sr]=Демонтирај
Name[sr@Latn]=Demontiraj
Name[sv]=Avmontera
Name[ta]=வெளியேற்று
Name[tg]=Ҷудо кунӣ
Name[tr]=Ayır
Name[uk]=Демонтувати
Name[uz]=Узиш
Name[x-test]=xxUnmountxx
Name[xh]=Sukuyilayisha
Name[zh_TW]=卸載
#SUSE-Overwrite Name[km]=មិន​រៀបចំ
#SUSE-Overwrite Name[pa]=ਅਨਮਾਉਟ
Exec=kio_media_mounthelper -u %u


