[Desktop Entry]
ServiceTypes=media/cdrom_mounted,media/cdwriter_mounted,media/dvd_mounted,media/floppy5_mounted,media/floppy_mounted,media/hdd_mounted,media/nfs_mounted,media/smb_mounted,media/removable_mounted,media/zip_mounted
Actions=MediaRealFolder
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true

X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
X-SuSE-translate=true
[Desktop Action MediaRealFolder]
Name=Open Medium System Folder
Name[el]=άνοιγμα του φακέλου συστήματος μέσων
Name[nds]=Systeem-Medienorner opmaken
Name[x-test]=xxOpen Medium System Folderxx
#SUSE-Overwrite Name[pa]=ਮੀਡੀਅਮ ਸਿਸਟਮ ਫੋਲਡਰ ਖੋਲੋ
Exec=kio_media_realfolder %u


