[Desktop Action OpenDigikam]
Exec=digikam --download-from %u
Icon=digikam
Name=Open in Digikam
Name[be]=Адкрыць у Digikam
Name[bg]=Отваряне в Digikam
Name[csb]=Òtemkni w Digikam
Name[de]=Mit Digikam öffnen
Name[el]=Άνοιγμα στο Digikam
Name[es]=Abrir en Digikam
Name[fa]=باز کردن در Digikam
Name[ga]=Oscail i Digikam
Name[he]=פתח ב־Digikam
Name[ja]=Digikam で開く
Name[km]=បើ​ក​នៅ​ក្នុង Digikam
Name[nds]=Mit Digikam opmaken
Name[nl]=In digiKam openen
Name[pa]=ਡਿਜ਼ਿਕੈਮ ਵਿੱਚ ਖੋਲ੍ਹੋ
Name[pt]=Abrir no Digikam
Name[pt_BR]=Abrir no Digikam
Name[sl]=Odpri v Digikamu
Name[sr]=Отвори Дикикамом
Name[sr@latin]=Отвори Дикикамом
Name[sv]=Öppna med Digikam
Name[th]=เปิดใน Digikam
Name[vi]=Mở trong Digikam
Name[x-test]=xxOpen in Digikamxx
Name[zh_CN]=在 Digikam 中打开
Name[zh_TW]=在 Digikam 中開啟

[Desktop Entry]
Encoding=UTF-8
Actions=OpenDigikam;
ServiceTypes=media/gphoto2camera,media/camera_mounted,media/camera_unmounted
