[Desktop Action OpenDigikam]
Exec=digikam --download-from %u
Icon=digikam
Name=Open in Digikam
Name[x-test]=xxOpen in Digikamxx

[Desktop Entry]
Actions=OpenDigikam;
ServiceTypes=media/gphoto2camera,media/camera_mounted,media/camera_unmounted

X-SuSE-translate=true
