[Desktop Action OpenDigikam]
Exec=digikam --download-from %u
Icon=digikam
Name=Open in Digikam
Name[csb]=Òtemkni w Digikam
Name[de]=Mit Digikam öffnen
Name[el]=Άνοιγμα στο Digikam
Name[ja]=Digikam で開く
Name[nds]=Mit Digikam opmaken
Name[sv]=Öppna med Digikam
Name[x-test]=xxOpen in Digikamxx
Name[zh_TW]=在 Digikam 中開啟

[Desktop Entry]
Actions=OpenDigikam;
ServiceTypes=media/gphoto2camera,media/camera_mounted,media/camera_unmounted
