Name=Dolphin General
Name[ca]=General del Dolphin
Name[fi]=Dolphin – yleiset
Name[fr]=Dolphin général
Name[id]=Dolphin Umum
Name[it]=Impostazioni generali di Dolphin
Name[nl]=Dolphin algemeen
Name[pl]=Ustawienia Dolphina
Name[pt]=Geral do Dolphin
Name[pt_BR]=Geral do Dolphin
Name[sk]=Všeobecný Dolphin
Name[sr]=Делфиново опште
Name[sr@ijekavian]=Делфиново опште
Name[sr@ijekavianlatin]=Dolphinovo opšte
Name[sr@latin]=Dolphinovo opšte
Name[sv]=Dolphin allmänt
Name[uk]=«Загальне» Dolphin
Name[x-test]=xxDolphin Generalxx
Name[zh_CN]=Dolphin 常规
Comment=This service allows configuration of general Dolphin settings.
Comment[ca]=Aquest servei permet la configuració de l'arranjament general del Dolphin.
Comment[fi]=Tällä palvelulla voi muokata Dolphinin yleisasetuksia.
Comment[fr]=Ce service permet de configurer les paramètres généraux de Dolphin.
Comment[id]=Layanan ini memungkinkan konfigurasi pengaturan umum Dolphin.
Comment[it]=Questo servizio permette di configurare le impostazioni generali di Dolphin.
Comment[nl]=Met deze dienst kunt u algemene Dolphin-instellingen configureren.
Comment[pl]=Ta usługa pozwala na ogólne ustawienie Dolphina.
Comment[pt]=Este serviço permite a configuração das definições gerais do Dolphin.
Comment[pt_BR]=Este serviço permite configurar as opções gerais do Dolphin.
Comment[sk]=Táto služba umožňuje všeobecné nastavenie Dolphinu.
Comment[sr]=Овај сервис омогућава подешавање општих Делфинових поставки.
Comment[sr@ijekavian]=Овај сервис омогућава подешавање општих Делфинових поставки.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava podešavanje opštih Dolphinovih postavki.
Comment[sr@latin]=Ovaj servis omogućava podešavanje opštih Dolphinovih postavki.
Comment[sv]=Den här tjänsten låter dig anpassa allmänna inställningar i Dolphin.
Comment[uk]=Ця служба надасть змогу налаштувати загальні параметри Dolphin.
Comment[x-test]=xxThis service allows configuration of general Dolphin settings.xx
Comment[zh_CN]=此服务允许您配置 Dolphin 的常规设置。

[Desktop Entry]
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmdolphingeneral

X-KDE-Library=kcm_dolphingeneral
X-KDE-PluginKeyword=dolphingeneral
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-general
# ctxt: Random file browsing settings.
Name=General
Name[ca]=General
Name[fi]=Yleiset
Name[fr]=Général
Name[id]=Umum
Name[it]=Generale
Name[nl]=Algemeen
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[sk]=Všeobecné
Name[sr]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Opšte
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Comment=Configure general file manager settings
Comment[ca]=Configura les opcions generals del gestor de fitxers
Comment[fi]=Tiedostonhallinnan yleisasetukset
Comment[fr]=Configuration des paramètres généraux du gestionnaire de fichiers
Comment[id]=Konfigurasi pengaturan manajer berkas umum
Comment[it]=Configura le impostazioni generali del gestore dei file
Comment[nl]=Algemene bestandsbeheerderinstellingen configureren
Comment[pl]=Ustawienia ogólne zarządzania plikami
Comment[pt]=Configurar as definições gerais do gestor de ficheiros
Comment[pt_BR]=Configura as opções gerais do gerenciador de arquivos
Comment[sk]=Všeobecné nastavenie správcu súborov
Comment[sr]=Подешавање општих поставки менаџера фајлова
Comment[sr@ijekavian]=Подешавање општих поставки менаџера фајлова
Comment[sr@ijekavianlatin]=Podešavanje opštih postavki menadžera fajlova
Comment[sr@latin]=Podešavanje opštih postavki menadžera fajlova
Comment[sv]=Anpassa filhanterarens allmänna inställningar
Comment[uk]=Налаштувати загальні параметри менеджера файлів
Comment[x-test]=xxConfigure general file manager settingsxx
Comment[zh_CN]=配置常规文件管理器设置
X-KDE-Keywords=file manager
X-KDE-Keywords[ca]=gestor de fitxers
X-KDE-Keywords[fi]=tiedostonhallinta
X-KDE-Keywords[fr]=gestionnaire de fichiers
X-KDE-Keywords[id]=manajer berkas
X-KDE-Keywords[it]=gestore dei file
X-KDE-Keywords[nl]=bestandsbeheerder
X-KDE-Keywords[pl]=zarządzanie plikami
X-KDE-Keywords[pt]=gestor de ficheiros
X-KDE-Keywords[pt_BR]=gerenciador de arquivos
X-KDE-Keywords[sk]=správca súborov
X-KDE-Keywords[sr]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavian]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavianlatin]=file manager,menadžer fajlova
X-KDE-Keywords[sr@latin]=file manager,menadžer fajlova
X-KDE-Keywords[sv]=filhanterare
X-KDE-Keywords[uk]=менеджер,керування,файл,файли
X-KDE-Keywords[x-test]=xxfile managerxx
X-KDE-Keywords[zh_CN]=file manager,文件管理器
