Name=Dolphin Services
Name[ca]=Serveis del Dolphin
Name[fi]=Dolphin – palvelut
Name[fr]=Services de Dolphin
Name[id]=Layanan Dolphin
Name[it]=Servizi di Dolphin
Name[nl]=Dolphin-services
Name[pl]=Usługi Dolphina
Name[pt]=Serviços do Dolphin
Name[pt_BR]=Serviços do Dolphin
Name[sk]=Služby Dolphinu
Name[sr]=Делфинови сервиси
Name[sr@ijekavian]=Делфинови сервиси
Name[sr@ijekavianlatin]=Dolphinovi servisi
Name[sr@latin]=Dolphinovi servisi
Name[sv]=Dolphin tjänster
Name[uk]=Служби Dolphin
Name[x-test]=xxDolphin Servicesxx
Name[zh_CN]=Dolphin 服务

[Desktop Entry]
Icon=services
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmdolphinservices

X-KDE-Library=kcm_dolphinservices
X-KDE-PluginKeyword=dolphinservices
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-services
Name=Services
Name[ca]=Serveis
Name[fi]=Palvelut
Name[fr]=Services
Name[id]=Layanan
Name[it]=Servizi
Name[nl]=Services
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[sk]=Služby
Name[sr]=Сервиси
Name[sr@ijekavian]=Сервиси
Name[sr@ijekavianlatin]=Servisi
Name[sr@latin]=Servisi
Name[sv]=Tjänster
Name[uk]=Служби
Name[x-test]=xxServicesxx
Name[zh_CN]=服务
Comment=Configure file manager services
Comment[ca]=Configura els serveis del gestor de fitxers
Comment[fi]=Tiedostonhallinnan palveluasetukset
Comment[fr]=Configuration des services du gestionnaire de fichiers
Comment[id]=Konfigurasi layanan manajer berkas
Comment[it]=Configura i servizi del gestore dei file
Comment[nl]=Bestandsbeheerderservices configureren
Comment[pl]=Ustawienia usług zarządzania plikami
Comment[pt]=Configurar os serviços do gestor de ficheiros
Comment[pt_BR]=Configura os serviços do gerenciador de arquivos
Comment[sk]=Nastavenie služieb správcu súborov
Comment[sr]=Подешавање сервиса менаџера фајлова
Comment[sr@ijekavian]=Подешавање сервиса менаџера фајлова
Comment[sr@ijekavianlatin]=Podešavanje servisa menadžera fajlova
Comment[sr@latin]=Podešavanje servisa menadžera fajlova
Comment[sv]=Anpassa filhanterarens tjänster
Comment[uk]=Налаштувати служби менеджера файлів
Comment[x-test]=xxConfigure file manager servicesxx
Comment[zh_CN]=配置文件管理器服务
X-KDE-Keywords=file manager
X-KDE-Keywords[ca]=gestor de fitxers
X-KDE-Keywords[fi]=tiedostonhallinta
X-KDE-Keywords[fr]=gestionnaire de fichiers
X-KDE-Keywords[id]=manajer berkas
X-KDE-Keywords[it]=gestore dei file
X-KDE-Keywords[nl]=bestandsbeheerder
X-KDE-Keywords[pl]=zarządzanie plikami
X-KDE-Keywords[pt]=gestor de ficheiros
X-KDE-Keywords[pt_BR]=gerenciador de arquivos
X-KDE-Keywords[sk]=správca súborov
X-KDE-Keywords[sr]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavian]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavianlatin]=file manager,menadžer fajlova
X-KDE-Keywords[sr@latin]=file manager,menadžer fajlova
X-KDE-Keywords[sv]=filhanterare
X-KDE-Keywords[uk]=менеджер,керування,файл,файли
X-KDE-Keywords[x-test]=xxfile managerxx
X-KDE-Keywords[zh_CN]=file manager,文件管理器
