Name=Dolphin Services
Name[fi]=Dolphin – palvelut
Name[fr]=Services de Dolphin
Name[id]=Layanan Dolphin
Name[nl]=Dolphin-services
Name[pl]=Usługi Dolphina
Name[pt]=Serviços do Dolphin
Name[pt_BR]=Serviços do Dolphin
Name[sv]=Dolphin tjänster
Name[x-test]=xxDolphin Servicesxx
Name[zh_CN]=Dolphin 服务

[Desktop Entry]
Icon=services
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmdolphinservices

X-KDE-Library=kcm_dolphinservices
X-KDE-PluginKeyword=dolphinservices
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-services
Name=Services
Name[fi]=Palvelut
Name[fr]=Services
Name[id]=Layanan
Name[nl]=Services
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[sv]=Tjänster
Name[x-test]=xxServicesxx
Name[zh_CN]=服务
Comment=Configure file manager services
Comment[fi]=Tiedostonhallinnan palveluasetukset
Comment[fr]=Configuration des services du gestionnaire de fichiers
Comment[id]=Konfigurasi layanan manajer berkas
Comment[nl]=Bestandsbeheerderservices configureren
Comment[pl]=Ustawienia usług zarządzania plikami
Comment[pt]=Configurar os serviços do gestor de ficheiros
Comment[pt_BR]=Configura os serviços do gerenciador de arquivos
Comment[sv]=Anpassa filhanterarens tjänster
Comment[x-test]=xxConfigure file manager servicesxx
Comment[zh_CN]=配置文件管理器服务
X-KDE-Keywords=file manager
X-KDE-Keywords[fi]=tiedostonhallinta
X-KDE-Keywords[fr]=gestionnaire de fichiers
X-KDE-Keywords[id]=manajer berkas
X-KDE-Keywords[nl]=bestandsbeheerder
X-KDE-Keywords[pl]=zarządzanie plikami
X-KDE-Keywords[pt]=gestor de ficheiros
X-KDE-Keywords[pt_BR]=gerenciador de arquivos
X-KDE-Keywords[sv]=filhanterare
X-KDE-Keywords[x-test]=xxfile managerxx
X-KDE-Keywords[zh_CN]=file manager,文件管理器
