Name=Dolphin View Modes
Name[ar]=أنماط عرض دولفين
Name[ast]=Moos de vista de Dolphin
Name[bg]=Режими на преглед
Name[bn]=ডলফিন ভিউ মোড
Name[bs]=Delfinovi režimi prikaza
Name[ca]=Modes de vista del Dolphin
Name[ca@valencia]=Modes de vista del Dolphin
Name[cs]=Režimy pohledů Dolphinu
Name[csb]=Ôrtë wëzdrzatkù Dolphina
Name[da]=Dolphins visningstilstande
Name[de]=Dolphin-Ansichtsmodi
Name[el]=Λειτουργίες προβολής Dolphin
Name[en_GB]=Dolphin View Modes
Name[eo]=Dolphin-rigardaj stiloj
Name[es]=Modos de vista de Dolphin
Name[et]=Dolphini vaaterežiimid
Name[eu]=Dolphin-en ikuspegi moduak
Name[fi]=Dolphin – näkymät
Name[fr]=Modes d'affichage de Dolphin
Name[fy]=Dolfyn werjeftemodus
Name[ga]=Móid Amhairc Dolphin
Name[gl]=Modos de vista de Dolphin
Name[gu]=ડોલ્ફિન દેખાવ સ્થિતિઓ
Name[he]=אפשרויות תצוגה ב־Dolphin
Name[hi]=डॉल्फ़िन दृश्य मोड
Name[hr]=Dolphinovi načini prikaza
Name[hu]=Dolphin nézetmódok
Name[ia]=Modos de vista de Dolphin
Name[id]=Mode Tampilan Dolphin
Name[is]=Dolphin skoðunarhamir
Name[it]=Viste di Dolphin
Name[ja]=Dolphin 表示モード
Name[kk]=Dolphin көрінісінің режімдері
Name[km]=របៀប​មើល Dolphin
Name[kn]=ಡಾಲ್ಫಿನ್ ನೋಟದ ವಿಧಾನಗಳು
Name[ko]=Dolphin 보기 모드
Name[lt]=Dolphin rodymo būdai
Name[lv]=Dolphin skata režīmi
Name[mai]=डाल्फिनक दृश्य विधि
Name[mk]=Режими на преглед во Делфин
Name[ml]=ഡോള്‍ഫിന്‍ അവതരണദശകള്‍
Name[mr]=डॉल्फिन दृश्य पद्धत
Name[ms]=Mod Paparan Dolphin
Name[nb]=Dolphin visningsmåter
Name[nds]=Dolphin-Ansichten
Name[nl]=Dolphin-weergavemodussen
Name[nn]=Dolphin-visingar
Name[pa]=ਡਾਲਫਿਨ ਝਲਕ ਮੋਡ
Name[pl]=Tryby widoku Dolphina
Name[pt]=Modos de Visualização do Dolphin
Name[pt_BR]=Modos de exibição do Dolphin
Name[ro]=Regimuri de vizualizare Dolphin
Name[ru]=Режимы просмотра папок в Dolphin
Name[se]=Dolphin čájehanmodusat
Name[si]=Dolphin දසුන් ආකාර
Name[sk]=Režimy zobrazenia Dolphinu
Name[sl]=Dolphin - načini pogleda
Name[sr]=Делфинови режими приказа
Name[sr@ijekavian]=Делфинови режими приказа
Name[sr@ijekavianlatin]=Dolphinovi režimi prikaza
Name[sr@latin]=Dolphinovi režimi prikaza
Name[sv]=Dolphins visningslägen
Name[tg]=Ҳолатҳои намоиши Dolphin
Name[th]=โหมดมุมมองของดอลฟิน
Name[tr]=Dolphin Görünüm Kipleri
Name[ug]=Dolphin كۆرۈنۈش ھالىتى
Name[uk]=Режими перегляду Dolphin
Name[wa]=Môdes di vuwe di Dolphin
Name[x-test]=xxDolphin View Modesxx
Name[zh_CN]=Dolphin 视图模式
Name[zh_TW]=Dolphin 檢視模式
Comment=This service allows configuration of the Dolphin view modes.
Comment[ar]=هذه الخدمة تتيح التحكم بأنماط عرض دولفين
Comment[ast]=Esti serviciu permítete configurar los moos de vista de Dolphin.
Comment[bg]=Това ви позволява да настроите режимите на показване в Dolphin.
Comment[bs]=Ovaj servis omogućava podešavanje Delfinovih režima prikaza.
Comment[ca]=Aquest servei permet la configuració dels modes de vista del Dolphin.
Comment[ca@valencia]=Este servei permet la configuració dels modes de vista del Dolphin.
Comment[cs]=Tato služba umožňuje nastavení režimů pohledu Dolphinu.
Comment[csb]=Na ùsłëżnota pòzwôlô na kònfigùracëjã ôrtów wëzdrzatkù Dolphina.
Comment[da]=Denne tjeneste muliggør konfiguration af Dolphins visningstilstande.
Comment[de]=Mit diesem Dienst können Dolphin-Ansichtsmodi eingerichtet werden.
Comment[el]=Αυτή η υπηρεσία επιτρέπει τη διαμόρφωση των λειτουργιών προβολής του Dolphin.
Comment[en_GB]=This service allows configuration of the Dolphin view modes.
Comment[eo]=Ĉi tiu servo permesas agordi la Dolphin rigardajn stilojn.
Comment[es]=Este servicio le permite configurar los modos de vista de Dolphin.
Comment[et]=See teenus võimaldab seadistada Dolphini vaaterežiime.
Comment[eu]=Zerbitzu honen bitartez Dolphin-en ikuspegi moduak aldatu daitezke.
Comment[fi]=Tällä palvelulla voi muokata Dolphinin katselutilojen asetuksia.
Comment[fr]=Ce service permet de configurer les modes d'affichage de Dolphin.
Comment[fy]=Mei dizze tsjinst kinne jo de dolfyn werjeftemodus ynstelle.
Comment[ga]=Leis an tseirbhís seo is féidir na hamhairc Dolphin a chumrú.
Comment[gl]=Este servizo permite modificar a configuración das vistas de Dolphin.
Comment[he]=שירות זה מאפשר הגדרה של אפשרויות התצוגה ב־Dolphin.
Comment[hi]=यह सेवा आपको डॉल्फ़िन दृश्य मोड को कॉन्फ़िगर करने देता है.
Comment[hr]=Ova usluga dozvoljava konfiguraciju Dolphinovih načina prikaza.
Comment[hu]=Ez a szolgáltatás a Dolphin nézetmódjainak beállítását teszi lehetővé.
Comment[ia]=Iste servicio permitte configuration de le modos de vista de Dolphin
Comment[id]=Layanan ini memungkinkan konfigurasi mode tampilan Dolphin.
Comment[is]=Þessi þjónusta leyfir stillingar á skoðunarham í Dolphin.
Comment[it]=Questo servizio permette di configurare le viste di Dolphin.
Comment[ja]=Dolphin の表示モードを設定します
Comment[kk]=Бұл Dolphin көрінісін баптауға мүмкіндік беретін қызмет.
Comment[km]=សេវា​នេះ​អនុញ្ញាត​ឲ្យ​កំណត់​រចនាសម្ព័ន្ធ​នៃ​របៀប​មើល​របស់ Dolphin ។
Comment[kn]=ಈ ಸೇವೆಯು ಡಾಲ್ಫಿನ್‌ನ ಸಾಮಾನ್ಯ ನೋಟ ವಿಧಾನಗಳ ಸಂರಚನೆಗೆ ಅನುವು ಮಾಡಿಕೊಡುತ್ತದೆ.
Comment[ko]=이 서비스는 Dolphin 보기 모드를 설정합니다.
Comment[lt]=Ši tarnyba leidžia konfigūruoti Dolphin rodymo būdus.
Comment[lv]=Šis serviss ļauj konfigurēt Dolphin skata režīmus.
Comment[mai]=ई सेवा अहाँकेँ डॉल्फिन दृश्य मोड केँ विन्यस्त करै दैछ
Comment[mk]=Овој сервис овозможува конфигурација на режимите за преглед во Делфин.
Comment[ml]=ഡോള്‍ഫിന്‍ അവതരണദശകള്‍ ക്രമീകരിയ്ക്കാന്‍ ഈ സേവനം അനുവദിയ്ക്കുന്നു.
Comment[mr]=ही सेवा तुम्हाला डॉल्फिन दृश्य पद्धतिचे संयोजन करण्यास मदत करते.
Comment[nb]=Denne tjenesten tilbyr oppsett av Dolphin visningsmåter.
Comment[nds]=Mit dissen Deenst laat sik de Dolphin-Ansichten instellen.
Comment[nl]=Met deze dienst kunt u Dolphin-weergavemodussen configureren.
Comment[nn]=Denne tenesta lèt deg setja opp Dolphin-visingar.
Comment[pa]=ਇਹ ਸਰਵਿਸ ਡਾਲਫਿਨ ਝਲਕ ਮੋਡ ਦੀ ਸੰਰਚਨਾ ਵਾਸਤੇ ਹੈ।
Comment[pl]=Ta usługa umożliwia konfigurację trybów widoku Dolphina.
Comment[pt]=Este serviço permite-lhe configurar os modos de visualização do Dolphin.
Comment[pt_BR]=Este serviço permite configurar os modos de exibição do Dolphin.
Comment[ro]=Acest serviciu permite configurarea regimurilor de vizualizare Dolphin.
Comment[ru]=Эта служба позволяет настраивать режимы просмотра папок в Dolphin
Comment[si]=මෙම සේවාව Dolphin දසුන් ආකාර සැකසීමට ඉඩ දේ. 
Comment[sk]=Táto služba umožňuje nastavenie režimov zobrazenia Dolphinu.
Comment[sl]=Ta storitev omogoča spreminjanje nastavitev načinov pogleda programa Dolphin.
Comment[sr]=Овај сервис омогућава подешавање Делфинових режима приказа.
Comment[sr@ijekavian]=Овај сервис омогућава подешавање Делфинових режима приказа.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava podešavanje Dolphinovih režima prikaza.
Comment[sr@latin]=Ovaj servis omogućava podešavanje Dolphinovih režima prikaza.
Comment[sv]=Den här tjänsten låter dig anpassa visningslägen i Dolphin.
Comment[tg]=Ин хидмат барои танзимоти ҳолати намоиши Dolphin иҷозат медиҳад.
Comment[th]=บริการนี้อนุญาตให้ทำการปรับแต่งโหมดมุมมองต่าง ๆ ของดอลฟิน
Comment[tr]=Bu servis Dolphin görünüm kiplerini yapılandırmanızı sağlar.
Comment[ug]=بۇ مۇلازىمەت Dolphin نىڭ كۆرۈنۈش ھالىتىنى سەپلىشىڭىزگە يول قويىدۇ.
Comment[uk]=Ця служба надасть змогу налаштувати режими перегляду Dolphin.
Comment[wa]=Ci siervice permet l' apontiaedje des môdes di vuwe di Dolhpin.
Comment[x-test]=xxThis service allows configuration of the Dolphin view modes.xx
Comment[zh_CN]=此服务允许您配置 Dolphin 的视图模式。
Comment[zh_TW]=此服務允許設定 Dolphin 的檢視模式。

[Desktop Entry]
Icon=view-choose
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmdolphinviewmodes

X-KDE-Library=kcm_dolphinviewmodes
X-KDE-PluginKeyword=dolphinviewmodes
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-viewmodes
Name=View Modes
Name[ar]=أنماط العرض
Name[ast]=Moos de vista
Name[bg]=Режими на преглед
Name[bn]=ভিউ মোড
Name[bs]=Režimi prikaza
Name[ca]=Modes de vista
Name[ca@valencia]=Modes de vista
Name[cs]=Režimy pohledu
Name[csb]=Ôrtë wëzdrzatków
Name[da]=Visningstilstande
Name[de]=Ansichts-Modi
Name[el]=Λειτουργίες προβολής
Name[en_GB]=View Modes
Name[eo]=Modeloj de Vidoj
Name[es]=Modos de vista
Name[et]=Vaaterežiimid
Name[eu]=Ikuspegi moduak
Name[fi]=Näkymät
Name[fr]=Modes d'affichage
Name[fy]=Werjeftemodus
Name[ga]=Móid Amhairc
Name[gl]=Modos da vista
Name[gu]=દેખાવ સ્થિતિઓ
Name[he]=אפשרויות תצוגה
Name[hi]=दृश्य मोड
Name[hr]=Načini prikaza
Name[hu]=Nézetmódok
Name[ia]=Modos de vista
Name[id]=Mode Tampilan
Name[is]=Skoðunarhamir
Name[it]=Viste
Name[ja]=表示モード
Name[kk]=Көрініс режімдері
Name[km]=របៀប​មើល
Name[kn]=ನೋಟದ ವಿಧಾನಗಳು
Name[ko]=보기 모드
Name[lt]=Rodymo būdai
Name[lv]=Skata režīmi
Name[mai]=दृश्यक विधि
Name[mk]=Режими на преглед
Name[ml]=അവതരണ ദശകള്‍
Name[mr]=दृश्य पद्धती
Name[ms]=Mod Paparan
Name[nb]=Visningsmåter
Name[nds]=Ansichten
Name[nl]=Weergavemodussen
Name[nn]=Visingsmodusar
Name[pa]=ਝਲਕ ਮੋਡ
Name[pl]=Tryby widoku
Name[pt]=Modos de Visualização
Name[pt_BR]=Modos de exibição
Name[ro]=Regimuri de vizualizare
Name[ru]=Режимы просмотра
Name[se]=Čájehanmodusat
Name[si]=දසුන් ආකාර
Name[sk]=Režimy zobrazenia
Name[sl]=Načini pogleda
Name[sr]=Режими приказа
Name[sr@ijekavian]=Режими приказа
Name[sr@ijekavianlatin]=Režimi prikaza
Name[sr@latin]=Režimi prikaza
Name[sv]=Visningslägen
Name[tg]=Ҳолатҳои намоиш
Name[th]=โหมดมุมมอง
Name[tr]=Görünüm Kipleri
Name[ug]=كۆرۈنۈش ھالىتى
Name[uk]=Режими перегляду
Name[wa]=Môdes di vuwe
Name[x-test]=xxView Modesxx
Name[zh_CN]=视图模式
Name[zh_TW]=檢視模式
Comment=Configure file manager view modes
Comment[ar]=اضبط إعدادات أنماط عرض مدير الملفات
Comment[ast]=Configurar los moos de vista del xestor de ficheros
Comment[bg]=Настройване режимите на преглед във файловия мениджър
Comment[bn]=ফাইল ম্যানেজার ভিউ মোড কনফিগার করুন
Comment[bs]=Podešavanje režima prikaza u menadžeru datoteka
Comment[ca]=Configura els modes de vista del gestor de fitxers
Comment[ca@valencia]=Configura els modes de vista del gestor de fitxers
Comment[cs]=Nastavení režimů pohledu správce souborů
Comment[csb]=Kònfigùracëjô ôrtów wëzdrzatkù menadżera lopków
Comment[da]=Indstil filhåndteringens visningstilstande
Comment[de]=Dateimanager-Ansichten einrichten
Comment[el]=Διαμόρφωση λειτουργιών προβολής της διαχείρισης αρχείων
Comment[en_GB]=Configure file manager view modes
Comment[eo]=Agordi la dosieradministrilan rigardajn stilojn
Comment[es]=Configurar los modos de vista del gestor de archivos
Comment[et]=Failihalduri vaaterežiimide seadistamine
Comment[eu]=Konfiguratu fitxategi-kudeatzailearen ikuspegi moduak
Comment[fi]=Tiedostonhallinnan katselutilojen asetukset
Comment[fr]=Configuration des modes d'affichage du gestionnaire de fichiers
Comment[fy]=Triembehear werjeftemodus ynstelle
Comment[ga]=Cumraigh amhairc bhainisteoir na gcomhad
Comment[gl]=Configura os modos de visualización do xestor de ficheiros
Comment[gu]=ફાઇલ વ્યવસ્થાપક દેખાવ સ્થિતિઓ રૂપરેખાંકિત કરો
Comment[he]=הגדרת אפשרויות תצוגת מנהל הקבצים
Comment[hi]=फ़ाइल प्रबंधक दृश्य मोड कॉन्फ़िगर करें
Comment[hr]=Podešavanje postavki načina prikaza upravitelja datoteka
Comment[hu]=A fájlkezelő nézetmódjainak beállításai
Comment[ia]=Configura le modos de vista del gerente de file
Comment[id]=Atur mode tampilan manajer berkas
Comment[is]=Stilla skoðunarhami í skráastjóra
Comment[it]=Configura le viste del gestore dei file
Comment[ja]=ファイルマネージャの表示モードを設定します
Comment[kk]=Файл менеджердің көрініс режімдерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របៀប​មើល​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕದ ನೋಟ ವಿಧಾನಗಳನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=파일 관리자 보기 모드 설정
Comment[lt]=Failų tvarkyklės rodymo būdų konfigūravimas
Comment[lv]=Konfigurē failu pārvaldnieka skata režīmus
Comment[mai]=फाइलक प्रबंधक दृश्य विधि बिन्यस्त करू
Comment[mk]=Конфигурирајте ги режимите за преглед за менаџерот на датотеки
Comment[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്റെ അവതരണ ദശകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=फाइल व्यवस्थापक दृश्य पद्धत संयोजीत करा
Comment[ms]=Selaraskan mod pengurus fail
Comment[nb]=Tilpass filbehandlerens visningsmåter
Comment[nds]=Den Dateipleger sien Ansichten instellen
Comment[nl]=Bestandsbeheerderweergavemodussen configureren
Comment[nn]=Set opp visingsmodusane i filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਝਲਕ ਮੋਡ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja trybów widoku menadżera plików
Comment[pt]=Configurar os modos de visualização do gestor de ficheiros
Comment[pt_BR]=Configura os modos de exibição do gerenciador de arquivos
Comment[ro]=Configurează regimurile de vizualizare ale gestionarului de fișiere
Comment[ru]=Настройка режимов просмотра папок в диспетчере файлов
Comment[se]=Heivet fiilagieđahalli čájehanmodusat
Comment[si]=ගොනු කළමණාකරුගේ සැසුම් සකසන්න
Comment[sk]=Nastavenie režimov zobrazenia správcu súborov
Comment[sl]=Nastavitve načinov pogleda upravljalnika datotek
Comment[sr]=Подешавање режима приказа у менаџеру фајлова
Comment[sr@ijekavian]=Подешавање режима приказа у менаџеру фајлова
Comment[sr@ijekavianlatin]=Podešavanje režima prikaza u menadžeru fajlova
Comment[sr@latin]=Podešavanje režima prikaza u menadžeru fajlova
Comment[sv]=Anpassa filhanterarens visninglägen
Comment[tg]=Танзимоти ҳолати намоиши мудири файлҳо
Comment[th]=ปรับแต่งโหมดมุมมองต่าง ๆ ของเครื่องมือจัดการแฟ้ม
Comment[tr]=Dosya yöneticisi görünüm ayarlarını yapılandır
Comment[ug]=ھۆججەت باشقۇرغۇچ كۆرۈنۈش ھالىتى سەپلىمىسى
Comment[uk]=Налаштувати режими перегляду менеджера файлів
Comment[wa]=Apontyî les môdes di vuwe do manaedjeu di fitchîs
Comment[x-test]=xxConfigure file manager view modesxx
Comment[zh_CN]=配置文件管理器视图模式
Comment[zh_TW]=設定檔案管理員檢視模式
X-KDE-Keywords=file manager
X-KDE-Keywords[ar]=مدير الملفات
X-KDE-Keywords[bs]=upravitelj datoteka
X-KDE-Keywords[ca]=gestor de fitxers
X-KDE-Keywords[ca@valencia]=gestor de fitxers
X-KDE-Keywords[cs]=správce souborů
X-KDE-Keywords[da]=filhåndtering
X-KDE-Keywords[de]=Dateimanager
X-KDE-Keywords[el]=διαχειριστής αρχείων
X-KDE-Keywords[es]=gestor de archivos
X-KDE-Keywords[et]=failihaldur
X-KDE-Keywords[fi]=tiedostonhallinta
X-KDE-Keywords[fr]=gestionnaire de fichiers
X-KDE-Keywords[ga]=bainisteoir comhad
X-KDE-Keywords[gl]=xestor de ficheiros
X-KDE-Keywords[hu]=fájlkezelő
X-KDE-Keywords[ia]=gerente de file
X-KDE-Keywords[it]=gestore dei file
X-KDE-Keywords[kk]=file manager
X-KDE-Keywords[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ
X-KDE-Keywords[ko]=파일 관리자
X-KDE-Keywords[lt]=Failų tvarkyklė
X-KDE-Keywords[lv]=failu pārvaldnieks
X-KDE-Keywords[mr]=फाइल व्यवस्थापक
X-KDE-Keywords[nb]=filbehandler
X-KDE-Keywords[nds]=Dateipleger
X-KDE-Keywords[nl]=bestandsbeheerder
X-KDE-Keywords[nn]=filhandsamar
X-KDE-Keywords[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
X-KDE-Keywords[pl]=menedżer plików
X-KDE-Keywords[pt]=gestor de ficheiros
X-KDE-Keywords[pt_BR]=gerenciador de arquivos
X-KDE-Keywords[ro]=gestionar de fișiere
X-KDE-Keywords[ru]=диспетчер файлов
X-KDE-Keywords[sk]=správca súborov
X-KDE-Keywords[sl]=upravljalnik datotek
X-KDE-Keywords[sr]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavian]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavianlatin]=file manager,menadžer fajlova
X-KDE-Keywords[sr@latin]=file manager,menadžer fajlova
X-KDE-Keywords[sv]=filhanterare
X-KDE-Keywords[tr]=dosya yönetici
X-KDE-Keywords[uk]=менеджер,керування,файл,файли
X-KDE-Keywords[wa]=manaedjeu di fitchîs
X-KDE-Keywords[x-test]=xxfile managerxx
X-KDE-Keywords[zh_CN]=file manager,文件管理器
X-KDE-Keywords[zh_TW]=檔案管理員
