Name=Dolphin Navigation
Name[ca]=Navegació del Dolphin
Name[cs]=Navigace Dolphinu
Name[de]=Dolphin-Navigation
Name[en_GB]=Dolphin Navigation
Name[fi]=Dolphin – selaus
Name[fr]=Navigation avec Dolphin
Name[gl]=Navegación de Dolphin
Name[id]=Navigasi Dolphin
Name[it]=Navigazione di Dolphin
Name[nl]=Dolphin-navigatie
Name[nn]=Navigasjon i Dolphin
Name[pl]=Nawigacja Dolphina
Name[pt]=Navegação do Dolphin
Name[pt_BR]=Navegação do Dolphin
Name[sk]=Navigácia Dolphinu
Name[sl]=Dolphin - krmarjenje
Name[sr]=Делфинова навигација
Name[sr@ijekavian]=Делфинова навигација
Name[sr@ijekavianlatin]=Dolphinova navigacija
Name[sr@latin]=Dolphinova navigacija
Name[sv]=Dolphin navigering
Name[uk]=«Навігація» Dolphin
Name[x-test]=xxDolphin Navigationxx
Name[zh_CN]=Dolphin 导航
Comment=This service allows configuration of the Dolphin navigation.
Comment[ca]=Aquest servei permet la configuració de la navegació del Dolphin.
Comment[cs]=Tato služba umožňuje nastavení navigace v Dolphinu.
Comment[de]=Mit diesem Dienst kann die Navigation für Dolphin eingerichtet werden.
Comment[en_GB]=This service allows configuration of the Dolphin navigation.
Comment[fi]=Tällä palvelulla voi muokata Dolphinin selausasetuksia.
Comment[fr]=Ce service permet de configurer la navigation avec Dolphin.
Comment[gl]=Este servizo permite configurar a navegación de Dolphin.
Comment[id]=Layanan ini memungkinkan konfigurasi navigasi Dolphin.
Comment[it]=Questo servizio permette di configurare la navigazione con Dolphin.
Comment[nl]=Met deze dienst kunt u Dolphin-navigatie configureren.
Comment[pl]=Ta usługa umożliwia ustawienie nawigacji w Dolphinie.
Comment[pt]=Este serviço permite a configuração da navegação do Dolphin.
Comment[pt_BR]=Este serviço permite configurar a navegação do Dolphin.
Comment[sk]=Táto služba umožňuje nastavenie navigácie v Dolphine.
Comment[sl]=Ta storitev omogoča spreminjanje nastavitev krmarjenja programa Dolphin.
Comment[sr]=Овај сервис омогућава подешавање навигације у Делфину.
Comment[sr@ijekavian]=Овај сервис омогућава подешавање навигације у Делфину.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava podešavanje navigacije u Dolphinu.
Comment[sr@latin]=Ovaj servis omogućava podešavanje navigacije u Dolphinu.
Comment[sv]=Den här tjänsten låter dig anpassa navigering i Dolphin.
Comment[uk]=Ця служба надасть змогу налаштувати навігацію у Dolphin.
Comment[x-test]=xxThis service allows configuration of the Dolphin navigation.xx
Comment[zh_CN]=此服务允许您配置 Dolphin 的导航。

[Desktop Entry]
Icon=input-mouse
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmdolphinnavigation

X-KDE-Library=kcm_dolphinnavigation
X-KDE-PluginKeyword=dolphinnavigation
X-KDE-ParentApp=kcontrol
X-DocPath=dolphin/index.html#preferences-dialog-navigation
Name=Navigation
Name[ca]=Navegació
Name[cs]=Navigace
Name[de]=Navigation
Name[en_GB]=Navigation
Name[fi]=Selaus
Name[fr]=Navigation
Name[gl]=Navegación
Name[id]=Navigasi
Name[it]=Navigazione
Name[nl]=Navigatie
Name[nn]=Navigasjon
Name[pl]=Nawigacja
Name[pt]=Navegação
Name[pt_BR]=Navegação
Name[sk]=Navigácia
Name[sl]=Krmarjenje
Name[sr]=Навигација
Name[sr@ijekavian]=Навигација
Name[sr@ijekavianlatin]=Navigacija
Name[sr@latin]=Navigacija
Name[sv]=Navigering
Name[uk]=Навігація
Name[x-test]=xxNavigationxx
Name[zh_CN]=导航
Comment=Configure file manager navigation
Comment[ca]=Configura la navegació del gestor de fitxers
Comment[cs]=Nastavení navigace správce souborů
Comment[de]=Einstellungen zur Navigation mit der Dateiverwaltung
Comment[en_GB]=Configure file manager navigation
Comment[fi]=Tiedostonhallinnan selausasetukset
Comment[fr]=Configuration la navigation avec le gestionnaire de fichiers
Comment[gl]=Configurar a navegación do xestor de ficheiros.
Comment[id]=Konfigurasi navigasi manajer berkas
Comment[it]=Configura la navigazione col gestore dei file
Comment[nl]=Bestandsbeheerdernavigatie configureren
Comment[nn]=Set opp navigasjonen i filhandsamaren
Comment[pl]=Ustawienia nawigacji w zarządzaniu plikami
Comment[pt]=Configurar a navegação do gestor de ficheiros
Comment[pt_BR]=Configura a navegação do gerenciador de arquivos
Comment[sk]=Nastavenie navigácie správcu súborov
Comment[sl]=Nastavitve krmarjenja v upravljalniku datotek
Comment[sr]=Подешавање навигације у менаџеру фајлова
Comment[sr@ijekavian]=Подешавање навигације у менаџеру фајлова
Comment[sr@ijekavianlatin]=Podešavanje navigacije u menadžeru fajlova
Comment[sr@latin]=Podešavanje navigacije u menadžeru fajlova
Comment[sv]=Anpassa filhanterarens navigering
Comment[uk]=Налаштувати навігацію у менеджері файлів
Comment[x-test]=xxConfigure file manager navigationxx
Comment[zh_CN]=配置文件管理器导航
X-KDE-Keywords=file manager
X-KDE-Keywords[ca]=gestor de fitxers
X-KDE-Keywords[cs]=správce souborů
X-KDE-Keywords[de]=Dateiverwaltung
X-KDE-Keywords[en_GB]=file manager
X-KDE-Keywords[fi]=tiedostonhallinta
X-KDE-Keywords[fr]=gestionnaire de fichiers
X-KDE-Keywords[gl]=xestor de ficheiros
X-KDE-Keywords[id]=manajer berkas
X-KDE-Keywords[it]=gestore dei file
X-KDE-Keywords[nl]=bestandsbeheerder
X-KDE-Keywords[nn]=filhandsamar
X-KDE-Keywords[pl]=zarządzanie plikami
X-KDE-Keywords[pt]=gestor de ficheiros
X-KDE-Keywords[pt_BR]=gerenciador de arquivos
X-KDE-Keywords[sk]=správca súborov
X-KDE-Keywords[sl]=upravljalnik datotek
X-KDE-Keywords[sr]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavian]=file manager,менаџер фајлова
X-KDE-Keywords[sr@ijekavianlatin]=file manager,menadžer fajlova
X-KDE-Keywords[sr@latin]=file manager,menadžer fajlova
X-KDE-Keywords[sv]=filhanterare
X-KDE-Keywords[uk]=менеджер,керування,файл,файли
X-KDE-Keywords[x-test]=xxfile managerxx
X-KDE-Keywords[zh_CN]=file manager,文件管理器
