[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://apps.kde.com/
Name=KDE Applications
Name[af]=Kde Programme
Name[az]=KDE Proqram Tə'minatları
Name[be]=Дастасаваньні KDE
Name[bg]=Приложения на KDE
Name[bs]=KDE Programi
Name[ca]=Aplicacions KDE
Name[cs]=KDE aplikace
Name[da]=KDE-programmer
Name[de]=KDE-Programme
Name[el]=Εφαρμογές KDE
Name[eo]=KDE-Aplikaĵoj
Name[es]=Aplicaciones de KDE
Name[et]=KDE rakendused
Name[eu]=KDE Aplikazioak
Name[fa]=برنامه‌های KDE
Name[fi]=KDE:n sovellukset
Name[fr]=Applications KDE
Name[he]=יישומי KDE
Name[hr]=KDE Programi
Name[hu]=KDE-alkalmazások
Name[is]=KDE Forrit
Name[it]=Applicazioni KDE
Name[ja]=KDEアプリケーション
Name[ko]=KDE 응용 프로그램
Name[lt]=KDE programos
Name[lv]=KDE Aplikācijas
Name[mt]=Programmi KDE
Name[nb]=KDE-programmer
Name[nl]=KDE Programma's
Name[nn]=KDE-program
Name[nso]=Ditshomiso tsa KDE
Name[pl]=Aplikacje KDE
Name[pt]=Aplicações do KDE
Name[pt_BR]=Aplicativos KDE
Name[ro]=Aplicaţii KDE
Name[ru]=Приложения KDE
Name[sk]=Aplikácie KDE
Name[sl]=Uporabniški programi
Name[sr]=KDE aplikacije
Name[ss]=Ticelo te KDE 
Name[sv]=KDE-program
Name[ta]=KDE ¿¢Ãø¸û
Name[th]=แอพพลิเคชัน KDE
Name[tr]=KDE Uygulamaları
Name[uk]=Програми KDE
Name[ven]=Apulifikhesheni ya KDE
Name[vi]=Chương trình KDE
Name[xh]=Izicelo ze KDE
Name[zh_CN]=KDE 应用程序
Name[zh_TW]=KDE 應用程式
Name[zu]=Abayaleli be-KDE
Icon=www
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
