[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://www.kde.org
Name=KDE Home Page
Name[af]=Kde Huis Bladsy
Name[ar]=موقع كيدي
Name[az]=KDE Ana Səhifəsi
Name[be]=Хатняя старонка KDE
Name[bg]=Домашна страница на КДЕ
Name[bn]=কে.ডি.ই. হোম পেজ
Name[br]=Pajenn Er-Gêr KDE
Name[bs]=KDE web stranica
Name[ca]=Pàgina inici de KDE
Name[cs]=Domovská stránka KDE
Name[cy]=Hafan KDE
Name[da]=KDE-hjemmeside
Name[de]=KDE-Startseite
Name[el]=Ιστοσελίδα του KDE
Name[eo]=TTTejo de KDE
Name[es]=Página Web de KDE
Name[et]=KDE kodulehekülg
Name[eu]=KDEren Web orria
Name[fa]=صفحه‌ی خانگی KDE
Name[fi]=KDE:n kotisivu
Name[fr]=Page d'accueil de KDE
Name[fy]=KDE's Thússide
Name[ga]=Leathanach Baile KDE
Name[gl]=Páxina Web de KDE
Name[he]=אתר הבית של KDE
Name[hi]=केडीई मुख पृष्ठ
Name[hr]=KDE web stranica
Name[hu]=KDE honlap
Name[id]=Home Page KDE
Name[is]=Heimasíða KDE
Name[it]=Homepage di KDE
Name[ja]=KDEホームページ
Name[ko]=KDE 홈페이지
Name[lo]=ໂຫມເພຈ KDE
Name[lt]=KDE namų puslapis
Name[lv]=KDE Mājas Lapa
Name[mk]=KDE домашна страница
Name[mn]=КДЭ-Эхлэл хуудас
Name[mt]=Homepage tal-KDE
Name[nb]=KDEs hjemmeside
Name[nds]=KDE-Nettsiet
Name[nl]=KDE's startpagina
Name[nn]=KDE-nettstaden
Name[nso]=Letlakala la Gae la KDE
Name[oc]=Pagina iniciau de KDE
Name[pa]=KDE ਮੁੱਖ ਸਫਾ
Name[pl]=Strona domowa KDE
Name[pt]=Página do KDE
Name[pt_BR]=Página principal do KDE
Name[ro]=Situl web KDE oficial
Name[ru]=Веб-сайт KDE
Name[se]=KDE-ruoktosiidu
Name[sk]=Domovská stránka KDE
Name[sl]=Domača stran KDE
Name[sr]=Матична страна KDE-а
Name[sr@Latn]=Glavna KDE strana
Name[sv]=KDE:s webbplats
Name[ta]=KDE வீட்டுப் பக்கம்
Name[tg]=Сафҳаи хонагии KDE
Name[th]=โฮมเพจ KDE
Name[tr]=KDE Ana Sayfası
Name[uk]=Домашня сторінка KDE
Name[uz]=KDE веб-сайти
Name[ven]=Siatari la KDE
Name[vi]=Trang website của KDE
Name[wa]=Pådje måjhon di KDE
Name[xh]=Iphepha Lasekhaya le KDE
Name[xx]=xxKDE Home Pagexx
Name[zh_CN]=KDE 主页
Name[zh_TW]=KDE 首頁
Name[zu]=Ikhasi lasekhaya le-KDE
Icon=www
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
