[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Detailed List View
Name[fr]=Liste détaillée
Name[x-test]=xxDetailed List Viewxx
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_listview
X-KDE-BrowserView-Args=DetailedList
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_detailed
InitialPreference=7
