[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=Text View
Comment[ca]=Vista de text
Comment[cs]=Textový pohled
Comment[da]=Tekstvisning
Comment[de]=Text-Ansicht
Comment[eo]=Tekstrigardo
Comment[es]=Vista de texto
Comment[et]=Vaade tekstina
Comment[fi]=Tekstinäkymä
Comment[fr]=Texte
Comment[he]=טסקט תגוצת
Comment[hr]=Tekstualni pogled
Comment[hu]=Szöveges nézet
Comment[is]=Textasýn
Comment[it]=Vista testuale
Comment[ja]=テキストビュー
Comment[mk]=Текст-приказ
Comment[nl]=Tekstweergave
Comment[no]=Tekstvisning
Comment[no_NY]=Tekstvising
Comment[pl]=Widok tekstowy
Comment[pt]=Vista em Texto
Comment[ro]=Vizualizare text
Comment[ru]=Текстовый вид
Comment[sl]=Besedilni pogled
Comment[sr]=Tekstualni pogled
Comment[ta]=உைர காடஂசி
Comment[tr]=Metin Görünümü
Comment[uk]=Текстовий вигляд
MimeType=inode/directory
Name=KonqTextView
ServiceTypes=Browser/View
X-KDE-Library=libkonqlistview
X-KDE-BrowserView-Args=TextView
X-KDE-BrowserView-HideFromMenus=true
Icon=view_text
