[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Text View
Name[af]=Teks Besigtig
Name[ar]=عرض نصي
Name[az]=Mətn Görünüşü
Name[bg]=Текстов преглед
Name[bn]=টেক্সট ভিউ
Name[br]=Gwel skrid
Name[bs]=Tekstualni pogled
Name[ca]=Vista de text
Name[cs]=Textový pohled
Name[cy]=Golwg Testun
Name[da]=Tekstvisning
Name[de]=Text-Ansicht
Name[el]=Προβολή Κειμένου
Name[eo]=Tekstrigardo
Name[es]=Vista de texto
Name[et]=Vaade tekstina
Name[eu]=Testu ikuspegia
Name[fa]=منظر متنی
Name[fi]=Tekstinäkymä
Name[fr]=Affichage de Texte
Name[fy]=Tekstwerjefte
Name[ga]=Amharc Téacs
Name[gl]=Vista de Texto
Name[he]=תצוגת טקסט
Name[hi]=पाठ दृश्य
Name[hr]=Tekstualni pogled
Name[hu]=Szöveges
Name[id]=Tampilan Teks
Name[is]=Textasýn
Name[it]=Vista testuale
Name[ja]=テキストビュー
Name[ko]=글자로 보기
Name[lo]=ມຸມມອງຂໍ້ຄວາມ
Name[lt]=Rodyti tekstą
Name[lv]=Teksta Skatījums
Name[mk]=Текстуален преглед
Name[mn]=Текстээр харах
Name[mt]=Uri Kliem biss
Name[nb]=Tekstvisning
Name[nds]=Textansicht
Name[nl]=Tekstweergave
Name[nn]=Tekstvising
Name[nso]=Pono ya Sengwalwana
Name[pa]=ਪਾਠ ਦਰਿਸ਼
Name[pl]=Widok tekstowy
Name[pt]=Vista em Texto
Name[pt_BR]=Visão Texto
Name[ro]=Vizualizare text
Name[ru]=В виде текста
Name[se]=Teakstačájeheapmi
Name[sk]=Textový pohľad
Name[sl]=Besedilni pogled
Name[sr]=Текстуални приказ
Name[sr@Latn]=Tekstualni prikaz
Name[sv]=Textvy
Name[ta]=உரை காட்சி
Name[tg]=Ба намуди матн
Name[th]=แบบข้อความ
Name[tr]=Metin Görünümü
Name[uk]=Текстовий вигляд
Name[uz]=Матн кўринишида
Name[ven]=Mbonalelo ya Manwalwa
Name[vi]=Xem text 
Name[wa]=Vey e môde tecse
Name[xh]=Imboniselo Yombhalo
Name[xx]=xxText Viewxx
Name[zh_CN]=文本视图
Name[zh_TW]=文字檢視
Name[zu]=Umbukiso wombhalo
MimeType=inode/directory
ServiceTypes=Browser/View
X-KDE-Library=konq_listview
X-KDE-BrowserView-Args=TextView
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_text
InitialPreference=6
