<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KonqInfoListView" version="12">
<MenuBar>
 <Menu name="edit"><text>&amp;Edit</text>
   <Menu name="selection"><text>Selection</text>
     <Action name="select"/>
     <Action name="unselect"/>
     <Separator/>
     <Action name="selectall"/>
     <Action name="unselectall"/>
     <Action name="invertselection"/>
   </Menu>
 </Menu>
 <Menu name="view"><text>&amp;View</text>
  <Menu name="iconview_mode"><text>Icon Size</text>
   <Action name="modedefault"/>
   <Separator/>
   <Action name="modeenormous"/>
   <Action name="modehuge"/>
   <Action name="modelarge"/>
   <Action name="modemedium"/>
   <Action name="modesmallmedium"/>
   <Action name="modesmall"/>
  </Menu>
  <Separator/>
  <Action name="show_dot"/>
  <Action name="sort_caseinsensitive"/>
  <!--<Action name="sort_directoriesfirst" /> TODO -->
  <Action name="view_as"/>
  <Separator/>
  <Action name="bgsettings"/>
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Info Listview Toolbar</text>
 <Separator/>
 <Action name="incIconSize" />
 <Action name="decIconSize" />
</ToolBar>
</kpartgui>
