[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=Tree View
Comment[ca]=Vista d'arbre
Comment[cs]=Stromový pohled
Comment[da]=Trævisning
Comment[de]=Baum-Ansicht
Comment[eo]=Arba rigardo
Comment[es]=Vista en árbol
Comment[et]=Vaade puuna
Comment[fi]=Puunäkymä
Comment[fr]=Arborescence
Comment[he]=ץע תגוצת
Comment[hr]=Pregled stabla
Comment[hu]=Fa-nézet
Comment[is]=Trjáasýn
Comment[it]=Vista ad albero
Comment[ja]=ツリービュー
Comment[mk]=Дрво-приказ
Comment[nl]=Boomstructuurweergave
Comment[no]=Trevisning
Comment[no_NY]=Trevising
Comment[pl]=Widok drzewa
Comment[pt]=Vista em Árvore
Comment[ro]=Vizualizare arborescentă
Comment[ru]=Дерево
Comment[sl]=Drevesni pogled
Comment[sr]=Stablo direktorijuma
Comment[ta]=மரமஂ காடஂசி
Comment[tr]=Ağaç Görünümü
Comment[uk]=Вигляд структури каталогів
MimeType=inode/directory
Name=KonqTreeView
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqlistview
X-KDE-BrowserView-Args=MixedTree
X-KDE-BrowserView-HideFromMenus=true
Icon=view_tree

