[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Text View
Name[x-test]=xxText Viewxx
MimeType=inode/directory
ServiceTypes=Browser/View
X-KDE-Library=konq_listview
X-KDE-BrowserView-Args=TextView
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_text
InitialPreference=6
