[Desktop Entry]
Type=Service
Exec=blahfoo
Comment=Tree View
Comment[ca]=Vista d'arbre
Comment[hu]=Fa nézet
Comment[no]=Trevisning
Comment[no_NY]=Trevising
Comment[ro]=Vizualizare arborescentă
MimeType=inode/directory
Name=KonqTreeView
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkonqlistview
X-KDE-BrowserView-Args=MixedTree
X-KDE-BrowserView-Builtin=true
