[Desktop Entry]
Name=Dolphin
Name[af]=Dolphin
Name[ar]=دولفين
Name[as]=Dolphin
Name[ast]=Dolphin
Name[be]=Dolphin
Name[be@latin]=Dolphin
Name[bg]=Dolphin
Name[bn]=ডলফিন
Name[bn_IN]=Dolphin
Name[bs]=Delfin
Name[ca]=Dolphin
Name[ca@valencia]=Dolphin
Name[cs]=Dolphin
Name[csb]=Dolphin
Name[da]=Dolphin
Name[de]=Dolphin
Name[el]=Dolphin
Name[en_GB]=Dolphin
Name[eo]=Dolphin
Name[es]=Dolphin
Name[et]=Dolphin
Name[eu]=Dolphin
Name[fi]=Dolphin
Name[fr]=Dolphin
Name[fy]=Dolfyn
Name[ga]=Dolphin
Name[gl]=Dolphin
Name[gu]=ડોલ્ફિન
Name[he]=Dolphin
Name[hi]=डॉल्फ़िन
Name[hne]=डाल्फिन
Name[hr]=Dolphin
Name[hsb]=Dolphin
Name[hu]=Dolphin
Name[ia]=Dolphin
Name[id]=Dolphin
Name[is]=Dolphin
Name[it]=Dolphin
Name[ja]=Dolphin
Name[ka]=Dolphin
Name[kk]=Dolphin
Name[km]=Dolphin
Name[kn]=ಡಾಲ್ಫಿನ್
Name[ko]=Dolphin
Name[ku]=Dolphin
Name[lt]=Dolphin
Name[lv]=Dolphin
Name[mai]=डाल्फिन
Name[mk]=Делфин
Name[ml]=ഡോള്‍ഫിന്‍
Name[mr]=डॉल्फिन
Name[ms]=Dolphin
Name[nb]=Dolphin
Name[nds]=Dolphin
Name[ne]=डल्फिन
Name[nl]=Dolphin
Name[nn]=Dolphin
Name[oc]=Dolphin
Name[or]=ଡଲଫିନ
Name[pa]=ਡਾਲਫਿਨ
Name[pl]=Dolphin
Name[pt]=Dolphin
Name[pt_BR]=Dolphin
Name[ro]=Dolphin
Name[ru]=Dolphin
Name[se]=Dolphin
Name[si]=ඩොල්ෆින්
Name[sk]=Dolphin
Name[sl]=Dolphin
Name[sr]=Делфин
Name[sr@ijekavian]=Делфин
Name[sr@ijekavianlatin]=Dolphin
Name[sr@latin]=Dolphin
Name[sv]=Dolphin
Name[ta]=டால்பின்
Name[te]=డాల్ఫిన్
Name[tg]=Dolphin
Name[th]=ดอลฟิน
Name[tr]=Dolphin
Name[ug]=Dolphin
Name[uk]=Dolphin
Name[uz]=Dolphin
Name[uz@cyrillic]=Dolphin
Name[vi]=Dolphin
Name[wa]=Dolphin
Name[x-test]=xxDolphinxx
Name[zh_CN]=Dolphin
Name[zh_TW]=Dolphin
Exec=dolphin %i -caption "%c" %u
Icon=system-file-manager
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileManager;
GenericName=File Manager
GenericName[af]=Lêerbestuurder
GenericName[ar]=مدير الملفات
GenericName[as]=নথিপত্ৰৰ ব্যৱস্থাপক
GenericName[ast]=Xestor de ficheros
GenericName[be]=Кіраўнік файлаў
GenericName[be@latin]=Kiraŭnik fajłaŭ
GenericName[bg]=Файлов мениджър
GenericName[bn]=ফাইল ম্যানেজার
GenericName[bn_IN]=ফাইল পরিচালন ব্যবস্থা
GenericName[bs]=Menadžer datoteka
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[csb]=Menadżera lopków
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi kudeatzailea
GenericName[fa]=مدیر پرونده
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[fy]=Triembehearder
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[gu]=ફાઇલ વ્યવસ્થાપક
GenericName[he]=מנהל קבצים
GenericName[hi]=फ़ाइल प्रबंधक
GenericName[hne]=फाइल प्रबंधक
GenericName[hr]=Upravitelj datoteka
GenericName[hsb]=Datajowy manager
GenericName[hu]=Fájlkezelő
GenericName[ia]=Gerente de file
GenericName[id]=Manajer Berkas
GenericName[is]=Skráastjóri
GenericName[it]=Gestore dei file
GenericName[ja]=ファイルマネージャ
GenericName[ka]=ფაილების მმართველი
GenericName[kk]=Файл менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ
GenericName[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=파일 관리자
GenericName[ku]=Rêveberê Pelan
GenericName[lt]=Failų tvarkyklė
GenericName[lv]=Failu pārvaldnieks
GenericName[mai]=फाइल प्रबंधक
GenericName[mk]=Менаџер на датотеки
GenericName[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്‍
GenericName[mr]=फाइल व्यवस्थापक
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[ne]=फाइल प्रबन्धक
GenericName[nl]=Bestandsbeheerder
GenericName[nn]=Filhandsamar
GenericName[oc]=Gestionari de fichièrs
GenericName[or]=ଫାଇଲ ପରିଚାଳକ
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fișiere
GenericName[ru]=Диспетчер файлов
GenericName[se]=Fiilagieđahalli
GenericName[si]=ගොනු කළමනාකරු
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Менаџер фајлова
GenericName[sr@ijekavian]=Менаџер фајлова
GenericName[sr@ijekavianlatin]=Menadžer fajlova
GenericName[sr@latin]=Menadžer fajlova
GenericName[sv]=Filhanterare
GenericName[ta]=கோப்பு மேலாளர்
GenericName[te]=దస్త్రాల అభికర్త
GenericName[tg]=Мудири файлҳо
GenericName[th]=เครื่องมือจัดการแฟ้ม
GenericName[tr]=Dosya Yönetici
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Менеджер файлів
GenericName[uz]=Fayl boshqaruvchisi
GenericName[uz@cyrillic]=Файл бошқарувчиси
GenericName[vi]=Bộ quản lý tập tin
GenericName[wa]=Manaedjeu di fitchîs
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理程式
Terminal=false
MimeType=inode/directory;
InitialPreference=10
