[Desktop Entry]
Type=Service
Name=Dolphin View
Name[ast]=Vista de Dolphin
Name[ca]=Vista del Dolphin
Name[ca@valencia]=Vista del Dolphin
Name[cs]=Pohled Dolphin
Name[de]=Dolphin-Ansicht
Name[el]=Dolphin View
Name[en_GB]=Dolphin View
Name[es]=Vista de Dolphin
Name[fi]=Dolphin-näkymä
Name[fr]=Vue de Dolphin
Name[gl]=Vista de Dolphin
Name[hu]=Dolphin nézet
Name[ia]=Vista de Dolphin
Name[id]=Tampilan Dolphin
Name[it]=Vista di Dolphin
Name[ja]=Dolphin ビュー
Name[ko]=Dolphin 보기
Name[lt]=Dolphin žiūryklė
Name[nb]=Dolphin visning
Name[nl]=Dolphin-weergave
Name[nn]=Dolphin-vising
Name[pa]=ਡਾਲਫਿਨ ਝਲਕ
Name[pl]=Widok Dolphina
Name[pt]=Área do Dolphin
Name[pt_BR]=Visualização do Dolphin
Name[ru]=Представление Dolphin
Name[se]=Dolphinčájeheapmi
Name[sk]=Dolphin pohľad
Name[sl]=Dolphin - pogled
Name[sr]=Делфинов приказ
Name[sr@ijekavian]=Делфинов приказ
Name[sr@ijekavianlatin]=Dolphinov prikaz
Name[sr@latin]=Dolphinov prikaz
Name[sv]=Vy i Dolphin
Name[tr]=Dolphin Görünümü
Name[uk]=Перегляд Dolphin
Name[x-test]=xxDolphin Viewxx
Name[zh_CN]=Dolphin 视图
Name[zh_TW]=Dolphin 檢視
MimeType=inode/directory;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=dolphinpart
#X-KDE-BrowserView-Args=Icon
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view-icon
InitialPreference=7

# Provide info about the view modes using the Actions mechanism so that KService parses it.
# Konqueror then queries KService to get hold of the translated texts for the view modes
Actions=icons;details;compact;

[Desktop Action icons]
Name=Icons
Name[ast]=Iconos
Name[ca]=Icones
Name[ca@valencia]=Icones
Name[cs]=Ikony
Name[de]=Symbole
Name[el]=Εικονίδια
Name[en_GB]=Icons
Name[es]=Iconos
Name[fi]=Kuvakkeet
Name[fr]=Icônes
Name[gl]=Iconas
Name[hu]=Ikonok
Name[ia]=Icones
Name[id]=Ikon
Name[it]=Icone
Name[ja]=アイコン
Name[ko]=아이콘
Name[lt]=Piktogramos
Name[nb]=Ikoner
Name[nl]=Pictogrammen
Name[nn]=Ikon
Name[pa]=ਆਈਕਾਨ
Name[pl]=Ikony
Name[pt]=Ícones
Name[pt_BR]=Ícones
Name[ru]=Значки
Name[se]=Govažat
Name[sk]=Ikony
Name[sl]=Ikone
Name[sr]=Иконе
Name[sr@ijekavian]=Иконе
Name[sr@ijekavianlatin]=Ikone
Name[sr@latin]=Ikone
Name[sv]=Ikoner
Name[tr]=Simgeler
Name[uk]=Піктограми
Name[x-test]=xxIconsxx
Name[zh_CN]=图标视图
Name[zh_TW]=圖示
Icon=view-list-icons
# Dummy
Exec=dolphin

[Desktop Action compact]
Name=Compact
Name[ca]=Compacta
Name[ca@valencia]=Compacta
Name[cs]=Kompaktní
Name[de]=Kompakt
Name[el]=Σύμπτυξη
Name[en_GB]=Compact
Name[es]=Compacto
Name[fi]=Tiivis
Name[fr]=Concis
Name[gl]=Compacta
Name[hu]=Kompakt
Name[ia]=Compacte
Name[id]=Sederhana
Name[it]=Compatta
Name[ko]=축소됨
Name[lt]=Kompaktiškas
Name[nb]=Kompakt
Name[nl]=Compact
Name[pa]=ਸੰਖਿਪਤ
Name[pl]=Kompaktowy
Name[pt]=Compacta
Name[pt_BR]=Compacto
Name[ru]=Столбцы
Name[sk]=Kompaktný
Name[sl]=Strnjeno
Name[sr]=Сажето
Name[sr@ijekavian]=Сажето
Name[sr@ijekavianlatin]=Sažeto
Name[sr@latin]=Sažeto
Name[sv]=Kompakt
Name[tr]=Sıkışık
Name[uk]=Компактний
Name[x-test]=xxCompactxx
Name[zh_CN]=简洁视图
Name[zh_TW]=簡潔模式
Icon=view-list-details
# Dummy
Exec=dolphin

[Desktop Action details]
Name=Details
Name[ast]=Detalles
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[cs]=Podrobnosti
Name[de]=Details
Name[el]=Λεπτομέρειες
Name[en_GB]=Details
Name[es]=Detalles
Name[fi]=Yksityiskohdat
Name[fr]=Détails
Name[gl]=Detalles
Name[hu]=Részletek
Name[ia]=Detalios
Name[id]=Detail
Name[it]=Dettagli
Name[ja]=詳細
Name[ko]=자세히
Name[lt]=Informacija
Name[nb]=Detaljer
Name[nl]=Details
Name[nn]=Detaljar
Name[pa]=ਵੇਰਵੇ
Name[pl]=Szczegóły
Name[pt]=Detalhes
Name[pt_BR]=Detalhes
Name[ru]=Таблица
Name[sk]=Podrobnosti
Name[sl]=Podrobnosti
Name[sr]=Детаљи
Name[sr@ijekavian]=Детаљи
Name[sr@ijekavianlatin]=Detalji
Name[sr@latin]=Detalji
Name[sv]=Detaljinformation
Name[tr]=Ayrıntılar
Name[uk]=Подробиці
Name[x-test]=xxDetailsxx
Name[zh_CN]=细节视图
Name[zh_TW]=詳細模式
Icon=view-list-tree
# Dummy
Exec=dolphin
