[Desktop Entry]
Type=Service
Name=Dolphin View
Name[ca]=Vista del Dolphin
Name[el]=Προβολή του Dolphin
Name[eo]=Dolphin-rigardo
Name[es]=Vista de Dolphin
Name[ga]=Amharc Dolphin
Name[gu]=ડોલ્ફિન દેખાવ
Name[ja]=Dolphin ビュー
Name[km]=ទិដ្ឋភាព Dolphin
Name[ko]=Dolphin 보기
Name[nds]=Dolphin-Ansicht
Name[pt]=Área do Dolphin
Name[pt_BR]=Visualização Dolphin
Name[sr]=Делфинов приказ
Name[sr@latin]=Dolphinov prikaz
Name[tr]=Dolphin Görünümü
Name[zh_CN]=Dolphin 视图
Name[zh_TW]=Dolphin 檢視
MimeType=inode/directory;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=dolphinpart
#X-KDE-BrowserView-Args=Icon
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_icon
InitialPreference=7

# Provide info about the view modes using the Actions mechanism so that KService parses it.
# Konqueror then queries KService to get hold of the translated texts for the view modes
Actions=icons;details;columns;

[Desktop Action icons]
Name=Icons
Name[af]=Ikoone
Name[ar]=الأيقونات
Name[be]=Значкі
Name[bg]=Икони
Name[bn]=আইকন
Name[br]=Arlunioù
Name[ca]=Icones
Name[cs]=Ikony
Name[csb]=Ikònë
Name[cy]=Eicon
Name[da]=Ikoner
Name[de]=Symbole
Name[el]=Εικονίδια
Name[eo]=Piktogramoj
Name[es]=Iconos
Name[et]=Ikoonid
Name[eu]=Ikonoak
Name[fa]=شمایلها
Name[fi]=Kuvakkeet
Name[fr]=Icônes
Name[fy]=Byldkaikes
Name[ga]=Deilbhíní
Name[gl]=Ícones
Name[gu]=ચિહ્નો
Name[he]=סמלים
Name[hi]=प्रतीक
Name[hr]=Ikone
Name[hu]=Ikonok
Name[is]=Táknmyndir
Name[it]=Icone
Name[ja]=アイコン
Name[ka]=ხატულები
Name[kk]=Таңбашалар
Name[km]=រូប​តំណាង
Name[kn]=ಚಿಹ್ನೆಗಳು
Name[ko]=아이콘
Name[ku]=Sembol
Name[lt]=Ženkliukai
Name[lv]=Ikonas
Name[mk]=Икони
Name[ms]=Ikon
Name[nb]=Ikoner
Name[nds]=Lüttbiller
Name[ne]=प्रतिमा
Name[nl]=Pictogrammen
Name[nn]=Ikon
Name[oc]=Icònas
Name[pa]=ਆਈਕਾਨ
Name[pl]=Ikony
Name[pt]=Ícones
Name[pt_BR]=Ícones
Name[ro]=Iconiţe
Name[ru]=Значки
Name[se]=Govažat
Name[sk]=Ikony
Name[sl]=Ikone
Name[sr]=Иконе
Name[sr@latin]=Ikone
Name[sv]=Ikoner
Name[ta]=சின்னங்கள்
Name[tg]=Нишонаҳо
Name[th]=ไอคอน
Name[tr]=Simgeler
Name[uk]=Піктограми
Name[uz]=Нишончалар
Name[vi]=Biểu tượng
Name[wa]=Imådjetes
Name[x-test]=xxIconsxx
Name[xh]=Imphawu zemmifanekiso
Name[zh_CN]=图标
Name[zh_TW]=圖示
Icon=view-list-icons
# Dummy
Exec=dolphin

[Desktop Action details]
Name=Details
Name[ca]=Detalls
Name[el]=Λεπτομέρειες
Name[eo]=Detaloj
Name[es]=Detalles
Name[ga]=Mionsonraí
Name[gu]=વિગતો
Name[ja]=詳細
Name[km]=សេចក្ដី​លម្អិត
Name[ko]=자세히
Name[nds]=Enkelheiten
Name[pt]=Detalhes
Name[pt_BR]=Detalhes
Name[ro]=Detalii
Name[sr]=Детаљи
Name[sr@latin]=Detalji
Name[tr]=Ayrıntılar
Name[zh_CN]=细节
Name[zh_TW]=詳情
Icon=view-list-details
# Dummy
Exec=dolphin

[Desktop Action columns]
Name=Columns
Name[ca]=Columnes
Name[de]=Spalten
Name[el]=Στήλες
Name[eo]=Kolumnoj
Name[es]=Columnas
Name[ga]=Colúin
Name[gu]=સ્થંભો
Name[ja]=カラム
Name[km]=ជួរឈរ
Name[ko]=열
Name[nds]=Striepen
Name[pt]=Colunas
Name[pt_BR]=Colunas
Name[sr]=Колоне
Name[sr@latin]=Kolone
Name[tr]=Sütunlar
Name[zh_CN]=列
Name[zh_TW]=欄位
Icon=view-file-columns
# Dummy
Exec=dolphin

