[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Dolphin Part
Name[ar]=جزء من الدولفين
Name[be]=Dolphin
Name[cs]=Komponenta Dolphinu
Name[de]=Dolphin-Komponente
Name[el]=Τμήμα Dolphin
Name[eo]=Komponento de Dolphin
Name[es]=Part Dolphin
Name[et]=Dolphini komponent
Name[ga]=Comhpháirt Dolphin
Name[he]=רכיב Dolphin
Name[hu]=Dolphin objektum
Name[it]=Componente Dolphin
Name[ja]=Dolphin パート
Name[kk]=Dolphin бөлшегі
Name[km]=ផ្នែក​របស់ Dolphin
Name[ko]=Dolphin 부분
Name[nb]=Dolphin-del
Name[nds]=Dolphin-Komponent
Name[ne]=डल्फिन भाग
Name[nl]=Dolphin-onderdeel
Name[nn]=Dolphin-del
Name[pa]=ਡਾਲਫਿਨ ਭਾਗ
Name[pt]=Componente do Dolphin
Name[pt_BR]=Componente Dolphin
Name[ru]=Встраиваемый компонент Dolphin
Name[sr]=Делфин део
Name[sr@latin]=Dolphin deo
Name[sv]=Dolphin-delprogram
Name[tg]=Қисми Dolphin
Name[uk]=Компонент Дельфіна
Name[x-test]=xxDolphin Partxx
Name[zh_CN]=Dolphin 部件
Name[zh_TW]=Dolphin 部件
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=dolphinpart
X-KDE-BrowserView-Args=Icon
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_icon
InitialPreference=7
