[Desktop Entry]
Encoding=UTF-8
Name=Dolphin
Name[pa]=ਡਾਲਫਿਨ
Name[sr]=Делфин
Name[sr@latin]=Делфин
Name[uk]=Дельфін
Name[x-test]=xxDolphinxx
Exec=dolphin %i %m -caption "%c"
Icon=dolphin
Type=Application
DocPath=dolphin/dolphin.html
Categories=System;FileManager;
GenericName=File Manager
GenericName[be]=Кіраўнік файлаў
GenericName[bg]=Файлов браузър
GenericName[csb]=Menadżer lopków
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[es]=Gestor de ficheros
GenericName[fa]=مدیر پرونده
GenericName[ga]=Bainisteoir Comhad
GenericName[ja]=ファイルマネージャ
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ
GenericName[nds]=Dateipleger
GenericName[nl]=Bestandsbeheerder
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[sr]=Менаџер фајлова
GenericName[sr@latin]=Менаџер фајлова
GenericName[sv]=Filhanterare
GenericName[th]=เครื่องมือจัดการแฟ้ม
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_TW]=檔案管理程式
Terminal=false
