<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="dolphin" version="13">
    <MenuBar>
        <Menu name="file">
            <Action name="create_new" />
            <Action name="new_window" />
            <Action name="new_tab" />
            <Action name="close_tab" />
            <Separator/>
            <Action name="rename" />
            <Action name="move_to_trash" />
            <Action name="delete" />
            <Separator/>
            <Action name="properties" />
        </Menu>
        <Menu name="edit">
            <Action name="select_all" />
            <Action name="invert_selection" />
        </Menu>
        <Menu name="view">
            <Action name="view_mode" />
            <Action name="sort" />
            <Action name="additional_info" />
            <Action name="show_preview" />
            <Action name="show_in_groups" />
            <Action name="show_hidden_files" />
            <Separator/>
            <Action name="split_view" />
            <Action name="reload" />
            <Action name="stop" />
            <Separator/>
            <Action name="panels" />
            <Menu name="navigation_bar">
                <text context="@title:menu">Location Bar</text>
                <Action name="editable_location" />
                <Action name="replace_location" />
            </Menu>
            <Separator/>
            <Action name="view_properties" />
        </Menu>
        <Menu name="go">
            <Action name="closed_tabs" />
        </Menu>
        <Menu name="tools">
            <Action name="show_filter_bar" />
            <Action name="open_terminal" />
            <Action name="compare_files" />
            <Action name="change_remote_encoding" />
        </Menu>
    </MenuBar>
    <State name="new_file" >
        <disable>
            <Action name="edit_undo" />
            <Action name="edit_redo" />
            <Action name="edit_cut" />
            <Action name="edit_copy" />
            <Action name="rename" />
            <Action name="move_to_trash" />
            <Action name="delete" />
            <Action name="invert_selection" />
            <Separator/>
            <Action name="go_back" />
            <Action name="go_forward" />
        </disable>
    </State>
    <State name="has_selection" >
        <enable>
            <Action name="edit_cut" />
            <Action name="edit_copy" />
            <Action name="rename" />
            <Action name="move_to_trash" />
            <Action name="delete" />
            <Action name="invert_selection" />
        </enable>
    </State>
    <State name="has_no_selection" >
        <disable>
            <Action name="edit_cut" />
            <Action name="edit_copy" />
            <Action name="rename" />
            <Action name="move_to_trash" />
            <Action name="delete" />
            <Action name="delete_shortcut" />
            <Action name="invert_selection" />
        </disable>
    </State>
    <ToolBar noMerge="1" name="mainToolBar" >
        <text context="@title:menu">Main Toolbar</text>
        <Action name="go_back" />
        <Action name="go_forward" />
        <Separator name="separator_1" />
        <Action name="icons" />
        <Action name="details" />
        <Action name="columns" />
        <Separator name="separator_0" />
        <Action name="edit_find"/>
        <Action name="show_preview" />
        <Action name="split_view" />
    </ToolBar>
    <ActionProperties scheme="Default">
        <Action priority="0" name="go_back"/>
        <Action priority="0" name="go_forward"/>
        <Action priority="0" name="icons"/>
        <Action priority="0" name="details"/>
        <Action priority="0" name="columns"/>
    </ActionProperties>
</kpartgui>
