Name=Dolphin
Name[ar]=دولفين
Name[bn]=ডলফিন
Name[fy]=Dolfyn
Name[gu]=ડોલ્ફિન
Name[hi]=डॉल्फ़िन
Name[km]=ឌូហ្វីន
Name[kn]=ಡಾಲ್ಫಿನ್
Name[mk]=Делфин
Name[ml]=ഡോള്‍ഫിന്‍
Name[mr]=डॉल्फिन
Name[ne]=डल्फिन
Name[or]=ଡଲଫିନ
Name[pa]=ਡਾਲਫਿਨ
Name[sr]=Делфин
Name[ta]=டால்பின்
Name[te]=డాల్ఫిన్
Name[x-test]=xxDolphinxx
Comment=This service allows configuration of the Dolphin views.
Comment[af]=Hierdie diens konfigureer die Dolphin aansigte
Comment[ar]=هذه الخدمة تتيح التحكم بعروض الدولفين
Comment[be@latin]=Hetaja słužba dazvalaje naładžvać vyhlad prahramy „Dolphin”.
Comment[bg]=Това ви позволява да настроите показването в Dolphin.
Comment[bn_IN]=এই পরিসেবা দ্বারা Dolphin প্রদর্শন ব্যবস্থা কনফিগার করা যাবে।
Comment[ca]=Aquest servei permet la configuració de les vistes del Dolphin.
Comment[cs]=Tato služba umožňuje nastavení pohledů Dolphinu.
Comment[csb]=Na ùsłëżnota pòzwôlô na kònfigùracëjã wëzdrzatków Dolphina,
Comment[da]=Denne tjeneste tillader indstilling af Dolphin-visningerne.
Comment[de]=Mit diesem Dienst können Dolphin-Ansichten eingerichtet werden.
Comment[el]=Αυτή η υπηρεσία επιτρέπει τη ρύθμιση των προβολών του Dolphin.
Comment[eo]=Ĉi tiu servo permesas agordon de la Dolphin rigardoj.
Comment[es]=Este servicio le permite configurar las vistas de Dolphin.
Comment[et]=See teenus võimaldab seadistada Dolphini vaateid.
Comment[eu]=Zerbitzu honen bitartez Dolphin ikuspegiak konfigura ditzakezu.
Comment[fi]=Tämä palvelu sallii Dolphinin näkymien muokkauksen.
Comment[fr]=Ce service permet de configurer les vues de Dolphin
Comment[fy]=De tsjinst stiet it ynstellen fan de Dolfynwerjefte ta.
Comment[ga]=Leis an tseirbhís seo is féidir na hamhairc Dolphin a chumrú.
Comment[gl]=Este servizo permite configurar as vistas de Dolphin.
Comment[gu]=આ સેવા ડોલ્ફિન દેખાવોનું રૂપરેખાંકન કરવા દેશે.
Comment[he]=שירות זה מאפשר תצורה של תצוגות עבור Dolphin
Comment[hi]=यह सेवा आपको डॉल्फ़िन दृश्य को कॉन्फ़िगर करने देता है.
Comment[hsb]=Tutón serwis dowoli konfiguraciju napohladow Dolphina.
Comment[hu]=Ez a szolgáltatás a Dolphin nézeteinek beállítását teszi lehetővé.
Comment[is]=Þessi þjónusta leyfir stillingar á sýnum Dolphin.
Comment[it]=Questo servizio permette di configurare le viste di Dolphin.
Comment[ja]=このサービスで Dolphin のビューを設定できます。
Comment[kk]=Бұл Dolphin көрінісін баптауға мүмкіндік беретін қызмет.
Comment[km]=សេវា​នេះ​អនុញ្ញាត​ឲ្យ​កំណត់​រចនាសម្ព័ន្ធ​ទិដ្ឋភាព​ Dolphin ។
Comment[kn]=ಈ ಸೇವೆಯು ಡಾಲ್ಫಿನ್ ನೋಟಗಳ ಸಂರಚನೆಗೆ ಅನುವುಮಾಡಿಕೊಡುತ್ತದೆ.
Comment[ko]=이 서비스는 Dolphin의 보기를 설정합니다.
Comment[ku]=Ev servîs destûrê dide veavakirina xuyakirina Dolphinê.
Comment[lt]=Ši tarnyba leidžia konfigūruoti Dolphin peržiūros profilius.
Comment[lv]=Šis serviss atļauj konfigurēt Dolphin skatus.
Comment[mk]=Овој сервис овозможува конфигурација на прегледите на Делфин.
Comment[ml]=ഡോള്‍ഫിന്‍ അവതരണരീതി ക്രമീകരിയ്ക്കാന്‍ ഈ സേവനം അനുവദിയ്ക്കുന്നു.
Comment[mr]=ही सेवा तुम्हाला डॉल्फिन दृश्यचे संयोजन करण्यास मदत करते.
Comment[nb]=Denne tjenesten tillater konfigurasjon av Dolphin visninger
Comment[nds]=Mit dissen Deenst laat sik de Dolphin-Ansichten instellen.
Comment[nl]=Met deze dienst kunt u Dolphin-weergaven instellen.
Comment[nn]=Denne tenesta let seg setja opp Dolphin-visingar.
Comment[or]=ଏହି ସର୍ଭିସ ଡଲଫିନ ଦୃଶ୍ୟଗୁଡ଼ିକର ସଂରଚନାକୁ ଅନୁମତି ଦେଇଥାଏ।
Comment[pa]=ਇਹ ਸਰਵਿਸ ਡਾਲਫਿਨ ਝਲਕ ਦੀ ਸੰਰਚਨਾ ਵਾਸਤੇ ਹੈ।
Comment[pl]=Ta usługa umożliwia konfigurację widoków Dolphina.
Comment[pt]=Este serviço permite-lhe configurar as vistas do Dolphin.
Comment[pt_BR]=Este serviço permite configurar as visualizações do Dolphin.
Comment[ro]=Acest serviciu permite configurarea vizualizărilor Dolphin.
Comment[ru]=Эта служба позволяет настраивать виды Dolphin
Comment[sk]=Táto služba umožňuje konfiguráciu pohľadov v Dolphine.
Comment[sl]=Ta storitev omogoča nastavitev Dolphinovih prikazov.
Comment[sr]=Овај сервис омогућава подешавање Делфинових приказа.
Comment[sr@latin]=Ovaj servis omogućava podešavanje Dolphinovih prikaza.
Comment[sv]=Den här tjänsten låter dig anpassa vyer i Dolphin.
Comment[ta]=டால்பின் காட்சிகளை வடிவமைக்க இச்சேவை உதவுகிறது.
Comment[te]=డాల్ఫిన్ వీక్షణిల యొక్క ఆకృతీకరణను ఈ సేవ అనుమతిస్తుంది.
Comment[tg]=Ин хидмат танзимоти намоиши Dolphin-ро иҷозат медиҳад.
Comment[th]=บริการการตั้งค่ามุมมองของ Dolphin
Comment[tr]=Bu servis Dolphin görünümlerini yapılandırmanızı sağlar.
Comment[uk]=Ця служба дасть змогу налаштувати перегляди Dolphin.
Comment[wa]=Ci siervice permet l' apontiaedje des vuwes di Dolhpin.
Comment[x-test]=xxThis service allows configuration of the Dolphin views.xx
Comment[zh_CN]=此服务允许您配置 Dolphin 视图。
Comment[zh_TW]=此服務允許設定 Dolphin 的檢視。

[Desktop Entry]
Icon=view-choose
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmdolphin

X-KDE-Library=kcm_dolphin
X-KDE-PluginKeyword=dolphin
X-KDE-ParentApp=kcontrol

Name=Views
Name[af]=Aansigte
Name[ar]=العروض
Name[be@latin]=Vyhlady
Name[bg]=Преглед
Name[bn]=ভিউ
Name[bn_IN]=প্রদর্শন ব্যবস্থা
Name[ca]=Vistes
Name[cs]=Pohledy
Name[csb]=Wëzdrzatczi
Name[da]=Visninger
Name[de]=Ansichten
Name[el]=Προβολές
Name[eo]=Rigardoj
Name[es]=Vistas
Name[et]=Vaated
Name[eu]=Ikuspegiak
Name[fi]=Näkymät
Name[fr]=Vues
Name[fy]=Werjeften
Name[ga]=Amhairc
Name[gl]=Vistas
Name[gu]=દેખાવો
Name[he]=תצוגות
Name[hi]=दृश्य
Name[hr]=Prikazi
Name[hsb]=Napohlady
Name[hu]=Nézetek
Name[is]=Sjónarhorn
Name[it]=Viste
Name[ja]=ビュー
Name[kk]=Көріністер
Name[km]=មើល
Name[kn]=ನೋಟಗಳು
Name[ko]=보기
Name[ku]=Bergeh
Name[lt]=Profiliai
Name[lv]=Skati
Name[mk]=Прегледи
Name[ml]=അവതരണരീതി
Name[mr]=दृश्य
Name[ms]=Paparan
Name[nb]=Visninger
Name[nds]=Ansichten
Name[nl]=Weergaven
Name[nn]=Visingar
Name[or]=ଦୃଶ୍ୟଗୁଡ଼ିକ
Name[pa]=ਝਲਕ
Name[pl]=Widoki
Name[pt]=Janelas
Name[pt_BR]=Visualizações
Name[ro]=Vizualizări
Name[ru]=Представление папок
Name[sk]=Pohľady
Name[sl]=Prikazi
Name[sr]=Прикази
Name[sr@latin]=Prikazi
Name[sv]=Vyer
Name[ta]=காட்சிகள்
Name[te]=వీక్షణలు
Name[tg]=Намоиш
Name[th]=มุมมอง
Name[tr]=Görünümler
Name[uk]=Перегляди
Name[uz]=Koʻrinishlar
Name[uz@cyrillic]=Кўринишлар
Name[wa]=Vuwes
Name[x-test]=xxViewsxx
Name[zh_CN]=视图
Name[zh_TW]=檢視
Comment=Configure file manager settings
Comment[af]=Konfigureer lêerbestuurder instellings
Comment[ar]=اضبط إعدادات مدير الملفات
Comment[be@latin]=Naładź kiraŭnika fajłaŭ
Comment[bg]=Настройване на файловия мениджър
Comment[bn]=ফাইল ম্যানেজার সেটিংস কনফিগার করুন
Comment[bn_IN]=ফাইল পরিচালন ব্যবস্থার বৈশিষ্ট্য কনফিগার করুন
Comment[ca]=Configura les opcions del gestor de fitxers
Comment[cs]=Nastavení správce souborů
Comment[csb]=Kònfigùracëjô nastôwù menadżera lopków
Comment[da]=Opsætning af filhåndtering
Comment[de]=Einstellungen zum Dateimanager vornehmen
Comment[el]=Ρύθμιση επιλογών διαχείρισης αρχείων
Comment[eo]=Agordi la dosieradministrilon
Comment[es]=Configurar las preferencias gestor de archivos
Comment[et]=Failihalduri seadistuste seadistamine
Comment[eu]=Konfiguratu fitxategia arakatzailearen ezarpenak
Comment[fi]=Muokkaa tiedostonhallinnan asetuksia
Comment[fr]=Configuration du gestionnaire de fichiers
Comment[fy]=Hjir kinne jo de triembehear ynstellings fêststelle
Comment[ga]=Cumraigh socruithe bhainisteoir na gcomhad
Comment[gl]=Configura as opcións do xestor de ficheiros
Comment[gu]=ફાઇલ વ્યવસ્થાપક ગોઠવણીઓ રૂપરેખાંકિત કરો
Comment[he]=הגדרות מנהל הקבצים
Comment[hi]=फ़ाइल प्रबंधक विन्यास कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje postavki upravitelja datotekama
Comment[hsb]=Nastajenja datajoweho managera připrawić
Comment[hu]=A fájlkezelő beállításai
Comment[is]=Stilla skráastjóra
Comment[it]=Configura le impostazioni del gestore dei file
Comment[ja]=ファイルマネージャの設定
Comment[kk]=Файл менеджер параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[kn]=ವ್ಯವಸ್ಥಾಪಕದ ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=파일 관리자 설정
Comment[ku]=Mîhengên gerînendeyê pelan ava bike
Comment[lt]=Konfigūruokite failų tvarkyklės nustatymus
Comment[lv]=Konfigurē failu pārvaldnieka iestatījumus
Comment[mk]=Конфигурирајте ги поставувањата за менаџерот на датотеки
Comment[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്റെ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=फाइल व्यवस्थपाक संयक्षेत्रा संयोजीत करा
Comment[nb]=Tilpass filbehandler oppsettet
Comment[nds]=Den Dateipleger instellen
Comment[nl]=Bestandsbeheerder instellen
Comment[nn]=Set opp filhandsamar
Comment[or]=ଫାଇଲ ପରିଚାଳକ ବିନ୍ୟାସକୁ ସଂରଚନା କରନ୍ତୁ
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień menadżera plików
Comment[pt]=Configuração as opções do gestor de ficheiros
Comment[pt_BR]=Configurar opções do gerenciador de arquivos
Comment[ro]=Configurează gestionarul de fișiere
Comment[ru]=Настройка параметров менеджера файлов
Comment[sk]=Nastavenie správcu súborov
Comment[sl]=Nastavitve upravitelja datotek
Comment[sr]=Подешавање менаџера фајлова
Comment[sr@latin]=Podešavanje menadžera fajlova
Comment[sv]=Anpassa filhanteringsinställningar
Comment[ta]=கோப்பு மேலாளர் அமைப்புகளை வடிவமை
Comment[te]=దస్త్ర నిర్వాహకి అమర్పులను ఆకృతీకరించుము
Comment[tg]=Танзимоти мудири файлҳо
Comment[th]=ปรับแต่งการตั้งค่าเครื่องมือจัดการแฟ้ม
Comment[tr]=Dosya yöneticisi ayarlarını yapılandır
Comment[uk]=Налаштувати параметри менеджера файлів
Comment[uz]=Fayl boshqaruvchining moslamalarini moslash
Comment[uz@cyrillic]=Файл бошқарувчининг мосламаларини мослаш
Comment[wa]=Apontyî les tchuzes do manaedjeu di fitchîs
Comment[x-test]=xxConfigure file manager settingsxx
Comment[zh_CN]=配置文件管理器设置
Comment[zh_TW]=設定檔案管理員
X-KDE-Keywords=file manager
