[Desktop Entry]
Name=Dolphin
Name[ca]=Dolphin
Name[cs]=Dolphin
Name[de]=Dolphin
Name[en_GB]=Dolphin
Name[fi]=Dolphin
Name[fr]=Dolphin
Name[gl]=Dolphin
Name[id]=Dolphin
Name[it]=Dolphin
Name[nl]=Dolphin
Name[pl]=Dolphin
Name[pt]=Dolphin
Name[pt_BR]=Dolphin
Name[sk]=Dolphin
Name[sl]=Dolphin
Name[sr]=Делфин
Name[sr@ijekavian]=Делфин
Name[sr@ijekavianlatin]=Dolphin
Name[sr@latin]=Dolphin
Name[sv]=Dolphin
Name[uk]=Dolphin
Name[x-test]=xxDolphinxx
Name[zh_CN]=Dolphin
Exec=dolphin %u
Icon=system-file-manager
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[de]=Dateiverwaltung
GenericName[en_GB]=File Manager
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[id]=Manajer Berkas
GenericName[it]=Gestore dei file
GenericName[nl]=Bestandsbeheerder
GenericName[pl]=Zarządzanie plikami
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Менаџер фајлова
GenericName[sr@ijekavian]=Менаџер фајлова
GenericName[sr@ijekavianlatin]=Menadžer fajlova
GenericName[sr@latin]=Menadžer fajlova
GenericName[sv]=Filhanterare
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
Terminal=false
MimeType=inode/directory;
InitialPreference=10
X-DBUS-ServiceName=org.kde.dolphin
