[Desktop Entry]
Name=Dolphin
Name[fi]=Dolphin
Name[fr]=Dolphin
Name[id]=Dolphin
Name[nl]=Dolphin
Name[pl]=Dolphin
Name[pt]=Dolphin
Name[pt_BR]=Dolphin
Name[sv]=Dolphin
Name[x-test]=xxDolphinxx
Name[zh_CN]=Dolphin
Exec=dolphin %u
Icon=system-file-manager
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[id]=Manajer Berkas
GenericName[nl]=Bestandsbeheerder
GenericName[pl]=Zarządzanie plikami
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[sv]=Filhanterare
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
Terminal=false
MimeType=inode/directory;
InitialPreference=10
X-DBUS-ServiceName=org.kde.dolphin
