[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Konqueror/FindPart
X-KDE-Derived=Browser/View
Name=Find Part
Name[cs]=Najít soubor
Name[da]=Find del
Name[de]=Einbettbares Programm suchen
Name[eo]=Trovokomponento
Name[es]=Buscar Parte
Name[et]=Failide otsimise komponent
Name[fi]=Etsi osa
Name[fr]=Composant de recherche
Name[he]=שופיח ביכר
Name[hu]=Keresési objektum
Name[is]=Finna hluta
Name[it]=Part per la ricerca
Name[ja]=Part 検索
Name[lv]=Meklēt Daļu
Name[nl]=Part zoeken
Name[no]=Finn del
Name[no_NY]=Finn del
Name[pt]=Componente de Pesquisa
Name[pt_BR]=Encontrar parte
Name[ro]=Căutare componentă
Name[ru]=Поиск по содержимому
Name[sk]=Nájsť Part
Name[sl]=Najdi del
Name[sr]=Pronađi deo
Name[sv]=Sökdel
Name[tr]=Parça bul
Name[uk]=Знайти складову
Name[zh_CN.GB2312]=查找部件
Name[zh_TW.Big5]=部份搜尋
